<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="生产单位" prop="siteName">
        <el-input
          v-model="queryParams.siteName"
          placeholder="请输入生产单位"
          clearable
          size="small"
         style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="公司名称" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入公司名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="产品类型" prop="productType">
        <el-select
          v-model="queryParams.productType"
          placeholder="请选择产品类型"
          size="small"
          style="width: 180px"
        >
          <el-option
            v-for="dict in typeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="拉运日期">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>交接汇总信息列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5" class="count_total">
            合计：{{ totalMoney }}元
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:handover:count:export']"
              >导出</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="handoverList">
      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        min-width="200px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="公司名称"
        align="center"
        prop="orgName"
        min-width="150px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="站点名称"
        align="center"
        prop="siteName"
        min-width="150px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        width="120px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="单号"
        align="center"
        width="200px"
        prop="handoverCartcode"
        :show-overflow-tooltip="true"
      />
      <el-table-column label="生产单位" min-width="200px" align="center" prop="siteName" :show-overflow-tooltip="true"/>
      <el-table-column
        label="计量单位"
        align="center"
        prop="unit"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="运输方"
        align="center"
        prop="transportOrg"
        min-width="200px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="拉运日期"
        align="center"
        prop="handoverTime"
        width="180px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="车牌号"
        align="center"
        prop="carNumber"
        width="120px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="挂车牌号"
        align="center"
        prop="trailerNumber"
        width="120px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="驾驶员"
        align="center"
        prop="driveman"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="押运员"
        align="center"
        prop="supercargoName"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="毛重(吨)"
        align="center"
        prop="grossWeight"
        width="120px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="净重(吨)"
        align="center"
        fixed="right"
        prop="netWeight"
        width="120px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="不含税单价(元)"
        align="center"
        fixed="right"
        prop="price"
        width="120px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="结算货款(元)"
        align="center"
        prop="totalMoney"
        fixed="right"
        width="120px"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { listHandover, exportHandover, getTotalMoney } from "@/api/sales/count";

export default {
  name: "handoverCount",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      // 参数表格数据
      handoverList: [],
      totalMoney: "0",
      typeOptions: [],

      // 日期范围
      dateRange: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        siteName: undefined,
        productName: undefined,
        enterpriseName: undefined,
        orgName: undefined,
        productType: undefined,
      },
    };
  },
  created() {
    this.getList();
    this.getTotalMoney();
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listHandover(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.handoverList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },

    getTotalMoney() {
      getTotalMoney(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.totalMoney = response.data;
        }
      );
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
      this.getTotalMoney();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },

    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出交接汇总表?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportHandover(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>