<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称">
        <el-input
          disabled
          v-model="statements.enterpriseName"
          placeholder="请输入客户名称"
          size="small"
          style="width: 240px"
        />
      </el-form-item>

      <el-form-item label="站点名称" prop="siteName">
        <el-input
          disabled
          v-model="statements.siteName"
          placeholder="请输入站点名称"
          size="small"
          style="width: 240px"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="statements.productName"
          placeholder="请输入客户名称"
          size="small"
          disabled
          style="width: 240px"
        />
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <el-table border v-loading="loading" :data="invoiceList">
      <el-table-column
        label="站点名称"
        align="center"
        prop="siteName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="数量"
        align="center"
        prop="netWeightTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="单价(不含税)"
        align="center"
        prop="price"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="金额(不含税)"
        align="center"
        prop="totalMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="税率"
        align="center"
        prop="taxRate"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="税额(元)"
        align="center"
        prop="taxMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="交接时间"
        align="center"
        prop="handoverTime"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { selectInfoList,getStatementsInfo } from "@/api/sales/statements";

export default {
  components: {},
  name: "statements",
  props: ["statements"],
  data() {
    return {
      // 遮罩层
      loading: false,
      // 总条数
      total: 0,
      // 参数表格数据
      invoiceList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
      },
      form: {},
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.queryParams.transportType = this.statements.transportType;
      this.queryParams.statementsId = this.statements.statementsId;
      selectInfoList(this.queryParams, this.dateRange).then(
        (response) => {
          this.invoiceList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },
  },
};
</script>