<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品类型" prop="productType">
        <el-select
          v-model="queryParams.productType"
          placeholder="请选择产品类型"
          clearable
          size="small"
        >
          <el-option
            v-for="dict in queryProjectOption"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>发票台账信息列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:statements:add']"
              >新增</el-button
            >
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:config:remove']"
              >删除</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="invoiceList">
      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品类型"
        align="center"
        prop="productType"
        :formatter="productTypeFormatter"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="数量"
        align="center"
        prop="amountTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="计量单位"
        align="center"
        prop="productUnit"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="价税合计(元)"
        align="center"
        prop="totalTaxPriceTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="税率"
        align="center"
        prop="taxRate"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="税额(元)"
        align="center"
        prop="taxMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        width="180"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 1 || scope.row.status == 3"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:statements:edit']"
            >修改</el-button
          >
          <el-button
            v-show="scope.row.status == 1 || scope.row.status == 3"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleSubmit(scope.row)"
            v-hasPermi="['system:statements:confirm']"
            >提交</el-button
          >
          <el-button
            v-show="scope.row.status == 1 || scope.row.status == 3"
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:statements:remove']"
            >删除</el-button
          >

          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-back"
            @click="handleBack(scope.row)"
            v-hasPermi="['system:statements:back']"
            >回退</el-button
          >

          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleInfo(scope.row)"
            v-hasPermi="['system:statements:info']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="80%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="24">
          <el-col :span="8">
            <el-form-item
              class="required_red_star"
              label="客户名称"
              prop="enterpriseName"
            >
              <el-input
                placeholder="请选择客户名称"
                disabled
                v-model="form.enterpriseName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseCustom"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="站点名称" prop="siteName">
              <el-input
                placeholder="请选择站点"
                disabled
                v-model="form.siteName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseSite"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="产品类型" prop="productType">
              <el-select
                class="width-100"
                v-model="form.productType"
                placeholder="请选择产品类型"
                size="small"
                @change="changeProductType"
              >
                <el-option
                  v-for="dict in typeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="Number(dict.dictValue)"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="8">
            <el-form-item label="产品名称" prop="productId">
              <el-select
                @change="forceUpdate"
                class="width-100"
                v-model="form.productId"
                placeholder="请选择产品名称"
                size="small"
              >
                <el-option
                  v-for="dict in productOptions"
                  :key="dict.productId"
                  :label="dict.name"
                  :value="dict.productId"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="交接时间">
              <el-date-picker
                v-model="dateRange"
                size="small"
           
               value-format="yyyy-MM-dd HH:mm:ss"
                type="datetimerange"
                class="width-100"
                range-separator="-"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="1.5">
            <el-button size="mini" type="primary" @click="getHandover"
              >搜索</el-button
            >
            <el-button size="mini" @click="cancelReset">重置</el-button>
          </el-col>
        </el-row>

        <el-row>
          <!-- <div v-show="product.transportType == 1">拉运计量交接列表</div>
          <div v-show="product.transportType == 2">管道计量交接列表</div> -->

          <div class="invoice_total">价税合计：{{ totalMoney }}元</div>
          <!-- 
 :row-key="
              (row) => {
                return row.id;
              }
            " -->

          <el-table
            border
            :row-key="getRowKeys"
            v-loading="loading"
            :data="handoverList"
            ref="table"
            @selection-change="handleDialogChange"
          >
            <el-table-column
              :reserve-selection="true"
              type="selection"
              width="50"
              align="center"
            />
            <el-table-column
              label="站点名称"
              align="center"
              prop="siteName"
              :show-overflow-tooltip="true"
            />
            <el-table-column
              label="数量"
              align="center"
              prop="netWeight"
              :show-overflow-tooltip="true"
            />
            <el-table-column
              label="单价(不含税)"
              align="center"
              prop="price"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="金额(不含税)"
              align="center"
              prop="totalMoney"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="税率"
              align="center"
              prop="taxRate"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="税额"
              align="center"
              prop="taxMoney"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="交接时间"
              align="center"
              prop="handoverTime"
              :show-overflow-tooltip="true"
            />
          </el-table>

          <pagination
            v-show="totalDialog > 0"
            :total="totalDialog"
            :page.sync="queryParamsDialog.pageNum"
            :limit.sync="queryParamsDialog.pageSize"
            @pagination="getHandover"
          />
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm(1)">保 存</el-button>
        <el-button type="danger" v-hasPermi="['system:statements:confirm']" @click="submitForm(2)">提 交</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="chooseCustomeOpen"
      width="70%"
      append-to-body
      title="客户列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-custome
        @closeWindow="closeWindow"
        @chooseCustomeId="chooseCustomeId"
        @chooseCustomeName="chooseCustomeName"
        v-if="chooseCustomeOpen"
        ref="chooseSupplier"
      ></choose-custome>
    </el-dialog>

    <el-dialog
      :visible.sync="chooseSiteOpen"
      width="90%"
      append-to-body
      title="站点列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-site
        @closeSiteWindow="closeSiteWindow"
        @chooseSite="chooseSite"
        v-if="chooseSiteOpen"
        ref="chooseSite"
      ></choose-site>
    </el-dialog>

    <el-dialog
      :visible.sync="infoOpen"
      width="90%"
      append-to-body
      title="发票详情"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <invoice-info
        :statements="statements"
        v-if="infoOpen"
        ref="invoiceInfo"
      ></invoice-info>
    </el-dialog>
  </div>
</template>

<script>
import {
  listStatements,
  getHandover,
  getProductByCustomeId,
  delStatements,
  addStatements,
  updateStatements,
  goBackStatement,
  submitStatement,
  getUpdateStatementsInfo,
} from "@/api/sales/statements";

import chooseCustome from "../../utils/chooseCustome";
import chooseSite from "../../utils/chooseSite";
import invoiceInfo from "./invoiceInfo";

export default {
  components: { chooseCustome, chooseSite, invoiceInfo },
  name: "statements",
  data() {
    return {
      // 遮罩层
      loading: true,

      transportType:"",

      // 总条数
      total: 0,
      // 参数表格数据
      invoiceList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,

      queryProjectOption: [],
      // 类型数据字典
      typeOptions: [],
      productOptions: [],
      // 日期范围
      dateRange: [],

      chooseCustomeOpen: false,
      chooseSiteOpen: false,
      product: {},

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        productName: undefined,
      },

      totalDialog: 0,
      queryParamsDialog: {
        pageNum: 1,
        pageSize: 10,
        productId: undefined,
      },
      handoverList: [],
      handoverIds: [],
      handoverIdsTem: [],
      totalMoney: 0,
      taxMoney: 0,
      amount: 0,

      infoOpen: false,
      statements: {},

      // 表单参数
      form: {},
      // 表单校验
      rules: {
        productType: [
          { required: true, message: "产品类型为空", trigger: "blur" },
        ],

        productId: [
          { required: true, message: "产品不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.queryProjectOption = response.data;
    });
  },
  methods: {
    getRowKeys(row) {
      return row.id;
    },

    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listStatements(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.invoiceList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        statementsId: undefined,
      };
      this.totalMoney = 0;
      this.taxMoney = 0;
      this.amount = 0;
      this.handoverList = [];
      this.handoverIds = [];
      this.handoverIdsTem = [];

      this.productOptions = [];
      this.typeOptions = [];
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.form.type = 'add'
      this.title = "发票台账新增";
    },

    showSeclectRow() {
      if (this.secltableData.length > 0) {
        this.secltableData.forEach((row) => {
          this.elderData.forEach((item) => {
            if (row.elderId === item.elderId) {
              this.$refs.elderTable.toggleRowSelection(item, true);
            }
          });
        });
      }
    },

    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const statementsId = row.statementsId;
      getUpdateStatementsInfo(statementsId).then((response) => {
        this.form = response.data;
        this.form.type = "update";
        // this.totalMoney = this.form.totalTaxPrice;
        getProductByCustomeId(this.form.customeId).then((response) => {
          this.typeOptions = response;
          response.forEach((element) => {
            if (this.form.productType == element.dictValue) {
              this.productOptions = element.productList;
            }
          });
        });
        this.getHandover();
        this.handoverIds = this.form.handoverIdList;
        this.handoverIdsTem = this.handoverIds;
        this.open = true;
        this.title = "修改发票台账";
      });
    },
    /** 提交按钮 */
    submitForm: function (status) {
      if (this.handoverIds.length == 0) {
        this.msgError("请选择需要开票的交接协议");
        return false;
      }
      this.form.status = status;
      this.form.totalTaxPrice = this.totalMoney;
      this.form.handoverIdList = this.handoverIds;
      this.form.amount = this.amount;
      this.form.taxMoney = this.taxMoney;

      if (this.form.statementsId != undefined) {
        updateStatements(this.form).then((response) => {
          if (response.code === 200) {
            this.msgSuccess("修改成功");
            this.open = false;
            this.getList();
          }
        });
      } else {
        addStatements(this.form).then((response) => {
          if (response.code === 200) {
            this.msgSuccess("新增成功");
            this.open = false;
            this.getList();
          }
        });
      }
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      let param = {
        statementsId: row.statementsId,
        transportType: row.transportType,
      };
      this.$confirm("是否确认删除发票台账?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delStatements(param);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    /**
     * 回退
     */
    handleBack(row) {
      let params = {
        transportType: row.transportType,
        statementsId: row.statementsId,
        status: 3,
      };
      this.$confirm("是否确认回退发票台账?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return goBackStatement(params);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("回退成功");
        })
        .catch(function () {});
    },

    /**
     * 提交
     */
    handleSubmit(row) {
      let params = {
        transportType: row.transportType,
        statementsId: row.statementsId,
        status: 2,
      };
      this.$confirm("是否确认提交发票台账?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return submitStatement(params);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("提交成功");
        })
        .catch(function () {});
    },

    toChooseCustom() {
      this.chooseCustomeOpen = true;
    },
    chooseCustomeId(customeId) {
      this.form.customeId = customeId;
      this.typeOptions = [];
      this.form.productId = undefined;
      this.form.productType = undefined;
      getProductByCustomeId(customeId).then((response) => {
        this.typeOptions = response;
      });
    },

    changeProductType(val) {
      this.$forceUpdate();
      this.form.productId = undefined;
      this.typeOptions.forEach((element) => {
        if (val == element.dictValue) {
          this.productOptions = element.productList;
        }
      });
    },

    chooseCustomeName(enterpriseName) {
      this.form.enterpriseName = enterpriseName;
    },
    closeWindow() {
      this.chooseCustomeOpen = false;
    },
    toChooseSite() {
      this.chooseSiteOpen = true;
    },
    chooseSite(site) {
      this.form.siteName = site.siteName;
      this.form.siteId = site.siteId;
    },
    closeSiteWindow() {
      this.chooseSiteOpen = false;
    },

    forceUpdate() {
      this.$forceUpdate();
    },

    getHandover() {
      //判断产品是否有值
      if (!this.form.productId) {
        this.msgError("请选择产品");
        return false;
      }
      let params = {
        pageSize: this.queryParamsDialog.pageSize,
        pageNum: this.queryParamsDialog.pageNum,
        productId: this.form.productId,
        customeId: this.form.customeId,
        siteId:this.form.siteId,
        type:this.form.type
      };

      if(this.form.type == 'update'){
        params.statementsId = this.form.statementsId;
      }
      getHandover(this.addDateRange(params, this.dateRange)).then(
        (response) => {
          this.handoverList = response.rows;
          this.totalDialog = response.total;
          this.loading = false;
          if (this.handoverList.length > 0) {
            this.$refs.table.clearSelection();
            for (var index = 0; index < this.handoverList.length; index++) {
              var element = this.handoverList[index];
              this.handoverIdsTem.forEach((item) => {
                if (element.id == item) {
                  this.$refs.table.toggleRowSelection(element, true);
                }
              });
            }
          }
        }
      );
    },

    productTypeFormatter(row, column) {
      return this.selectDictLabel(this.queryProjectOption, row.productType);
    },

    handleDialogChange(selection) {
      this.totalMoney = 0;
      this.taxMoney = 0;
      this.amount = 0;
      this.handoverIds = [];
      selection.forEach((element) => {
        this.handoverIds.push(element.id);
        // const totalMoney =
        //   this.totalMoney + element.totalMoney + element.taxMoney;
        //   this.totalMoney = parseFloat(totalMoney).toFixed(2);

        this.totalMoney = this.totalMoney + element.totalMoney + element.taxMoney

        this.taxMoney = this.taxMoney + element.taxMoney;
        this.amount = this.amount + element.netWeight;
      });
    },

    handleInfo(row) {
      this.statements = row;
      this.infoOpen = true;
    },

    cancelReset() {
      this.form.productId = undefined;
      this.form.customeId = undefined;
      this.form.enterpriseName = undefined;
      this.form.productType = undefined;
      this.form.siteId = undefined;
      this.form.siteName = undefined;
      this.dateRange = [];

      this.typeOptions = [];
      this.productOptions = []

      this.handoverList = [];
      this.handoverIds = [];
      this.handoverIdsTem = [];
      this.handoverIdList = [];
      this.totalMoney = 0;
      this.taxMoney = 0;
      this.amount = 0;
    },
  },
};
</script>