<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="公司名称" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入公司名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品类型" prop="productType">
        <el-select
          v-model="queryParams.productType"
          placeholder="请选择产品类型"
          size="small"
        >
          <el-option
            v-for="dict in productTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="时间" prop="queryTime">
        <el-date-picker
          v-model="queryParams.queryTime"
          type="date"
          :clearable="false"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions"
          placeholder="请选择时间"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>销售汇总信息列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:sales:count:export']"
              >导出</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="salesList">
      <el-table-column
        label="公司名称"
        align="center"
        prop="orgName"
        width="200"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="客户名称"
        align="center"
        width="200"
        fixed
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品类型"
        width="100"
        fixed
        :formatter="productTypeFormatter"
        align="center"
        prop="productType"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        fixed
        width="150"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="计量单位"
        align="center"
        prop="productUnit"
        width="100"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="日销量"
        align="center"
        prop="dayWeightCount"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="日销额(元)"
        align="center"
         width="120px"
        prop="dayMoneyCount"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="月销量"
        align="center"
         width="120px"
        prop="monthWeightCount"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="月销额(万元)"
        align="center"
         width="120px"
        prop="monthMoneyCount"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="年销量"
        align="center"
         width="120px"
        prop="yearWeightCount"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="年销额(万元)"
        align="center"
        width="120px"
        prop="yearMoneyCount"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { getSalesList, getExportSales } from "@/api/sales/count";

export default {
  name: "salesCount",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      // 参数表格数据
      salesList: [],
      productTypeOptions: [],
      pickerOptions: this.limitDate(),

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productType: undefined,
        productName: undefined,
        enterpriseName: undefined,
        orgName: undefined,
        queryTime: undefined,
      },
    };
  },
  created() {
    let date = new Date();
    let year = date.getFullYear();
    let m = date.getMonth() + 1;
    let d = date.getDate() - 1;
    let month = m < 10 ? "0" + m : m;
    let day = d < 10 ? "0" + d : d;
    this.queryParams.queryTime = year + "-" + month + "-" + day;

    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });
    this.getList();
  },
  methods: {
    limitDate() {
      return {
        disabledDate(date) {
          return date.getTime() > Date.now() - 24 * 60 * 60 * 1000;
        },
      };
    },

    productTypeFormatter(row, column) {
      return this.selectDictLabel(this.productTypeOptions, row.productType);
    },
    getList() {
      this.loading = true;
      getSalesList(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.salesList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出销售汇总表?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return getExportSales(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>