<template>
  <el-dialog
    width="80%"
    title="发起政策定价上报申请"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品类型：</span>
          <el-input
            placeholder="天燃气"
            clearable
            size="small"
            disabled
            style="width: 72%"
          ></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品名称：</span>
          <el-input
            placeholder="管道天燃气"
            clearable
            size="small"
            disabled
            style="width: 72%"
          ></el-input>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">预售期：</span>
          <el-date-picker
            v-model="period"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="op_name"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            style="width: 72%"
          >
          </el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">申请类型：</span>
          <el-input
            v-model="apply_type"
            v-html="apply_type"
            class="form-readonly"
            readonly
            style="width: 72%"
          />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">说明：</span>
          <el-input
            type="textarea"
            :rows="3"
            placeholder="请输入备注"
            v-model="instructions"
            style="width: 72%"
          ></el-input>
        </el-col>
        <el-col :span="12" style="display: flex">
          <span class="label" style="margin-left: 38px; width: 80px"
            >文件上传：</span
          >
          <el-upload
            ref="upload"
            :action="uploadAction"
            :auto-upload="false"
            :http-request="uploadFile"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-success="handleFileSuccess"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button slot="trigger" size="small" type="primary"
              >点击上传</el-button
            >
          </el-upload>
        </el-col>
      </el-row>
      <div class="add-form-panel">
        <div class="check">
          <el-button
            type="primary"
            plain
            size="mini"
            @click="toggleAllSelection()"
            >全选</el-button
          >
          <el-button type="primary" plain size="mini" @click="toggleSelection()"
            >全不选</el-button
          >
          <el-button
            type="primary"
            plain
            size="mini"
            @click="toggleInverseAllSelection()"
            >反选</el-button
          >
        </div>
        <div class="z_but">
          <el-button @click="pri_tj" type="primary" plain size="mini"
            >录入统一价格</el-button
          >
          <el-dialog
            title="统一价格"
            append-to-body
            :destroy-on-close="true"
            :visible.sync="centerDialogVisible"
            width="20%"
          >
            统一价格：
            <input
              type
              name
              id
              value
              class="fj ff"
              style="height: 40px"
              v-model="pri"
            />
            <span slot="footer" class="dialog-footer">
              <el-button @click="pri_qx">取 消</el-button>
              <el-button type="primary" @click="pri_qd">确 定</el-button>
            </span>
          </el-dialog>
        </div>
      </div>
      <!-- table 表格 -->
      <div class="table">
        <!-- .slice((currentPage - 1) * pageSize, currentPage * pageSize) -->
        <el-table
          border
          stripe
          ref="multipleTable"
          :row-key="getRowKey"
          :data="
            tableData.slice(
              (currentPage - 1) * pageSize,
              currentPage * pageSize
            )
          "
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="selectionRowsChange"
        >
          <el-table-column type="selection"></el-table-column>
          <el-table-column label="站点" align="center">
            <template slot-scope="scope">{{ scope.row.siteName }}</template>
          </el-table-column>
          <el-table-column
            label="计划量(方)"
            show-overflow-tooltip
            align="center"
          >
            <template slot-scope="scope">
              <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.zbl"
                @change="new_p(scope.row)"
                size="small"
              />
            </template>
          </el-table-column>

          <el-table-column label="暂定价(元/方)" align="center">
            <template slot-scope="scope">
              <el-input-number
                v-model="scope.row.jyjg"
                :controls="false"
                @change="new_j(scope.row)"
                controls-position="right"
                size="small"
              ></el-input-number>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tableData.length"
          ></el-pagination>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button @click="sumbit" type="primary" size="small">确定</el-button>
        <el-button @click="closeModel" size="small">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  addpublish,
  getOtherInfo,
  addPriceApply,
  getPriceApply,
  getProductInfo,
  getSiteInfoByPId,
  upload,
  // gua_data,
} from "@/api/jj/priceApply";

import { getToken } from "@/utils/auth";
import axios from "axios";

export default {
  data() {
    return {
      // 文件信息
      fileList: [],
      uploadAction: process.env.VUE_APP_BASE_API + "/jj/upload/upload",
      cityIndex: "0",
      areaIndex: "0",
      num: 1,
      ipt1: "",
      ipt2: "6",
      input: "",
      dialogVisible: false,
      centerDialogVisible: false,
      // 选中的数据
      ids: [],
      // 可读信息
      sTime: "",
      type: "",
      num_p: 0,
      num_z: 0,
      num_j: 0,
      // 换算产量
      dayCapacity: "",
      tableData: [],
      currentPage: 1,
      pageSize: 8,
      multipleSelection: [],
      // 携带数据
      optype: "",

      opname: "",

      period: [],
      apply_type: "初次申请",
      instructions: "",
      weight: 0,
      fj: "",
      pri: "",
      preSaleStartTime: "",
      preSaleEndTime: "",
      difference: "",
      params: "",
      test: "",

      // 配置量
      p_pri: "",
      z_pri: "",
      j_pri: "",
      proData: [],

      // 跳转新数据
      newData: {},
      newDatas: [],
      newSite: [],
      newproName: "",
      c_id: "6",

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productId: null,
        applicationFormCode: null,
        transactionType: 3,
        orgId: null,
        salesQuantity: null,
        applyType: null,
        priceAdjustmentCount: null,
        suggestPrice: null,
        approvePrice: null,
        startDate: null,
        endDate: null,
        remarks: null,
        relateBiddingApplyId: null,
        status: null,
        createUserId: null,
      },
      // 字典查询
      product: [],
      productOptions: [],
      productOption: [],
      op: "",
      // 全不选
      toggleSelection(rows) {
        // console.log(rows);
        if (rows) {
          rows.forEach((row) => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
      // 全选
      toggleAllSelection() {
        this.$refs.multipleTable.toggleAllSelection();
      },
      // 反选，重新遍历一遍数据
      toggleInverseAllSelection() {
        this.tableData.forEach((item) => {
          this.$refs.multipleTable.toggleRowSelection(item);
        });
      },
    };
  },
  created() {
    // 跳转请求
    if (this.$route.query.id) {
      getPriceApply(this.$route.query.id).then((res) => {
        console.log(res);
        this.instructions = res.data.remarks;
        this.apply_type = "调价申请";
        this.newSite = res.data.children;
        this.period.push(
          `${res.data.preSaleStartTime}`,
          `${res.data.preSaleEndTime}`
        );
        this.newproName = res.data.childrenPro.name;
        console.log(this.newproName);
        for (var i = 0; i < this.newSite.length; i++) {
          for (var j = 0; j < this.tableData.length; j++) {
            if (
              this.newSite[i].sysSite.siteName == this.tableData[j].siteName
            ) {
              this.$refs.multipleTable.toggleRowSelection(this.tableData[j]);
              console.log(this.newSite[i].sysSite.siteName);
              console.log(this.tableData[j].siteName);
            }
          }
        }
      });
    }

    // 申请类型
    this.getDicts("jg_price_apply_type").then((response) => {
      // console.log(response);
      this.product = response.data;
    });
    this.getDicts("sys_product_type").then((response) => {
      // console.log(response);
      this.productOptions = response.data;
      // console.log(this.productOptions)
    });
    this.getDicts("sys_product_jjList").then((response) => {
      // console.log(response);
      this.productOption = response.data;
      // console.log(this.productOption);
    });
    this.getDicts("sys_product_type").then((response) => {
      console.log(response);
      for (let temp of response.data) {
        if (temp.dictLabel == "天然气") {
          this.ipt1 = temp.dictValue;
        }
      }
    });
    getProductInfo().then((response) => {
      console.log(response);
      for (let temp of response.data.product) {
        if (temp.name == "管道天然气") {
          this.ipt2 = temp.productId;
          this.productIds();
        }
      }
    });
  },
  updated() {
    if (this.$route.query.id) {
      this.opname = this.newproName;
      // this.citys[this.cityIndex].area[this.areaIndex] = this.newproName;
      // console.log(222)
    } else {
      // 联动读取数据
      this.opname = this.citys[this.cityIndex].area[this.areaIndex];
      // console.log(111)
    }
    // console.log(this.proData);
    // console.log(this.optype);
    this.proData.forEach((item) => {
      if (item.name == this.opname) {
        this.op = item.productId;
        return;
      }
    });
    this.toggleAllSelection();
  },

  methods: {
    productIds() {
      if (this.ipt2 != "") {
        let that = this;
        that.tableData = [];
        getSiteInfoByPId(this.ipt2).then((res) => {
          for (let i = 0; i < res.data.site.length; i++) {
            that.tableData.push({
              siteName: res.data.site[i].siteName,
              zbl: res.data.site[i].zbl,
              jyjg: res.data.site[i].jyjg,
              orgId: res.data.site[i].orgId,
              siteId: res.data.site[i].siteId,
            });
            that.params = that.tableData;
          }
        });
      }
    },
    uploadFile: function (file) {
      this.fileData.append("file", file.file);
    },
    handlePreview() {},
    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新上传图片！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },
    //上传成功
    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        this.$message.success("新增成功");
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
      }
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.msgError("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },
    // 显示发起上报弹窗
    openModel() {
      this.dialogVisible = true;
    },
    closeModel() {
      this.dialogVisible = false;
    },
    getRowKey(row) {
      // return;
      // console.log(row);
      return row.siteName;
    },

    // 弹出层
    pri_tj() {
      this.centerDialogVisible = true;
      this.pri = "";
    },
    pri_qd() {
      if (this.params != []) {
        this.params.forEach((item) => {
          item.jyjg = this.pri;
        });
      } else {
        this.$modal.alert("请选择站点信息");
      }
      this.centerDialogVisible = false;
    },
    pri_qx() {
      this.centerDialogVisible = false;
    },
    // 联动选择
    cityFn() {
      // 重置区索引
      (this.areaIndex = "0"), (this.optype = this.citys[this.cityIndex].city);
      // console.log(this.optype);
    },
    cityFn_2() {},
    new_p(val) {},
    new_z(val) {},
    new_j(val) {},
    selectionRowsChange(val) {
      // console.log(val);
      this.params = val;
    },

    // handleChange(value) {
    //   console.log(value);
    // },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    sub() {
      let file = event.target.files[0];
      this.fj = file.name;
    },
    yy(val) {},
    op_type() {},
    op_name() {
      this.preSaleStartTime = this.period[0];
      this.preSaleEndTime = this.period[1];
    },
    // 提交数据
    sumbit() {
      if (this.preSaleEndTime == "") {
        this.$message({
          message: "时间没有填写",
          type: "warning",
        });
        return;
      }
      let {
        optype,
        opname,
        apply_type,
        preSaleStartTime,
        preSaleEndTime,
        difference,
        weight,
        fj,
        pri,
        num,
        num1,
        num_z,
        num_j,
        num_p,
        params,
        instructions,
        op,
        c_id,
        ipt2,
        path,
        // test,
        // $axios
      } = this;

      let test = {
        applicationFormCode: "",
        biddingApplyType: 0,
        approvePrice: 0,
        createBy: "",
        createTime: "",
        createUserId: "",
        delFlag: 0,
        endDate: "",
        orgId: "",
        params: {
          params,
        },
        preSaleEndTime: preSaleEndTime,
        preSaleStartTime: preSaleStartTime,
        priceAdjustmentCount: 0,
        priceApplyId: "",
        productId: ipt2,
        relateBiddingApplyId: "",
        remark: "",
        remarks: instructions,
        salesQuantity: 0,
        searchValue: "",
        startDate: "",
        status: 0,
        suggestPrice: 0,
        transactionType: "3",
        updateBy: "",
        updateTime: "",
        path: path,
      };

      this.fileData = new FormData();
      this.fileData.append("entityStr", JSON.stringify(test));
      this.$refs.upload.submit();
      var that = this;
      axios({
        method: "post",
        url: that.uploadAction,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
        data: that.fileData,
        contentType: false, //这里不要落下
        dataType: "json",
      }).then((res) => {
        if (res.status == 200) {
          that.msgSuccess("提交成功");
          that.$tab.refreshPage();
        }
      });
    },
  },
};
</script>

<style scoped="">
* {
  font-size: 14px;
}

.app-container {
  margin-top: 20px;
  margin-left: 100px;
}

.table {
  margin-top: 10px;
}
</style>
