<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="90px"
    >
      <el-form-item label="供货方名称" prop="supplierName">
        <el-input
          v-model="queryParams.supplierName"
          placeholder="请输入供货方名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="负责人姓名" prop="fzrRealName">
        <el-input
          v-model="queryParams.fzrRealName"
          placeholder="请输入负责人姓名"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="联系地址" prop="address">
        <el-input
          v-model="queryParams.address"
          placeholder="请输入联系地址"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>供货方台账列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:supplier:add']"
              >新增</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:supplier:remove']"
              >删除</el-button
            >
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:config:export']"
              >导出</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="supplierList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="50" align="center" />
      <el-table-column
        label="供货方编号"
        align="center"
        width="150"
        prop="supplierCode"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="供货方名称"
        align="center"
        prop="supplierName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="负责人姓名"
        width="100"
        align="center"
        prop="fzrRealName"
      />
      <el-table-column
        label="负责人电话"
        align="center"
        prop="fzrTel"
        width="150"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="联系地址"
        align="center"
        prop="address"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="操作"
        align="center"
        width="150"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row, false)"
            v-hasPermi="['system:supplier:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:supplier:remove']"
            >删除</el-button
          >
          <!-- <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleConfirm(scope.row)"
            v-hasPermi="['system:config:remove']"
            >提交</el-button
          > -->

          <!-- <el-button
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleUpdate(scope.row, true)"
            v-hasPermi="['system:config:remove']"
            >详情</el-button
          > -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="95px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="供货方名称" prop="supplierName">
              <el-input
                :disabled="updateFlag"
                v-model="form.supplierName"
                placeholder="请输入供货方名称"
                maxlength="30"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="信用代码" prop="unifiedSocialCreditCode">
              <el-input
                :disabled="updateFlag"
                maxlength="18"
                v-model="form.unifiedSocialCreditCode"
                placeholder="请输入统一社会信用代码"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="联系地址" prop="address">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.address"
                placeholder="请输入联系地址"
              />
            </el-form-item>
          </el-col>

          <!-- <el-col :span="12">
            <el-form-item label="供货方性质" prop="enterpriseProperties">
              <el-select
                :disabled="updateFlag"
                v-model="form.enterpriseProperties"
                placeholder="请选择供货方性质"
                size="small"
                class="width-100"
              >
                <el-option
                  v-for="dict in natureOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="Number(dict.dictValue)"
                />
              </el-select>
            </el-form-item>
          </el-col> -->
        </el-row>

        <!-- <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="联系地址" prop="address">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.address"
                placeholder="请输入联系地址"
              />
            </el-form-item>
          </el-col>
        </el-row> -->

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="法人姓名" prop="legalRealName">
              <el-input
                :disabled="updateFlag"
                maxlength="10"
                v-model="form.legalRealName"
                placeholder="请输入法人姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="法人性别" prop="legalSex">
              <el-radio-group
                v-model="form.legalSex"
                size="mini"
                :disabled="updateFlag"
              >
                <el-radio
                  border
                  v-for="dict in sexOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="法人邮箱" prop="legalMail">
              <el-input
                maxlength="30"
                :disabled="updateFlag"
                v-model="form.legalMail"
                placeholder="请输入法人邮箱"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="法人电话" prop="legalTel">
              <el-input
                :disabled="updateFlag"
                maxlength="20"
                v-model="form.legalTel"
                placeholder="请输入法人电话"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="负责人姓名" prop="fzrRealName">
              <el-input
                :disabled="updateFlag"
                maxlength="10"
                v-model="form.fzrRealName"
                placeholder="请输入负责人姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="负责人性别" prop="fzrSex">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.fzrSex"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in sexOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="负责人电话" prop="fzrTel">
              <el-input
                :disabled="updateFlag"
                maxlength="20"
                v-model="form.fzrTel"
                placeholder="请输入负责人电话"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="负责人邮箱" prop="fzrMail">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.fzrMail"
                placeholder="请输入负责人邮箱"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="负责人职务" prop="fzrJob">
              <el-input
                :disabled="updateFlag"
                maxlength="10"
                v-model="form.fzrJob"
                placeholder="请输入负责人职务"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="开户行" prop="accountAddr">
              <el-input
                :disabled="updateFlag"
                maxlength="50"
                v-model="form.accountAddr"
                placeholder="请输入开户行"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="营业期限" prop="workDateLimit">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.workDateLimit"
                placeholder="请输入营业期限"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="银行账户" prop="bankAccount">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.bankAccount"
                placeholder="请输入银行账户"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <!-- <el-col :span="12">
            <el-form-item label="类型" prop="type">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.type"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in typeOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col> -->
          <el-col :span="12">
            <el-form-item label="成立日期" prop="buildDate">
              <el-date-picker
                :disabled="updateFlag"
                class="width-100"
                v-model="form.buildDate"
                type="date"
                placeholder="请选择成立日期"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="remarks">
              <el-input
                :disabled="updateFlag"
                v-model="form.remarks"
                maxlength="100"
                type="textarea"
                placeholder="请输入备注"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-show="!updateFlag" type="primary" @click="submitForm(2)"
          >确 定</el-button
        >
        <!-- <el-button v-show="!updateFlag" type="danger" @click="submitForm(1)"
          >提 交</el-button
        > -->
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listSupplier,
  getSupplier,
  addSupplier,
  updateSupplier,
  delSupplier,
  exportSupplier,
  updateSupplierIdStatus,
} from "@/api/purchase/supplier";
export default {
  name: "supplier",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      supplierList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 类型数据字典
      sexOptions: [],
      natureOptions: [],
      typeOptions: [],

      updateFlag: false,

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        supplierName: undefined,
        address: undefined,
        fzrRealName:undefined
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        supplierName: [
          { required: true, message: "供货方名称不能为空", trigger: "blur" },
        ],
        unifiedSocialCreditCode: [
          {
            required: true,
            message: "统一社会信用代码不能为空",
            trigger: "blur",
          },
        ],
        fzrRealName: [
          { required: true, message: "负责人姓名不能为空", trigger: "blur" },
        ],
        legalTel: [
          {
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
        ],
        fzrTel: [
          {
            required: true,
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
        ],
        fzrMail: [
          {
            type: "email",
            message: "'请输入正确的邮箱地址",
            trigger: ["blur", "change"],
          },
        ],
        legalMail: [
          {
            type: "email",
            message: "'请输入正确的邮箱地址",
            trigger: ["blur", "change"],
          },
        ],
        address: [
          { required: true, message: "联系地址不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_user_sex").then((response) => {
      this.sexOptions = response.data;
    });

    this.getDicts("sales_custome_type").then((response) => {
      this.natureOptions = response.data;
    });

    this.getDicts("sales_custome_style").then((response) => {
      this.typeOptions = response.data;
    });
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listSupplier(this.queryParams).then((response) => {
        this.supplierList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        supplierId: undefined,
        legalSex: this.sexOptions[0].dictValue,
        fzrSex: this.sexOptions[0].dictValue,
        enterpriseProperties: this.natureOptions[0].dictValue,
        type: this.typeOptions[0].dictValue,
        remarks: undefined,
      };
      this.updateFlag = false;
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加供货方台账";
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.supplierId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 修改按钮操作 */
    handleUpdate(row, updateFlag) {
      this.reset();
      this.updateFlag = updateFlag;
      const supplierId = row.supplierId || this.ids;
      getSupplier(supplierId).then((response) => {
        this.form = response.data;
        this.form.valueType = response.data.valueType;
        this.open = true;
        this.title = "修改供货方台账";
      });
    },
    /** 提交按钮 */
    submitForm: function (status) {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.form.status = status;
          if (this.form.supplierId != undefined) {
            updateSupplier(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addSupplier(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const idList = row.supplierId || this.ids;
      this.$confirm("是否确认删除供货方?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delSupplier(idList);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有供货方?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportSupplier(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },

    // handleConfirm(row) {
    //   const supplierId = row.supplierId;
    //   this.$confirm("是否确认提交供货方?", "警告", {
    //     confirmButtonText: "确定",
    //     cancelButtonText: "取消",
    //     type: "warning",
    //   })
    //     .then(function () {
    //       return updateSupplierIdStatus(supplierId);
    //     })
    //     .then(() => {
    //       this.getList();
    //       this.msgSuccess("提交成功");
    //     })
    //     .catch(function () {});
    // },
  },
};
</script>