<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="合同名称" prop="contractName">
        <el-input
          v-model="queryParams.contractName"
          placeholder="请输入合同名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="到款时间">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          value-format="yyyy-MM-dd HH:mm:ss"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>预收款列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:payment:add']"
              >新增</el-button
            >
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:config:remove']"
              >删除</el-button
            >
          </el-col> -->
          <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:payment:export']"
              >导出</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="contractPaymentList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="50" align="center" />
      <el-table-column
        label="收款编号"
        align="center"
        width="200"
        fixed
        prop="contractPaymentCode"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="协议号"
        align="center"
        width="280"
        fixed
        prop="handoverAgreementCode"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="合同名称"
        align="center"
        fixed
        prop="contractName"
        min-width="200px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="站点名称"
        align="center"
        width="180"
        prop="siteName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        width="150"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="预收款(元)"
        align="center"
        prop="totalMoneyTem"
        width="150"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="到款时间"
        align="center"
        prop="arrivalTime"
        width="200"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row, false)"
            v-hasPermi="['system:payment:edit']"
            >修改</el-button
          >
          <el-button
            v-show="scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleSubmit(scope.row)"
            v-hasPermi="['system:payment:confirm']"
            >提交</el-button
          >
          <el-button
            v-show="scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:payment:remove']"
            >删除</el-button
          >

          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleUpdate(scope.row, true)"
            v-hasPermi="['system:payment:info']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              class="required_red_star"
              label="交易明细"
              prop="sellContractCode"
            >
              <el-input
                v-show="!updateFlag"
                placeholder="请选择合同交易明细"
                disabled
                v-model="form.sellContractCode"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChoosePayment"
                  >选择</el-button
                >
              </el-input>
              <el-input
                v-show="updateFlag"
                placeholder="请选择合同交易明细"
                disabled
                v-model="form.sellContractCode"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="预收款金额(元)" prop="totalMoney">
              <el-input
                v-show="updateFlag"
                placeholder="请输入预收款金额"
                disabled
                v-model="form.totalMoney"
              />

              <el-input
                v-show="!updateFlag"
                placeholder="请输入预收款金额"
                v-model="form.totalMoney"
                type="number"
                :disabled="updateFlag"
                :max="100000000000"
                :min="0"
              >
                <template slot="append"
                  ><span
                    style="cursor: pointer"
                    :disabled="updateFlag"
                    @click="openBankFlow"
                    >选择</span
                  ></template
                >
              </el-input>

              <!-- <el-input-number
                class="width-100"
                v-model="form.totalMoney"
                :precision="2"
                :disabled="updateFlag"
                :step="0.1"
                :max="100000000000"
                :min="0"
              ></el-input-number> -->
            </el-form-item>
          </el-col>
        </el-row>

        <div v-show="showFlag">
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="合同名称">
                <el-input v-model="payment.contractName" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="合同编号">
                <el-input v-model="payment.contractCode" disabled />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="客户名称">
                <el-input v-model="payment.enterpriseName" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="交易金额">
                <el-input v-model="payment.totalCount" disabled />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="累计预收款">
                <el-input v-model="payment.totalAdvancePayment" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="累计抵扣金">
                <el-input v-model="payment.totalDeductionMoney" disabled />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="站点名称">
                <el-input v-model="payment.siteName" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="产品名称">
                <el-input v-model="payment.productName" disabled />
              </el-form-item>
            </el-col>
          </el-row>
        </div>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="付款时间" prop="payTime">
              <el-date-picker
                class="width-100"
                :disabled="updateFlag"
                v-model="form.payTime"
                value-format="yyyy-MM-dd HH:mm:ss"
                type="datetime"
                placeholder="选择付款时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="到款时间" prop="arrivalTime">
              <el-date-picker
                class="width-100"
                :disabled="updateFlag"
                value-format="yyyy-MM-dd HH:mm:ss"
                v-model="form.arrivalTime"
                type="datetime"
                placeholder="选择到款时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="是否存在抵扣" prop="deductionFlag">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.deductionFlag"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in deductionOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="12" v-show="form.deductionFlag == 1">
            <el-form-item label="抵扣款金额" prop="deductionMoney">
              <el-input-number
                class="width-100"
                v-model="form.deductionMoney"
                :precision="2"
                :disabled="updateFlag"
                :step="0.1"
                :max="100000000000"
                :min="0"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-show="form.deductionFlag == 1">
          <el-col :span="24">
            <el-form-item label="抵扣款说明" prop="deductionRemark">
              <el-input
                :disabled="updateFlag"
                v-model="form.deductionRemark"
                type="textarea"
                placeholder="请输入抵扣款说明"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="remarks">
              <el-input
                :disabled="updateFlag"
                v-model="form.remarks"
                type="textarea"
                placeholder="请输入备注"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-show="!updateFlag" type="primary" @click="submitForm(1)"
          >保 存</el-button
        >
        <el-button
          v-hasPermi="['system:payment:confirm']"
          v-show="!updateFlag"
          type="danger"
          @click="submitForm(2)"
          >提 交</el-button
        >
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="choosePaymentOpen"
      width="80%"
      append-to-body
      title="交易明细列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-contract-payment
        @closeWindow="closeWindow"
        @choosePayment="choosePayment"
        v-if="choosePaymentOpen"
        ref="chooseContractPayment"
      ></choose-contract-payment>
    </el-dialog>

    <el-dialog
      :visible.sync="bankFlowOpen"
      width="80%"
      append-to-body
      title="交易明细列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-bank-flow
        @closeBankWindow="closeBankWindow"
        @choosBankFlow="choosBankFlow"
        v-if="bankFlowOpen"
        ref="chooseBankFlow"
      ></choose-bank-flow>
    </el-dialog>
  </div>
</template>

<script>
import {
  listPayment,
  getPayment,
  delPayment,
  addPayment,
  updatePayment,
  exportPayment,
  submitPayment,
} from "@/api/sales/payment";

import chooseContractPayment from "../../utils/chooseContractPayment";
import chooseBankFlow from "../../utils/chooseBankFlow";

export default {
  components: { chooseContractPayment, chooseBankFlow },
  name: "ContractPayment",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 参数表格数据
      contractPaymentList: [],
      choosePaymentOpen: false,
      showFlag: false,

      dateRange: [],
      payment: {},

      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 类型数据字典
      typeOptions: [],
      deductionOptions: [],
      updateFlag: false,

      // 银行流水
      bankFlowOpen: false,

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        siteName: undefined,
        contractName: undefined,
        totalMoney: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        // sellContractCode: [
        //   { required: true, message: "交易明细不能为空", trigger: "blur" },
        // ],
        totalMoney: [
          { required: true, message: "预收款金额不能为空", trigger: "blur" },
        ],
        payTime: [
          { required: true, message: "付款时间不能为空", trigger: "blur" },
        ],
        arrivalTime: [
          { required: true, message: "到款时间不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getDicts("contract_deduction_flag").then((response) => {
      this.deductionOptions = response.data;
    });
    this.getList();
  },
  methods: {
    openBankFlow() {
      this.bankFlowOpen = true;
    },

    closeBankWindow() {
      this.bankFlowOpen = false;
    },

    choosBankFlow(bankFlow) {
      this.form.totalMoney = bankFlow.hpn_Amt;
    },

    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listPayment(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.contractPaymentList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        contractPaymentId: undefined,
        totalMoney: 0,
        deductionMoney: 0,
        deductionFlag: 2,
        remarks: undefined,
        sellContractId: undefined,
        payTime: undefined,
        arrivalTime: undefined,
      };
      this.payment = {};
      this.showFlag = false;
      this.updateFlag = false;
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加预收款";
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.contractPaymentId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 修改按钮操作 */
    handleUpdate(row, flag) {
      this.reset();
      this.updateFlag = flag;

      this.payment = {
        contractCode: row.contractCode,
        contractName: row.contractName,
        siteName: row.siteName,
        productName: row.productName,
        enterpriseName: row.enterpriseName,
        totalCount: row.totalCount.toFixed(2),
        sellContractId: row.sellContractId,
        orgPrefix: row.codeTem,
        totalAdvancePayment: row.totalAdvancePayment,
        totalDeductionMoney: row.totalDeductionMoney,
      };
      const contractPaymentId = row.contractPaymentId || this.contractPaymentId;
      getPayment(contractPaymentId).then((response) => {
        this.form = response.data;
        this.showFlag = true;
        this.open = true;
      });

      if (flag) {
        this.title = "预收款详情";
      } else {
        this.title = "修改预收款";
      }
    },
    /** 提交按钮 */
    submitForm: function (status) {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.totalMoney == 0) {
            this.msgError("预收款金额必须大于0");
            return false;
          }

          if (this.form.totalMoney > 100000000000) {
            this.msgError("预收款金额不能大于");
            return false;
          }

          this.form.status = status;
          if (!this.payment.sellContractId) {
            this.msgError("交易明细不能为空");
            return false;
          }

          if (
            Date.parse(this.form.payTime) >= Date.parse(this.form.arrivalTime)
          ) {
            this.msgError("付款时间不能大于到款时间");
            return false;
          }

          this.form.sellContractId = this.payment.sellContractId;
          this.form.codeTem = "SK-" + this.payment.orgPrefix;
          if (this.form.contractPaymentId != undefined) {
            updatePayment(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addPayment(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },

    /**
     * 提交
     */
    handleSubmit(row) {
      const idList = row.contractPaymentId;
      this.$confirm("是否确认提交预收款?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return submitPayment(idList);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("提交成功");
        })
        .catch(function () {});
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const idList = row.contractPaymentId || this.ids;
      this.$confirm("是否确认删除预收款?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delPayment(idList);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有参数数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportPayment(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },

    toChoosePayment() {
      this.choosePaymentOpen = true;
    },

    closeWindow() {
      this.choosePaymentOpen = false;
    },

    choosePayment(payment) {
      this.form.sellContractCode = payment.sellContractCode;
      this.payment = payment;
      this.payment.totalCount = payment.totalMoney.toFixed(2);
      this.$refs.form.validateField("sellContractCode");
      this.showFlag = true;
    },
  },
};
</script>