<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="合同名称">
        <el-input
          v-model="queryParams.contractName"
          placeholder="请输入合同名称"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="客户名称">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="终结日期">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>
    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>合同台账列表</div>
      </div>
    </div>

    <el-table border v-loading="loading" :data="contractList">
      <el-table-column
        label="合同名称"
        align="center"
        prop="contractName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="合同编号"
        align="center"
        width="200px"
        prop="contractCode"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="签约机构"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="终结日期"
        align="center"
        width="100px"
        prop="stopDate"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        width="100px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sales:contract:remove']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改销售合同对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" label-width="110px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="签约机构" prop="orgId">
              <el-input v-model="form.orgName" disabled />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同名称" prop="contractName">
              <el-input v-model="form.contractName" maxlength="10" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="合同编号" prop="contractCode">
              <el-input
                v-model="form.contractCode"
                maxlength="50"
                disabled
                placeholder="根据签约机构与履行期限自动生成"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="业务员" prop="employeeId">
              <el-input v-model="form.employeeId" maxlength="50" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="客户名称" prop="customeId">
              <el-input
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同金额(元)" prop="contractMoneyTem">
              <el-input
                v-model="form.contractMoneyTem"
                maxlength="10"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="保证金金额(元)" prop="depositMoneyTem">
              <el-input
                v-model="form.depositMoneyTem"
                maxlength="50"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="选商方式" prop="merchantType">
              <el-select
                disabled
                class="width-100"
                v-model="form.merchantType"
                placeholder="请选择选商方式"
              >
                <el-option
                  v-for="item in merchantOptions"
                  :key="item.dictValue"
                  :label="item.dictLabel"
                  :value="item.dictValue"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="余额(元)" prop="balanceMoney">
              <el-input
                v-model="form.balanceMoneyTem"
                maxlength="50"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="签订时间" prop="merchantType">
              <el-date-picker
                class="width-100"
                v-model="form.signTime"
                type="date"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="签约地点" prop="balanceMoney">
              <el-input v-model="form.signedAt" disabled maxlength="50" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="履行开始时间" prop="contractLimitStart">
              <el-date-picker
                class="width-100"
                v-model="form.contractLimitStart"
                type="date"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="履行结束时间" prop="contractLimitEnd">
              <el-date-picker
                class="width-100"
                v-model="form.contractLimitEnd"
                type="date"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="报审序号" prop="checkCode">
              <el-input disabled v-model="form.checkCode" maxlength="10" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="终结原因" prop="endReason">
              <el-input
                disabled
                v-model="form.endReason"
                maxlength="100"
                type="textarea"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-if="form.status == 1">
          <el-col :span="24">
            <el-form-item label="附件下载">
              <div
                class="form-file-list-contract"
                v-for="(item, index) in fileList"
                :key="index"
                @click="handlePreview(item, fileList)"
              >
                <div>{{ item.fileName }}</div>
                <div>下载</div>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getContractEndList, getContractByEnd } from "@/api/sales/contract";
import axios from "axios";
import { getToken } from "@/utils/auth";
export default {
  name: "ContractEnd",
  data() {
    return {
      loading: true,
      total: 0,
      contractList: [],
      title: "",
      open: false,
      merchantOptions: [],
      // $comment字典
      Options: [],
      dateRange: [],
      fileList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        flag: "end",
      },
      // 表单参数
      form: {},
    };
  },
  created() {
    this.getList();
    this.getDicts("choose_business_way").then((response) => {
      this.merchantOptions = response.data;
    });
  },
  methods: {
    /** 查询销售合同列表 */
    getList() {
      this.loading = true;
      getContractEndList(
        this.addDateRange(this.queryParams, this.dateRange)
      ).then((response) => {
        this.contractList = response.data.rows;
        this.total = response.data.total;
        this.loading = false;
      });
    },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams = {};
      this.dateRange = [];
      this.handleQuery();
    },

    handleUpdate(row) {
      this.reset();
      const id = row.contractId || this.ids;
      getContractByEnd(id).then((response) => {
        this.form = response.data;
        this.fileList = response.fileList;
        this.open = true;
        this.title = "销售合同详情";
      });
    },

     handlePreview(file, fileList) {
      var fileName = file.fileName;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API +
          "/sales/sellContract/downLoadFile/" +
          file.contractProofId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },

    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },

  },
};
</script>