<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="合同名称">
        <el-input
          v-model="queryParams.contractName"
          placeholder="请输入合同名称"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="签约机构">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入签约机构"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="客户名称">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <!-- <el-form-item label="合同编号">
        <el-input
          v-model="queryParams.contractCode"
          placeholder="请输入合同编号"
          clearable
          style="width: 180px"
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item> -->
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>
    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>合同预警列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <!-- <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-edit-outline"
              size="mini"
              :disabled="multiple"
              v-hasPermi="['system:relation:remove']"
              >解除预警</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="contractList"
      @selection-change="handleSelectionChange"
    >
      <!-- <el-table-column type="selection" width="55" align="center" /> -->

      <el-table-column
        label="合同名称"
        align="center"
        prop="contractName"
        min-width="200px"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="合同编号"
        align="center"
        width="200px"
        prop="contractCode"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="签约机构"
        align="center"
        prop="orgName"
        width="200px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="客户名称"
        align="center"
        min-width="200px"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="合同金额(元)"
        align="center"
        width="150px"
        prop="contractMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="执行金额(元)"
        align="center"
        width="150px"
        :show-overflow-tooltip="true"
        :formatter="moneyFormatter"
      />

      <el-table-column
        label="余额(元)"
        align="center"
        width="150px"
        prop="balanceMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="截止日期"
        align="center"
        prop="contractLimitEnd"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="预警信息"
        align="center"
        prop="diffDay"
        :show-overflow-tooltip="true"
        width="150px"
      >
        <template slot-scope="scope">
          <div v-if="scope.row.isWarning == 1">
            <div class="contract-normal" v-if="scope.row.warningType == 1">正常</div>
            <div class="contract-time" v-if="scope.row.warningType == 2">合同超期</div>
            <div class="contract-money" v-if="scope.row.warningType == 3">合同超额</div>
            <div v-if="scope.row.warningType == 4">
              <span class="contract-time">合同超期</span><span class="contract-money">合同超额</span>
            </div>

            <!-- <div
              v-if="
                Number(scope.row.diffDay) <= Number(contractTime) ||
                scope.row.balanceMoney <=
                  scope.row.contractMoney * contractMoney
              "
            >
              <span
                class="contract-time"
                v-if="Number(scope.row.diffDay) <= Number(contractTime)"
                >合同超期</span
              >
              <span
                class="contract-money"
                v-if="
                  scope.row.balanceMoney <=
                  scope.row.contractMoney * contractMoney
                "
              >
                合同超额</span
              >
            </div>
            <div v-else class="contract-normal">正常</div>-->
          </div>
          <div v-else class="contract-normal">正常</div>
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="200px"
        fixed="right"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-circle-close"
            @click="handleInfo(scope.row, true)"
            v-hasPermi="['sales:contract:execute:end']"
            >终结</el-button
          >
          <el-button
            size="mini"
            type="text"
            v-show="scope.row.isWarning == 1 &&  scope.row.warningType != 1"
            icon="el-icon-edit-outline"
            @click="handleDismiss(scope.row)"
            v-hasPermi="['sales:contract:execute:relieve']"
            >解除预警</el-button
          >

          <!-- <el-button
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleInfo(scope.row, false)"
            v-hasPermi="['sales:contract:remove']"
            >详情</el-button
          > -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改销售合同对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="签约机构" prop="orgId">
              <el-input v-model="form.orgName" disabled />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同名称" prop="contractName">
              <el-input v-model="form.contractName" maxlength="10" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="合同编号" prop="contractCode">
              <el-input
                v-model="form.contractCode"
                maxlength="50"
                disabled
                placeholder="根据签约机构与履行期限自动生成"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="业务员" prop="employeeId">
              <el-input v-model="form.employeeId" maxlength="50" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="客户" prop="customeId">
              <el-input
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同金额" prop="contractMoney">
              <el-input v-model="form.contractMoney" maxlength="10" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="保证金金额" prop="depositMoney">
              <el-input v-model="form.depositMoney" maxlength="50" disabled />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="选商方式" prop="merchantType">
              <el-select
                disabled
                class="width-100"
                v-model="form.merchantType"
                placeholder="请选择选商方式"
              >
                <el-option
                  v-for="item in merchantOptions"
                  :key="item.dictValue"
                  :label="item.dictLabel"
                  :value="item.dictValue"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="余额" prop="balanceMoney">
              <el-input v-model="form.balanceMoney" maxlength="50" disabled />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="签订时间" prop="merchantType">
              <el-date-picker
                class="width-100"
                v-model="form.signTime"
                type="date"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="签约地点" prop="balanceMoney">
              <el-input v-model="form.signedAt" disabled maxlength="50" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="履行开始时间" prop="contractLimitStart">
              <el-date-picker
                class="width-100"
                v-model="form.contractLimitStart"
                type="date"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="履行结束时间" prop="contractLimitEnd">
              <el-date-picker
                class="width-100"
                v-model="form.contractLimitEnd"
                type="date"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="报审序号" prop="checkCode">
              <el-input disabled v-model="form.checkCode" maxlength="10" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="附件下载">
              <div
                class="form-file-list-contract"
                v-for="(item, index) in fileList"
                :key="index"
                @click="handlePreview(item, fileList)"
              >
                <div>{{ item.fileName }}</div>
                <div>下载</div>
              </div>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-show="endFlag">
          <el-col :span="24">
            <el-form-item label="终结原因" prop="endReason">
              <el-input
                v-model="form.endReason"
                maxlength="100"
                type="textarea"
                placeholder="请输入终结原因"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-show="endFlag" type="primary" @click="submitForm"
          >确 定</el-button
        >
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getContractExecuteList,
  getContractExecuteListV2,
  getContractByEnd,
  updateContractByEnd,
  disarmWarn,
} from "@/api/sales/contract";

import axios from "axios";
import { getToken } from "@/utils/auth";

export default {
  name: "ContractEnd",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      // 销售合同表格数据
      contractList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      merchantOptions: [],
      // $comment字典
      Options: [],
      fileList: [],
      // dateRange:{},
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        flag: "execute",
      },

      multiple: true,
      endFlag: false,
      ids: [],
      contractMoney: "0",
      contractTime: "0",
      // 表单参数
      form: {},
      rules: {
        endReason: [
          { required: true, message: "终结原因不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    // this.getList();
    this.getList();
    this.getDicts("choose_business_way").then((response) => {
      this.merchantOptions = response.data;
    });
  },
  methods: {

    getList(){
      this.loading = true;
      getContractExecuteListV2(this.queryParams).then((response) => {
        this.total = response.total;
        this.loading = false;
        this.contractList = response.rows;
      });
    },

    /** 查询销售合同列表 */
    // getList() {
    //   this.loading = true;
    //   getContractExecuteList(this.queryParams).then((response) => {
    //     this.contractList = response.data.rows;
    //     this.total = response.data.total;
    //     this.loading = false;
    //     this.contractMoney = response.contractMoney;
    //     this.contractTime = response.contractTime;
    //   });
    // },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams = {};
      this.handleQuery();
    },

    handleInfo(row, flag) {
      this.reset();
      this.endFlag = flag;
      const id = row.contractId || this.ids;
      getContractByEnd(id).then((response) => {
        this.form = response.data;
        this.fileList = response.fileList;
        this.open = true;
        this.title = "销售合同详细信息";
      });
    },

    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.contractId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },

    submitForm() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          updateContractByEnd(this.form).then((response) => {
            if (response.code === 200) {
              this.msgSuccess("合同终结成功");
              this.open = false;
              this.getList();
            }
          });
        }
      });
    },

    handleDismiss(row) {
      const idList = row.contractId || this.ids;
      this.$confirm("是否确认解除预警?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return disarmWarn(idList);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    moneyFormatter(row) {
      return (row.contractMoney - row.balanceMoney).toFixed(2);
    },

         handlePreview(file, fileList) {
      var fileName = file.fileName;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API +
          "/sales/sellContract/downLoadFile/" +
          file.contractProofId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },

    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    }

  },
};
</script>