<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="合同名称">
        <el-input
          :disabled="contract.contractId != undefined"
          v-model="queryParams.contractName"
          placeholder="请输入合同名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="产品名称">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="交方机构">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入交方机构"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="system-table-header">
        <div class="system-table-title">
          <div></div>
          <div>计量交接协议列表</div>
        </div>
        <div class="system-table-btn">
          <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
              <el-button
                type="primary"
                icon="el-icon-plus"
                size="mini"
                @click="handleAdd"
                v-hasPermi="['sales:agreement:add']"
                >新增</el-button
              >
            </el-col>
          </el-row>
        </div>
      </div>
      <el-table border v-loading="loading" :data="agreementList">
        <el-table-column
          label="合同名称"
          align="center"
          prop="contractName"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="产品名称"
          align="center"
          prop="productName"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="交方机构"
          align="center"
          prop="orgName"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="客户名称"
          align="center"
          prop="enterpriseName"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="协议编号"
          align="center"
          prop="handoverAgreementCode"
          width="150px"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="状态"
          align="center"
          prop="statusName"
          width="100px"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="操作"
          align="center"
          width="180px"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              v-if="scope.row.status == 2"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['sales:agreement:edit']"
              >修改</el-button
            >

            <el-button
              size="mini"
              type="text"
              v-if="scope.row.status == 2"
              icon="el-icon-check"
              @click="handleConfirm(scope.row)"
              v-hasPermi="['system:agreement:confim']"
              >提交</el-button
            >

            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              v-if="scope.row.status == 2"
              @click="handleDelete(scope.row)"
              v-hasPermi="['system:agreement:remove']"
              >删除</el-button
            >

            <el-button
              size="mini"
              type="text"
              v-if="scope.row.status == 1"
              icon="el-icon-view"
              @click="handleUpdate(scope.row, 1)"
              v-hasPermi="['sales:agreement:info']"
              >详情</el-button
            >
          </template>
        </el-table-column>
      </el-table>

      <pagination
        v-show="total > 0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getAgreementList"
      />

      <el-dialog
        :title="title"
        :visible.sync="open"
        width="70%"
        append-to-body
        :close-on-click-modal="false"
        :close-on-press-escape="false"
      >
        <el-form ref="form" :model="form" :rules="rules" label-width="110px">
          <el-row :gutter="24">
            <el-col :span="24">
              <el-form-item label="合同名称" class="required_red_star">
                <el-input
                  v-if="contract.contractName || updateFlag"
                  placeholder="请选择销售合同"
                  disabled
                  v-model="form.contractName"
                />

                <el-input
                  v-else
                  placeholder="请选择销售合同"
                  disabled
                  v-model="form.contractName"
                >
                  <el-button
                    slot="append"
                    class="login-icon"
                    :disabled="form.status == 1"
                    @click="toChooseContract"
                    >选择</el-button
                  >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="产品类型" prop="productType">
                <el-select
                  v-model="form.productType"
                  placeholder="请选择类型"
                  class="width-100"
                  size="small"
                  :disabled="updateFlag"
                  @change="changProduct"
                >
                  <el-option
                    v-for="dict in productTypeOptions"
                    :key="dict.dictValue"
                    :label="dict.dictLabel"
                    :value="dict.dictValue"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="产品名称" prop="productId">
                <el-select
                  class="width-100"
                  v-model="form.productId"
                  :disabled="updateFlag"
                  placeholder="请选择产品名称"
                  @change="frushInfo"
                >
                  <el-option
                    v-for="item in productOptions"
                    :key="item.productId"
                    :label="item.name"
                    :value="item.productId"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="保证金金额(元)" prop="earnestMoney">
                <el-input-number
                  class="width-100"
                  v-model="form.earnestMoney"
                  :disabled="updateFlag"
                  placeholder="请输入协议保证金金额"
                  :precision="2"
                  :step="0.1"
                  :max="10000000000"
                  :min="0"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="采购合同" class="required_red_star">
                <el-input
                  placeholder="请选择采购合同"
                  disabled
                  v-show="updateFlag"
                  v-model="form.purchaseContractName"
                />

                <el-input
                  placeholder="请选择采购合同"
                  disabled
                  v-show="!updateFlag"
                  v-model="form.purchaseContractName"
                >
                  <el-button
                    slot="append"
                    class="login-icon"
                    :disabled="form.status == 1"
                    @click="toChooseCustom"
                    >选择</el-button
                  >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="交方机构" prop="orgId">
                <el-select
                  class="width-100"
                  v-model="form.orgId"
                  :disabled="updateFlag"
                  placeholder="请选择签约机构"
                >
                  <el-option
                    v-for="item in orgList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="接方客户" prop="enterpriseName">
                <el-input
                  v-model="form.enterpriseName"
                  disabled
                  placeholder="请输入接方客户"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="交付地点" prop="deliveryPipe">
                <el-input
                  v-model="form.deliveryPipe"
                  :disabled="updateFlag"
                  maxlength="200"
                  placeholder="请输入交付地点"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="交接方式" prop="equipment">
                <el-input
                  v-model="form.equipment"
                  disabled
                  placeholder="根据产品获取交接方式"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="签约地点" prop="signedAt">
                <el-input
                  v-model="form.signedAt"
                  :disabled="updateFlag"
                  maxlength="100"
                  placeholder="请输入签约地点"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="签约日期" prop="signedDate">
                <el-date-picker
                  class="width-100"
                  v-model="form.signedDate"
                  :disabled="updateFlag"
                  type="date"
                  placeholder="请输入签约日期"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="交方签字" prop="firstPartyStaff">
                <el-input
                  v-model="form.firstPartyStaff"
                  :disabled="updateFlag"
                  maxlength="50"
                  placeholder="请输入交方签字"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="接方签字" prop="secondPartyStaff">
                <el-input
                  v-model="form.secondPartyStaff"
                  :disabled="updateFlag"
                  maxlength="50"
                  placeholder="请输入接方签字"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="交付开始日期" prop="deliveryStartTime">
                <el-date-picker
                  class="width-100"
                  v-model="form.deliveryStartTime"
                  :disabled="updateFlag"
                  type="date"
                  placeholder="请选择交付开始日期"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="交付结束日期" prop="deliveryEndTime">
                <el-date-picker
                  class="width-100"
                  v-model="form.deliveryEndTime"
                  :disabled="updateFlag"
                  type="date"
                  placeholder="请选择交付结束日期"
                />
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitForm(2)" v-show="!updateFlag"
            >保 存</el-button
          >
          <el-button type="danger" @click="submitForm(1)" v-show="!updateFlag"
            >提 交</el-button
          >
          <el-button @click="cancel">取 消</el-button>
        </div>
      </el-dialog>

      <el-dialog
        :visible.sync="chooseContractOpen"
        width="70%"
        append-to-body
        title="销售合同列表"
        :close-on-press-escape="false"
        :close-on-click-modal="false"
      >
        <choose-contract
          @closeContractWindow="closeContractWindow"
          @getContract="getContract"
          v-if="chooseContractOpen"
          ref="chooseSupplier"
        ></choose-contract>
      </el-dialog>
      <el-dialog
        :visible.sync="choosePurchaseOpen"
        width="70%"
        append-to-body
        title="采购合同列表"
        :close-on-press-escape="false"
        :close-on-click-modal="false"
      >
        <choose-purchase
          :transportType="1"
          @closeWindow="closeWindow"
          @purchaseContractId="purchaseContractId"
          @contractName="contractName"
          v-if="choosePurchaseOpen"
          ref="chooseSupplier"
        ></choose-purchase>
      </el-dialog>
    </el-form>
  </div>
</template>
<script>
import {
  listAgreement,
  addAgreement,
  getAgreement,
  updateAgreement,
  delAgreement,
  dealConfirm,
  getProdectName,
  productInfoById,
  getContract,
} from "@/api/sales/agreement";
import { getOrgCompany, getProductTransport } from "@/api/sales/query";
import { getProductByType } from "@/api/purchase/contract";
import choosePurchase from "../../utils/choosePurchase";
import chooseContract from "../../utils/chooseContract";

export default {
  name: "Infos",
  components: { choosePurchase, chooseContract },

  data() {
    return {
      loading: true,
      total: 0,
      choosePurchaseOpen: false,
      chooseContractOpen: false,
      ids: [],
      open: false,
      productOptions: [],
      form: {},
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
      },
      agreementList: [],
      productTypeOptions: [],
      title: "",
      getContractId: undefined,
      contract: {},
      multiple: true,
      orgList: [],
      transportTypeList: [],
      updateFlag: false,
      rules: {
        orgId: [
          { required: true, message: "交方机构不能为空", trigger: "blur" },
        ],
        productType: [
          { required: true, message: "产品类型不能为空", trigger: "blur" },
        ],
        handoverAgreementCode: [
          { required: true, message: "编号不能为空", trigger: "blur" },
        ],
        productId: [
          { required: true, message: "请选择产品名称", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });
    this.getDicts("product_transport_type").then((response) => {
      this.transportTypeList = response.data;
    });

    const contractId = this.$route.params && this.$route.params.contractId;
    if (contractId != undefined) {
      getContract(contractId).then((response) => {
        this.contract = response.data;

        this.queryParams.contractId = response.data.contractId;
        this.queryParams.contractName = response.data.contractName;
        this.getAgreementList();
      });
    } else {
      this.getAgreementList();
    }
    this.getOrgCompany();
  },

  methods: {
    getOrgCompany() {
      getOrgCompany().then((response) => {
        this.orgList = response.data;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getAgreementList();
    },

    changProduct(val) {
      getProductByType(val).then((response) => {
        this.productOptions = response;
        this.form.productId = "";
        this.form.equipment = undefined;
        this.$forceUpdate();
      });
    },
    frushInfo(val) {
      // 获取产品的拉运方式
      this.$forceUpdate();
      let _this = this;
      getProductTransport(val).then((response) => {
        var equipment = this.selectDictLabel(
          this.transportTypeList,
          response.data
        );
        _this.form.equipment = equipment;
      });
    },

    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams = {};
      this.queryParams.contractName = this.contract.contractName;
      this.queryParams.contractId = this.contract.contractId;
      this.dateRange = {};
      this.handleQuery();
    },

    toChooseCustom() {
      this.choosePurchaseOpen = true;
    },
    closeWindow() {
      this.choosePurchaseOpen = false;
    },
    toChooseContract() {
      this.chooseContractOpen = true;
    },
    closeContractWindow() {
      this.chooseContractOpen = false;
    },
    // 表单重置
    reset() {
      this.form = { equipment: undefined };
      getProductByType(this.productTypeOptions[0].dictValue).then(
        (response) => {
          this.productOptions = response;
        }
      );
      this.resetForm("form");
    },
    cancel() {
      this.reset();
      this.open = false;
    },
    purchaseContractId(purchaseContractId) {
      this.form.purchaseContractId = purchaseContractId;
      this.form.isSync = 1;
    },

    getContract(contract) {
      this.form.contractName = contract.contractName;
      this.form.enterpriseName = contract.enterpriseName;
      this.form.contractCode = contract.contractCode;
      this.form.contractId = contract.contractId;
      this.form.customeId = contract.customeId;
    },

    contractName(contractName) {
      this.form.purchaseContractName = contractName;
    },

    getAgreementList() {
      listAgreement(this.queryParams).then((response) => {
        this.agreementList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    //确认
    handleConfirm(row) {
      this.$confirm(
        "提交后的计量交接协议无法进行修改和删除，是否提交",
        "警告",
        {
          confirmButtonText: "提交",
          cancelButtonText: "取消",
          type: "warning",
        }
      )
        .then(function () {
          return dealConfirm(row);
        })
        .then(() => {
          this.getAgreementList();
          this.msgSuccess("该计量交接协议已提交成功");
        })
        .catch(function () {});
    },

    /** 提交按钮 */
    submitForm: function (val) {
      if (this.form.contractName == "" || this.form.contractName == undefined) {
        this.$message.error("请选择合同名称");
        return;
      }
      if (
        this.form.purchaseContractId == "" ||
        this.form.purchaseContractId == undefined
      ) {
        this.$message.error("请选择采购合同");
        return;
      }
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.form.status = val;
          if (this.form.handoverAgreementId != undefined) {
            updateAgreement(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getAgreementList();
              }
            });
          } else {
            addAgreement(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getAgreementList();
              }
            });
          }
        }
      });
    },

    handleAdd() {
      this.updateFlag = false;
      this.reset();
      if (this.contract) {
        this.form.enterpriseName = this.contract.enterpriseName;
        this.form.contractName = this.contract.contractName;
        this.form.contractId = this.contract.contractId;
        this.form.contractCode = this.contract.contractCode;
        this.form.contractId = this.contract.contractId;
        this.form.customeId = this.contract.customeId;
      }
      this.open = true;
      this.title = "添加计量交接协议";
    },

    handleUpdate(row, types) {
      this.reset();
      const id = row.handoverAgreementId;
      getAgreement(id).then((response) => {
        this.form = response.data;
        productInfoById(this.form.productId).then((response) => {
          this.form.productType = response.data.type;
          getProductByType(this.form.productType).then((response) => {
            this.productOptions = response;
            this.form.productId = this.form.productId;
            this.open = true;
            this.$forceUpdate();
          });
        });

        if (types == 1) {
          this.updateFlag = true;
          this.title = "查看计量交接协议详情";
        } else {
          this.updateFlag = false;
          this.title = "修改计量交接协议";
        }

        if (
          this.form.purchaseContractId != "" ||
          this.form.purchaseContractId != null
        ) {
          getProdectName(this.form.purchaseContractId).then((response) => {
            this.form.purchaseContractName = response.data.contractName;
            this.$forceUpdate();
          });
        }
      });
    },

    handleDelete(row) {
      const ids = row.handoverAgreementId || this.ids;
      this.$confirm("是否确认删除计量交接协议?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delAgreement(ids);
        })
        .then(() => {
          this.getAgreementList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
  },
};
</script>