<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="合同编号">
        <el-input
          v-model="queryParams.contractCode"
          placeholder="请输入合同编号"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
       <el-form-item label="客户名称">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="签订日期">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>
    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>合同台账列表</div>
      </div>
      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['sales:contract:add']"
              >新增</el-button
            >
          </el-col>
         
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="contractList"
      @selection-change="handleSelectionChange"
    >
     
      <el-table-column
        label="合同名称"
        align="center"
        prop="contractName"
        min-width="150px"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="合同编号"
        align="center"
        prop="contractCode"
        width="200px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="签约机构"
        align="center"
        prop="orgName"
        min-width="150px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="客户名称"
        align="center"
        min-width="150px"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="状态"
        align="center"
        prop="statusName"
        width="90px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="计量交接协议"
        align="center"
        :show-overflow-tooltip="true"
      >
        <template slot-scope="scope">
          <a
            v-if="scope.row.status == 1"
            @click="handleJlxy(scope.row)"
            style="color: #409eff"
            >{{ scope.row.jlxyCount }}</a
          >
        </template>
      </el-table-column>

      <el-table-column
        label="合同金额(元)"
        align="center"
        prop="contractMoneyTem"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="余额(元)"
        align="center"
        width="150px"
        prop="balanceMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="签订时间"
        align="center"
        width="150px"
        prop="signTime"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        width="180px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            v-if="scope.row.status == 2"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sales:contract:edit']"
            >修改</el-button
          >

          <el-button
            size="mini"
            type="text"
            v-if="scope.row.status == 2"
            icon="el-icon-check"
            @click="handleConfirm(scope.row)"
            v-hasPermi="['sales:contract:confim']"
            >提交</el-button
          >

          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            v-if="scope.row.status == 2"
            @click="handleDelete(scope.row)"
            v-hasPermi="['sales:contract:remove']"
            >删除</el-button
          >

          <el-button
            size="mini"
            type="text"
            v-if="scope.row.status == 1 || scope.row.status == 3"
            icon="el-icon-view"
            @click="handleUpdate(scope.row, 1)"
            v-hasPermi="['sales:contract:info']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改销售合同对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="70%" append-to-body  :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同名称" prop="contractName">
              <el-input
                v-model="form.contractName"
                :disabled="updateFlag"
                maxlength="50"
                placeholder="请输入合同名称"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="签约机构" prop="orgId">
              <el-select
                class="width-100"
                v-model="form.orgId"
                :disabled="updateFlag"
                placeholder="请选择签约机构"
              >
                <el-option
                  v-for="item in orgList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="业务员" prop="employeeId">
             <el-input
                v-model="form.employeeId"
                :disabled="updateFlag"
                maxlength="10"
                placeholder="请输入业务员"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item class="required_red_star" label="客户名称">
              <el-input
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  :disabled="updateFlag"
                  @click="toChooseCustom"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同金额(元)" prop="contractMoney">
              <el-input-number
                class="width-100"
                v-model="form.contractMoney"
                :disabled="updateFlag"
                placeholder="请输入合同金额"
                :precision="2"
                :step="0.1"
                :max="10000000000"
                :min="0"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="保证金金额(元)" prop="depositMoney">
              <el-input-number
                class="width-100"
                v-model="form.depositMoney"
                :disabled="updateFlag"
                placeholder="请输入保证金金额"
                :precision="2"
                :step="0.1"
                :max="10000000000"
                :min="0"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="选商方式" prop="merchantType">
              <el-select
                class="width-100"
                v-model="form.merchantType"
                :disabled="updateFlag"
                placeholder="请选择选商方式"
              >
                <el-option
                  v-for="item in merchantOptions"
                  :key="item.dictValue"
                  :label="item.dictLabel"
                  :value="item.dictValue"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="报审序号" prop="checkCode">
              <el-input
                v-model="form.checkCode"
                :disabled="updateFlag"
                maxlength="10"
                placeholder="请输入报审序号"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="签订时间" prop="signTime">
              <el-date-picker
                class="width-100"
                v-model="form.signTime"
                :disabled="updateFlag"
                type="date"
                placeholder="选择签订时间"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="签约地点" prop="signedAt">
              <el-input
                v-model="form.signedAt"
                :disabled="updateFlag"
                maxlength="50"
                placeholder="请输入签约地点"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="履行开始时间" prop="contractLimitStart">
              <el-date-picker
                class="width-100"
                :disabled="updateFlag"
                v-model="form.contractLimitStart"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择履行开始时间"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="履行结束时间" prop="contractLimitEnd">
              <el-date-picker
                class="width-100"
                :disabled="updateFlag"
                v-model="form.contractLimitEnd"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择履行结束时间"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="附件上传" v-show="!updateFlag">
              <el-upload
                class="upload-demo"
                ref="upload"
                :action="uploadAction"
                :headers="headers"
                :on-remove="handleRemove"
                :on-exceed="handleExceed"
                :on-success="handleFileSuccess"
                :before-upload="beforeAvatarUpload"
                :before-remove="beforeRemove"
                :on-preview="handlePreview"
                :file-list="fileList"
                multiple
                :limit="3"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .png,.jpeg,.pdf"
              >
                <el-button slot="trigger" size="small" type="primary"
                  >附件上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  只能上传文件、图片，且单文件不超过10M
                </div>
              </el-upload>
            </el-form-item>

            <el-row :gutter="24" v-show="updateFlag">
              <el-col :span="24">
                <el-form-item label="附件下载">
                  <div
                    class="form-file-list-contract"
                    v-for="(item, index) in fileList"
                    :key="index"
                    @click="handlePreview(item, fileList)"
                  >
                    <div>{{ item.name }}</div>
                    <div>下载</div>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm(2)" v-show="!updateFlag"
          >保 存</el-button
        >
        <el-button type="danger"  v-hasPermi="['sales:contract:confim']" @click="submitForm(1)" v-show="!updateFlag"
          >提 交</el-button
        >
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <el-dialog
      :visible.sync="chooseCustomeOpen"
      width="70%"
      append-to-body
      title="客户列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-custome
        @closeWindow="closeWindow"
        @chooseCustomeId="chooseCustomeId"
        @chooseCustomeName="chooseCustomeName"
        v-if="chooseCustomeOpen"
        ref="chooseSupplier"
      ></choose-custome>
    </el-dialog>
  </div>
</template>

<script>
import {
  listContract,
  getContract,
  delContract,
  addContract,
  updateContract,
  exportContract,
  dealConfirm,
} from "@/api/sales/contract";

import { getOrgCompany } from "@/api/sales/query";
import { delFile } from "@/api/sales/contractFile";
import { getProductByCustome } from "@/api/sales/custome_product_relation";
import chooseCustome from "../../utils/chooseCustome";
import { getToken } from "@/utils/auth";
import axios from "axios";
export default {
  name: "Contract",
  components: { chooseCustome },
  data() {
    return {
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/sales/sellContract/upload",
      loading: true,
      orgList: [],
      ids: [],
      multiple: true,
      total: 0,
      contractList: [],
      dateRange: [],
      title: "",
      open: false,
      updateFlag:false,
      merchantOptions: [],
      chooseCustomeOpen: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName:undefined,
        contractCode:undefined
      },
      // 表单参数
      form: {},
      fileList: [],
      fileIds: [],
      // 表单校验
      rules: {
        // employeeId: [
        //   { required: true, message: "业务员不能为空", trigger: "blur" },
        // ],
        contractName: [
          { required: true, message: "合同名称不能为空", trigger: "blur" },
        ],
        contractCode: [
          { required: true, message: "合同编号不能为空", trigger: "blur" },
        ],
        contractMoney: [
          { required: true, message: "合同金额不能为空", trigger: "blur" },
        ],
        depositMoney: [
          { required: true, message: "保证金金额不能为空", trigger: "blur" },
        ],
        merchantType: [
          { required: true, message: "选商方式不能为空", trigger: "blur" },
        ],
        contractLimitStart: [
          { required: true, message: "履行开始时间不能为空", trigger: "blur" },
        ],
        contractLimitEnd: [
          { required: true, message: "履行结束时间不能为空", trigger: "blur" },
        ],
        signTime: [
          { required: true, message: "签订时间不能为空", trigger: "blur" },
        ],
        signedAt: [
          { required: true, message: "签订地点不能为空", trigger: "blur" },
        ],
        orgId: [
          { required: true, message: "签约机构不能为空", trigger: "blur" },
        ],
      },
    };
  },

  created() {
    this.getList();
    this.getDicts("choose_business_way").then((response) => {
      this.merchantOptions = response.data;
    });
    this.getOrgCompany();
  },

  computed: {
    upData: function () {
      return {
        entityStr: JSON.stringify(this.form),
      };
    },
  },

  methods: {
    getOrgCompany() {
      getOrgCompany().then((response) => {
        this.orgList = response.data;
      });
    },

    /** 查询销售合同列表 */
    getList() {
      this.loading = true;
      listContract(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.contractList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },

    handleFileSuccess(res, file) {
      if (res.contractProofId) {
        this.fileIds.push(file.response.contractProofId);
        this.$message.success("上传成功！");
      } else {
        this.$message.error("上传失败！");
      }
    },

    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 100;
      if (!isLt2M) {
        this.$message.error("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },
    handleRemove(file, fileList) {
      if (file && file.status === "success") {
        debugger;
        let fileId = file.id;
        if (!fileId) {
          fileId = file.response.contractProofId;
        }
        delFile(fileId).then((response) => {
          this.fileIds.splice(this.fileIds.indexOf(fileId), 1);
          this.msgSuccess("删除成功");
        });
      }
    },

    beforeRemove(file, fileList) {
      if (file && file.status === "success") {
        return this.$confirm(`确定删除 ${file.name}？`);
      }
    },

    handlePreview(file, fileList) {
      let fileId = file.id;
      if (!fileId) {
        fileId = file.response.contractProofId;
      }
      var fileName = file.name;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API +
          "/sales/sellContract/downLoadFile/" +
          fileId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },

    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },

    handleJlxy(row) {
      const contractId = row.contractId;
      this.$router.push("/sales/contract/agreement/" + contractId);
    },

    toChooseCustom() {
      this.chooseCustomeOpen = true;
    },
    chooseCustomeId(customeId) {
      this.form.customeId = customeId;
      this.getProduct(customeId);
    },
    chooseCustomeName(enterpriseName) {
      this.form.enterpriseName = enterpriseName;
    },
    handleConfirm(row) {
      let params = {
        contractId: row.contractId,
        status: 1,
        codeTem: row.codeTem,
        signTime: row.signTime,
        orgId:row.orgId,
      };
      this.$confirm("提交后的合同台账无法进行修改和删除，是否提交", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return dealConfirm(params);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("该合同已提交成功");
        })
        .catch(function () {});
    },
    closeWindow() {
      this.chooseCustomeOpen = false;
    },
    getProduct(customeId) {
      if (this.form.type) {
        getProductByCustome(customeId, this.form.type).then((response) => {
          this.productOptions = response;
        });
      }
    },
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
      this.fileList = [];
      this.fileIds = [];
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams = {};
      this.dateRange = [];
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.contractId);
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.updateFlag = false;
      this.title = "添加销售合同";
    },
    /** 修改按钮操作 */
    handleUpdate(row, types) {
      this.reset();
      const id = row.contractId || this.ids;
      getContract(id).then((response) => {
        response.contractFiles.forEach((item) => {
          this.fileList.push({
            id: item.contractProofId,
            name: item.fileName,
            url: item.filePath,
          });
          this.fileIds.push(item.purchaseContractProofId);
        });
        this.form = response.data;
        this.open = true;
        if (types == 1) {
           this.updateFlag = true;
          this.title = "查看销售合同详情";
        } else {
          this.updateFlag = false;
          this.title = "修改销售合同";
        }
      });
    },
    /** 提交按钮 */
    submitForm: function (val) {
      if (this.form.customeId == "" || this.form.customeId == undefined) {
        this.$message.error("请选择客户");
        return;
      }
      if (
        Date.parse(this.form.contractLimitEnd) <
        Date.parse(this.form.contractLimitStart)
      ) {
        this.$message.error("履行开始时间不能大于履行结束时间");
        return;
      }
      this.form.balanceMoney = this.form.contractMoney;
      this.form.fileList = this.fileIds;
      this.form.status = val;
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.contractId != undefined) {
            updateContract(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addContract(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.contractId || this.ids;
      this.$confirm("是否确认删除销售合同?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delContract(ids);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有销售合同数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportContract(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>
