<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 150px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          style="width: 150px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <el-row class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>调拨通知单列表</div>
      </div>
      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              class="btn-no-bg"
              type="primary"
              plain
              icon="el-icon-plus"
              size="mini"
              @click="chooseTransfer"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </el-row>

    <el-table
      v-loading="loading"
      :data="transFileList"
      @selection-change="handleSelectionChange"
      border
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="调拨单编号"
        align="center"
        prop="transferCode"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="子公司"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="站点名称"
        align="center"
        prop="siteName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="数量"
        align="center"
        prop="amount"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="创建时间"
        align="center"
        prop="createTime"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="pageNum"
      :limit.sync="pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { weightTransferList } from "@/api/sales/transferFile";
export default {
  name: "select-transfer",
  props: ["selectTransfer", "status"],
  data() {
    return {
      // 遮罩层
      loading: true,
      checkedList: [],
      // 总条数
      total: 0,
      //表格数据
      transFileList: [],
      // 日期范围
      dateRange: [],
      // 查询参数
      queryParams: {
        productName: undefined,
        enterpriseName: undefined,
      },
      pageNum: 1,
      pageSize: 10,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true;
      if (this.status != undefined) {
        this.queryParams.status = this.status;
      }
      if (this.selectTransfer != undefined) {
        this.queryParams.transferId = this.selectTransfer;
      }
      weightTransferList(
        this.addDateRange(this.queryParams, this.dateRange)
      ).then((response) => {
        this.transFileList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
    },
    // 选择驾驶员
    chooseTransfer() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能一条选择数据");
      } else {
        //只选择了一条数据，需要将调拨单号以及车牌号、调拨单Id传给父页面
        var transfer = this.checkedList[0];
        this.$emit("transfer", transfer);
        this.$emit("closeTransferWindow", 1);
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>
