<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="88px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <!-- <el-form-item label="客户名称" prop="viewName">
        <el-input
          v-model="queryParams.viewName"
          placeholder="请输入客户名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item> -->

      <el-form-item label="调拨单状态" prop="status">
        <el-select
          v-model="queryParams.status"
          placeholder="请选择调拨单状态"
          style="width: 180px"
          size="small"
          clearable
        >
          <el-option
            v-for="dict in statusOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>调拨通知单列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:transfer:file:add']"
              >新增</el-button
            >
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:config:remove']"
              >删除</el-button
            >
          </el-col> -->
          <!-- <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:config:export']"
              >导出</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="transFileList"
      @selection-change="handleSelectionChange"
    >
      <!-- <el-table-column type="selection" width="50" align="center" /> -->
      <el-table-column
        label="调拨单编号"
        align="center"
        prop="transferCode"
        width="220px"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        min-width="150px"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="子公司"
        align="center"
        prop="orgName"
        min-width="150px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="站点名称"
        align="center"
        prop="siteName"
        min-width="150px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        width="150px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="数量"
        align="center"
        prop="amountTem"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="拉运重量"
        align="center"
        prop="netWeight"
        :show-overflow-tooltip="true"
      >
      </el-table-column>

      <el-table-column
        label="计量单位"
        align="center"
        prop="unit"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <!-- <el-table-column
        label="调拨单状态"
        align="center"
        prop="unit"
        :formatter="statusFormat"
        :show-overflow-tooltip="true"
      >
  </el-table-column> -->

      <el-table-column
        label="调拨单状态"
        align="center"
        prop="status"
        width="120px"
        :show-overflow-tooltip="true"
      >
        <template slot-scope="scope">
          <span class="font-color-blue" v-show="scope.row.status == 1"
            >已交接</span
          >
          <span class="font-color-red" v-show="scope.row.status == 2"
            >未交接</span
          >
        </template>
      </el-table-column>

      <el-table-column
        label="创建时间"
        align="center"
        prop="createTime"
        width="180px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="操作"
        align="center"
        width="180"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:transfer:file:edit']"
            >修改</el-button
          >
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:transfer:file:remove']"
            >删除</el-button
          >

          <el-button
            v-show="scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-plus"
            @click="handleAddChildren(scope.row)"
            v-hasPermi="['system:transfer:file:add']"
            >新增</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改参数配置对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      @close="cancel"
      append-to-body
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              class="required_red_star"
              label="交易明细"
              prop="sellContracCode"
            >
              <el-input
                placeholder="请选择合同交易明细"
                disabled
                v-model="form.sellContracCode"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChoosePayment"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>

          <el-col :span="12" v-show="showFlag">
            <el-form-item
              class="required_red_star"
              label="剩余数量"
              prop="notPayAmount"
            >
              <el-input v-model="form.notPayAmount" disabled />
            </el-form-item>
          </el-col>
        </el-row>

        <div v-show="showFlag">
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="站点名称">
                <el-input v-model="payment.siteName" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="产品名称">
                <el-input v-model="payment.productName" disabled />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="客户名称" prop="enterpriseName">
                <el-input v-model="payment.enterpriseName" disabled />
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="子公司">
                <el-input v-model="payment.orgName" disabled />
              </el-form-item>
            </el-col>
          </el-row>

          <!-- <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="交易总金额">
                <el-input v-model="payment.totalMoney" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="预收金额">
                <el-input v-model="form.advanceAmount" disabled />
              </el-form-item>
            </el-col>
          </el-row> -->

          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="成交数量">
                <el-input v-model="payment.amountTem" disabled />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="成交价格">
                <el-input v-model="payment.priceTem" disabled />
              </el-form-item>
            </el-col>
          </el-row>
        </div>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="调拨数量" prop="amount">
              <el-input-number
                class="width-100"
                v-model="form.amount"
                :precision="2"
                :step="0.1"
                :max="10000000"
                :min="0"
              ></el-input-number>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="预收金额(元)" prop="advanceAmount">
              <el-input-number
                class="width-100"
                v-model="form.advanceAmount"
                :precision="2"
                :step="0.1"
                :max="100000"
                :min="0"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="调拨开始日期" prop="transferLimitStart">
              <el-date-picker
                class="width-100"
                v-model="form.transferLimitStart"
                value-format="yyyy-MM-dd HH:mm:ss"
                type="datetime"
                placeholder="选择调拨开始日期"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="调拨结束日期" prop="transferLimitEnd">
              <el-date-picker
                class="width-100"
                value-format="yyyy-MM-dd HH:mm:ss"
                v-model="form.transferLimitEnd"
                type="datetime"
                placeholder="选择调拨结束日期"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="挂车牌号" prop="trailerNumber">
              <el-input
                maxlength="10"
                v-model="form.trailerNumber"
                placeholder="请输入挂车牌号"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="车牌号" prop="carNumber">
              <el-input
                v-model="form.carNumber"
                maxlength="10"
                placeholder="请输入车牌号"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="装车序号" prop="loadNumber">
              <el-input
                maxlength="10"
                v-model="form.loadNumber"
                placeholder="请输入装车序号"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="承运单位" prop="transportOrg">
              <el-input
                maxlength="20"
                v-model="form.transportOrg"
                placeholder="请输入承运单位"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="联系人" prop="contactName">
              <el-input
                v-model="form.contactName"
                maxlength="10"
                placeholder="请输入联系人姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="联系电话" prop="contactTel">
              <el-input
                v-model="form.contactTel"
                maxlength="11"
                placeholder="请输入联系电话"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="押运员" prop="supercargoName">
              <el-input
                maxlength="10"
                v-model="form.supercargoName"
                placeholder="请输入押运员姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="押运员电话" prop="supercargoTel">
              <el-input
                maxlength="11"
                v-model="form.supercargoTel"
                placeholder="请输入押运员电话"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="身份证号" prop="idCardNo">
              <el-input
                v-model="form.idCardNo"
                maxlength="18"
                placeholder="请输入身份证号"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="销售人员" prop="saleUserName">
              <el-input
                placeholder="请选择销售人员"
                disabled
                v-model="form.saleUserName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseEmployee('xs')"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="制单时间" prop="makeTime">
              <el-date-picker
                class="width-100"
                value-format="yyyy-MM-dd HH:mm:ss"
                v-model="form.makeTime"
                type="datetime"
                placeholder="选择制单时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="审核人员" prop="examineUserName">
              <el-input
                placeholder="请选择审核人员"
                disabled
                v-model="form.examineUserName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseEmployee('sh')"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="财务人员" prop="financeUserName">
              <el-input
                placeholder="请选择财务人员"
                disabled
                v-model="form.financeUserName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseEmployee('cw')"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="额度确认人" prop="linesConfirmUserName">
              <el-input
                placeholder="请选择额度确认人"
                disabled
                v-model="form.linesConfirmUserName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseEmployee('ed')"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="remarks">
              <el-input
                v-model="form.remarks"
                maxlength="100"
                type="textarea"
                placeholder="请输入备注"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="凭证附件">
              <el-upload
                class="upload-demo"
                ref="upload"
                :action="uploadAction"
                :headers="headers"
                :on-remove="handleRemove"
                :on-exceed="handleExceed"
                :on-success="handleFileSuccess"
                :before-upload="beforeAvatarUpload"
                :before-remove="beforeRemove"
                :on-preview="handlePreview"
                :file-list="fileList"
                multiple
                :limit="3"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .png,.jpeg,.pdf"
              >
                <el-button slot="trigger" size="small" type="primary"
                  >附件上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  只能上传文件、图片，且单文件不超过10M
                </div>
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 选择交易明细 -->
    <el-dialog
      :visible.sync="choosePaymentOpen"
      width="80%"
      append-to-body
      title="交易明细列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-contract-payment
        :transportType="1"
        @closeWindow="closeWindow"
        @choosePayment="choosePayment"
        v-if="choosePaymentOpen"
        ref="chooseContractPayment"
      ></choose-contract-payment>
    </el-dialog>

    <!-- 选择审核人员 -->
    <el-dialog
      :visible.sync="chooseEmployeeOpen"
      width="70%"
      append-to-body
      title="员工列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-employee
        @closeEmployeeWindow="closeEmployeeWindow"
        @chooseEmployee="chooseEmployee"
        v-if="chooseEmployeeOpen"
        ref="chooseEmployee"
      ></choose-employee>
    </el-dialog>
  </div>
</template>

<script>
import {
  listFile,
  getFile,
  delFile,
  addFile,
  updateFile,
  exportFile,
  getPaymentTotal,
  getTransferById,
} from "@/api/sales/transferFile";

import { delProof } from "@/api/sales/proof";

import chooseContractPayment from "../../utils/chooseContractPayment";
import chooseEmployee from "../../utils/chooseEmployee";

import { getToken } from "@/utils/auth";
import axios from "axios";

export default {
  name: "transferFile",
  components: { chooseContractPayment, chooseEmployee },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 参数表格数据
      transFileList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 类型数据字典
      statusOptions: [],

      choosePaymentOpen: false,
      showFlag: false,
      payment: {},

      fileList: [],
      fileIds: [],

      chooseEmployeeOpen: false,
      employFlag: "",

      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/sales/proof/upload",

      // 日期范围
      dateRange: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productName: undefined,
        enterpriseName: undefined,
        status: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        trailerNumber: [
          { required: true, message: "挂车牌号不能为空", trigger: "blur" },
        ],
        carNumber: [
          { required: true, message: "车牌号不能为空", trigger: "blur" },
        ],
        amount: [{ required: true, message: "数量不能为空", trigger: "blur" }],

        contactName: [
          { required: true, message: "联系人不能为空", trigger: "blur" },
        ],
        contactTel: [
          {
            required: true,
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
        ],

        transportOrg: [
          { required: true, message: "承运单位不能为空", trigger: "blur" },
        ],

        makeTime: [
          { required: true, message: "制单时间不能为空", trigger: "blur" },
        ],

        transferLimitStart: [
          { required: true, message: "调拨开始日期不能为空", trigger: "blur" },
        ],

        transferLimitEnd: [
          { required: true, message: "调拨结束日期不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getDicts("transfer_file_status").then((response) => {
      this.statusOptions = response.data;
    });
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listFile(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.transFileList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },
    // 参数系统内置字典翻译
    statusFormat(row, column) {
      return this.selectDictLabel(this.statusOptions, row.status);
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.$refs.upload.clearFiles();
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        amount: 0,
        totalMoney: 0,
        advanceAmount: 0,
        notPayAmount: 0,
      };
      this.payment = {};
      this.fileList = [];
      this.fileIds = [];
      this.showFlag = false;
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "新增调拨通知单";
    },
    handleAddChildren(row) {
      getFile(row.transferId).then((response) => {
        this.form = response.data;
        this.form.relateTransferCode = this.form.transferId;
        this.form.transferId = undefined;
        this.payment = response.tbHtContractDetail;
        this.payment.amount = this.payment.amount.toFixed(2);
        this.payment.price = this.payment.price.toFixed(8);
        this.form.sellContracCode =
          response.tbHtContractDetail.sellContractCode;
        this.showFlag = true;
        this.open = true;
        this.title = "新增调拨通知单";
      });
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.transferId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const transferId = row.transferId || this.ids;
      getTransferById(transferId).then((response) => {
        this.form = response.data;
        this.payment = response.tbHtContractDetail;
        this.form.sellContracCode =
          response.tbHtContractDetail.sellContractCode;

        response.tbCommonProofList.forEach((item) => {
          this.fileList.push({
            id: item.proofId,
            name: item.proofName,
            url: item.filePath,
          });
          this.fileIds.push(item.proofId);
        });
        this.showFlag = true;
        this.open = true;
        this.title = "修改调拨通知单";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.amount == 0) {
            this.msgError("调拨数量不能为0");
            return false;
          }
          this.form.sellContractId = this.payment.sellContractId;
          this.form.productId = this.payment.productId;
          this.form.customeId = this.payment.customeId;
          this.form.orgId = this.payment.orgId;
          this.form.siteId = this.payment.siteId;
          this.form.status = 2;

          this.form.codeTem =
            "DB-" +
            this.payment.orgPrefix +
            "-" +
            this.payment.sitePrefix +
            "-" +
            new Date().getFullYear();

          if (!this.form.sellContractId) {
            this.msgError("请选择交易明细");
            return false;
          }

          this.form.fileList = this.fileIds;

          if (this.form.transferId != undefined) {
            updateFile(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            if (
              (this.payment.advancePaymentRate * this.payment.totalMoney) /
                100 >
              this.form.totalMoney
            ) {
              this.msgError("预收款金额小于产品规定比例金额，请充值");
              return false;
            }

            addFile(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const idList = row.transferId || this.ids;
      this.$confirm("是否确认删除调拨单?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delFile(idList);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有参数数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportFile(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },

    toChoosePayment() {
      this.choosePaymentOpen = true;
    },

    closeWindow() {
      this.choosePaymentOpen = false;
    },

    choosePayment(payment) {
      this.form.sellContracCode = payment.sellContractCode;
      this.payment = payment;
      this.$refs.form.validateField("sellContracCode");
      this.showFlag = true;
      let _this = this;
      getPaymentTotal(payment.sellContractId).then((response) => {
        if (response.code == 200) {
          _this.form.totalMoney = response.data;
          this.form.notPayAmount = (
            payment.amount -
            payment.payAmount -
            response.totalAmount
          ).toFixed(2);
          if (payment.advancePayment > response.data){
            _this.msgError("预付款金额小于产品规定比例金额，请充值");
          }
        }
      });
    },

    toChooseEmployee(value) {
      this.employFlag = value;
      this.chooseEmployeeOpen = true;
    },

    chooseEmployee(employee) {
      if (this.employFlag == "xs") {
        // 选择销售人员
        this.form.saleUserId = employee.employeeId;
        this.form.saleUserName = employee.realName;
      } else if (this.employFlag == "ed") {
        // 选择额度确认人员
        this.form.linesConfirmUserId = employee.employeeId;
        this.form.linesConfirmUserName = employee.realName;
      } else if (this.employFlag == "cw") {
        //选择财务人员
        this.form.financeUserId = employee.employeeId;
        this.form.financeUserName = employee.realName;
      } else {
        // 选择审核人员
        this.form.examineUserId = employee.employeeId;
        this.form.examineUserName = employee.realName;
      }
    },

    closeEmployeeWindow() {
      this.chooseEmployeeOpen = false;
    },

    handleRemove(file, fileList) {
      if (file && file.status === "success") {
        let fileId = file.id;
        if (!fileId) {
          fileId = file.response.proofId;
        }
        delProof(fileId).then((response) => {
          this.fileIds.splice(this.fileIds.indexOf(fileId), 1);
          this.msgSuccess("删除成功");
        });
      }
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },

    handleFileSuccess(res, file) {
      if (res.proofId) {
        this.fileIds.push(file.response.proofId);
        this.$message.success("上传成功！");
      } else {
        this.$message.error("上传失败！");
      }
    },

    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 100;
      if (!isLt2M) {
        this.$message.error("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },

    beforeRemove(file, fileList) {
      if (file && file.status === "success") {
        return this.$confirm(`确定删除 ${file.name}？`);
      }
    },

    handlePreview(file, fileList) {
      let fileId = file.id;
      if (!fileId) {
        fileId = file.response.proofId;
      }
      var fileName = file.name;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API + "/sales/proof/downLoadFile/" + fileId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },
    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },
  },
};
</script>