<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="供货方" prop="supplierName">
        <el-input
          v-model="queryParams.supplierName"
          placeholder="请输入供货方"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="购货方" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入购货方"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品类型" prop="productType">
        <el-select
          v-model="queryParams.productType"
          placeholder="请选择产品类型"
          clearable
          size="small"
        >
          <el-option
            v-for="dict in productTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="日期">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>采购汇总信息列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5" class="count_total">
            合计：{{ totalMoney }}元
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:purchase:count:export']"
              >导出</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="purchaseList">
      <el-table-column
        label="供货方"
        align="center"
        prop="supplierName"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="购货方"
        align="center"
        prop="orgName"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品类型"
        :formatter="productTypeFormatter"
        align="center"
        width="150px"
        fixed
        prop="productType"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        width="200px"
        fixed
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="运输方式"
        align="center"
        prop="transportType"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="日期"
        align="center"
        prop="handoverTime"
        width="200px"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="采购量"
        align="center"
        prop="purchaseAmount"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="计量单位"
        align="center"
        prop="productUnit"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="采购价(元)"
        align="center"
        width="150px"
        prop="price"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="金额(元)"
        align="center"
        width="150px"
        prop="totalMoney"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import {
  getPurchaseList,
  getPurchaseExport,
  getPurchaseTotalMoney,
} from "@/api/sales/count";

export default {
  name: "purchaseCount",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      // 参数表格数据
      purchaseList: [],
      totalMoney: "0",
      productTypeOptions: [],
      // 日期范围
      dateRange: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productType: undefined,
        productName: undefined,
        supplierName: undefined,
        orgName: undefined,
      },
    };
  },
  created() {
    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });

    this.getList();
    this.getPurchaseTotalMoney();
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true;
      getPurchaseList(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.purchaseList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },

    productTypeFormatter(row, column) {
      return this.selectDictLabel(this.productTypeOptions, row.productType);
    },

    getPurchaseTotalMoney() {
      getPurchaseTotalMoney(
        this.addDateRange(this.queryParams, this.dateRange)
      ).then((response) => {
        this.totalMoney = response.data;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
      this.getPurchaseTotalMoney();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },

    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出采购汇总表?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return getPurchaseExport(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>