<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="110"
      class="query-form el-form-tool"
    >
      <el-form-item label="政策定价编号" prop="policyCode">
        <el-input
          v-model="queryParams.policyCode"
          placeholder="请输入政策定价编号"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">政策定价标段列表</h3>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              :disabled="single"
              @click="handleUpdate"
              v-hasPermi="['policy:policy:edit']"
            >修改</el-button>
          </el-col>
          <el-col :span="12">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['policy:policy:remove']"
            >删除</el-button>
          </el-col>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          width="100%"
          v-loading="loading"
          :data="policyList"
          class="custom-table"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55" align="center" />
          <el-table-column label="政策定价招标ID" align="center" prop="policyId" />
          <el-table-column label="政策定价编号" align="center" prop="policyCode" />
          <el-table-column label="标题" align="center" prop="policyTitle" />
          <el-table-column label="政策定价开始日期" align="center" prop="policyStartDate" width="180">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.policyStartDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="政策定价结束日期" align="center" prop="policyEndDate" width="180">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.policyEndDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
        </el-table>
        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>
    <!-- 添加或修改政策定价对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="860px"
      :destroy-on-close="true"
      append-to-body
      custom-class="edit-form-dialog"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="站点信息" class="required_red_star" prop="supplierName">
              <el-input placeholder="请选择站点信息" disabled v-model="form.supplierName">
                <el-button slot="append" class="login-icon" @click="toChooseSupplier">选择</el-button>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div class="el-table-container">
        <div class="el-table-header">
          <h3 class="title">客户列表</h3>
        </div>
        <div class="el-table-panel">
          <el-table
            border
            stripe
            :data="tableData"
            tooltip-effect="dark"
            @selection-change="handleSelection"
          >
            <el-table-column type="selection" width="50"></el-table-column>
            <el-table-column label="公司名称" :show-overflow-tooltip="true">
              <template slot-scope="scope">{{ scope.row.enterpriseName }}</template>
            </el-table-column>
            <el-table-column prop="legalRealName" label="客户名称"></el-table-column>
            <el-table-column label="数量(吨/方)" align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.cusAmount" :controls="false" size="small" />
              </template>
            </el-table-column>
            <el-table-column label="金额(万元)" align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.cusPrice" :controls="false" size="small" />
              </template>
            </el-table-column>
            <el-table-column label="时间" align="center">
              <template slot-scope="scope">
                <el-date-picker
                  v-model="scope.row.cusDate"
                  type="datetime"
                  placeholder="*年*月*日"
                  format="yyyy-MM-dd"
                  value-format="yyyy-MM-dd"
                  class="el_min"
                  :picker-options="pickerOptions1"
                  style="width: 150px;"
                ></el-date-picker>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <div class="autotable"></div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 客户信息 -->
    <el-dialog
      :visible.sync="supplierOpen"
      width="70%"
      append-to-body
      title="供货方列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-supplier
        @closeSupplierWindow="closeSupplierWindow"
        @chooseSupplier="chooseSupplier"
        v-if="supplierOpen"
        ref="chooseSupplier"
      ></choose-supplier>
    </el-dialog>
  </div>
</template>

<script>
import {
  listPolicy,
  getPolicy,
  delPolicy,
  addPolicy,
  updatePolicy,
  addTJ,
  getCus
} from "@/api/jj/policy/policy";
import chooseSupplier from "../../utils/choosecom";
export default {
  name: "Policy",
  components: {
    chooseSupplier
  },
  data() {
    return {
      // 时间校验
      pickerOptions1: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 政策定价表格数据
      policyList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        policyCode: null,
        policyTitle: null,
        policyStartDate: null,
        policyEndDate: null,
        policyPrice: null,
        policyAmount: null,
        amountIncrease: null,
        productId: null,
        orgId: null,
        siteId: null,
        displayStartDate: null,
        priceApplyId: null,
        status: null,
        createUserId: null,
        policyNotice: null
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        policyCode: [{
          required: true,
          message: "政策定价编号不能为空",
          trigger: "blur"
        }],
        createUserId: [{
          required: true,
          message: "创建人ID不能为空",
          trigger: "blur"
        }],
        createTime: [{
          required: true,
          message: "创建时间不能为空",
          trigger: "blur"
        }],
        delFlag: [{
          required: true,
          message: "删除标志不能为空",
          trigger: "blur"
        }],
      },
      // 站点信息
      supplierOpen: false,
      siteData: {},
      // 客户信息
      tableData: []
    };
  },
  created() {
    this.getList();
    getCus().then(res => {
      // console.log(res)
      this.tableData = res.data;
    })
  },
  methods: {
    // 客户信息
    handleSelection(val) {
      // console.log(val);
      this.siteData.jipolicyCus = val;
    },
    // 站点信息
    toChooseSupplier() {
      this.supplierOpen = true;
    },
    closeSupplierWindow() {
      this.supplierOpen = false;
    },

    chooseSupplier(supplier) {
      this.form.supplierName = supplier.sysSite.siteName;
      // this.form.supplierId = supplier.supplierId;
      // console.log(supplier);
      this.siteData = supplier;
    },
    /** 查询政策定价列表 */
    getList() {
      this.loading = true;
      listPolicy(this.queryParams).then(response => {
        this.policyList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        policyId: null,
        policyCode: null,
        policyTitle: null,
        policyStartDate: null,
        policyEndDate: null,
        policyPrice: null,
        policyAmount: null,
        amountIncrease: null,
        productId: null,
        orgId: null,
        siteId: null,
        displayStartDate: null,
        priceApplyId: null,
        status: 0,
        createUserId: null,
        createTime: null,
        updateTime: null,
        delFlag: null,
        policyNotice: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.policyId)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加政策定价";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const policyId = row.policyId || this.ids
      getPolicy(policyId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改政策定价";
      });
    },
    /** 提交按钮 */
    submitForm() {
      addTJ(this.siteData).then(response => {
        console.log(response);
        if (response.code == 200) {
          this.msgSuccess("新增成功");
          this.open = false;
        }
      })

    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const policyIds = row.policyId || this.ids;
      this.$modal.confirm('是否确认删除政策定价编号为"' + policyIds + '"的数据项？').then(function () {
        return delPolicy(policyIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => { });
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('policy/policy/export', {
        ...this.queryParams
      }, `policy_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
