<template>
  <div class="app-container">
    <el-form
      ref="queryForm"
      :model="queryParams"
      :inline="true"
      v-show="showSearch"
      class="el-form-tool"
    >
    <!-- <el-form-item label="申请单编号" prop="applyCode">
        <el-input
          v-model="queryParams.applyCode"
          placeholder="请输入申请单编号"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
    </el-form-item> -->
    <el-form-item label="产品类型" prop="productyep">
        <el-select v-model="queryParams.productyep" placeholder="产品名称" clearable size="small" @change="add">
          <el-option
            v-for="dict in productOptiony"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productId">
        <el-select v-model="queryParams.productId" placeholder="产品名称" clearable size="small">
          <el-option
            v-for="dict in productOptionys"
            :key="dict.productId"
            :label="dict.name"
            :value="dict.productId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="类别" prop="priceType">
        <el-select v-model="queryParams.priceType" placeholder="请选择类别" clearable size="small">
          <el-option
            v-for="dict in pri_type"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <!-- <el-form-item>
        <el-form-item label="时间" prop="executeStartDate">
            <el-date-picker
          value-format="yyyy-MM-dd"
          format="yyyy-MM-dd"
          v-model="queryParams.executeStartDate"
          type="daterange"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间">
        </el-date-picker>
          </el-form-item> -->
          <el-form-item label="时间">
            <el-date-picker
              v-model="dateRange"
              size="small"
              style="width: 240px"
              value-format="yyyy-MM-dd"
              :picker-options="pickerBeginDateBefore"
              type="daterange"
              range-separator="-"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      <!-- </el-form-item> -->
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">成交价格列表</h3>
         <el-row :gutter="10">
          <el-button
            type="warning"
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['jj:account:export']"
          >导出</el-button>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="accountList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column label="招标编号" align="center" prop="applyCode" width="180"  fixed/>
          <el-table-column label="子分公司名称" align="center" prop="childrenOrg.orgFullName" width="160"  fixed/>
          <el-table-column label="站点名称" align="center" prop="childrenSite.siteName" width="160"  fixed/>
          <el-table-column
            label="产品类型"
            align="center"
            :formatter="getproType"
            width="120px"
          />
          <el-table-column label="产品名称" align="center" prop="childrenPro.name" width="190" />
          <el-table-column label="客户编号" align="center" prop="childrenCus.customeCode" width="140"/>
          <el-table-column label="客户名称" align="center" prop="childrenCus.enterpriseName" width="140"/>
          <el-table-column label="成交时间" align="center" prop="executeStartDate" width="140">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.executeStartDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="类别" align="center" :formatter="priType"  width="190"/>
          <el-table-column label="数量(吨 | 方)" align="center" prop="amount" />
          <el-table-column label="成交价格(元)" align="center" prop="dealPrice" width="120"/>
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="120" fixed="right" >
            <template slot-scope="scope">
              <el-button size="mini" type="text" icon="el-icon-view" @click="toInfo(scope.row)" v-if="scope.row.priceType!=9" v-hasPermi="['jj:account:query']">详情</el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          background
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>
    <!-- 查看详情弹窗  -->
    <Infor ref="infor" />
  </div>
</template>

<script>
import moment from "moment";

import {
  listAccount,
  listAccount_2,
  getAccount,
  delAccount,
  addAccount,
  updateAccount,
  export_2
} from "@/api/jj/account";
import {
  getProductInfo
} from "@/api/jj/priceApply";
import Infor from './infor'

export default {
  name: "Account",
  components: {
    Infor
  },
  data() {
    return {
      period: '',
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 价格台账表格数据
      accountList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productId: null,
        productyep:null,
        siteId: null,
        coustomId: null,
        executeStartDate: null,
        executeEndDate: null,
        priceType: null,
        amount: null,
        price: null,
        incrementPrice: null,
        orignalDocNo: null,
        orgId: null,
        subsidiary: null,
        createUserId: null,
        type:2,
        applyCode: null,

      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        productId: [{
          required: true,
          message: "产品ID不能为空",
          trigger: "blur"
        }],
        createUserId: [{
          required: true,
          message: "创建人ID不能为空",
          trigger: "blur"
        }],
        createTime: [{
          required: true,
          message: "创建时间不能为空",
          trigger: "blur"
        }],
        delFlag: [{
          required: true,
          message: "删除标志不能为空",
          trigger: "blur"
        }]
      },
      productOptions: [],
      productOption: [],
      productOptiony:[],
      productOptionys:[],
      site_type: [],
      cous_type: [],
      pri_type: [],

       // 日期
      pickerBeginDateBefore: {
        onPick: ({ maxDate, minDate }) => {
        maxDate=  moment(new Date(maxDate)).format("yyyy-MM-DD");
        minDate= moment(new Date(minDate)).format("yyyy-MM-DD");

        this.queryParams.executeStartDate = minDate;
        this.queryParams.executeEndDate = maxDate;

        },
      },
      dateRange: "",
    };
  },
  created() {
    // this.$tab.refreshPage();
    this.getList();
    // 站点类别名称
    getProductInfo().then(response => {
      this.productOption = response.data.product;
       this.productOptionys=this.productOption
    })
    // this.getDicts("sys_product_jjList").then((response) => {
    //   this.productOption = response.data;
    //   this.productOptionys=this.productOption
    // });
    // 站点类别名称
    this.getDicts("sys_site_type").then((response) => {
      this.site_type = response.data;
    });
    // 客户类型
    this.getDicts("sales_custome_type").then((response) => {
      this.cous_type = response.data;
    });

    // 类别
    this.getDicts("jg_price_deal_account_price_type").then((response) => {
      this.pri_type = response.data;
    });
    // this.priType(e);
     this.getDicts("sys_product_type").then((response) => {
      this.productOptiony = response.data;
    });
  },
  methods: {
     add() {
      this.productOptionys=[]
      if (this.queryParams.productyep != "") {
         for(let temp of this.productOption){
                if(temp.type==this.queryParams.productyep){
                  this.productOptionys.push(temp)
                }
          }
      } else {
        this.productOptionys=this.productOption
        this.queryParams.productId = "";
      }
    },
   getproType(e) {
      for (var i = 0; i < this.productOptiony.length; i++) {
        if (this.productOptiony[i].dictValue == e.childrenPro.type) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptiony[i].dictLabel;
        }
      }
    },
    // 站点字典
    siteType(e) {
      for (var i = 0; i < this.site_type.length; i++) {
        if (this.site_type[i].dictValue == e.siteId) { //dictValue，dictLabel保持和上面定义一致
          return this.site_type[i].dictLabel;
        }
      }
    },
    // 类别
    priType(e) {
      for (var i = 0; i < this.pri_type.length; i++) {
        if (this.pri_type[i].dictValue == e.priceType) { //dictValue，dictLabel保持和上面定义一致
          return this.pri_type[i].dictLabel;
        }
      }
    },
    // 客户类型
    cousType(e) {
      for (var i = 0; i < this.cous_type.length; i++) {
        if (this.cous_type[i].dictValue == e.coustomId) { //dictValue，dictLabel保持和上面定义一致
          return this.cous_type[i].dictLabel;
        }
      }
    },
    /** 查询价格台账列表 */
    getList() {
      this.loading = true;
      listAccount_2(this.queryParams).then(response => {
        this.accountList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 跳转详情页
    toInfo(data) {
      this.$refs.infor.openModel(data.priceAccountId)
    },
    // 表单重置
    reset() {
       this.form = {
        priceAccountId: null,
        productId: null,
        childrenOrg: null,
        childrenSite: null,
        childrenPro: null,
        siteId: null,
        coustomId: null,
        executeStartDate: null,
        executeEndDate: null,
        priceType: null,
        amount: null,
        price: null,
        incrementPrice: null,
        orignalDocNo: null,
        orgId: null,
        subsidiary: null,
        createUserId: null,
        createTime: null,
        updateTime: null,
        delFlag: null,
        applyCode: null

      };
      this.resetForm("form");
      this.tableData = [{
        productId: "",
        applyCode: "",
        siteId: "",
        executeStartDate: "",
        executeEndDate: "",
        priceType: ""
      }];
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.queryParams={
        pageNum: 1,
        pageSize: 10,
        productId: null,
        productyep:null,
        siteId: null,
        coustomId: null,
        executeStartDate: null,
        executeEndDate: null,
        priceType: null,
        amount: null,
        price: null,
        incrementPrice: null,
        orignalDocNo: null,
        orgId: null,
        subsidiary: null,
        createUserId: null,
        type:2,
        applyCode: null,

      },
      this.resetForm("queryForm");
      this.handleQuery();
      this.dateRange = "";
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.priceAccountId)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加价格台账";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const priceAccountId = row.priceAccountId || this.ids
      getAccount(priceAccountId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改价格台账";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.priceAccountId != null) {
            updateAccount(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addAccount(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const priceAccountIds = row.priceAccountId || this.ids;
      this.$modal.confirm('是否确认删除价格台账编号为"' + priceAccountIds + '"的数据项？').then(function () {
        return delAccount(priceAccountIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => { });
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有成交价格台账数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(function () {
          return export_2(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () { });
    }
  }
};
</script>

<style type="text/css">
.item .el-form-item__label {
  font-weight: normal;
}

.dis {
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}
</style>
