<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      class="el-form-tool"

    >
      <el-form-item label="申请单编号" prop="applyCode">
        <el-input
          v-model="queryParams.applyCode"
          placeholder="请输入申请单编号"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="产品类型" prop="productyep">
        <el-select v-model="queryParams.productyep" placeholder="产品类型" clearable size="small" @change="add">
          <el-option
            v-for="dict in productOptiony"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productId">
        <el-select v-model="queryParams.productId" placeholder="产品名称" clearable size="small">
          <el-option
            v-for="dict in productOptionys"
            :key="dict.productId"
            :label="dict.name"
            :value="dict.productId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="类别" prop="priceType">
        <el-select v-model="queryParams.priceType" placeholder="请选择类别" clearable size="small">
          <el-option
            v-for="dict in pri_type"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="时间">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd"
          :picker-options="pickerBeginDateBefore"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>
      <!-- <el-form-item label="时间" prop="executeStartDate">
        <el-date-picker
        value-format="yyyy-MM-dd"
        format="yyyy-MM-dd"
      v-model="queryParams.executeStartDate"
      type="daterange"
      range-separator="至"
      start-placeholder="开始时间"
      end-placeholder="结束时间">
    </el-date-picker>
      </el-form-item> -->
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">基础价格列表</h3>
        <el-row :gutter="10">
          <el-button
            type="warning"
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['jj:account:export']"
          >导出</el-button>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="accountList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column label="申请单编号" align="center" prop="applyCode" width="200" fixed/>
          <el-table-column label="子分公司名称" align="center"  prop="childrenOrg.orgFullName" width="160" fixed/>
          <el-table-column label="站点名称" align="center"  prop="childrenSite.siteName" width="160" fixed/>
           <el-table-column
            label="产品类型"
            align="center"
            :formatter="getproType"
            width="120px"
          />
          <el-table-column label="产品名称"  prop="childrenPro.name" align="center" width="100"/>
         
          <el-table-column label="执行开始时间" align="center" prop="executeStartDate" width="110">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.executeStartDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="执行结束时间" align="center" prop="executeEndDate" width="110">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.executeEndDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="类别" align="center" :formatter="priType" width="140" />
          <el-table-column label="数量(吨)" align="center" prop="amount" />
          <el-table-column label="一级审批价格(元)" align="center" prop="applyPrice"  />
          <el-table-column label="基础价格(元)" align="center" prop="basePrice"   />
         <!-- <el-table-column label="审批人"  align="center"  width="100"  >
            <template slot-scope="scope">
              <div v-if="scope.row.approverName!=null">{{scope.row.approverName}}</div>
              <div v-if="scope.row.approverName==null">自动提交</div>
            </template>
          </el-table-column> -->
          <!-- <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="120" fixed="right" >
            <template slot-scope="scope">
              <el-button size="mini" type="text" icon="el-icon-view" @click="toInfo(scope.row)">详情</el-button>
            </template>
          </el-table-column> -->
        </el-table>
        <pagination
          background
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>
    <!-- 添加或修改价格台账对话框 -->
    <el-dialog :title="title" :visible.sync="open" width append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="产品名称" prop="productId">
          <el-input v-model="form.productId" placeholder="请输入产品名称" />
        </el-form-item>
        <el-form-item label="站点名称" prop="siteId">
          <el-input v-model="form.siteId" placeholder="请输入站点名称" />
        </el-form-item>
        <el-form-item label="客户名称" prop="coustomId">
          <el-input v-model="form.coustomId" placeholder="请输入客户名称" />
        </el-form-item>
        <el-form-item label="执行开始时间" prop="executeStartDate" label-width="100px">
          <el-date-picker
            clearable
            size="small"
            v-model="form.executeStartDate"
            type="datetime"
            format="yyyy-MM-dd HH:mm"
            placeholder="选择执行开始时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="执行结束时间" prop="executeEndDate" label-width="100px">
          <el-date-picker
            clearable
            size="small"
            v-model="form.executeEndDate"
            type="datetime"
            format="yyyy-MM-dd HH:mm"
            placeholder="选择执行结束时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="数量" prop="amount">
          <el-input v-model="form.amount" placeholder="请输入数量" />
        </el-form-item>
        <el-form-item label="申请价格" prop="applyPrice">
          <el-input v-model="form.applyPrice" placeholder="请输入申请价格" />
        </el-form-item>
        <el-form-item label="基础价格" prop="basePrice">
          <el-input v-model="form.basePrice" placeholder="请输入基础价格" />
        </el-form-item>
        <el-form-item label="成交价格" prop="dealPrice">
          <el-input v-model="form.dealPrice" placeholder="请输入成交价格" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
     <!-- 查看详情弹窗  -->
    <!-- <Infor ref="infor" /> -->
  </div>
</template>

<script>
import moment from "moment";

import {
  listAccount,
  getAccount,
  delAccount,
  addAccount,
  updateAccount,
  export_1
} from "@/api/jj/account";
import {
  getProductInfo
} from "@/api/jj/priceApply";
import Infor from './infor'

export default {
  name: "Account",
  components: {
    Infor
  },
  data() {
    return {
      period: '',
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 价格台账表格数据
      accountList: [],
     
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productId: null,
        productType:null,
        priceAccountId:null,
        childrenOrg: null,
        childrenSite: null,
        childrenPro: null,
        siteId: null,
        coustomId: null,
        executeStartDate: null,
        executeEndDate: null,
        priceType: null,
        amount: null,
        price: null,
        incrementPrice: null,
        orignalDocNo: null,
        orgId: null,
        subsidiary: null,
        createUserId: null,
        type : 1,
        applyCode: null,
      },
      // 表单参数
      form: {},
      
      // 表单校验
      rules: {
        productId: [{
          required: true,
          message: "产品ID不能为空",
          trigger: "blur"
        }],
        createUserId: [{
          required: true,
          message: "创建人ID不能为空",
          trigger: "blur"
        }],
        createTime: [{
          required: true,
          message: "创建时间不能为空",
          trigger: "blur"
        }],
        delFlag: [{
          required: true,
          message: "删除标志不能为空",
          trigger: "blur"
        }]
      },
      productOptions: [],
      productOption: [],
      productOptiony:[],
      productOptionys:[],
      site_type: [],
      cous_type: [],
      pri_type: [],
      apply_type:[],
      // 日期
      pickerBeginDateBefore: {
        onPick: ({ maxDate, minDate }) => {
        maxDate=  moment(new Date(maxDate)).format("yyyy-MM-DD");
        minDate= moment(new Date(minDate)).format("yyyy-MM-DD");
          this.queryParams.executeStartDate = minDate;
          this.queryParams.executeEndDate = maxDate;

        },
      },
      dateRange: "",
    };
  },
  created() {
    // this.$tab.refreshPage();
    this.getList();
    // 站点类别名称
    getProductInfo().then(response => {
      this.productOption = response.data.product;
       this.productOptionys=this.productOption
    })
    // this.getDicts("sys_product_jjList").then((response) => {
    //   this.productOption = response.data;
    //    this.productOptionys=this.productOption
    // });
    this.getDicts("sys_site_type").then((response) => {
      this.site_type = response.data;
    });
    // 客户类型
    this.getDicts("sales_custome_type").then((response) => {
      this.cous_type = response.data;
    });

    // 类别
    this.getDicts("jg_price_account_price_type").then((response) => {
      this.pri_type = response.data;
    });
    this.getDicts("sys_product_type").then((response) => {
      this.productOptiony = response.data;
    });
  },
  methods: {
     add() {
      this.productOptionys=[]
      if (this.queryParams.productyep != "") {
         for(let temp of this.productOption){
                if(temp.type==this.queryParams.productyep){
                  this.productOptionys.push(temp)
                }
          }
      } else {
        this.productOptionys=this.productOption
        this.queryParams.productId = "";
      }
    },
    getproType(e) {
      for (var i = 0; i < this.productOptiony.length; i++) {
        if (this.productOptiony[i].dictValue == e.childrenPro.type) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptiony[i].dictLabel;
        }
      }
    },
    // 站点字典
    siteType(e) {
      for (var i = 0; i < this.site_type.length; i++) {
        if (this.site_type[i].dictValue == e.siteId) { //dictValue，dictLabel保持和上面定义一致
          return this.site_type[i].dictLabel;
        }
      }
    },
    // 类别
    priType(e) {
      for (var i = 0; i < this.pri_type.length; i++) {
        if (this.pri_type[i].dictValue == e.priceType) { //dictValue，dictLabel保持和上面定义一致
          return this.pri_type[i].dictLabel;
        }
      }
    },
    // 客户类型
    cousType(e) {
      for (var i = 0; i < this.cous_type.length; i++) {
        if (this.cous_type[i].dictValue == e.coustomId) { //dictValue，dictLabel保持和上面定义一致
          return this.cous_type[i].dictLabel;
        }
      }
    },
    /** 查询价格台账列表 */
    getList() {
      this.loading = true;
      listAccount(this.queryParams).then(response => {
        this.accountList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 跳转详情页
    toInfo(data) {
      // this.$router.push({
      //   path: '/j_info',
      //   query: {
      //     data: data,
      //   }
      // })
      this.$refs.infor.openModel(data.priceAccountId)
    },
    // 表单重置
    reset() {
      this.form = {
        priceAccountId: null,
        productId: null,
        childrenOrg: null,
        childrenSite: null,
        childrenPro: null,
        siteId: null,
        coustomId: null,
        executeStartDate: null,
        executeEndDate: null,
        priceType: null,
        amount: null,
        price: null,
        incrementPrice: null,
        orignalDocNo: null,
        orgId: null,
        subsidiary: null,
        createUserId: null,
        createTime: null,
        updateTime: null,
        delFlag: null,
        applyCode: null,

      };
      this.resetForm("form");
      this.tableData = [{
        productId: "",
        applyCode: "",
        siteId: "",
        executeStartDate: "",
        executeEndDate: "",
        priceType: ""
      }];
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.queryParams={
        pageNum: 1,
        pageSize: 10,
        productId: null,
        productType:null,
        priceAccountId:null,
        childrenOrg: null,
        childrenSite: null,
        childrenPro: null,
        siteId: null,
        coustomId: null,
        executeStartDate: null,
        executeEndDate: null,
        priceType: null,
        amount: null,
        price: null,
        incrementPrice: null,
        orignalDocNo: null,
        orgId: null,
        subsidiary: null,
        createUserId: null,
        type : 1,
        applyCode: null,
      },
      this.resetForm("queryForm");
      this.handleQuery();
      this.dateRange = ""
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.priceAccountId)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加价格台账";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const priceAccountId = row.priceAccountId || this.ids
      getAccount(priceAccountId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改价格台账";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.priceAccountId != null) {
            updateAccount(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addAccount(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const priceAccountIds = row.priceAccountId || this.ids;
      this.$modal.confirm('是否确认删除价格台账编号为"' + priceAccountIds + '"的数据项？').then(function () {
        return delAccount(priceAccountIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => { });
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有基础价格台账数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(function () {
          return export_1(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () { });
    }
  }

};
</script>

<style type="text/css">
.item .el-form-item__label {
  font-weight: normal;
}
</style>
