<template>
  <el-dialog
    width="60%"
    title="成交价格台账详情"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container">
      <div class="detail-info"  v-if="this.status == 5">
        <el-row class="title inner" >
           <el-col :span="12">
            <span class="label">公司名称：</span>
            <span class="matter">{{org.orgFullName}}</span>
          </el-col>
           <el-col :span="12">
            <span class="label">站点名称：</span>
            <span class="matter">{{org.orgName}}</span>
          </el-col>
        </el-row>
      
        <el-row class="title inner">
          <el-col :span="12">
            <span class="label">产品类型：</span>
            <span class="matter" v-html="getproType(pro)"></span>
          </el-col>
          <el-col :span="12">
            <span class="label">产品名称：</span>
            <span class="matter" v-html="pro.name"></span>
          </el-col>
        </el-row>
        <el-row class="title inner" v-if="this.status != 1">
          <el-col :span="12">
            <span class="label">场次：</span>
            <span class="matter" v-html="tables.bidCount"></span>
          </el-col>
          <el-col :span="12">
            <span class="label">时间间隔：</span>
            <span class="matter" v-html="tables.timeoutPriceIncrease"></span> 秒 出价一次
          </el-col>
          <!-- <el-col :span="12">
            <span class="label">竞价递增：</span>
            <span class="matter" v-html="tables.incrementPrice"></span>元
          </el-col> -->
        </el-row>
        <el-row class="title inner" v-if="this.status != 1">
          <el-col :span="12">
            <span class="label">起拍价：</span>
            <span class="matter" v-html="baspri"></span> 元
          </el-col>
          <el-col :span="12">
            <span class="label">放量：</span>
            <span class="matter" v-html="tables.roundAmount"></span> 吨
          </el-col>
        </el-row>
        <el-row class="title inner" v-if="this.status != 1">
          <el-col :span="12">
            <span class="label">发布时间：</span>
            <span class="matter" v-html="tables.displayStartTime"></span>
          </el-col>
          <el-col :span="12">
            <span class="label">竞价开始：</span>
            <span class="matter" v-html="tables.biddingStartTime"></span>
          </el-col>
        </el-row>
        <el-row class="title inner" v-if="this.status != 1">
          <!-- <el-col :span="12">
            <span class="label">时间间隔：</span>
            <span class="matter" v-html="tables.timeoutPriceIncrease"></span> 秒 出价一次
          </el-col> -->
          <!-- <el-col :span="12">
            <span class="label">出价次数：</span>
            <span class="matter" v-html="tables.bidCount"></span>
          </el-col> -->
        </el-row>
      </div>
      <div class="detail-info " v-if="this.status == 6">
        <el-row class="title inner">
           <el-col :span="12">
            <span class="label">公司名称：</span>
            <span class="matter">{{org.orgFullName}}</span>
          </el-col>
           <el-col :span="12">
            <span class="label">站点名称：</span>
            <span class="matter">{{org.orgName}}</span>
          </el-col>
        </el-row>
      
        <el-row class="title inner">
          <el-col :span="12">
            <span class="label">产品类型：</span>
            <span class="matter" v-html="getproType(pro)"></span>
          </el-col>
          <el-col :span="12">
            <span class="label">产品名称：</span>
            <span class="matter" v-html="pro.name"></span>
          </el-col>
        </el-row>
        <!-- <el-row class="title inner" v-if="this.status != 1">
          <el-col :span="12">
            <span class="label">场次：</span>
            <span class="matter" v-html="tables.bidCount"></span>
          </el-col>
          <el-col :span="12">
            <span class="label">时间间隔：</span>
            <span class="matter" v-html="tables.timeoutPriceIncrease"></span> 秒 出价一次
          </el-col>
          <el-col :span="12">
            <span class="label">竞价递增：</span>
            <span class="matter" v-html="tables.incrementPrice"></span>元
          </el-col>
        </el-row> -->
        <el-row class="title inner" v-if="this.status != 1">
          <el-col :span="12">
            <span class="label">起拍价：</span>
            <span class="matter" v-html="baspri"></span> 元
          </el-col>
          <el-col :span="12">
            <span class="label">放量：</span>
            <span class="matter" v-html="tables.listedAmount"></span> 吨
          </el-col>
        </el-row>
        <el-row class="title inner" v-if="this.status != 1">
          <el-col :span="12">
            <span class="label">发布时间：</span>
            <span class="matter" v-html="tables.displayStartDate"></span>
          </el-col>
          <el-col :span="12">
            <span class="label">竞价开始：</span>
            <span class="matter" v-html="tables.listedStartDate"></span>
          </el-col>
        </el-row>
        <el-row class="title inner" v-if="this.status != 1">
          <!-- <el-col :span="12">
            <span class="label">时间间隔：</span>
            <span class="matter" v-html="tables.timeoutPriceIncrease"></span> 秒 出价一次
          </el-col> -->
          <!-- <el-col :span="12">
            <span class="label">出价次数：</span>
            <span class="matter" v-html="tables.bidCount"></span>
          </el-col> -->
        </el-row>
      </div>
      <div class="table" v-if="this.status == 5" width="100%">
        <h3 class="table-title">中标列表</h3>
        <el-table border stripe :data="table">
          <el-table-column label="客户名称" align="center" prop="company"></el-table-column>
          <!-- <el-table-column label="报价" align="center" prop="priceIncrease"></el-table-column> -->
          <el-table-column label="中标数量(吨 | 方)" align="center" prop="amount"></el-table-column>
          <!-- <el-table-column label="增值率(%)" align="center">
            <template slot-scope="scope">
              <span>{{ baspri == null ? '' : Math.floor(scope.row.priceIncrease / baspri * 100) }}</span>
            </template>
          </el-table-column> -->
          <el-table-column label="中标状态" align="center">
            <template slot-scope="scope">
              <span>{{ jjType(scope.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="中标时间" align="center" prop="biddingTime"></el-table-column>
        </el-table>
        <div class="diglog-close-btn">
          <el-button @click="closeDialog">关闭</el-button>
        </div>
      </div>
      <div class="table" v-if="this.status == 6" width="100%">
        <h3 class="table-title">中标列表</h3>
        <el-table border stripe :data="table">
          <el-table-column label="客户名称" align="center" prop="customer.enterpriseName"></el-table-column>
          <!-- <el-table-column label="报价" align="center" prop="priceIncrease"></el-table-column> -->
          <el-table-column label="中标数量(吨 | 方)" align="center" prop="amount"></el-table-column>
          <!-- <el-table-column label="增值率(%)" align="center">
            <template slot-scope="scope">
              <span>{{ baspri == null ? '' : Math.floor(scope.row.priceIncrease / baspri * 100) }}</span>
            </template>
          </el-table-column> -->
          <el-table-column label="中标状态" align="center">
            <template slot-scope="scope">
              <span>{{ jjType(scope.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="中标时间" align="center" prop="createTime"></el-table-column>
        </el-table>
        <div class="diglog-close-btn">
          <el-button @click="closeDialog">关闭</el-button>
        </div>
      </div>
       <!-- <el-image 
    style="width: 100px; height: 100px"
    :src="url" 
    :preview-src-list="srcList">
  </el-image> -->
    </div>
  </el-dialog>
</template>

<script>
import {
  listAccount,
  getAccount,
  getAccount_2,
  delAccount,
  addAccount,
  updateAccount
} from "@/api/jj/account";
export default {
  name: 'Infor',
  data() {
    return {
      table: [],
      tables: {},
      productOptions: [],
      org: {},
      pro: {},
      jj_type: {},
      baspri: '',
      status: '',
      dialogVisible: false,
    }
  },
  created() {
    this.getDicts("jj_bidding_status").then((response) => {
      this.jj_type = response.data;
    });

    // 产品类型
    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });

  },
  methods: {
    openModel(data) {
      this.dialogVisible = true;
      this.priceAccountId = data;
      this.getList();
    },
    // 计算属性
    com() {
      if (this.baspri != null | '') {
        let data = Math.floor(scope.row.priceIncrease / baspri * 100);
        return data;
      }
    },
    // 竞价
    jjType(e) {
      for (var i = 0; i < this.jj_type.length; i++) {
        if (this.jj_type[i].dictValue == e) { //dictValue，dictLabel保持和上面定义一致
          return this.jj_type[i].dictLabel;
        }
      }
    },
    // 字典查询
    getproType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e.type) { //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    closeDialog() {
      // this.$router.go(-1);
      this.dialogVisible = false;
    },
    getList() {
      getAccount(this.priceAccountId).then(response => {
        this.baspri = response.data.basePrice;
        this.status = response.data.priceType;
        if (response.data.priceType == 5) {
          this.table = response.data.jjCallbid.children;
          this.tables = response.data.jjCallbid;
          this.org = response.data.jjCallbid.childrenOrg;
          this.pro = response.data.jjCallbid.childrenPro;
        } else if (response.data.priceType == 6) {
          this.table = response.data.tbJjListed.children;
          this.tables = response.data.tbJjListed;
          this.org = response.data.tbJjListed.childrenOrg;
          this.pro = response.data.tbJjListed.childrenPro;
        } else if (response.data.priceType == 1) {
          this.pro = response.data.childrenPro;
          this.org = response.data.childrenOrg;
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>
.app-container {
  margin-left: 150px;
}
.el-image {
  border-radius: 5px;
  background-color: #ebeef5;
  box-shadow: 0 0 5px 1px #ccc;
  ::v-deep .el-image__inner {
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  ::v-deep .image-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #909399;
    font-size: 30px;
  }
}
</style>
