.el-badge__content.is-fixed{
  top: 15px !important;
}
.query-bottom-line{
  width: 100%;
  height: 1px;
  background-color: rgb(243, 243, 243);
  margin-bottom:10px;
}

.query-form{
  .el-form-item{
    margin-bottom:10px !important
  }
}

.system-table-header{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.system-table-title{
  display: flex;
  align-items: center;
  flex: 1;
    div:first-child{
      height: 12px;
      width: 3px;
      background-color: rgb(24, 144, 255);
    }
    div:last-child{
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 700;
      padding-left: 5px;
      color: #606266;
    }
}

.system-table-btn{
  // flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.system-org-list{
  display: flex;
  width: 100%;
  // background-color: aquamarine;
}
.system-org-list-tree{
  width: 200px;
  border: 1px solid #dedede;
}
.system-org-list-tree-header{
  line-height: 40px;
  font-size: 16px;
  padding-left: 10px;
  border-bottom: 1px solid #dedede;
  background-color: #ebebeb;
  letter-spacing: 1px;
  font-weight: 500;
}
.system-org-tree{
  height: calc(100% - 45px);
  // width: calc(100% - 10px);
  overflow-y: scroll;
}
.system-org-list-table{
  flex: 1;
  margin-left: 10px;
  // border: 1px solid #dedede;
}
.org-table-header{
  height: 40px !important;
  background-color: #ebebeb;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #dedede;
}
.width-100{
  width: 100% !important;
}
.default_tx{
  width: 40px;
}
.el-dialog__header{
  background-color: #ececec;
}
.list_file{
  color: blue;
  cursor: pointer;
}
.form-file-list{
  display: flex;
  padding-left: 80px;
  cursor: pointer;
  color: blue;
  div:last-child{
      padding-left: 50px;
  }
}

.form-file-list-contract{
  display: flex;
  // padding-left: 80px;
  cursor: pointer;
  color: blue;
  div:last-child{
      padding-left: 50px;
  }
}

.dialog-query{
  padding-top: 0px !important;
}

.required_red_star .el-form-item__label:before {
  content: '*';
  color: #ff4949;
  margin-right: 4px;
}

.table_required_red_star{
  .cell:before {
    content: '*';
    color: #ff4949;
    margin-right: 4px;
  }
}

.font-color-red{
  color: #ff4a02;
}

.font-color-blue{
  color: #08f042;
}

.contract-time{
  color: #ffaf02;
}

.contract-money{
  color: #ff0202;
}
.contract-normal{
  color: #08f042;
}

.el-upload-list__item .el-icon-close-tip {
  display: none !important;
}

.whole-category{
  width: 100%;
  height: calc(100% - 60px);
}

.chart-img{
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 10px;
}

.whole-charts{
  // background: #f0f2f5;
  height: calc(100vh - 84px);
}

.sales_index{
  display: flex;
  width: 100%;
  // height: 1800px;
}

.sales_index_left{
  width: 100%;
  height: 100%;
}

.sales_index_right{
  width:calc(20% - 15px);
  margin-left: 10px;
  height: 100%;
  .sales_index_right_children{
    height: 643px;
    background-color: white;
    // background-color: cornflowerblue;
  }
}

.sales_index_left_header{
  display: flex;
  // height: 663px;
  justify-content: space-between;
  // background-color: white;
  .index_left_header_map{
    width: calc(50% - 5px);
    border: 1px solid #e0e0e0;
    background-color: white;
  }
  .index_left_header_count{
    width: calc(50% - 5px);
    background-color: white;
    // height: 350px;
    border: 1px solid #e0e0e0;
    border-left: none;
    // background-color: cornflowerblue;
  }
}

.sales_index_count{
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: wrap;
  .index_org_echarts{
    width:calc(100% - 5px) !important;
  }
  .sales_index_count_children{
    width:calc(50% - 5px);
    height: 350px;
    background-color: white;
    border: 1px solid #e0e0e0;
  }
}

.margin_top_10{
  margin-top: 10px;
}

.sales_index_title{
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  line-height: 30px;
  padding-left: 10px;
  color: #4e4e4e;
  .title-class{
    padding-bottom: 5px;
    border-bottom: 2px solid #4499e9;
  }
}
.sales_index_echarts{
  width: 100%;
  height:calc(100% - 76px);
}

.sales_index_echarts_product{
  display: flex;
  height:calc(100% - 76px);
}

.sales_index_echarts_left{
  // flex: 1;
  width: 50%;
  // background-color: #08f042;
}

.sales_index_echarts_right{
  // flex: 1;
  width: 50%;
  // background-color: #8bf1a5;
  .right_list{
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    div{
      overflow: hidden; white-space: nowrap; text-overflow: ellipsis
    }
  }
}


.sales_count_title{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  color: red;
}
.index-span-time{
  float: right;
  padding-right: 20px;
  // color: red;
}

.index-query{
  width: 100%;
  background-image: url(../image/index/banner_bg.png);
  padding: 10px 15px;
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  div:first-child{
    line-height: 25px;
    letter-spacing: 1px;
  }

}

.index-query-time{
  display: flex;
  .el-input--medium .el-input__inner{
    height: 25px !important;
    line-height: 25px !important;
    // color: red;
  }
  .el-input--medium .el-input__icon{
    line-height: 25px !important;
  }
}

.index_query_list{
  font-size: 14px;
  .index_query_item{
    // width: 20%;
    .el-input--small .el-input__inner{
      height: 25px !important;
      line-height: 25px !important;
    }
  }
}

.index_query_form{
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  .el-form-item--medium .el-form-item__label{
    font-weight: 500;
  }
  .el-form-item{
    margin-bottom: 0px !important;
  }
}

.query-time-span{
  line-height: 25px;
  padding-right: 10px;
}

.query-time-btn{
  width:60px;
  text-align: center;
  line-height: 25px;
  padding: 0px 10px 0px 10px;
  background: #4499e9;
  margin-left: 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;;
}

.count_total{
  line-height: 30px;
  font-weight: 600;

}

.el-button--medium.is-circle{
  padding: 1px !important;
}

.invoice_total{
  width: 100%;
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}


/* ----------------------------- element-ui style ------------------ */
.el-dialog__header {
  padding: 10px 20px;
  .el-dialog__headerbtn {
    top: 12px;
  }
}
/* ----------------------------- reset style ------------------ */
.el-table-container {
  .el-table {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        text-align: left;
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 1px;
        font-weight: 700;
        padding-left: 12px;
        margin: 8px 0;
        color: #606266;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 15px;
          width: 3px;
          background-color: #1890ff;
          border-radius: 3px;
          left: 0;
          top: 9px;
        }
      }
    }
    &-panel {
      .cell {
        .el-button {
          padding: 5px;
        }
      }
      .pagination-container {
        padding: 32px 16px;
      }
      .el-table__expanded-cell {
        padding: 10px 18px;
      }
    }
  }
  .el-card-panel {
    .el-col {
      margin-bottom: 15px;
    }
  }
}
.el-form-tool {
  .el-form-item {
    margin-bottom: 10px;
  }
}

.index-deal-num{
  border: none !important;
  margin-right: 30px;
  margin-top:-30px;
  // vertical-align: text-bottom;
  i{
    font-size: 20px !important;
  }
}

/* 查看详情弹窗 */
.detail-container {
  display: flex;
  flex-direction: column;
  .inner {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 10px 0;
    .label {
      width: 120px;
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606266;
      line-height: 26px;
      padding-right: 12px;
      box-sizing: border-box;
    }
  }
  .title {
    width: 100%;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 30px;
  }
  .table {
    &-title {
      font-size: 18px;
      color: #1890FF;
      line-height: 32px;
      text-align: center;
      margin: 8px 0;
    }
  }
  .diglog-close-btn {
    margin: 20px auto;
    text-align: right;
  }
}
/* 竞价上报申请弹窗 */
.add-container {
  .add-form-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    .label {
      width: 120px;
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606266;
      line-height: 26px;
      padding-right: 12px;
      box-sizing: border-box;
    }
    .level-select {
      width: 400px;
      height: 36px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #DCDFE6;
      text-indent: 6px;
      color: #606266;
      font-size: 14px;
      border-radius: 4px;
    }
    .el-input {
      width: 400px;
      height: 36px;
      line-height: 36px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #DCDFE6;
      text-indent: 6px;
      color: #606266;
      font-size: 14px;
    }
    .upload-demo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
    .el-upload-list {
      display: flex;
      align-items: center;
      flex: 1;
      flex-wrap: wrap;
    }
    .el-upload-list__item {
      margin: 0 10px;
      width: 70px;
      height: 30px;
      display: flex;
      align-items: center;
      background: #eeeeee;
      .el-icon-close {
        top: 8px;
      }
    }
  }
  .add-form-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .el-table__body-wrapper {
    tbody {
      tr {
        td {
          padding: 5px 0;
          height: 42px;
        }
      }
    }
  }
  .form-tool-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .el-upload-list__item-status-label {
    top: 3px;
  }
}
.edit-container {
  .add-form-item {
    .label {
      width: 135px;
    }
    .required {
      font-size: 14px;
      color: #f56c6c;
      margin-right: 3px;
    }
    .el-input {
      width: 60%;
      margin-right: 15px;
      border: none;
    }
    .add-form-inline {
      width: 100%;
      .label {
        height: 36px;
        line-height: 36px;
        width: 135px;
        &-inline {
          width: 150px;
        }
      }
      .el-input {
        width: 180px;
      }
    }
    .el-button {
      width: 96px;
    }
  }
  .choose {
    margin: 12px 0;
    padding: 0 20px;
    border: 1px solid #DCDFE6;
    .el-collapse {
      border-top: none;
    }
  }
}
.form-readonly {
  background: #f5f7fa !important;
  text-indent: 10px !important;
  border-radius: 4px;
  border: 1px solid #DCDFE6 !important;
  color: #C0C4CC !important;
}

.apply-container {
  .add-form-item  {
    .el-input {
      border: none;
      text-indent: 0;
    }
    .el-textarea {
      width: 400px;
    }
    .file-list {
      width: 150px;
      border: 1px solid #DCDFE6;
      text-align: center;
    }
    .el-button-upload {
      height: 36px;
      line-height: 20px;
      border: none;
      width: 230px;
      margin-left: 20px;
      background-color: #e8f4ff;
      padding: 5px 12px;
    }
  }
}
.form-child-tool {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form-dialog {
  .el-form {
    .el-form-item {
      margin-bottom: 10px;
    }
  }
}

.deal-container {
  .inner  {
    .label {
      width: 150px;
    }
  }
}
.trend-container {
  display: flex;
  flex-direction: column;
}
.top-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  z-index: 29;
}
.manage-container {
  .item-image-container {
    .el-image__error {
      width: 100px;
      height: 100px;
      border: 1px solid #eee;
      border-radius: 10px;
    }
  }
  .el-image {
    width: 90px;
    height: 90px;
    .el-image__error {
      font-size: 12px;
      background: #F5F7FA;
      color: #8e8e8e;
      vertical-align: middle;
      width: 90px;
      height: 90px;
      border: 1px solid #e2e1e1;
      border-radius: 5px;
    }
    .el-image__inner {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}
.complix-table {
  margin-top: 10px;
}
.form-tool-inner {
  display: flex;
  justify-content: center;
}
.img-uplaod-cls {
  width: 340px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .el-upload-dragger {
    width: 300px;
    height: 130px;
    .el-icon-upload {
      font-size: 70px;
      color: #c0c4cc;
      margin: 20px 0;
      line-height: 50px;
    }
  }
  .el-upload__tip {
    font-size: 14px;
    color: #606266;
    margin-top: 10px;
    text-align: center;
  }
}

.index-sales-count{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  // justify-content: space-around;
  .index-sales-count-children{
    width: 46%;
    margin-top: 10px;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #f5fafe;
    .index-sales-count-children-info{
      font-size: 12px;
      display: flex;
      justify-content: space-around;
      div{

      }
      .sales_count_num{
        padding-left: 10px;
        font-weight: 600;
        color: #4b9dea;
      }
    }
    .index-sales-count-children-title{
      display: flex;
      align-items: center;
      padding: 5px 10px 7px 10px;
      span{
        padding-left: 5px;
        font-size: 14px;
      }
      img{
        width: 15px;
      }
    }
  }
}

.index-sales-count-two{
  border-top: 10px solid #f0f2f5;
  height: 300px;
  // margin-top: 30px;
  background-color: white;
}

.index-sales-count-children:last-child{
  line-height: 50px;
  background-color: white;
  .index-sales-count-children-title img{
    width: 0px;
  }
}

.order{
  color: #606266;
  margin-bottom: 10px;
}
.order-title{
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 10px;
}
.order-title-info{
  font-size: 14px;
  display: flex;
  line-height: 25px;
  // margin-top: 10px;
  // margin-bottom: 10px;
  div{
    flex: 1;
  }
}