<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="储罐名称">
        <el-input
          v-model="queryParams.name"
          placeholder="请输入储罐名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="产品">
        <el-select
          class="width-100"
          v-model="queryParams.productId"
          placeholder="请选择"
        >
          <el-option
            v-for="item in productOptions"
            :key="item.productId"
            :label="item.name"
            :value="item.productId"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>储罐列表</div>
      </div>
      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleTankAdd"
              v-hasPermi="['system:tank:add']"
              >新增</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="success"
              icon="el-icon-edit"
              size="mini"
              :disabled="singleTank"
              @click="handleTankUpdate"
              v-hasPermi="['system:tank:edit']"
              >修改</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multipleTank"
              @click="handleTankDelete"
              v-hasPermi="['system:tank:remove']"
              >删除</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>
    <el-table
    border
      v-loading="loading"
      :data="tankList"
      @selection-change="handleTankSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="储罐名称"
        align="center"
        prop="name"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="总容量"
        align="center"
        prop="totalCapacity"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="最低阀值"
        align="center"
        prop="lowValue"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="最高阀值"
        align="center"
        prop="highValue"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleTankUpdate(scope.row)"
            v-hasPermi="['system:site:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleTankDelete(scope.row)"
            v-hasPermi="['system:site:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改储罐对话框 -->
    <el-dialog
    :close-on-click-modal="false"  :close-on-press-escape="false"
      :title="titleTankInfo"
      :visible.sync="openTankInfo"
      width="800px"
      append-to-body
    >
      <el-form
        ref="formTank"
        :model="formTank"
        :rules="rules"
        label-width="100px"
      >
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="名称" prop="name">
              <el-input
                v-model="formTank.name"
                maxlength="10"
                placeholder="请输入储罐名称"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品" prop="productId">
              <el-select
                class="width-100"
                v-model="formTank.productId"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in productOptions"
                  :key="item.productId"
                  :label="item.name"
                  :value="item.productId"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="总容量" prop="totalCapacity">
              <el-input
                v-model="formTank.totalCapacity"
                maxlength="10"
                placeholder="请填写总容量"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="空高值" prop="categoryName">
              <el-input
                v-model="formTank.emptyValue"
                maxlength="50"
                placeholder="请输入空高值"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="最低阀值">
              <el-input
                v-model="formTank.lowValue"
                maxlength="50"
                placeholder="请输入最低阀值"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="最高阀值">
              <el-input
                v-model="formTank.highValue"
                maxlength="50"
                placeholder="请输入最高阀值"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="预警阀值">
              <el-input
                v-model="formTank.warningValue"
                maxlength="100"
                placeholder="请输入预警阀值"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="液位">
              <el-input
                v-model="formTank.tankYw"
                maxlength="100"
                placeholder="请输入液位"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="换算关系" >
              <el-input
                v-model="formTank.convertValue"
                maxlength="100"
                placeholder="请输入液位库存换算关系"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitTankForm">确 定</el-button>
        <el-button @click="cancelTank">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listSite,
  getSite,
  delSite,
  addSite,
  updateSite,
  updateTank,
  exportSite,
  getTank,
  addTank,
  getProductList,
  getTankInfo,
  delTank,
} from "@/api/system/site";
import { treeselect } from "@/api/system/dept";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
export default {
  name: "Site",
  components: { Treeselect },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      idTanks: [],
      productOptions: [],
      // 非单个禁用
      single: true,
      singleTank: true,
      // 非多个禁用
      multiple: true,
      multipleTank: true,

      // 总条数
      total: 0,
      // 站点表格数据
      siteList: [],
      //储罐表数据
      tankList: [],
      // 弹出层标题
      title: "",
      titleTank: "",
      titleTankInfo: "",
      tankOpen: false,
      openTankInfo: false,
      // 是否显示弹出层
      open: false,
      // $comment字典
      Options: [],
      // 部门树选项
      deptOptions: undefined,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        siteId: undefined,
        name: undefined,
        productId: undefined,
      },
      //记录储罐ID
      siteIdSav: "",
      // 表单参数
      form: {},
      formTank: {},
      // 表单校验
      rules: {
        name: [{ required: true, message: "名称不能为空", trigger: "blur" }],
        productId: [{ required: true, message: "产品不能为空", trigger: "blur" }],
        totalCapacity: [{ required: true, message: "总容量不能为空", trigger: "blur" }],
      },
    };
  },
  created() {
    const siteId = this.$route.params && this.$route.params.siteId;
    this.siteIdSav = siteId;
    this.updTankList();
    this.getTreeselect();
    this.getProductDic();
  },
  methods: {
    /** 查询站点列表 */
    getList() {
      this.loading = true;
      listSite(this.queryParams).then((response) => {
        this.siteList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    /** 查询部门下拉树结构 */
    getTreeselect() {
      treeselect().then((response) => {
        this.deptOptions = response.data;
      });
    },
    /**绑定产品信息*/
    getProductDic() {
      getProductList().then((response) => {
        this.productOptions = response.rows;
      });
    },
    // $comment字典翻译
    Format(row, column) {
      return null;
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        // $column.javaField: undefined
      };
      this.resetForm("form");
    },
    resetTank() {
      this.formTank = {
        // $column.javaField: undefined
      };
      this.resetForm("formTank");
    },
    cancelTank() {
      this.openTankInfo = false;
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.updTankList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams.name=undefined;
      this.queryParams.productId=undefined;
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.siteId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },

    handleTankSelectionChange(selection) {
      this.idTanks = selection.map((item) => item.tankId);
      this.singleTank = selection.length != 1;
      this.multipleTank = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加站点";
    },
    handleTankAdd() {
      this.resetTank();
      this.open = false;
      this.tankOpen = false;
      this.openTankInfo = true;
      this.titleTankInfo = "新增储罐信息";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.siteId;
      getSite(id).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改站点信息";
      });
    },
    handleTankUpdate(row) {
      const id = row.tankId;
      getTankInfo(id).then((response) => {
        this.formTank = response.data;
        this.openTankInfo = true;
        this.titleTank = "修改储罐信息";
      });
    },
    /**储罐信息页面*/
    handleAddTank(row) {
      const siteId = row.siteId;
      this.$router.push("/system/site-auth/tank/" + siteId);
      // this.siteIdSav = siteId;
      // getTank(siteId).then((response) => {
      //   debugger;
      //   this.tankList = response.rows;
      //   this.titleTank = "储罐信息维护";
      //   this.tankOpen = true;
      // });
    },
    /** 提交按钮 */
    submitForm: function () {
      // addSite(this.form).then((response) => {
      //   if (response.code === 200) {
      //     this.msgSuccess("新增成功");
      //     this.open = false;
      //     this.getList();
      //   }
      // });
      this.$refs["form"].validate((valid) => {
        if (valid) {
          console.log(this.form.siteId);
          if (this.form.siteId != undefined) {
            updateSite(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            console.log("222222222222222222");
            addSite(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },

    submitTankForm: function () {
      debugger;
      this.formTank.siteId = this.siteIdSav;
      this.$refs["formTank"].validate((valid) => {
        if (valid) {
          if (this.formTank.tankId != undefined) {
            updateTank(this.formTank).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.openTankInfo = false;
                this.updTankList();
              }
            });
          } else {
            addTank(this.formTank).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.openTankInfo = false;
                this.updTankList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const siteIds = row.siteId;
      this.$confirm("是否确认删除该站点?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delSite(siteIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    handleTankDelete(row) {
      const tankIds = row.tankId;
      this.$confirm("是否确认删除该站点?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delTank(tankIds);
        })
        .then(() => {
          this.updTankList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
    //更新储罐信息
    updTankList() {
      debugger;
      this.queryParams.siteId = this.siteIdSav;
      getTank(this.queryParams).then((response) => {
        this.tankList = response.rows;
        this.titleTank = "储罐信息维护";
        this.loading = false;
      });
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有站点数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportSite(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>