<template>
  <el-dialog
    width="60%"
    title="政策上报申请详情"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品类型：</span>
          <el-input placeholder="天然气" v-model="c_type" disabled></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品名称：</span>
          <el-input placeholder="LNG" disabled></el-input>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">预售期：</span>
          <el-date-picker
            v-model="period"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="op_name"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            disabled
          ></el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">申请类型：</span>
          <el-input
            v-model="apply_type"
            v-html="apply_type"
            class="form-readonly"
            readonly
            disabled
          />
        </el-col>
      </el-row>
      <el-row>
        <!-- <el-col :span="12" class="add-form-item">
          <span class="label">说明：</span>
          <el-input type="textarea" :rows="3" placeholder="请输入备注" v-model="instructions" disabled></el-input>
        </el-col> -->
        <!-- <el-col :span="12" class="add-form-item upload">
          <span class="label">文件上传：</span>
          <el-upload
            class="upload-demo"
            action
          >
            <el-button size="mini" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png/word/exl文件，且不超过500kb</div>
          </el-upload>
        </el-col> -->
      </el-row>
      <div class="add-form-panel">
        <!-- <div class="check">
          <el-button type="primary" plain size="mini" @click="toggleAllSelection()">全选</el-button>
          <el-button type="primary" plain size="mini" @click="toggleSelection()">全不选</el-button>
          <el-button type="primary" plain size="mini" @click="toggleInverseAllSelection()">反选</el-button>
        </div> -->
        <!-- <div class="z_but">
          <el-button @click="pri_tj" type="primary" plain size="mini">录入统一价格</el-button>
          <el-dialog
            title="统一价格"
            append-to-body
            :destroy-on-close="true"
            :visible.sync="centerDialogVisible"
            width="20%"
          >
            <span class="label">统一价格：</span>
            <input type name id value class="fj ff" style="height:40px" v-model="pri" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="pri_qx">取 消</el-button>
              <el-button type="primary" @click="pri_qd">确 定</el-button>
            </span>
          </el-dialog>
        </div> -->
      </div>
      <div class="table">
        <el-table
          border
          stripe
          ref="multipleTable"
          :data="
            tableData.slice(
              (currentPage - 1) * pageSize,
              currentPage * pageSize
            )
          "
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange"
        >
          <!-- <el-table-column type="selection" width></el-table-column> -->
          <el-table-column label="站点" align="center">
            <template slot-scope="scope">{{
              scope.row.sysSite.siteName
            }}</template>
          </el-table-column>

          <el-table-column prop align="center" label="产品类型">
            <template>天燃气</template>
          </el-table-column>
          <el-table-column prop label="产品名称" align="center">
            <div class="col">
              <template>管道天燃气</template>
            </div>
          </el-table-column>
          <el-table-column prop label="预售量(方)" align="center">
            <template slot-scope="scope">
              <!-- <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.allowance"
                size="small"
              /> -->
              {{ scope.row.sitePresaleVolume}}
            </template>
          </el-table-column>
          <el-table-column prop="name" label="招标量(方)" align="center">
            <template slot-scope="scope">
              <!-- <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.disposeAmount"
                size="small"
              /> -->
              {{ scope.row.allowance }}
            </template>
          </el-table-column>
          <el-table-column prop="name" label="一级审批价格(元/方)" align="center">
            <template slot-scope="scope">
              <!-- <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.suggestPrice"
                size="small"
              /> -->
              {{ scope.row.suggestPrice }}
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tableData.length"
          ></el-pagination>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button @click="sumbit" type="primary" size="small">确定</el-button>
        <el-button @click="cancelDialog" size="small">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  addpublish,
  getOtherInfo,
  findSite,
  addPriceApply,
  listPriceApply_2,
  // gua_f,
  // gua_data,
  submit,
} from "@/api/jj/priceApply";
export default {
  name: "Listing",
  data() {
    return {
      num: 1,
      num1: 1780,
      input: "",
      dialogVisible: false,
      centerDialogVisible: false,
      // 可读信息
      sTime: "",
      type: "",
      num_p: 0,
      num_z: 0,
      num_j: 0,
      // 换算产量
      dayCapacity: "",
      tableData: [],
      currentPage: 1,
      pageSize: 8,
      multipleSelection: [],
      // 携带数据
      optype: "",
      opname: "",
      period: "",
      apply_type: "初次申请",
      c_type: "天然气",
      c_name: "7",
      instructions: "",
      weight: 400,
      fj: "",
      pri: "",
      preSaleStartTime: "",
      preSaleEndTime: "",
      difference: "",
      params: "",
      test: "",
      params2: "",
      tab: "",
    };
  },
  created() {
    findSite().then((response) => {
      // console.log(response);
      // this.options.name = response.data.product;
      this.tableData = response.data;
      this.tableData.forEach((item) => {
        item.pzl = "";
        item.zbl = "";
        item.jyjg = "";
      });
    });
  },
  methods: {
    show(row) {
      this.dialogVisible = true;
      console.log(row);
      this.tab = row.childrenOrg.orgName;
      this.period = [row.preSaleStartTime, row.preSaleEndTime];
      this.tableData = row.children;
    },
    // 弹出层
    pri_tj() {
      console.log(this.params);
      this.params2 = this.params;
      this.centerDialogVisible = true;
      this.pri = "";
    },
    pri_qd() {
      this.params = this.params2;
      console.log(this.params);
      if (this.params != "") {
        this.params.forEach((item) => {
          item.jyjg = this.pri;
        });
      } else {
        this.$modal.alert("请选择站点信息");
      }
      this.centerDialogVisible = false;
    },
    pri_qx() {
      this.centerDialogVisible = false;
    },
    back() {
      this.$router.go(-1);
    },
    cancelDialog() {
      this.dialogVisible = false;
    },
    handleChange(value) {
      console.log(value);
    },
    handleSelectionChange(val) {
      console.log(val);
      this.params = val;
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    sub() {
      let file = event.target.files[0];
      this.fj = file.name;
    },
    yy(val) {
      console.log(val);
    },
    op_type() {
      console.log(this.optype);
    },
    op_name() {
      this.preSaleStartTime = this.period[0];
      this.preSaleEndTime = this.period[1];
    },
    // 提交数据
    sumbit() {
      let {
        optype,
        opname,
        apply_type,
        preSaleStartTime,
        preSaleEndTime,
        difference,
        weight,
        fj,
        pri,
        num,
        num1,
        num_z,
        num_j,
        num_p,
        params,
        c_name,
        instructions,
        // test,
        // $axios
      } = this;
      // console.log(preSaleStartTime)

      let test = {
        applicationFormCode: "",
        biddingApplyType: 0,
        approvePrice: 0,
        createBy: "",
        createTime: "",
        createUserId: "",
        delFlag: 0,
        endDate: "",
        orgId: "",
        params: {
          params,
        },
        preSaleEndTime: preSaleEndTime,
        preSaleStartTime: preSaleStartTime,
        priceAdjustmentCount: 0,
        priceApplyId: "",
        productId: c_name,
        relateBiddingApplyId: "",
        remark: "",
        remarks: instructions,
        salesQuantity: 0,
        searchValue: "",
        startDate: "",
        status: 0,
        suggestPrice: 0,
        transactionType: "2",
        updateBy: "",
        updateTime: "",
      };
      this.$tab.refreshPage();

      // addPriceApply(test).then(response => {
      //   console.log(response);
      //   if (response.code = 200) {
      //     this.msgSuccess("发布成功");
      //     // this.$router.go(-1);
      //     // 刷新指定页签
      //     // const obj = {
      //     //   path: "/jj/publish",
      //     //   name: "PriceApply"
      //     // };
      //     this.$tab.refreshPage();
      //   } else {
      //     this.msgSuccess("发布失败");
      //   }
      // });
    },
  },
};
</script>

<style scoped="">
* {
  font-size: 14px;
}

.app-container {
  margin-top: 20px;
  margin-left: 100px;
}
.table {
  margin-top: 10px;
}

.table {
  width: 100%;
}
</style>
