<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
    >
    <el-form-item label="购货单位" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入购货单位"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>
      <!-- <el-form-item label="拉运单号" prop="cartCode">
        <el-input
          v-model="queryParams.cartCode"
          placeholder="请输入拉运单号"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item> -->
      <el-form-item label="产品类型" prop="type">
           <el-select
                v-model="queryParams.type"
                placeholder="请选择产品类型"
                class="width-100"
                size="small"
                clearable
                @change="changeBlank"
              >
                <el-option
                  v-for="dict in productTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
      </el-form-item>

      <el-form-item label="产品名称" prop="name">
        <el-input
          v-model="queryParams.name"
          placeholder="请输入产品名称"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
 
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>拉运交接凭证信息表</div>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="voucherList"
    >
      <el-table-column label="序号" type="index" width="50" align="center">
        <template slot-scope="scope">
          <span>{{
            (queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1
          }}</span>
        </template>
      </el-table-column>
       <el-table-column
        label="购货单位"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品类型"
        align="center"
        prop="type"
        :show-overflow-tooltip="true"
        :formatter="typeFormat"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="name"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="毛重(吨)"
        align="center"
        prop="maoWeight"
        :show-overflow-tooltip="true"
      />
       <el-table-column
        label="皮重(吨)"
        align="center"
        prop="piWeight"
        :show-overflow-tooltip="true"
      /> 
       <el-table-column
        label="净重(吨)"
        align="center"
        prop="jingWeight"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="价格(元)"
        align="center"
        prop="jiaGe"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="拉运日期"
        align="center"
        prop="cartDate"
        width="100px"
      >
        <template slot-scope="scope">
          <span>{{ getWeightTime(scope.row.cartDate) }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="100px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.salePerson == null  && scope.row.recipientPerson == null "
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sales:voucherCar:edit']"
            >编辑</el-button
          >
          <el-button
            v-show="scope.row.salePerson != null  && scope.row.recipientPerson != null "
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="handleInfo(scope.row)"
            v-hasPermi="['sales:voucherCar:view']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

     <!-- 编辑对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
         <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="购货单位" prop="orgName">
              <el-input
                disabled
                maxlength="30"
                v-model="form.orgName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
              <el-form-item label="拉运凭证编号" prop="handoverPurchaseCartCode">
              <el-input
                disabled
                v-model="form.handoverPurchaseCartCode"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="购货时间" prop="purchaseTime">
              <el-date-picker
                class="width-100"
                v-model="form.purchaseTime"
                type="date"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="拉运单号" prop="cartCode">
              <el-input v-model="form.cartCode" placeholder="" disabled />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
            <el-col :span="12">
            <el-form-item label="拉运日期" prop="cartDate">
              <el-date-picker
                class="width-100"
                v-model="form.cartDate"
                type="date"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="生产单位" prop="supplierName">
              <el-input
                maxlength="20"
                v-model="form.supplierName"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="dictLabel">
              <el-input
                disabled
                maxlength="20"
                v-model="form.dictLabel"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="name">
              <el-input
                disabled
                maxlength="50"
                v-model="form.name"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="毛重(吨)" prop="roughWeight">
              <el-input
                disabled
                maxlength="20"
                v-model="form.roughWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="皮重(吨)" prop="tareWeight">
              <el-input
                disabled
                maxlength="50"
                v-model="form.tareWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="净重" prop="netWeight">
              <el-input
                disabled
                maxlength="20"
                v-model="form.netWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="接方人员" prop="recipientPerson">
              <el-input
                maxlength="50"
                v-model="form.recipientPerson"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="车牌号" prop="carNumber">
              <el-input
                disabled
                style="width:100px"
                v-model="form.carNumber"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="挂车号" prop="trailerNumber">
              <el-input
                disabled
                 style="width:100px"
                v-model="form.trailerNumber"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="司机" prop="driveman">
              <el-input
                disabled
                 style="width:115px"
                v-model="form.driveman"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="1">
            <el-form-item label="押运员" prop="supercargoName">
              <el-input
                disabled
                 style="width:115px"
                v-model="form.supercargoName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="交方人员" prop="salePerson">
              <el-input
                maxlength="50"
                v-model="form.salePerson"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="备注" prop="remarks">
              <el-input
                disabled
                maxlength="20"
                v-model="form.remarks"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <!-- <el-upload
          class="avatar-uploader"
          action=""
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload">
          <img v-if="imageUrl" :src="imageUrl" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">保 存</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="110px">
         <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="购货单位" prop="orgName">
              <el-input
                disabled
                maxlength="30"
                v-model="form.orgName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
              <el-form-item label="拉运凭证编号" prop="handoverPurchaseCartCode">
              <el-input
                disabled
                v-model="form.handoverPurchaseCartCode"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="购货时间" prop="purchaseTime">
              <el-date-picker
                class="width-100"
                v-model="form.purchaseTime"
                type="date"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="拉运单号" prop="cartCode">
              <el-input v-model="form.cartCode" placeholder="" disabled />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
            <el-col :span="12">
            <el-form-item label="拉运日期" prop="cartDate">
              <el-date-picker
                class="width-100"
                v-model="form.cartDate"
                type="date"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="生产单位" prop="supplierName">
              <el-input
                maxlength="20"
                v-model="form.supplierName"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="dictLabel">
              <el-input
                disabled
                maxlength="20"
                v-model="form.dictLabel"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="name">
              <el-input
                disabled
                maxlength="50"
                v-model="form.name"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="毛重(吨)" prop="roughWeight">
              <el-input
                disabled
                maxlength="20"
                v-model="form.roughWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="皮重(吨)" prop="tareWeight">
              <el-input
                disabled
                maxlength="50"
                v-model="form.tareWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="净重" prop="netWeight">
              <el-input
                disabled
                maxlength="20"
                v-model="form.netWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="接方人员" prop="recipientPerson">
              <el-input
                maxlength="50"
                v-model="form.recipientPerson"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="6">
            <el-form-item label="车牌号" prop="carNumber">
              <el-input
                disabled
                style="width:100px"
                v-model="form.carNumber"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="挂车号" prop="trailerNumber">
              <el-input
                disabled
                 style="width:100px"
                v-model="form.trailerNumber"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="司机" prop="driveman">
              <el-input
                disabled
                 style="width:115px"
                v-model="form.driveman"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="1">
            <el-form-item label="押运员" prop="supercargoName">
              <el-input
                disabled
                 style="width:115px"
                v-model="form.supercargoName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="交方人员" prop="salePerson">
              <el-input
                maxlength="50"
                v-model="form.salePerson"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="备注" prop="remarks">
              <el-input
                disabled
                maxlength="20"
                v-model="form.remarks"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <!-- <el-upload
          class="avatar-uploader"
          action=""
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload">
          <img v-if="imageUrl" :src="imageUrl" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listVoucherCart,
  getCart,
  updateCart,
} from "@/api/sales/voucherCart";
// import {getProductByType} from "@/api/purchase/contract";

import moment from "moment";

export default {
  name: "Weight",
  data() {
    return {
      // 遮罩层
      loading: true,
      productTypeOptions: [],

      // 总条数
      total: 0,
      // 计量交接凭证表格数据
      voucherList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      openInfo: false,
      open: false,
      // 查询参数
      queryParams: {
        delFlag: 1,
        pageNum: 1,
        pageSize: 10,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        salePerson: [
          { required: true, message: "交方人员不能为空", trigger: "blur" },
        ],
        recipientPerson: [
          { required: true,message: "接方人员不能为空",trigger: "blur" },
        ],
      }
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });
  },
  methods: {
    /** 查询拉运交接凭证信息表列表 */
    getList() {
      this.loading = true;
      listVoucherCart(this.queryParams).then((response) => {
        this.voucherList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    changeBlank() {
      this.$forceUpdate();
    },

    typeFormat(row, column) {
      return this.selectDictLabel(this.productTypeOptions, row.type);
    },

    getWeightTime(time) {
      return moment(new Date(time)).format("yyyy-MM-DD");
    },

    /**详情 */
    handleInfo(row) {
      this.reset();
      const handoverPurchaseCartId = row.handoverPurchaseCartId;
      getCart(handoverPurchaseCartId).then((response) => {
        this.form = response.data;
        this.openInfo = true;
        this.title = "拉运交接凭证详情";
      });
    },
    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },
      /** 编辑按钮操作 */
    handleUpdate(row) {
      this.reset();
      debugger;
      const handoverPurchaseCartId = row.handoverPurchaseCartId;
      getCart(handoverPurchaseCartId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "编辑拉运交接凭证";

        // response.data.items.fileList.forEach((item) => {
        //   this.fileList.push({
        //     id: item.fileId,
        //     name: item.realName,
        //     url: process.env.VUE_APP_BASE_API + item.filePath,
        //   });
        // });
      });
    },
      // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },

        /** 保存按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.handoverPurchaseCartId != undefined) {
            updateCart(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("编辑成功");
                this.open = false;
                this.getList();
              }
            });
          } 
        }
      });
    },
  },
};
</script>