<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
    >
      <el-form-item label="公司名称" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入公司名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item label="月份" prop="yearMonth">
        <el-date-picker
          v-model="queryParams.yearMonth"
          placeholder="请选择月份"
          size="small"
          style="width: 180px"
          value-format="yyyy-MM"
          type="month"
          @input="changeBlank"
        ></el-date-picker>
      </el-form-item>

      <el-form-item label="产品名称" prop="name">
        <el-input
          v-model="queryParams.name"
          placeholder="请输入产品名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>采购月计划列表</div>
      </div>
    </div>

    <el-table border v-loading="loading" :data="monthPlanList">
      <el-table-column
        label="月份"
        align="center"
        prop="yearMonth"
        width="100px"
      />

      <el-table-column
        label="公司名称"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品类型"
        align="center"
        prop="dictLabel"
        width="130px"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="name"
        width="130px"
      />

      <el-table-column
        label="月采购量"
        align="center"
        prop="purchaseAmount"
        :show-overflow-tooltip="true"
      />
    
      <el-table-column
        label="计量单位"
        align="center"
        prop="unit"
        width="80px"
      />

      <el-table-column
        label="月采购额(万元)"
        align="center"
        prop="purchaseMoney"
        :show-overflow-tooltip="true"
      />

       <el-table-column
        label="操作"
        align="center"
        width="100px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.monthPurchaseMoney == null"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sales:monthPlan:edit']"
            >编辑</el-button
          >
          <el-button
            v-show="scope.row.monthPurchaseMoney != null"
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="handleInfo(scope.row)"
            v-hasPermi="['sales:monthPlan:view']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

     <!-- 编辑对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
         <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="公司名称" prop="orgName">
              <el-input
                disabled
                maxlength="30"
                v-model="form.orgName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="月份" prop="yearMonth">
              <el-date-picker
                class="width-100"
                v-model="form.yearMonth"
                type="date"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="dictLabel">
              <el-input v-model="form.dictLabel" placeholder="" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="name">
              <el-input
                v-model="form.name"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="月采购量" prop="monthPurchaseAmount">
              <el-input
                maxlength="20"
                v-model="form.monthPurchaseAmount"
                placeholder=""
                disabled
              >
              <template slot="append">吨/万方</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="月采购额" prop="monthPurchaseMoney">
              <el-input
                maxlength="50"
                v-model="form.monthPurchaseMoney"
                placeholder=""
              >
              <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">保 存</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

      <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="110px">
         <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="公司名称" prop="orgName">
              <el-input
                disabled
                maxlength="30"
                v-model="form.orgName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="月份" prop="yearMonth">
              <el-date-picker
                class="width-100"
                v-model="form.yearMonth"
                type="date"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="dictLabel">
              <el-input v-model="form.dictLabel" placeholder="" disabled />
            </el-form-item>
          </el-col>
          <el-col :span="12">
             <el-form-item label="产品名称" prop="name">
              <el-input v-model="form.name" placeholder="" disabled />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="月采购量" prop="monthPurchaseAmount">
              <el-input
                maxlength="20"
                v-model="form.monthPurchaseAmount"
                placeholder=""
                disabled
              >
              <template slot="append">吨/万元</template>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="月采购额" prop="monthPurchaseMoney">
              <el-input
                maxlength="50"
                v-model="form.monthPurchaseMoney"
                placeholder=""
                disabled
              >
               <template slot="append">元</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listMonthPlan,getMonthPlan,updateMonthPlan } from "@/api/sales/monthPlan";

export default {
  name: "MonthPlan",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      // 采购月计划表格数据
      monthPlanList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
      },
      // 是否显示弹出层
      openInfo: false,
      open: false,
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        monthPurchaseMoney: [
          { required: true, message: "月采购额不能为空", trigger: "blur" },
        ],
      }
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });
  },
  methods: {
    //字典翻译
    productFormat(row, column) {
      return this.selectDictLabel(this.typeOptions, row.productId);
    },

    /** 查询采购月计划列表 */
    getList() {
      this.loading = true;
      listMonthPlan(this.queryParams).then((response) => {
        this.monthPlanList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 表单重置
    reset() {
      this.form = {
        orgId: null,
        yearMonth: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    changeBlank() {
      this.$forceUpdate();
    },

     /** 编辑按钮操作 */
    handleUpdate(row) {
      this.reset();
      const monthPurchasePlanId = row.monthPurchasePlanId;
      getMonthPlan(monthPurchasePlanId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "编辑采购月计划";
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    /** 保存按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.monthPurchasePlanId != undefined) {
            updateMonthPlan(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("编辑成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /**详情 */
    handleInfo(row) {
      this.reset();
      const monthPurchasePlanId = row.monthPurchasePlanId;
      getMonthPlan(monthPurchasePlanId).then((response) => {
        this.form = response.data;
        this.openInfo = true;
        this.title = "采购月计划详情";
      });
    },
    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },
  },
};
</script>
