<template>
  <el-dialog
    width="70%"
    title="发布挂牌招标公告"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container edit-container">
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label"><span style="color: red;text-align: right;">*</span> 发布时间：</span>
          <el-date-picker
            v-model="value1"
            type="datetime"
            placeholder="*年*月*日*时*分"
            value-format="yyyy-MM-dd HH:mm"
            format="yyyy-MM-dd HH:mm"
            :picker-options="pickerOptions1"
           
          ></el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <span style="color: red;text-align: right;">*</span>开始时间：</span>
          <el-date-picker
            v-model="value2"
            type="datetime"
            placeholder="*年*月*日*时*分"
            value-format="yyyy-MM-dd HH:mm"
            format="yyyy-MM-dd HH:mm"
            :picker-options="pickerOptions1"
            
          ></el-date-picker>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label"><span style="color: red;text-align: right;">*</span>结束时间：</span>
          <el-date-picker
            v-model="value3"
            type="datetime"
            placeholder="*年*月*日*时*分"
            value-format="yyyy-MM-dd HH:mm"
            format="yyyy-MM-dd HH:mm"
            :picker-options="pickerOptions1"
            
          ></el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label"><span style="color: red;text-align: right;">*</span>最小购买单位：</span>
          <el-input v-model="min_p" placeholder class="el-input" style="width: 60%;"></el-input>吨
        </el-col>
       
      </el-row>
      <div class="add-form-panel">
        <div class="check">
          <el-button type="primary" plain size="mini" @click="toggleAllSelection()">全选</el-button>
          <el-button type="primary" plain size="mini" @click="toggleSelection()">全不选</el-button>
          <el-button type="primary" plain size="mini" @click="toggleInverseAllSelection()">反选</el-button>
        </div>
      </div>
      <!-- 站点 -->
      <!-- .slice((currentPage - 1) * pageSize, currentPage * pageSize) -->
      <div class="table">
        <el-table
          border
          stripe
          ref="multipleTable"
          :data="table"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handChange"
          
        >
          <el-table-column type="selection" width></el-table-column>
          <el-table-column label="站点" align="center">
            <template slot-scope="scope">{{ scope.row.sysSite.siteName }}</template>
          </el-table-column>
          <el-table-column prop="proName" align="center" label="产品名称"></el-table-column>
          <el-table-column :formatter="getTypes" label="产品类型"></el-table-column>
          <el-table-column prop="basicPrice" align="center" label="起拍价格(元/吨)"></el-table-column>
         
          <el-table-column prop="allowance" align="center" label="标段放量(吨)">
             <template slot-scope="scope">
          
              {{scope.row.allowance}}
           </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="table.length"
          ></el-pagination>
        </div>
      </div>
    
      <!-- 选择客户 -->
      <div class="choose">
        <el-collapse v-model="activeNames" @change="handleChange">
          <el-collapse-item title="选择客户:" name="1">
            <div class="autotable">
              <el-table
                border
                stripe
                ref
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange"
              >
                <el-table-column type="selection" width="40"></el-table-column>
                <el-table-column label="客户公司名称">
                  <template slot-scope="scope">{{ scope.row.enterpriseName }}</template>
                </el-table-column>
                <el-table-column prop="fzrRealName" label="负责人"></el-table-column>
                <el-table-column prop="fzrTel" label="联系方式"></el-table-column>
              </el-table>
            </div>
          </el-collapse-item>
        </el-collapse>
      </div>
      
      <div class="compare">   
        <div class="add-form-item">
          <span class="label">竞买公告：</span>
          <el-input type="textarea" placeholder rows="4" v-model="jm_gg"></el-input>
        </div>
        <div class="add-form-item">
          <span class="label">竞买须知：</span>
          <el-input v-model="jm_xz" type="textarea" placeholder rows="4"></el-input>
        </div>
        <div class="add-form-item">
          <span class="label">产品说明：</span>
          <el-input v-model="cp_sm" type="textarea" placeholder rows="4"></el-input>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button @click="submit" style="background-color: #1890FF;color: #fff;">确定</el-button>
        <el-button @click="cancelDialog">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  listPriceApply,
  getPriceApply,
  addPriceApply,
  updatePriceApply,
  getOtherInfo,
  findCustome,
  addpublish,
  getCustomeList,
  submit,
  // gua_data,
  getadd
} from "@/api/jj/priceApply";
export default {
  data() {
    return {
      pickerOptions1: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      dialogVisible: false,
      tableData: [],
      // 选择客户
      activeNames: ['1'],
      // 时间(可携带数据)
      value1: '',
      value2: '',
      value3: '',
      jj_add: '',
      min_p: '',
      monkey: '',
      minu: '',
      interval: '',
      bh_time: '',
       jm_gg: '受相关单位委托，我公司定于2021年12月30日下午14:00在庆港交易网对委托人持有的如下标的进行公开拍卖。',
      jm_xz: '本次拍卖活动将依据有关的法律、法规组织和开展，并遵循“公开、公平、公正”和价高者得的原则，维护委托人和竞买人的利益。参加本次拍卖活动的当事人，请仔细阅读拍卖会《竞买须知》，并对自己的竞买行为负责。凡登记参加的竞买人，均视为认可本公司的《竞买须知》，必须按照本公司《竞买须知》进行竞投和付款，否则将负相应法律责任。',
      cp_sm: '"烃"就是碳、氢两种元素以不同的比例混合而成的一系列物质。其中较轻的部分，就叫做轻烃。天然气的主要成份是C1甲烷，含少量的C2乙烷，液化石油气的主要成份是C3丙烷、C4丁烷，它们在常温常压下呈气态，叫气态轻烃。C5-C16的烃在常温常压下是液态，我们就叫它液态轻烃。液态轻烃中最轻的部分是C5、C6，饱和的C5 、C6是鼓泡制气的最好原料，再重一点的部分就是汽油、煤油和柴油等。',

      // 合并数据
      array: [],
      array1: [],
      name: '111',

      // 站点信息
      table: [],
      currentPage: 1,
      pageSize: 5,
      site: [],
      cus: [],
      priceApplyId:'',
      // 产品类型
      get_type: [],
      showtime1:false,
      showtime2:false,
      nums:1,
      // 全不选
      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
      // 全选
      toggleAllSelection() {
        this.$refs.multipleTable.toggleAllSelection()
      },
      // 反选，重新遍历一遍数据
      toggleInverseAllSelection() {
        this.tableData.forEach((item) => {
          this.$refs.multipleTable.toggleRowSelection(item);
        });
      },

    }
  },
  created() {

    // findCustome().then(res => {
    //   this.tableData = res.data;
    // });
    
    // 产品类型
    this.getDicts("sys_product_type").then((response) => {
      this.get_type = response.data;
    });

  },

  methods: {
    
    emitEvent(params) {
      console.log("----33------")
      getCustomeList(params).then((res) => {
        this.tableData = res.data;
      });
    },

    // Tips0(){
    //   if (this.value2 != "") {
    //     var oDate1 = new Date(this.value1);
    //     var oDate2 = new Date(this.value2);
    //     if (oDate1.getTime() <= oDate2.getTime()) {
    //       this.showtime1=true
    //     } else {
    //       this.showtime1=false
    //     }
    //     if(!this.showtime1){
    //       this.$message.error('开始时间晚于发布时间');
    //     }
    //   }
    // },
    //  Tips1(){
    //   if (this.value3 != "") {
    //     var oDate1 = new Date(this.value2);
    //     var oDate2 = new Date(this.value3);
    //     if (oDate1.getTime() <= oDate2.getTime()) {
    //       this.showtime2=true
    //     } else {
    //       this.showtime2=false
    //     }
    //     if(!this.showtime2){ 
    //       this.$message.error('结束时间晚于开始时间');
    //     }
    //   }
    //   if (this.value1 != "") {
    //     var oDate1 = new Date(this.value1);
    //     var oDate2 = new Date(this.value2);
    //     if (oDate1.getTime() <= oDate2.getTime()) {
    //       this.showtime1=true
    //     } else {
    //       this.showtime1=false
    //     }
    //     if(!this.showtime1){
    //       this.$message.error('开始时间晚于发布时间');
    //     }
    //   }
    // },
    // Tips2(){
    //   if (this.value2 != "") {
    //     var oDate1 = new Date(this.value2);
    //     var oDate2 = new Date(this.value3);
    //     if (oDate1.getTime() <= oDate2.getTime()) {
    //       this.showtime2=true
    //     } else {
    //       this.showtime2=false
    //     }
    //     if(!this.showtime2){
    //       this.$message.error('结束时间晚于开始时间');
    //     }
    //   }
    // },
    openModel(data) {
      this.nums=1
      console.log('data', data);
      this.dialogVisible = true;
      this.priceApplyId = data.priceApplyId;
      getadd(this.priceApplyId).then(response => {
        // console.log('访问')
        this.table = response.data;
        this.toggleAllSelection()
        // console.log(this.table);
      });
      
    },
    cancelDialog() {
      this.dialogVisible = false;
    },
    // 产品类型
    getTypes(e) {
      for (var i = 0; i < this.get_type.length; i++) {
        if (this.get_type[i].dictValue == e.proType) { //dictValue，dictLabel保持和上面定义一致
          return this.get_type[i].dictLabel;
        }
      }
    },
    handleChange(val) {
      console.log(val);
    },
    // 客户信息
    handleSelectionChange(val) {
      this.cus = val;
      // console.log(val);
    },
    // 站点信息
    handChange(val) {
      // console.log(val);
      this.site = val;
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    // 提交数据
    submit() {
        var oDate1 = new Date(this.value1);
        var oDate2 = new Date(this.value2);
        var oDate3 = new Date(this.value3);
        if (oDate1.getTime() <= oDate2.getTime()) {
          this.showtime1=true
        } else {
          this.showtime1=false
        }
        if (oDate2.getTime() <= oDate3.getTime()) {
          this.showtime2=true
        } else {
          this.showtime2=false
        }
         if(!this.showtime1){
          this.$message.error('开始时间晚于发布时间');
          return
        }
        if(!this.showtime2){
          this.$message.error('结束时间晚于开始时间');
          return
        }
       
      if(this.value1==''){
        this.$message.error('发布时间未填写');
        return
      }
      if(this.value2==''){
        this.$message.error('开始时间未填写');
        return
      }
      if(this.value3==''){
        this.$message.error('结束时间未填写');
        return
      }
      if(this.min_p==''){
        this.$message.error('最小购买单位未填写');
        return
      }
      if(!this.showtime1){
        this.$message.error('开始时间晚于发布时间');
        return
      }
      if(!this.showtime2){
        this.$message.error('结束时间晚于开始时间');
        return
      }
       if(new Date(this.value2)-new Date()<1000*60*1){
        this.$message.error('开始时间不能小于现在1分钟');
            return
      }
      // console.log(this.table);
      let {
        value1,
        value2,
        value3,
        jj_add,
        min_p,
        monkey,
        minu,
        interval,
        bh_time,
        jm_gg,
        jm_xz,
        cp_sm,
        site,
        cus
      } = this;
      let data = {
        "amountIncrease": min_p,
        "createBy": "",
        "createTime": "",
        "createUserId": "",
        "delFlag": 0,
        "displayStartDate": value1,
        "listedAmount": 0,
        "listedCode": "",
        "listedEndDate": value3,
        "listedId": "",
        "listedPrice": 0,
        "listedStartDate": value2,
        "listedTitle": "",
        "orgId": "",
        "params": {},
        "priceApplyId": "",
        "productId": "",
        "remark": "",
        "searchValue": "",
        "siteId": "",
        "status": 0,
        "updateBy": "",
        "updateTime": "",
        "childrenCus": cus,
        "listedNotice":jm_gg,
        "listedExplain":cp_sm,
        "childrenAD": site,
      }
      
      if(this.nums==1){
    
        submit(data).then(response => {
        console.log(response);
        if (response.code == 200) {
          // this.$modal.alertSuccess("操作成功");
          this.msgSuccess("操作成功");
          this.nums--
          this.$router.go(0);
          
        }
      })
      }
      
    }
  },
  watch:{
    site:function(){
      console.log(this.site);
    },
     value2:function(){
      this.jm_gg='受相关单位委托，我公司定于'+this.value2+' 在庆港交易网对委托人持有的如下标的进行公开拍卖。'
    }
  }
}
</script>

<style scoped="">
.app-container {
  width: 900px;
  margin-left: 100px;
}

.dis {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.diss {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  margin-top: 80px;
}

.dip {
  margin-right: 30px;
  font-size: 18px;
}

.d_play {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-input {
  width: 300px;
}

.el_min {
  width: 200px;
}

.el_mint {
  width: 90px;
}

.el_size {
  width: 600px;
  height: 200px;
  border-radius: 5px;
  border: #ccc 1px solid;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
}

.f_check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.table {
  width: 100%;
  margin-top: 20px;
}
</style>
