<template>
  <el-dialog
    width="80%"
    title="发起挂牌上报申请"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品类型：</span>
          <el-input placeholder="天燃气" disabled style="width: 72%"></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品名称：</span>
          <el-input placeholder="LNG" disabled style="width: 72%"></el-input>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label"
            ><span style="color: red; text-align: right"> * </span
            >预售期：</span
          >
          <el-date-picker
            v-model="period"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="op_name"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions0"
            style="width: 72%"
          ></el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">申请类型：</span>
          <el-input
            v-model="apply_type"
            v-html="apply_type"
            class="form-readonly"
            readonly
            style="width: 72%"
          />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">说明：</span>
          <el-input
            type="textarea"
            :rows="3"
            placeholder="请输入备注"
            v-model="instructions"
            style="width: 72%"
          ></el-input>
        </el-col>
        <el-col :span="12" style="display: flex">
          <span class="label" style="margin-left: 38px; width: 80px"
            >文件上传：</span
          >
          <el-upload
            ref="upload"
            :action="uploadAction"
            :auto-upload="false"
            :http-request="uploadFile"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-success="handleFileSuccess"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button slot="trigger" size="small" type="primary"
              >点击上传</el-button
            >
          </el-upload>
        </el-col>
      </el-row>

      <div class="add-form-panel">
        <div class="check">
          <el-button
            type="primary"
            plain
            size="mini"
            @click="toggleAllSelection()"
            >全选</el-button
          >
          <el-button type="primary" plain size="mini" @click="toggleSelection()"
            >全不选</el-button
          >
          <el-button
            type="primary"
            plain
            size="mini"
            @click="toggleInverseAllSelection()"
            >反选</el-button
          >
        </div>
        <div class="z_but">
          <el-button @click="pri_tj" type="primary" plain size="mini"
            >录入统一价格</el-button
          >
          <el-dialog
            title="统一价格"
            append-to-body
            :destroy-on-close="true"
            :visible.sync="centerDialogVisible"
            width="20%"
          >
            <span class="label">统一价格：</span>
            <input
              type
              name
              id
              value
              class="fj ff"
              style="height: 40px"
              v-model="pri"
            />
            <span slot="footer" class="dialog-footer">
              <el-button @click="pri_qx">取 消</el-button>
              <el-button type="primary" @click="pri_qd">确 定</el-button>
            </span>
          </el-dialog>
        </div>
      </div>
      <div class="table">
        <el-table
          border
          stripe
          ref="multipleTable"
          :row-key="getRowKey"
          :data="
            tableData.slice(
              (currentPage - 1) * pageSize,
              currentPage * pageSize
            )
          "
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width></el-table-column>
          <el-table-column label="站点" align="center">
            <template slot-scope="scope">{{ scope.row.siteName }}</template>
          </el-table-column>

          <el-table-column prop align="center" label="产品类型">
            <template>天燃气</template>
          </el-table-column>
          <el-table-column prop label="产品名称" align="center">
            <div class="col">
              <template>LNG</template>
            </div>
          </el-table-column>
          <el-table-column prop label="配置量(吨)" align="center">
            <template slot-scope="scope">
              <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.pzl"
                size="small"
              />
            </template>
          </el-table-column>
          <el-table-column prop="name" label="招标量(吨)" align="center">
            <template slot-scope="scope">
              <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.zbl"
                size="small"
              />
            </template>
          </el-table-column>
          <el-table-column prop="name" label="一级审批价格(元/吨)" align="center">
            <template slot-scope="scope">
              <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.jyjg"
                size="small"
              />
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tableData.length"
          ></el-pagination>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button @click="sumbit" type="primary" size="small">确定</el-button>
        <el-button @click="cancelDialog" size="small">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  getProductInfo,
  getSiteInfoByPId,
} from "@/api/jj/priceApply";
import { getToken } from "@/utils/auth";
import axios from "axios";
export default {
  name: "Listing",
  data() {
    return {
      ipt1: "",
      ipt2: "",
      num: 1,
      num1: 1780,
      input: "",
      dialogVisible: false,
      centerDialogVisible: false,
      // 可读信息
      sTime: "",
      type: "",
      num_p: 0,
      num_z: 0,
      num_j: 0,
      // 换算产量
      dayCapacity: "",
      tableData: [],
      currentPage: 1,
      pageSize: 8,
      multipleSelection: [],
      // 携带数据
      optype: "",
      opname: "",
      period: "",
      apply_type: "初次申请",
      c_type: "天然气",
      c_name: "7",
      instructions: "",
      weight: 400,
      fj: "",
      pri: "",
      preSaleStartTime: "",
      preSaleEndTime: "",
      difference: "",
      params: "",
      test: "",
      params2: "",
      path: "",
      fileList: [],
      uploadAction: process.env.VUE_APP_BASE_API + "/jj/upload/upload",
      d: 0,
      pickerOptions0: {
        disabledDate(date) {
          //disabledDate 文档上：设置禁用状态，参数为当前日期，要求返回 Boolean
          return date.getTime() < Date.now() - 24 * 60 * 60 * 1000;
        },
      },
      // 全不选
      toggleSelection(rows) {
        if (rows) {
          rows.forEach((row) => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
      // 全选
      toggleAllSelection() {
        this.$refs.multipleTable.toggleAllSelection();
      },
      // 反选，重新遍历一遍数据
      toggleInverseAllSelection() {
        this.tableData.forEach((item) => {
          this.$refs.multipleTable.toggleRowSelection(item);
        });
      },
    };
  },
  created() {
    this.getDicts("sys_product_type").then((response) => {
      console.log(response);
      for (let temp of response.data) {
        if (temp.dictLabel == "天然气") {
          this.ipt1 = temp.dictValue;
        }
      }
    });
    getProductInfo().then((response) => {
      console.log(response);
      for (let temp of response.data.product) {
        if (temp.name == "LNG") {
          this.ipt2 = temp.productId;
          this.productIds();
        }
      }
    });
  },
  methods: {
    productIds() {
      let _this = this;
      if (_this.ipt2 != "") {
        _this.tableData = [];
        getSiteInfoByPId(_this.ipt2).then((res) => {
          for (let i = 0; i < res.data.site.length; i++) {
            _this.tableData.push({
              siteName: res.data.site[i].siteName,
              zbl: res.data.site[i].zbl,
              pzl: res.data.site[i].pzl,
              jyjg: res.data.site[i].jyjg,
              orgId: res.data.site[i].orgId,
              siteId: res.data.site[i].siteId,
            });
          }
           _this.params = _this.tableData;
          console.log( _this.tableData);
        });
      }
    },
    show() {
      this.dialogVisible = true;
    },
    getRowKey(row) {
      return row.siteName;
    },
    // 弹出层
    pri_tj() {

      this.params2 = this.params;
      this.centerDialogVisible = true;
      this.pri = "";
    },
    pri_qd() {
      this.params = this.params2;

      if (this.params != "") {
        this.params.forEach((item) => {
          item.jyjg = this.pri;
        });
      } else {
        this.$modal.alert("请选择站点信息");
      }
      this.centerDialogVisible = false;
    },
    pri_qx() {
      this.centerDialogVisible = false;
    },
    back() {
      this.$router.go(-1);
    },
    cancelDialog() {
      this.dialogVisible = false;
    },
    handleChange(value) {
      console.log(value);
    },
    handleSelectionChange(val) {
      console.log(val);
      this.params = val;
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    sub() {
      let file = event.target.files[0];
      this.fj = file.name;
    },
    yy(val) {
      console.log(val);
    },
    op_type() {
      console.log(this.optype);
    },
    op_name() {
      this.preSaleStartTime = this.period[0];
      this.preSaleEndTime = this.period[1];
    },
    // 上传文件
    uploadFile: function (file) {
      this.fileData.append("file", file.file);
    },
    handlePreview() {},
    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新上传图片！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },
    //上传成功
    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        this.$message.success("新增成功");
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
      }
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.msgError("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },
    // 提交数据
    sumbit() {
      if (this.path != "") {
        this.path = this.path.response.msg;
      }
      let {
        optype,
        opname,
        apply_type,
        preSaleStartTime,
        preSaleEndTime,
        difference,
        weight,
        fj,
        pri,
        num,
        num1,
        num_z,
        num_j,
        num_p,
        params,
        c_name,
        ipt2,
        instructions,
        path,
        // test,
        // $axios
      } = this;

      let test = {
        applicationFormCode: "",
        biddingApplyType: 0,
        approvePrice: 0,
        createBy: "",
        createTime: "",
        createUserId: "",
        delFlag: 0,
        endDate: "",
        orgId: "",
        params: {
          params,
        },
        preSaleEndTime: preSaleEndTime,
        preSaleStartTime: preSaleStartTime,
        priceAdjustmentCount: 0,
        priceApplyId: "",
        productId: ipt2,
        relateBiddingApplyId: "",
        remark: "",
        remarks: instructions,
        salesQuantity: 0,
        searchValue: "",
        startDate: "",
        status: 0,
        suggestPrice: 0,
        transactionType: "2",
        updateBy: "",
        updateTime: "",
        path: path,
      };
      if (test.preSaleEndTime == "") {
        this.$message({
          message: "时间没有填写",
          type: "warning",
        });
        return;
      }

      this.fileData = new FormData();
      this.fileData.append("entityStr", JSON.stringify(test));
      this.$refs.upload.submit();
      var that = this;
      axios({
        method: "post",
        url: that.uploadAction,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
        data: that.fileData,
        contentType: false, //这里不要落下
        dataType: "json",
      }).then((res) => {
        if (res.status == 200) {
          that.msgSuccess("提交成功");
          that.$tab.refreshPage();
        }
      });
    },
  },
};
</script>

<style scoped="">
* {
  font-size: 14px;
}

.app-container {
  margin-top: 20px;
  margin-left: 100px;
}
.table {
  margin-top: 10px;
}

.table {
  width: 100%;
}
</style>
