<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="75"
      class="挂牌销售信息表l-form-tool"
    >
    <el-form-item label="招标编号" prop="callbidCode">
        <el-input
          v-model="queryParams.callbidCode"
          placeholder="招标编号"
          clearable
          size="small"
        >
        </el-input>
      </el-form-item>
      <el-form-item label="申请单编号" prop="applyCode">
        <el-input
          v-model="queryParams.applyCode"
          placeholder="申请单编号"
          clearable
          size="small"
        >
        </el-input>
      </el-form-item>
      <el-form-item label="产品类别" prop="productyep">
        <el-select
          v-model="queryParams.productyep"
          placeholder="产品类别"
          clearable
          size="small"
          @change="add"
        >
          <el-option
            v-for="dict in productOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productId">
        <el-select
          v-model="queryParams.productId"
          placeholder="产品名称"
          size="small"
        >
          <el-option
            v-for="dict in productOptionys"
            :key="dict.productId"
            :label="dict.name"
            :value="dict.productId"
          />
        </el-select>
      </el-form-item>


      <el-form-item label="标段名称" prop="callbidTitle">
        <el-input
          v-model="queryParams.callbidTitle"
          placeholder="标段名称"
          clearable
          size="small"
        >
        </el-input>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">竞价招标信息表</h3>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          class="table"
          :data="
            callbidList.slice(
              (currentPage - 1) * pageSize,
              currentPage * pageSize
            )
          "
          style="width: 100%"
        >
          <el-table-column
            prop="callbidCode"
            label="招标编号 "
            align="center"
            width="160"
            fixed
          ></el-table-column>
          <el-table-column
            prop="applyCode"
            label="申请单编号 "
            align="center"
            width="180"
            fixed
          ></el-table-column>
          <el-table-column
            prop="childrenOrg.orgFullName"
            label="子分公司名称"
            align="center"
            width="180"

          ></el-table-column>

          <el-table-column label="站点名称" width="180" align="center" >
            <template slot-scope="scope">{{
              scope.row.childrenSite.siteName
            }}</template>
          </el-table-column>
          <el-table-column
            label="产品类型"
            align="center"
            :formatter="getproType"
            width="120px"

          />
          <el-table-column
            prop="childrenPro.name"
            label="产品名称"
            align="center"
            width="120"
          ></el-table-column>

          <el-table-column
            prop="callbidTitle"
            label="标段名称"
            align="center"
            width="585"
          ></el-table-column>
          <el-table-column
            prop="upsetPrice"
            label="起拍价格（元/吨）"
            align="center"
             width="150"
          ></el-table-column>
          <el-table-column
            prop="biddingStartTime"
            label="竞价时间"
            align="center"
            width="150"
          ></el-table-column>
          <el-table-column
            prop="bidCount"
            label="报价次数"
            align="center"
          ></el-table-column>
          <el-table-column
            :formatter="dqType"
            label="当前状态"
            align="center"
            width="120"
            fixed
          ></el-table-column>
          <el-table-column label="操作" align="center" fixed="right"  width="100">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-view"
                @click="toinfo(scope.row)"
                v-hasPermi="['jj:callbid:query']"
                >详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="callbidList.length"
          ></el-pagination>
        </div>
      </div>
    </div>
    <!-- 查看详情弹窗  -->
    <Info ref="info" />
  </div>
</template>

<script>
import {
  listCallbid,
  getCallbid,
  delCallbid,
  addCallbid,
  updateCallbid,
} from "@/api/jj/callbid";
import { getProductInfo } from "@/api/jj/priceApply";
import Info from "./info.vue";

export default {
  name: "Callbid",
  components: {
    Info,
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 竞价招标表格数据
      callbidList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        sectionName: null,
        pageNum: 1,
        pageSize: 10,
        productyep:null,
        callbidCode: null,
        callbidTitle: null,
        section: null,
        siteId: null,
        productId: null,
        roundAmount: null,
        displayStartTime: null,
        biddingStartTime: null,
        biddingEndTime: null,
        interval: null,
        priceIncrease: null,
        bidCount: null,
        status: null,
        upsetPrice: null,
        bidingNum: null,
        orgId: null,
        biddingNotice: null,
        biddingInstructions: null,
        produceManual: null,
        biddingStatus: null,
        contactPerson: null,
        contactPhone: null,
        appreciationRate: null,
        priceApplyId: null,
        incrementPrice: null,
        relateCallbidId: null,
        browerNum: null,
        businessNegotiationResults: null,
        createUserId: null,
        applyCode: null,
      },
      productOptions: [],
      productOption: [],
      productOptiony: [],
      productOptionys:[],
      sectionNameop: [],
      currentPage: 1,
      pageSize: 8,
      // 站点列表
      tableData: [],
      // 表单参数
      form: {},
      // 竞价状态
      jj_type: [],
      dq_type: [],
      // 表单校验
      rules: {
        callbidCode: [
          {
            required: true,
            message: "招标编号不能为空",
            trigger: "blur",
          },
        ],
        applyCode: [
          {
            required: true,
            message: "申请单编号不能为空",
            trigger: "blur",
          },
        ],
        productyep: [
          {
            required: true,
            message: "产品类别不能为空",
            trigger: "blur",
          },
        ],
        productId: [
          {
            required: true,
            message: "产品名称不能为空",
            trigger: "blur",
          },
        ],
        callbidTitle: [
          {
            required: true,
            message: "标段名称不能为空",
            trigger: "blur",
          },
        ],
      },
    };
  },

  created() {
    this.getList();

    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });

    getProductInfo().then((response) => {
      this.productOption = response.data.product;
      this.productOptionys = this.productOption;
    });

    this.getDicts("sys_product_jjList").then((response) => {
      this.productOption = response.data;
    });
    // 竞价状态
    this.getDicts("bidding_status").then((response) => {
      this.jj_type = response.data;
    });
    // 当前状态
    this.getDicts("jj_callbid_status").then((response) => {
      this.dq_type = response.data;
    });
  },
  methods: {
    add() {
      // console.log(this.queryParams.productyep);
      this.productOptionys = [];
      if (this.queryParams.productyep != "") {
        for (let temp of this.productOption) {
          if (temp.type == this.queryParams.productyep) {
            this.productOptionys.push(temp);
          }
        }
      } else {
        this.productOptionys = this.productOption;
        this.queryParams.productId = "";
      }
    },
    getproType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e.childrenPro.type) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    // 竞价状态
    jjType(e) {
      for (var i = 0; i < this.jj_type.length; i++) {
        if (this.jj_type[i].dictValue == e.biddingStatus) {
          //dictValue，dictLabel保持和上面定义一致
          return this.jj_type[i].dictLabel;
        }
      }
    },
    // 当前状态
    dqType(e) {
      for (var i = 0; i < this.dq_type.length; i++) {
        if (this.dq_type[i].dictValue == e.status) {
          //dictValue，dictLabel保持和上面定义一致
          return this.dq_type[i].dictLabel;
        }
      }
    },
    // 产品名称
    getType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e.productId) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    /** 查询竞价招标列表 */
    getList() {
      this.loading = true;
      listCallbid(this.queryParams).then((response) => {
        this.callbidList = response.rows;
        this.total = response.total;
        if (this.$store.state.dataobj != "") {
          let row = [this.$store.state.dataobj];
          this.$store.state.dataobj = "";
          let add = [];
          for (let temp of this.callbidList) {
            if (temp.callbidCode == row[0].applicationFormCode) {
              add.push(temp);
            }
          }
          this.callbidList = add;

          //  this.callbidList=row
        }
      });

      this.loading = false;
    },
    toinfo(data) {
      this.$refs.info.openModel(data);
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        callbidId: null,
        callbidCode: null,
        callbidTitle: null,
        section: null,
        siteId: null,
        productId: null,
        roundAmount: null,
        displayStartTime: null,
        biddingStartTime: null,
        biddingEndTime: null,
        interval: null,
        priceIncrease: null,
        bidCount: null,
        status: 0,
        upsetPrice: null,
        bidingNum: null,
        orgId: null,
        biddingNotice: null,
        biddingInstructions: null,
        produceManual: null,
        biddingStatus: "0",
        contactPerson: null,
        contactPhone: null,
        appreciationRate: null,
        priceApplyId: null,
        incrementPrice: null,
        relateCallbidId: null,
        browerNum: null,
        businessNegotiationResults: null,
        createUserId: null,
        createTime: null,
        updateTime: null,
        delFlag: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加竞价招标";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const callbidId = row.callbidId || this.ids;
      getCallbid(callbidId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改竞价招标";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.callbidId != null) {
            updateCallbid(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addCallbid(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const callbidIds = row.callbidId || this.ids;
      this.$modal
        .confirm('是否确认删除竞价招标编号为"' + callbidIds + '"的数据项？')
        .then(function () {
          return delCallbid(callbidIds);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "jj/callbid/export",
        {
          ...this.queryParams,
        },
        `callbid_${new Date().getTime()}.xlsx`
      );
    },
  },
};
</script>
