<template>
  <el-dialog
    width="60%"
    title="竞价标段详情"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container">
      <div class="detail-info">
        <el-row style="border-bottom: 1px solid #ececec">
          <el-col class="title inner">
            <span class="label">子分公司名称：</span>
            <span class="matter">{{
              tables.childrenOrg ? tables.childrenOrg.orgFullName : ""
            }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">产品类型：</span>
            <span class="matter">{{
              tables.childrenPro ? getType(tables.childrenPro.type) : ""
            }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">产品名称：</span>
            <span class="matter">{{
              tables.childrenPro ? tables.childrenPro.name : ""
            }}</span>
          </el-col>
        </el-row>
        <!-- <el-row>
          <el-col :span="12" class="inner">
            <span class="label">场次：</span>
            <span class="matter">{{ tables.bidCount }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">增值率：</span>
            <span class="matter">{{ tables.appreciationRate }}</span>
          </el-col>
        </el-row> -->
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">起拍价：</span>
            <span class="matter">{{ tables.upsetPrice }}元/吨</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">放量：</span>
            <span class="matter">{{ tables.roundAmount }} 吨</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">发布时间：</span>
            <span class="matter">{{ tables.displayStartTime }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">竞价开始：</span>
            <span class="matter">{{ tables.biddingStartTime }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">竞价结束：</span>
            <span class="matter">{{ tables.biddingEndTime }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">交接点：</span>
            <span class="matter">{{
              tables.childrenSite ? tables.childrenSite.siteName : ""
            }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">出价次数：</span>
            <span class="matter">{{ tables.bidCount }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">竞价递增：</span>
            <span class="matter">{{ tables.priceIncrease }}元</span>
          </el-col>
        </el-row>
        <el-row> </el-row>
      </div>
      <div class="table">
        <h3 class="table-title" style="text-align: left">中标客户</h3>
        <el-table
          border
          stripe
          :data="
            table.slice((currentPage - 1) * pageSize, currentPage * pageSize)
          "
        >
          <el-table-column
            label="公司名称"
            align="center"
            prop="company"
          ></el-table-column>
          <el-table-column
            label="报价(元/吨)"
            align="center"
            prop="priceIncrease"
          ></el-table-column>
          <el-table-column
            label="竞价数量(吨)"
            align="center"
            prop="amount"
          ></el-table-column>
          <el-table-column label="增值率(%)" align="center">
            <template slot-scope="scope">
              <span>{{ zzl(scope.row.priceIncrease, tables.upsetPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="竞价状态" align="center">
            <template slot-scope="scope">
              <span>{{ jjType(scope.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="中标方式" align="center">
            <template slot-scope="scope">
              <span>{{ bidMode(scope.row.bidMode) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="更多" align="center">
            <template slot-scope="scope">
              <el-button
                plain
                size="mini"
                type="warning"
                v-if="scope.row.status == 3"
                @click="sb(scope.row)"
                v-hasPermi="['jj:callbid:up']"
                >弃标</el-button
              >
              <el-button
                plain
                size="mini"
                type="warning"
                v-if="scope.row.status == 4"
                @click="open(scope.row)"
                >弃标原因</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="table.length"
          ></el-pagination>
        </div>
      </div>
      <div class="detail-tool dialog-footer form-tool-container">
        <el-button type="primary" size="small" @click="toDuct" v-show="flag2"
          >调价申请</el-button
        >
        <el-button
          type="primary"
          @click="end"
          size="small"
          v-show="flag1"
          v-hasPermi="['jj:callbid:confirm']"
          >价格确认</el-button
        >
        <el-button
          type="primary"
          size="small"
          @click="talks()"
          v-hasPermi="['jj:callbid:talks']"
          v-show="flag4"
          >商务谈判</el-button
        >
        <!-- <el-button type="primary" size="small" @click="toDuct"    >调价申请</el-button>
        <el-button type="primary" @click="end" size="small"    v-hasPermi="['jj:callbid:confirm']">价格确认</el-button>
         <el-button type="primary" size="small" @click="talks()" v-hasPermi="['jj:callbid:talks']"
          >商务谈判</el-button> -->
      </div>
    </div>
    <el-dialog
      title="弃标原因"
      :visible.sync="dialogFormVisible"
      append-to-body
      :destroy-on-close="true"
      style="margin-top: 50px"
    >
      <el-form :model="form">
        <el-form-item label="说明" :label-width="formLabelWidth">
          <el-input
            type="textarea"
            v-model="form.name"
            :rows="6"
            :disabled="flag3"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="determine">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog
      title="商务谈判"
      :visible.sync="talksVisible"
      append-to-body
      width="1000px"
      :destroy-on-close="true"
      style="margin-top: 50px"
    >
      <el-form ref="forms" :model="forms"  label-width="80px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              label="客户名称"
              prop="enterpriseName"
              class="required_red_star"
            >
              <el-input
                placeholder="请选择客户"
                disabled
                v-model="ixi"
                style="width: 90%"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="tiankuang = true"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="客户编号">
              <el-input
                placeholder="请选择客户编号"
                v-model="applyCode"
                style="width: 80%"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="竞拍时间">
              <el-date-picker
                class="width-95"
                v-model="forms.biddingTime"
                type="date"
                placeholder="选择竞拍时间"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 90%"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="成交数量">
              <!-- <el-date-picker
                class="width-100"
                v-model="forms.startDate"
                type="date"
                placeholder="选择开始时间"
              >
              </el-date-picker> -->
              <el-input
                placeholder="请输入成交数量"
                v-model="forms.amount"
                style="width: 80%"
              ></el-input>
              <span style="font-weight: bold; color: #000">(吨)</span>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="成交价格">
              <el-input
                placeholder="请选择成交价格"
                v-model="forms.priceIncrease"
                style="width: 80%"
              ></el-input>
              <span style="font-weight: bold; color: #000">(元)</span>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="talksVisible = false">取 消</el-button>
        <el-button type="primary" @click="talksub()">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog
      title="客户列表"
      :visible.sync="tiankuang"
      append-to-body
      width="60%"
      :destroy-on-close="true"
      style="margin-top: 50px"
    >
      <!-- 选择客户 -->
      <div class="choose">
        <!-- <div style="width: 100%; text-align: right; margin-bottom: 20px">
          <el-button type="primary" plain size="mini" @click="tian"
            >添加</el-button
          >
        </div> -->
        <div>
          <el-col :span="10" style="display: flex; margin-bottom: 15px">
            <p style="width: 120px; margin-top: 10px;font-weight: bold;">客户公司名称</p>
            <el-input
              placeholder="请搜索客户公司名称"
              v-model="input"
              clearable>
            </el-input>
          </el-col>
           <el-col :span="3" :offset="8">
            <el-button  type="primary"
          icon="el-icon-search"
          size="mini" @click="search" 
            >搜索</el-button
          >
          </el-col>
          <el-col :span="3" >
            <el-button icon="el-icon-plus" size="mini" @click="tian" 
            >添加</el-button
          >
          </el-col>
           <el-col :span="24" style="height: 35px;">
          </el-col>
        </div>
        <div class="autotable" >
          <el-table
            border
            stripe
            :data="categoryTypeOptions"
            ref="multipleTable"
            fit
            @select-all="dialogCheck"
            @select="dialogCheck"
          >
            <el-table-column type="selection" width="55"> </el-table-column>
            <el-table-column label="客户公司名称">
              <template slot-scope="scope">{{
                scope.row.enterpriseName
              }}</template>
            </el-table-column>
            <el-table-column
              prop="fzrRealName"
              label="负责人"
            ></el-table-column>
            <el-table-column prop="fzrTel" label="联系方式"></el-table-column>
          </el-table>
        </div>
      </div>
    </el-dialog>
    <Publish ref="publish" />
  </el-dialog>
</template>

<script>
import {
  listCallbid,
  getCallbid,
  delCallbid,
  addCallbid,
  updateCallbid,
  sb,
  bidabandonment,
  getPriceApply,
  liubiao,
  pricecon,
  posttalks,
} from "@/api/jj/callbid";
import { findCustome } from "@/api/jj/priceApply";
import Publish from "../publish/index.vue";
export default {
  name: "Info",
  components: {
    Publish,
  },
  data() {
    return {
      input:'',
      flag1:true,
      flag2:true,
      flag4:true,
      flag3:false,
      ixi:'',
      dialogFormVisible: false,
      talksVisible: false,
      tiankuang:false,
      table: [],
      tables: [],
      currentPage: 1,
      pageSize: 8,
      // 控制显示隐藏
      l_loding: false,
      q_loding: false,
      show: false,
      get_type: [],
      dialogVisible: false,
      centerDialogVisible: false,
      jj_type: [],
      liubiao: "",
      form: {
        name: "",
      },
      formLabelWidth: "50px",
      forms: {
        customeId: undefined,
        priceIncrease: undefined,
        amount: undefined,
        biddingTime: undefined,
      },
      categoryTypeOptions: [],
      categoryTypeOptionsy: [],
      multipleSelection:[],
      jj_bid:[],
     applyCode:''
    };
  },
  updated(){
    
  },
  methods: {
    //客户搜索
    search(){
      //并没有输入关键字时，就不要再搜索了
      if(this.input==''){
          this.categoryTypeOptions=this.categoryTypeOptionsy
          return
      }
      //搜索
      let add=[]
      for(let temp of this.categoryTypeOptions){
          if(temp.enterpriseName.indexOf(this.input) > -1){
              add.push(temp)
          }
      }
      this.categoryTypeOptions=add
    },
    bidMode(e){
      for (var i = 0; i < this.jj_bid.length; i++) {
        if (this.jj_bid[i].dictValue == e) {
          //dictValue，dictLabel保持和上面定义一致
          return this.jj_bid[i].dictLabel;
        }
      }
    },
    tian(){
        this.tiankuang=false
    },
      // handleSelectionChange(val) {
      //       this.multipleSelection = val;
      //   },
        dialogCheck: function(selection, row) {
            this.$refs.multipleTable.clearSelection()
            if (selection.length === 0) {
                return
            }
            if (row) {
                this.selectioned = row
                this.forms.customeId=row.customeId
                this.ixi=row.enterpriseName
                this.applyCode=row.customeCode
                this.$refs.multipleTable.toggleRowSelection(row, true)
            }
        },
    //商务谈判
    talks() {
      this.centerDialogVisible = false;
      this.talksVisible = true;
      if (this.talksVisible) {
        // findCustome().then((response) => {
        //   console.log(response.data);
        //   this.categoryTypeOptions = response.data;
        // });
         findCustome().then((response) => {
          this.categoryTypeOptions = response.data;
          this.categoryTypeOptionsy = response.data;
        });
      }

    },
    talksub() {

      this.tables.children = this.forms;
      if(this.forms.customeId==undefined){
          this.$message({
          message: '客户名称不能为空',
          type: 'warning'
        });
          return
      }
      if(this.forms.priceIncrease==undefined){
          this.$message({
          message: '成交价格不能为空',
          type: 'warning'
        });
          return
      }
      if(this.forms.amount==undefined){
          this.$message({
          message: '成交数量不能为空',
          type: 'warning'
        });
          return
      }
      if(this.forms.biddingTime==undefined){
          this.$message({
          message: '成交时间不能为空',
          type: 'warning'
        });
          return
      }

      this.tables.children=[{
          customeId:this.forms.customeId,
          priceIncrease:this.forms.priceIncrease,
          amount:this.forms.amount,
          biddingTime:this.forms.biddingTime
      }]
      let amounts=this.tables.roundAmount
       for(let temp of this.table){
         if(temp.status ==3){
          amounts=amounts-temp.amount
         }
       }
       if(amounts-this.forms.amount<0){
          this.$message({
          message: '成交数量不能大于标段余量',
          type: 'warning'
        });
          return
       }
      posttalks(this.tables).then((res) => {
        if(res.code==200){
            this.$tab.refreshPage();
        }
      });
      this.forms = {
        customeId: undefined,
        priceIncrease: undefined,
        amount: undefined,
        biddingTime: undefined,
      };
      this.talksVisible = false;
    },
    toChooseCustom() {
    },
    openModel(data,priceAdjustmentCount) {
      this.flag1=false
      this.flag2=false
      this.flag4=false
      this.flag3=false
      this.dialogVisible = true;
      this.callbidId = data.callbidId;
      this.priceApplyId = data.priceApplyId;
      this.getDetail();
      if(data.status==2 && data.applyNum==0){

          this.flag1=true

      }else if(data.status==5 || data.status==4 && data.applyNum==0){

          this.flag2=true

      }else if(data.status==2 && data.applyNum==1){

          this.flag1=true

      }else if(data.status==5 || data.status==4 && data.applyNum==1){

          this.flag2=true

      }else if(data.status==2 && data.applyNum==2){

          this.flag1=true

      }else if(data.status==5 || data.status==4 && data.applyNum==2){

          this.flag1=true
          this.flag4=true

      }
    },
    xianshi() {
      this.centerDialogVisible = true;
      // liubiao(this.tables).then((res) => {
      //   this.centerDialogVisible = true;
      // });
    },
    // 产品类型
    getType(e) {
      for (var i = 0; i < this.get_type.length; i++) {
        if (this.get_type[i].dictValue == e) {
          //dictValue，dictLabel保持和上面定义一致
          return this.get_type[i].dictLabel;
        }
      }
    },
    // 竞价
    jjType(e) {
      for (var i = 0; i < this.jj_type.length; i++) {
        if (this.jj_type[i].dictValue == e) {
          //dictValue，dictLabel保持和上面定义一致
          return this.jj_type[i].dictLabel;
        }
      }
    },
    zzl(a,b){
     let conunt= (a * 100) *10 / b / 10;
    return parseFloat(conunt.toFixed(2));
    },
    open(data) {
      if(data.status==4){
        this.$confirm(data.reason, '弃标原因', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
        }).then(() => {

        }).catch(() => {

        });
      }
    },
    // 授标
    sb(data) {
      this.dialogFormVisible = true;
      this.liubiao = data;
      // if(data.status==4){
      //   this.$confirm(data.reason, '弃标原因', {
      //     confirmButtonText: '确定',
      //     cancelButtonText: '取消',
      //     type: 'warning'
      //   })
      // }
    },
    determine() {
      this.dialogFormVisible = false;
      if(this.liubiao.status==3){
        this.liubiao.reason = this.form.name;
         bidabandonment(this.liubiao).then((response) => {
        if (response.code == 200) {
          this.msgSuccess("操作成功");
           this.$tab.refreshPage();
        }
      });
      }


    },
    go() {
       this.$tab.refreshPage();
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    l_but() {
      this.l_loding = true;
      this.q_loding = false;
    },
    q_but() {
      this.q_loding = true;
      this.l_loding = false;
    },
    toDuct() {
      this.$refs.publish.show(this.tables);
    },
    end() {
 
      pricecon(this.tables).then((res) => {
        if(res.code==200){
         this.msgSuccess("发布成功");
          this.$tab.refreshPage();  
        }
       
      });

    },
    getDetail() {
      getCallbid(this.callbidId).then((respose) => {
        this.table = respose.data.children;
        this.tables = respose.data;
        var amounts=this.tables.roundAmount
          for(let temp of this.table){
              if(temp.status ==3 || temp.status==2){
                  amounts=amounts-temp.amount
                }
              // if(temp.bidMode==2){
              //     this.flag2=false
              // }
          }
          if(amounts>0){
              this.flag1=true
              this.flag4=true
          }
          if(amounts==0){
              this.flag1=true
          }
      });
    },
  },
  created() {
    // 产品类型字典转化
    this.getDicts("sys_product_type").then((response) => {
      this.get_type = response.data;
    });

    // jj_bidding_status  授标
    this.getDicts("jj_bidding_status").then((response) => {
      this.jj_type = response.data;
    });
    //中标方式
    this.getDicts("jj_bid_mode").then((response) => {
      this.jj_bid = response.data;
    });
  },
  watch:{
    input:function(){
      if(this.input==''){
          this.categoryTypeOptions=this.categoryTypeOptionsy
      }
    }
  }
};
</script>
