<template>
  <div class="">

  </div>
</template>

<script>
  import {findnotice} from "@/api/jj/priceApply";
  export default{
    name:'findnontice',
    data() {
      return {
        key:'',
      }
    },
    created(){
      this.key = this.$route.query.data.priceApplyId;
      console.log(this.key)
      findnotice(this.key).then(respose =>{
        console.log(respose);
      })
    }

  }
</script>

<style>
</style>
