<template>
  <div class="dashboard-editor-container">
    <div class="sales_index">
      <div class="sales_index_left">
        <!-- 左边头部 -->
        <div class="sales_index_left_header">
          <!-- 地图 -->
          <div class="index_left_header_map">
            <iframe
              src="http://10.78.9.240/szqgmap/sale_min.html"
              style="width: 100%; height: 100%; border: none"
            ></iframe>
          </div>
          <!-- 销售汇总 -->
          <div class="index_left_header_count">
            <div class="sales_index_title">
              <span class="title-class">销售汇总</span>
              <span class="index-span-time">{{ currDay }}</span>
            </div>

            <div class="index-sales-count">
              <div
                class="index-sales-count-children"
                v-for="(item, index) in salesCountList"
                :key="index"
              >
                <div class="index-sales-count-children-title">
                  <img src="../assets/image/index/sales_icon.png" alt="" />
                  <span>{{ item.productName }}</span>
                </div>
                <div class="index-sales-count-children-info">
                  <div>
                    <span>日销量</span
                    ><span class="sales_count_num">{{ item.dayCount }}</span>
                  </div>
                  <div>
                    <span>月销量</span
                    ><span class="sales_count_num">{{ item.monthCount }}</span>
                  </div>
                  <div>
                    <span>年销量</span
                    ><span class="sales_count_num">{{ item.yearCount }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="margin_top_10 index-sales-count-two">
              <div class="sales_index_title">
                <span class="title-class">销售情况统计(万吨)</span>
              </div>
              <!-- 搜索条件 -->
              <el-form label-width="68px" class="index_query_form">
                <el-row :gutter="24" class="index_query_list">
                  <el-col :span="8">
                    <el-form-item label="销售单位">
                      <el-select
                        clearable
                        @change="getSalesCountTwo"
                        v-model="query.salesTwoOrgId"
                        placeholder="选择销售单位"
                        size="small"
                        class="index_query_item"
                      >
                        <el-option
                          v-for="dict in orgList"
                          :key="dict.dictValue"
                          :label="dict.dictLabel"
                          :value="dict.dictValue"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="产品类型">
                      <el-select
                        clearable
                        @change="changeSalesTwo"
                        v-model="query.salesTwoProductType"
                        placeholder="请选择产品类型"
                        size="small"
                        class="index_query_item"
                      >
                        <el-option
                          v-for="dict in productTypeOptions"
                          :key="dict.dictValue"
                          :label="dict.dictLabel"
                          :value="dict.dictValue"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="产品名称">
                      <el-select
                        clearable
                        @change="getSalesCountTwo"
                        v-model="query.salesTwoProductId"
                        placeholder="请选择产品类型"
                        size="small"
                        class="index_query_item"
                      >
                        <el-option
                          v-for="dict in salesTwoProductList"
                          :key="dict.productId"
                          :label="dict.name"
                          :value="dict.productId"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
              <div id="sales_count_two" class="sales_index_echarts"></div>
            </div>
          </div>
        </div>

        <div class="index-query">
          <div>销售情况</div>
          <div class="index-query-time">
            <span class="query-time-span">统计范围:</span>
            <el-date-picker
              style="width: 150px; height: 20px; line-height: 20px"
              v-model="query.startTime"
              :clearable="false"
              :picker-options="pickerOptions"
              value-format="yyyy-MM"
              type="month"
              placeholder="选择开始时间"
            >
            </el-date-picker>
            -
            <el-date-picker
              :clearable="false"
              v-model="query.endTime"
              :picker-options="pickerOptions"
              value-format="yyyy-MM"
              style="width: 150px; height: 20px; line-height: 20px"
              type="month"
              placeholder="选择开始时间"
            >
            </el-date-picker>

            <div class="query-time-btn" @click="queryTime()">搜索</div>
          </div>
        </div>

        <!-- 内容 -->
        <div class="sales_index_count">
          <!-- 销售情况统计 -->
          <div class="sales_index_count_children">
            <div class="sales_index_title">
              <span class="title-class">销售情况统计(万吨)</span>
            </div>
            <!-- 搜索条件 -->
            <el-form label-width="68px" class="index_query_form">
              <el-row :gutter="24" class="index_query_list">
                <el-col :span="8">
                  <el-form-item label="销售单位">
                    <el-select
                      clearable
                      @change="getSalesCountOne"
                      v-model="query.salesOneOrgId"
                      placeholder="选择销售单位"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in orgList"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="产品类型">
                    <el-select
                      clearable
                      v-model="query.salesOneProductType"
                      @change="changeSalesOne"
                      placeholder="选择产品类型"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in productTypeOptions"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="产品名称">
                    <el-select
                      clearable
                      @change="getSalesCountOne"
                      v-model="query.salesOneProductId"
                      placeholder="选择产品名称"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in salesOneProductList"
                        :key="dict.productId"
                        :label="dict.name"
                        :value="dict.productId"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
            <div id="sales_count_one" class="sales_index_echarts"></div>
          </div>
          <!-- 产品销售分布 -->
          <div class="sales_index_count_children">
            <div class="sales_index_title">
              <span class="title-class">产品销售分布(万吨)</span>
            </div>
            <el-form label-width="68px" class="index_query_form">
              <el-row :gutter="24" class="index_query_list">
                <el-col :span="24">
                  <el-form-item label="销售单位">
                    <el-select
                      clearable
                      @change="getSalesLayOut"
                      v-model="query.layoutOrgId"
                      placeholder="选择销售单位"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in orgList"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
            <div class="sales_index_echarts_product">
              <div
                id="sales_product_layout"
                class="sales_index_echarts_left"
              ></div>
              <div class="sales_index_echarts_right">
                <div style="font-size: 14px">销量最高</div>
                <div>
                  <div
                    class="right_list"
                    v-for="(item, index) in productLayoutList"
                    :key="index"
                  >
                    <div>站点：{{ item.name }}</div>
                    <div>销量：{{ item.value }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 销售情况统计 -->

          <!-- 子分公司销售盘点 -->
          <div
            class="sales_index_count_children margin_top_10 index_org_echarts"
          >
            <div class="sales_index_title">
              <span class="title-class">子分公司销售盘点(万吨)</span>
            </div>

            <!-- 搜索条件 -->
            <el-form label-width="68px" class="index_query_form">
              <el-row :gutter="24" class="index_query_list">
                <el-col :span="12">
                  <el-form-item label="产品类型" prop="orgProductType">
                    <el-select
                      @change="changeOrgSalesCount"
                      v-model="query.orgProductType"
                      clearable
                      placeholder="请选择"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in productTypeOptions"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="产品名称" prop="orgProductId">
                    <el-select
                      @change="getOrgSalesCount"
                      v-model="query.orgProductId"
                      placeholder="请选择"
                      clearable
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in productList"
                        :key="dict.productId"
                        :label="dict.name"
                        :value="dict.productId"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>

            <div id="sales_check" class="sales_index_echarts"></div>
          </div>

          <!-- 客户购买量分析 -->
          <div class="sales_index_count_children margin_top_10">
            <div class="sales_index_title">
              <span class="title-class">客户购买量分析(万吨)</span>
            </div>
            <el-form label-width="68px" class="index_query_form">
              <el-row :gutter="24" class="index_query_list">
                <el-col :span="8">
                  <el-form-item label="销售单位">
                    <el-select
                      clearable
                      @change="getCustomerPurchases"
                      v-model="query.customeBuyOrgId"
                      placeholder="选择销售单位"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in orgList"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="产品类型">
                    <el-select
                      clearable
                      @change="changeCustomerPurchases"
                      v-model="query.customeBuyProductType"
                      placeholder="请选择产品类型"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in productTypeOptions"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="产品名称">
                    <el-select
                      clearable
                      @change="getCustomerPurchases"
                      v-model="query.customeBuyProductId"
                      placeholder="请选择产品类型"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in customeProductList"
                        :key="dict.productId"
                        :label="dict.name"
                        :value="dict.productId"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>

            <div class="sales_index_echarts_product">
              <div
                id="sales_customer_purchases"
                class="sales_index_echarts_left"
              ></div>
              <div
                class="sales_index_echarts_right"
                id="sales_customer_purchases_top"
              ></div>
            </div>
          </div>
          <!-- 产品效益分析 -->
          <div class="sales_index_count_children margin_top_10">
            <div class="sales_index_title">
              <span class="title-class">产品效益分析(万元)</span>
            </div>
            <el-form label-width="68px" class="index_query_form">
              <el-row :gutter="24" class="index_query_list">
                <el-col :span="24">
                  <el-form-item label="销售单位">
                    <el-select
                      clearable
                      @change="getProductBenefit"
                      v-model="query.salesBenefitOrgId"
                      placeholder="选择销售单位"
                      size="small"
                      class="index_query_item"
                    >
                      <el-option
                        v-for="dict in orgList"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
            <div class="sales_index_echarts_product">
              <div
                id="sales_product_profit"
                class="sales_index_echarts_left"
              ></div>
              <div
                class="sales_index_echarts_right"
                id="sales_product_profit_top"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="sales_index_right">
        <div class="sales_index_right_children">
          <div class="sales_index_title">待办事项</div>
        </div>
        <div class="sales_index_right_children margin_top_10">
          <div class="sales_index_title">通知公告</div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import echarts from "echarts";
import {
  getSalesCount,
  getOrgSalesCount,
  getProductQuery,
  getSalesLayOut,
  getSalesCountOne,
  getSalesCountTwo,
  getProductBenefit,
  getCustomerPurchases,
} from "@/api/purchase/index";

export default {
  name: "Index",
  data() {
    return {
      currDay: "",
      currMonth: "",
      salesCountList: [],

      orgList: [],
      productTypeOptions: [],
      productList: [],
      salesOneProductList: [],
      salesTwoProductList: [],
      customeProductList: [],

      productLayoutList: [],

      companyQuery: {},
      pickerOptions: this.limitDate(),

      query: {
        startTime: undefined,
        endTime: undefined,
        orgProductType: undefined,
        orgProductId: undefined,

        salesOneOrgId: undefined,
        salesOneProductId: undefined,
        salesOneProductType: undefined,

        salesTwoOrgId: undefined,
        salesTwoProductId: undefined,
        salesTwoProductType: undefined,

        customeBuyProductId: undefined,
      },
    };
  },
  created() {
    const date = new Date();
    const year = date.getFullYear();
    const month = date.getMonth() + 1;
    const day = date.getDate();
    this.currDay = year + "-" + month + "-" + day;

    this.query.startTime = year + "-" + month;
    this.query.endTime = year + "-" + month;

    // 获取查询条件
    this.getProductQuery();

    // 销售汇总
    this.getSalesCount();
    // 子分公司销售盘点
    this.getOrgSalesCount();
    //产品销售分布
    this.getSalesLayOut();

    // 销售情况统计
    this.getSalesCountOne();
    this.getSalesCountTwo();

    this.initSalesCountTwo();

    //利润分析
    this.getProductBenefit();

    // 客户购买量分析
    this.getCustomerPurchases();
  },
  methods: {
    changeCustomerPurchases(val) {
      this.$forceUpdate;
      this.query.customeBuyProductId = undefined;
      this.productTypeOptions.forEach((element) => {
        if (element.dictValue == val) {
          this.customeProductList = element.productList;
        }
      });
      this.getCustomerPurchases();
    },

    getCustomerPurchases() {
      getCustomerPurchases(this.query).then((response) => {
        this.initCustomerPurchases(response.pieCountVoList, response.valueList);
        this.initCustomerPurchasesTop(response.pieCountVoListTop);
      });
    },

    initCustomerPurchases(data, valueList) {
      valueList.forEach((item, index) => {
        let max = item > valueList[index] ? index : valueList[index];
        max = max > 0 ? max * 1.5 : 10;
        data[index].max = max;
      });

      this.$nextTick(() => {
        let myChart = echarts.init(
          document.getElementById("sales_customer_purchases")
        );
        var option = {
          backgroundColor: "#fff",
          tooltip: {
            trigger: "item",
          },
          color: ["#66b9e2", "#B2782C"],
          radar: {
            center: ["50%", "50%"], // 外圆的位置
            radius: "55%",
            name: {
              textStyle: {
                color: "#ababab",
                fontSize: 12,
                fontWeight: 400,
              },
            },
            indicator: data,
            splitArea: {
              // 坐标轴在 grid 区域中的分隔区域，默认不显示。
              show: true,
              areaStyle: {
                // 分隔区域的样式设置。
                color: ["#eef1ef", "#eef1ef", "#eef1ef", "#eef1ef", "#eef1ef"], // 画布颜色 // 分隔区域颜色。分隔区域会按数组中颜色的顺序依次循环设置颜色。默认是一个深浅的间隔色。
              },
            },
            axisLine: {
              // 指向外圈文本的分隔线样式
              lineStyle: {
                color: "#e2e2e2",
              },
            },
            splitLine: {
              lineStyle: {
                type: "solid",
                color: ["#e2e2e2", "#e2e2e2"], // 分隔线颜色
                width: 1, // 分隔线线宽
              },
            },
          },
          series: [
            {
              type: "radar",
              symbolSize: 5,
              data: [
                {
                  value: valueList,
                  name: "产品名称",
                  areaStyle: {
                    normal: {
                      color: {
                        type: "radial",
                        x: 0.5,
                        y: 0.5,
                        r: 0.5,
                        colorStops: [
                          {
                            offset: 0,
                            color: "rgba(102,185,226, 1)", // 0% 处的颜色
                          },
                          {
                            offset: 0.5,
                            color: "rgba(102,185,226, 1)", // 100% 处的颜色
                          },
                          {
                            offset: 1,
                            color: "rgba(102,185,226, 1)", // 100% 处的颜色
                          },
                        ],

                        global: false, // 缺省为 false
                      },
                    },
                  },
                  itemStyle: {
                    // 折线拐点标志的样式。
                    normal: {
                      // 普通状态时的样式
                      lineStyle: {
                        width: 1,
                      },
                      opacity: 0.3,
                    },
                    emphasis: {
                      // 高亮时的样式
                      lineStyle: {
                        width: 5,
                      },
                      opacity: 0,
                    },
                  },
                },
              ],
            },
          ],
        };
        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    initCustomerPurchasesTop(data1) {
      let getValue = [];
      data1.forEach((element) => {
        getValue.push(Number(element.value));
      });

      var max = Math.max.apply(null, getValue);
      if (max == 0) {
        max = 1;
      }
      var getMax = [];
      for (let i = 0; i < getValue.length; i++) {
        getMax.push(max);
      }
      this.$nextTick(() => {
        let myChart = echarts.init(
          document.getElementById("sales_customer_purchases_top")
        );
        let getSymbolData = (data) => {
          let arr = [];
          for (var i = 0; i < data.length; i++) {
            arr.push({
              value: data[i].value,
              symbolPosition: "end",
            });
          }
          return arr;
        };

        let option = {
          backgroundColor: "white",
          title: {
            text: "效益Top",
            left: "left",
            textStyle: {
              fontSize: "14",
              color: "#606266",
              fontWeight: 500,
            },
            subtextStyle: {
              fontSize: "14",
              color: "#606266",
              fontWeight: 500,
            },
          },
          grid: {
            top: 30,
            bottom: 0,
            right: 10,
            left: 10,
            containLabel: true,
          },
          xAxis: {
            max: getMax[0],
            show: false,
            type: "value",
          },
          yAxis: [
            {
              type: "category",
              inverse: true,
              offset: 20,
              axisLabel: {
                show: true,
                align: "left",
                padding: [-10, 0, 0, 0],
                textStyle: {
                  color: "#ababab",
                },
                formatter: function (value, index) {
                  var num = index + 1;
                  return " {num|" + num + "}";
                },
                rich: {
                  num: {
                    color: "#fff",
                    backgroundColor: "#5985b3",
                    width: 13,
                    height: 13,
                    fontSize: 9,
                    align: "center",
                    borderRadius: 10,
                    borderWidth: 2,
                    borderColor: "#8cadcd",
                  },
                 
                },
              },
              splitLine: {
                show: false,
              },
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
              },
              data: data1,
            },
            {
              type: "category",
              inverse: true,
              offset: -60,
              axisTick: "none",
              axisLine: "none",
              show: true,
              axisLabel: {
                verticalAlign: "bottom",
                padding: [0, 0, 5, 0],
                formatter: function (value, index) {
                  return data1[index].value + "万吨";
                },
                textStyle: {
                  color: "#ababab",
                  fontSize: "10",
                },
              },
              data: data1,
            },
          ],
          series: [
            // {
            //   name: "XXX",
            //   type: "pictorialBar",
            //   symbol:
            //     "image://data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAA6CAMAAADWZboaAAAAZlBMVEUAAABe3uVe3+Vf3uVf3+Zf3uVg3+Zg3+Zf3+Vi4OZh4OZg3+Z86/Bh3+Zi4Odj4Odi4OZ86/B76/B86/Bj4ed56+9x5+xn4umB7/N87PB36e+A7/N+7fF/7vJ/7vJ+7fGA7/OB7/PReX+lAAAAIXRSTlMABQkVDREmIhk3MR10LEFFPHh7cUprXE35h2XnqMLAp+mHAG9cAAAB5ElEQVRIx83WjU7CMBQFYIoiKMqU/XUboHv/l/Tce7t2XamDNSacETEmX86tlK2rx4py150o+MstMBLwWRfHKo6JCVxLnvmFGBjFQ58oF1//sUZhGy/ClSTWObgnL4O+bkeN4nY2okfNMbkRt9/vtxz8InoTsWplJSCzFxPmO8+GpSIByX3YQAuGDWtRKhKjCnxDXhF6Z4yxnZ20Wgko7BMRDmxtSGVaI4kdTIgb+zTYoJQlIMlDlmUFgrcDWWC201qSayqlTkiCddWWeV62VU0YlnpRi9VOKaSUsiyq/N0krwq2Ugt7lVpZl5BfHNiytjagMi+XYp0kCR45hMlivVQrE/uU5pXSrCB5bM6d1t2lOZItMqmliT3q5uVxqxzyW/ccfYLNKx7ZTeykMvNyac2yt2Fbc61MHLSC0rwoxbiNdlQ3GBm1NLHQsHUrtEXppR/ljNpW6DbSCoqlFiVoN6YdaFlgsSFVPs1BdT8OaB5QyQzVcaqWDows/zepxR8ObLglTrdtCRVuRNj4Rrxh+//0ke2f8KVL+Kon3GCSbmsJN9OUW3j6g0Ns+LgCij2u0h+Sghc8mlMPBMgdx5DFh59VmOVHrvmDnoNxCz3J7MFWsMuaLyR089xz/xhlfijvwutR8gv3zk6BLUUeCgAAAABJRU5ErkJggg==",
            //   symbolSize: [40, 40],
            //   symbolOffset: [10, 0],
            //   z: 999999,
            //   zlevel: 10,
            //   itemStyle: {
            //     normal: {
            //       color: "#ababab",
            //     },
            //   },
            //   data: getSymbolData(data1),
            // },
            {
              name: "值",
              type: "bar",
              zlevel: 1,
              itemStyle: {
                normal: {
                  barBorderRadius: 5,
                  color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                    {
                      offset: 0,
                      color: "#59a8d6",
                    },
                    {
                      offset: 0.7,
                      color: "#59a8d6",
                    },
                    {
                      offset: 1,
                      color: "#59a8d6",
                    },
                  ]),
                },
                barBorderRadius: 5,
              },
              barWidth: "20%",
              data: data1,
              label: {
                normal: {
                  color: "#ababab",
                  show: true,
                  position: [0, "-10px"],
                  textStyle: {
                    fontSize: 10,
                  },
                  formatter: function (a, b) {
                    if (a.name.length > 8) {
                      return a.name.substring(0, 8) + "...";
                    }
                    return a.name;
                  },
                },
              },
            },
            {
              name: "背景",
              type: "bar",
              barWidth: "20%",
              barGap: "-100%",
              data: getMax,
              itemStyle: {
                normal: {
                  color: "#f1f5f7",
                  barBorderRadius: 5,
                },
              },
            },
          ],
        };
        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    getProductBenefit() {
      getProductBenefit(this.query).then((response) => {
        this.initProductProfit(response.benefitList);
        this.initProductProfitTop(response.benefitTop);
      });
    },

    initProductProfitTop(data1) {
      let getValue = [];
      data1.forEach((element) => {
        getValue.push(Number(element.value));
      });

      var max = Math.max.apply(null, getValue);
      if (max == 0) {
        max = 1;
      }
      var getMax = [];
      for (let i = 0; i < getValue.length; i++) {
        getMax.push(max);
      }
      this.$nextTick(() => {
        let myChart = echarts.init(
          document.getElementById("sales_product_profit_top")
        );
        let getSymbolData = (data) => {
          let arr = [];
          for (var i = 0; i < data.length; i++) {
            arr.push({
              value: data[i].value,
              symbolPosition: "end",
            });
          }
          return arr;
        };

        let option = {
          backgroundColor: "white",
          title: {
            text: "效益Top",
            left: "left",
            textStyle: {
              fontSize: "14",
              color: "#606266",
              fontWeight: 500,
            },
            subtextStyle: {
              fontSize: "14",
              color: "#606266",
              fontWeight: 500,
            },
          },
          grid: {
            top: 30,
            bottom: 0,
            right: 10,
            left: 10,
            containLabel: true,
          },
          xAxis: {
            max: getMax[0],
            show: false,
            type: "value",
          },
          yAxis: [
            {
              type: "category",
              inverse: true,
              offset: 20,
              axisLabel: {
                show: true,
                align: "left",
                padding: [-10, 0, 0, 0],
                textStyle: {
                  color: "#ababab",
                },
                formatter: function (value, index) {
                  var  num = index + 1;
                  return " {num|" + num + "}";
                },
                rich: {
                  num: {
                    color: "#fff",
                    backgroundColor: "#5985b3",
                    width: 13,
                    height: 13,
                    fontSize: 9,
                    align: "center",
                    borderRadius: 10,
                    borderWidth: 2,
                    borderColor: "#8cadcd",
                  },
                },
              },
              splitLine: {
                show: false,
              },
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
              },
              data: data1,
            },
            {
              type: "category",
              inverse: true,
              offset: -60,
              axisTick: "none",
              axisLine: "none",
              show: true,
              axisLabel: {
                verticalAlign: "bottom",
                padding: [0, 0, 5, 0],
                formatter: function (value, index) {
                  return data1[index].value + "万元";
                },
                textStyle: {
                  color: "#ababab",
                  fontSize: "10",
                },
              },
              data: data1,
            },
          ],
          series: [
            // {
            //   name: "XXX",
            //   type: "pictorialBar",
            //   symbol:
            //     "image://data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAA6CAMAAADWZboaAAAAZlBMVEUAAABe3uVe3+Vf3uVf3+Zf3uVg3+Zg3+Zf3+Vi4OZh4OZg3+Z86/Bh3+Zi4Odj4Odi4OZ86/B76/B86/Bj4ed56+9x5+xn4umB7/N87PB36e+A7/N+7fF/7vJ/7vJ+7fGA7/OB7/PReX+lAAAAIXRSTlMABQkVDREmIhk3MR10LEFFPHh7cUprXE35h2XnqMLAp+mHAG9cAAAB5ElEQVRIx83WjU7CMBQFYIoiKMqU/XUboHv/l/Tce7t2XamDNSacETEmX86tlK2rx4py150o+MstMBLwWRfHKo6JCVxLnvmFGBjFQ58oF1//sUZhGy/ClSTWObgnL4O+bkeN4nY2okfNMbkRt9/vtxz8InoTsWplJSCzFxPmO8+GpSIByX3YQAuGDWtRKhKjCnxDXhF6Z4yxnZ20Wgko7BMRDmxtSGVaI4kdTIgb+zTYoJQlIMlDlmUFgrcDWWC201qSayqlTkiCddWWeV62VU0YlnpRi9VOKaSUsiyq/N0krwq2Ugt7lVpZl5BfHNiytjagMi+XYp0kCR45hMlivVQrE/uU5pXSrCB5bM6d1t2lOZItMqmliT3q5uVxqxzyW/ccfYLNKx7ZTeykMvNyac2yt2Fbc61MHLSC0rwoxbiNdlQ3GBm1NLHQsHUrtEXppR/ljNpW6DbSCoqlFiVoN6YdaFlgsSFVPs1BdT8OaB5QyQzVcaqWDows/zepxR8ObLglTrdtCRVuRNj4Rrxh+//0ke2f8KVL+Kon3GCSbmsJN9OUW3j6g0Ns+LgCij2u0h+Sghc8mlMPBMgdx5DFh59VmOVHrvmDnoNxCz3J7MFWsMuaLyR089xz/xhlfijvwutR8gv3zk6BLUUeCgAAAABJRU5ErkJggg==",
            //   symbolSize: [40, 40],
            //   symbolOffset: [10, 0],
            //   z: 999999,
            //   zlevel: 10,
            //   itemStyle: {
            //     normal: {
            //       color: "#ababab",
            //     },
            //   },
            //   data: getSymbolData(data1),
            // },
            {
              name: "值",
              type: "bar",
              zlevel: 1,
              itemStyle: {
                normal: {
                  barBorderRadius: 5,
                  color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                    {
                      offset: 0,
                      color: "#59a8d6",
                    },
                    {
                      offset: 0.7,
                      color: "#59a8d6",
                    },
                    {
                      offset: 1,
                      color: "#59a8d6",
                    },
                  ]),
                },
                barBorderRadius: 5,
              },
              barWidth: "20%",
              data: data1,
              label: {
                normal: {
                  color: "#ababab",
                  show: true,
                  position: [0, "-10px"],
                  textStyle: {
                    fontSize: 10,
                  },
                  formatter: function (a, b) {
                    return a.name;
                  },
                },
              },
            },
            {
              name: "背景",
              type: "bar",
              barWidth: "20%",
              barGap: "-100%",
              data: getMax,
              itemStyle: {
                normal: {
                  color: "#f1f5f7",
                  barBorderRadius: 5,
                },
              },
            },
          ],
        };

        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    initProductProfit(data) {
      var colors = [
        "#08df81",
        "#21c6f6",
        "#b997fe",
        "#ff9947",
        "#ffd741",

        "#5cc759",
        "#4499e9",
        "#fba5a5",
        "#f255a0",
      ].reverse();
      this.$nextTick(() => {
        let myChart = echarts.init(
          document.getElementById("sales_product_profit")
        );

        var option = {
          backgroundColor: "white",
          color: colors,
          tooltip: {
            trigger: "item",
            formatter: "{a} <br/>{b} : {c} ({d}%)",
          },
          series: [
            {
              name: "产品名称",
              type: "pie",
              radius: ["0%", "80%"],
              center: ["50%", "50%"],
              roseType: "radius",
              minShowLabelAngle: 60,
              label: {
                show: false,
                normal: {
                  show: false,
                  position: "outside",
                  fontSize: 16,
                },
              },
              data: data,
            },
          ],
        };
        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    limitDate() {
      var _this = this;
      return {
        disabledDate(time) {
          const month = 62 * 24 * 60 * 60 * 1000;
          return (
            time.getTime() < new Date().getTime() - month ||
            time.getTime() > new Date()
          );
        },
      };
    },

    getSalesLayOut() {
      getSalesLayOut(this.query).then((response) => {
        this.productLayoutList = response.topCountList;
        this.initSalesProductLayout(
          response.productCountList,
          response.typeCountList
        );
      });
    },

    initSalesProductLayout(productCountList, typeCountList) {
      this.$nextTick(() => {
        let myChart = echarts.init(
          document.getElementById("sales_product_layout")
        );

        var colorListInner= [ "#009bf0","#ffab67","#ffdc51"];
        var coolorListOuter= [
            "#08df81",
            "#21c6f6",
            "#b997fe",
            "#ff9947",
            "#ffd741",

            "#5cc759",
            "#4499e9",
            "#fba5a5",
            "#f255a0",
          ];

        let option = {
          backgroundColor: "#fff",
          tooltip: {
            trigger: "item",
            formatter: "{a} <br/>{b}: {c} ({d}%)",
          },
          series: [
            {
              name: "产品类型",
              type: "pie",
              color:colorListInner,
              radius: ["20%", "45%"],
              itemStyle: {
                normal: {
                  borderColor: "#fff",
                  borderWidth: 2,
                },
              },
              label: {
                normal: {
                  position: "inner",
                  show: false,
                },
              },
              labelLine: {
                normal: {
                  show: false,
                },
              },
              data: typeCountList,
            },
            {
              name: "产品名称",
              type: "pie",
              color:coolorListOuter,
              radius: ["60%", "75%"],
              data: productCountList,
              label: {
                normal: {
                  position: "inner",
                  show: false,
                },
              },
            },
          ],
        };
        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    getProductQuery() {
      getProductQuery().then((response) => {
        this.productTypeOptions = response.queryIndexVoList;
        this.orgList = response.orgList;
      });
    },
    // 销售汇总
    getSalesCount() {
      getSalesCount().then((response) => {
        this.salesCountList = response.salesCount;
         this.salesCountList.push({dayCount:"吨",monthCount:"万吨",yearCount:"万吨"})
      });
    },

    getOrgSalesCount() {
      getOrgSalesCount(this.query).then((response) => {
        let orgNameList = response.orgNameList;
        let monthCountList = response.monthCountList;
        this.initSalesCheckChart(orgNameList, monthCountList);
      });
    },

    changeOrgSalesCount(val) {
      this.$forceUpdate;
      this.query.orgProductId = undefined;
      this.productTypeOptions.forEach((element) => {
        if (element.dictValue == val) {
          this.productList = element.productList;
        }
      });
      this.getOrgSalesCount();
    },

    changeSalesOne(val) {
      this.$forceUpdate;
      this.query.salesOneProductId = undefined;
      this.productTypeOptions.forEach((element) => {
        if (element.dictValue == val) {
          this.salesOneProductList = element.productList;
        }
      });
      this.getSalesCountOne();
    },

    getSalesCountOne() {
      getSalesCountOne(this.query).then((response) => {
        this.initSalesCountOne(
          response.dayList,
          response.saleCountDayList,
          response.avgCountList,
          response.transferCount
        );
      });
    },

    initSalesCountOne(
      dayList,
      saleCountDayList,
      avgCountList,
      transferCountList
    ) {
      this.$nextTick(() => {
        let myChart = echarts.init(document.getElementById("sales_count_one"));

        let option = {
          backgroundColor: "white",
          tooltip: {
            show: true,
            trigger: "axis",
            textStyle: {
              color: "#fff",
            },
            axisPointer: {
              lineStyle: {
                color: {
                  type: "linear",
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: "rgba(0, 255, 233,0)",
                    },
                    {
                      offset: 0.5,
                      color: "rgba(255, 255, 255,1)",
                    },
                    {
                      offset: 1,
                      color: "rgba(0, 255, 233,0)",
                    },
                  ],
                  global: false,
                },
              },
            },
          },

          grid: {
            top: 30,
            left: "3%",
            right: 30,
            bottom: "8%",
            containLabel: true,
          },

          xAxis: [
            {
              type: "category",
              axisLine: {
                show: false,
                color: "#818181",
              },
              axisTick: {
                show: false,
              },
              axisLabel: {
                color: "#818181",
                width: 100,
              },
              splitLine: {
                show: false,
              },
              boundaryGap: false,
              data: dayList,
            },
          ],

          yAxis: [
            {
              type: "value",
              splitLine: {
                show: true,
                lineStyle: {
                  type: "dashed", //虚线
                  color: "#818181",
                  opacity: 0.23,
                },
              },
              axisLine: {
                show: false,
              },
              axisLabel: {
                show: true,
                margin: 20,
                textStyle: {
                  color: "#818181",
                },
              },
              axisTick: {
                show: false,
              },
            },
          ],
          series: [
            {
              name: "日销量",
              type: "bar",
              stack: "总量",
              barMaxWidth: 15,
              data: saleCountDayList.map((item) => {
                return {
                  value: item,
                  itemStyle: {
                    normal: {
                      barBorderRadius:
                        item > 0 ? [15, 15, 0, 0] : [0, 0, 15, 15], //左上角参数1, 右上角参数2, 右下角参数3, 左下角参数4
                      color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        {
                          offset: 0,
                          color: item > 0 ? "#46dfb3" : "#93eed5",
                        },
                        {
                          offset: 1,
                          color: item > 0 ? "#46dfb3" : "#93eed5",
                        },
                      ]),
                    },
                  },
                };
              }),
            },
            {
              name: "日均销量",
              type: "line",
              showAllSymbol: false,
              symbolSize: 0,
              lineStyle: {
                normal: {
                  width: 1,
                  type: "dashed",
                  color: "#6fd486",
                },
              },
              label: {
                show: false,
                position: "top",
                textStyle: {
                  color: "#6fd486",
                },
              },
              itemStyle: {
                color: "#ababab",
              },
              data: avgCountList,
            },
            {
              name: "调拨计量单量",
              type: "line",
              showAllSymbol: true,
              symbol: "circle",
              symbolSize: 5,
              lineStyle: {
                normal: {
                  color: "#46deb2",
                },
              },
              label: {
                show: false,
                position: "top",
                textStyle: {
                  color: "#46deb2",
                },
              },
              itemStyle: {
                color: "#fff",
                borderColor: "#46deb2",
                borderWidth: 2,
              },
              areaStyle: {
                normal: {
                  color: new echarts.graphic.LinearGradient(
                    0,
                    0,
                    0,
                    1,
                    [
                      {
                        offset: 0,
                        color: "rgba(70, 223, 179,0.5)",
                      },
                      {
                        offset: 1,
                        color: "rgba(70, 223, 179,0.2)",
                      },
                    ],
                    false
                  ),
                },
              },
              data: transferCountList, //data.values
            },
          ],
        };
        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    changeSalesTwo(val) {
      this.$forceUpdate;
      this.query.salesTwoProductId = undefined;
      this.productTypeOptions.forEach((element) => {
        if (element.dictValue == val) {
          this.salesTwoProductList = element.productList;
        }
      });
      this.getSalesCountTwo();
    },

    getSalesCountTwo() {
      getSalesCountTwo(this.query).then((response) => {
        this.initSalesCountTwo(
          response.dayList,
          response.countList,
          response.saleBeforeList,
          response.saleTachList
        );
      });
    },

    initSalesCountTwo(dayList, saleCurrList, saleBeforeList, saleTachList) {
      this.$nextTick(() => {
        let myChart = echarts.init(document.getElementById("sales_count_two"));
        let option = {
          tooltip: {
            trigger: "axis",
            axisPointer: {
              type: "shadow",
            },
          },
          legend: {
            x: "right",
            padding: [5, 10, 5, 5],
            itemHeight: 10,
            itemWidth: 14,
            data: ["月销量", "同比", "环比"],
          },
          grid: {
            top: 30,
            left: "3%",
            right: "4%",
            bottom: "8%",
            containLabel: true,
          },
          yAxis: {
            type: "value",

            splitLine: {
              show: true,
              lineStyle: {
                color: "#D2E6F9",
                type: "dashed",
              },
            },
            axisLine: {
              lineStyle: {
                color: "#D2E6F9",
              },
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              color: "#000",
            },
          },
          xAxis: {
            type: "category",
            data: dayList,
            axisLine: {
              lineStyle: {
                color: "#D2E6F9",
              },
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              color: "#000",
            },
          },
          series: [
            {
              name: "月销量",
              type: "bar",
              barWidth: 10,
              barGap: "40%",
              data: saleCurrList,
              itemStyle: {
                barBorderRadius: [4, 24, 0, 0],
                color: {
                  type: "linear",
                  x: 0,
                  y: 1,
                  x2: 0,
                  y2: 0,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#8BDCFF", // 0% 处的颜色
                    },
                    {
                      offset: 1,
                      color: "#4594E8", // 100% 处的颜色
                    },
                  ],
                  global: false, // 缺省为 false
                },
              },
            },
            {
              name: "同比",
              type: "bar",
              barWidth: 10,
              barGap: "40%",
              data: saleBeforeList,
              itemStyle: {
                barBorderRadius: [4, 24, 0, 0],
                color: {
                  type: "linear",
                  x: 0,
                  y: 1,
                  x2: 0,
                  y2: 0,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#FFB2B2", // 0% 处的颜色
                    },
                    {
                      offset: 1,
                      color: "#ffab67", // 100% 处的颜色
                    },
                  ],
                  global: false, // 缺省为 false
                },
              },
            },
            {
              name: "环比",
              type: "bar",
              barWidth: 10,
              barGap: "40%",
              data: saleTachList,
              itemStyle: {
                barBorderRadius: [4, 24, 0, 0],
                color: {
                  type: "linear",
                  x: 0,
                  y: 1,
                  x2: 0,
                  y2: 0,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#59FFB7", // 0% 处的颜色
                    },
                    {
                      offset: 1,
                      color: "#37BDFF", // 100% 处的颜色
                    },
                  ],
                  global: false, // 缺省为 false
                },
              },
            },
          ],
        };
        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    initSalesCheckChart(orgNameList, monthCountList) {
      this.$nextTick(() => {
        let myChart = echarts.init(document.getElementById("sales_check"));
        // var colorList = [
        //   "#fb0616",
        //   "#f71b1e",
        //   "#f23025",
        //   "#ee442d",
        //   "#ea5934",
        //   "#e56e3c",
        //   "#e18344",
        //   "#dd974b",
        //   "#d8ac53",
        //   "#d4c15a",
        //   "#d0d662",
        //   "#cbea69",
        //   "#c7ff71",
        // ];
        let option = {
          backgroundColor: "#fff",
          xAxis: {
            data: orgNameList,
            axisLine: {
              lineStyle: {
                color: "#818181",
              },
            },
            axisLabel: {
              color: "#818181",
              fontSize: 10,
              interval: 0,
              // rotate: 30,
              formatter: function (value) {
                if (value.length > 5) {
                  return value.substring(0, 5);
                }
                return value;
              },
            },
          },
          tooltip: {
            trigger: "axis",
            formatter: "{b}: {c0}万吨<br />",
            textStyle: {
              color: "#fff",
              fontSize: 10,
            },
            axisPointer: {
              type: "shadow",
              label: {
                backgroundColor: "#6a7985",
              },
            },
          },
          grid: {
            top: 10,
            bottom: 10,
            right: 20,
            left: 20,
            containLabel: true,
          },
          yAxis: {
            axisLine: {
              lineStyle: {
                color: "#818181",
              },
            },
            axisLabel: {
              color: "#818181",
              fontSize: 10,
            },
            splitLine: {
              show: true,
              lineStyle: {
                type: "dashed",
                color: "#dedede",
              },
            },
            interval: 500,
          },
          series: [
            {
              type: "bar",
              barWidth: 10,
              itemStyle: {
                normal: {
                  color: new echarts.graphic.LinearGradient(
                    0,
                    0,
                    0,
                    1,
                    [
                      {
                        offset: 0,
                        color: "rgba(132, 193, 251,1)", // 0% 处的颜色
                      },
                      {
                        offset: 1,
                        color: "rgba(69, 154, 234,1)", // 100% 处的颜色
                      },
                    ],
                    false
                  ),
                },
              },
              data: monthCountList,
            },
          ],
        };

        myChart.setOption(option);
        myChart.resize();
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      });
    },

    queryTime() {
      // 子分公司销售盘点
      this.getOrgSalesCount();
      //产品销售分布
      this.getSalesLayOut();
      this.getSalesCountOne();
      this.getProductBenefit();
      this.getCustomerPurchases();
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 10px;
  background-color: rgb(240, 242, 245);
}
</style>
