<template>

  <div class="table" style="margin: 30px;">
   
     <div class="el-table-container">
      <div class="el-table-header">
    <h3 class="title">价格审批列表</h3>
    <el-table :data="table.slice((currentPage - 1) * pageSize, currentPage*pageSize)" style="width: 100%;" border="">
      <el-table-column label="流程名称" prop="flowName" align="center" width="270"></el-table-column>
      <el-table-column label="申请人" prop="sendUserName" align="center" width="150"></el-table-column>
      <el-table-column label="标题" prop="title"></el-table-column>
      <el-table-column label="申请时间" prop="sendTime" align="center" width="180"></el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="120px">
        <template slot-scope="scope">
          <el-button size="mini" type="text" icon="el-icon-view" v-if="scope.row.nodeName !='子分公司价格委员会' && scope.row.nodeName !='公司价格委员会'" @click="toInfory(scope.row)">查看</el-button>
          <el-button size="mini" type="text" icon="el-icon-view" v-if="scope.row.nodeName =='子分公司价格委员会' || scope.row.nodeName =='公司价格委员会'" @click="toInfor(scope.row)">办理</el-button>
          <el-button size="mini" type="text" icon="el-icon-view" v-if="scope.row.nodeName !='子分公司价格委员会' && scope.row.nodeName !='公司价格委员会'" @click="toInfors(scope.row)">提交</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
      :page-sizes="[2, 5, 8, 10]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
      :total="table.length" style="float: right;">
    </el-pagination>
    </div>
    </div>
  </div>
</template>

<script>
  import {
    list,
    submitApply,
    submitWork,
    ToDoOne,
    tySubmitWork
  } from "@/api/jj/ProcessEngine/ProcessEngine";
  export default {
    name: 'ProcessEngine',
    data() {
      return {
        table: [],
        currentPage: 1,
        pageSize: 8,
      }
    },
    created() {
      this.lists()
    },
    methods: {
      lists(){
          list().then(res => {
        this.table = res.data;
      })
      },
      toInfor(data) {
        this.$router.push({
          path: '/pro_infor',
          query: {
            id: data,
          }
        })
      },
      toInfory(data) {
        this.$router.push({
          path: '/pro_infory',
          query: {
            id: data,
          }
        })
      },
      toInfors(data){
        tySubmitWork(data).then(res => {
        this.$modal.msgSuccess("提交成功");
        this.lists()
      })
      },
      handleSizeChange(val) {
        this.pageSize = val;
      },
      handleCurrentChange(val) {
        this.currentPage = val;
      },
    },
  }
</script>

<style scoped>
.el-table-container .el-table-header{
  display: block;
}
</style>
