<template>
  <el-dialog
    append-to-body
    width="80%"
    :title="title"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container">
      <!-- <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品类型：</span>
          <select v-model="cityIndex" @change="cityFn" class="level-select" :disabled="callbidId!=''">
            <option v-for="(x,y) in citys" :value="y" :key="y+'a'">{{ x.city }}</option>
          </select>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品名称：</span>
          <select v-model="areaIndex" class="level-select" @change="cityFn_2" :disabled="callbidId!=''">
            <option
              v-for="(x,y) in citys[cityIndex].area"
              :value="y"
              :key="y+'b'"
            >{{ newproName ? newproName : x }}</option>
          </select>
        </el-col>
      </el-row> -->
      <el-form>
        <el-col :span="12" style="display: flex; margin-bottom: 15px">
          <p style="margin-left: 38px; width: 80px; margin-top: 10px">
            产品类型：
          </p>
          <el-select
            v-model="cityIndex"
            placeholder="产品类别"
            clearable
            size="small"
            @change="add"
            style="width: 72%"
            :disabled="callbidId != ''"
          >
            <el-option
              v-for="dict in productOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="dict.dictValue"
            />
          </el-select>
        </el-col>
        <el-col :span="12" style="display: flex; margin-bottom: 15px">
          <p style="margin-left: 38px; width: 80px; margin-top: 10px">
            产品名称：
          </p>
          <el-select
            v-model="areaIndex"
            placeholder="产品名称"
            clearable
            size="small"
            style="width: 72%"
            @change="cityFn_2"
            :disabled="callbidId != ''"
          >
            <el-option
              v-for="dict in productOptionys"
              :key="dict.productId"
              :label="dict.name"
              :value="dict.productId"
              :disabled="dict.productId == '6' || dict.productId == '7'"
            />
          </el-select>
        </el-col>
      </el-form>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">
            <span style="color: rgb(252, 74, 74); text-align: right">*</span>
            预售期：</span
          >
          <el-date-picker
            v-model="period"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="op_name"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions0"
            style="width: 72%"
            :disabled="callbidId != ''"
          ></el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">申请类型：</span>
          <el-input
            v-model="apply_type"
            v-html="apply_type"
            class="form-readonly"
            readonly
            :disabled="callbidId != ''"
            style="width: 72%"
          />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">说明：</span>
          <el-input
            type="textarea"
            :rows="3"
            placeholder="请输入备注"
            v-model="instructions"
            style="width: 72%"
            :disabled="callbidId != ''"
          ></el-input>
        </el-col>
        <el-col :span="12" style="display: flex">
          <span class="label" style="margin-left: 38px; width: 80px"
            >文件上传：</span
          >
          <!-- :action="uploadAction" -->
          <el-upload
            ref="upload"
            :action="uploadAction"
            :auto-upload="false"
            :http-request="uploadFile"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-success="handleFileSuccess"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button slot="trigger" size="small" type="primary"
              >点击上传</el-button
            >
          </el-upload>
        </el-col>
      </el-row>
      <div class="add-form-panel">
        <div class="check">
          <el-button
            type="primary"
            plain
            size="mini"
            @click="toggleAllSelection()"
            >全选</el-button
          >
          <el-button type="primary" plain size="mini" @click="toggleSelection()"
            >全不选</el-button
          >
          <el-button
            type="primary"
            plain
            size="mini"
            @click="toggleInverseAllSelection()"
            >反选</el-button
          >
        </div>
        <div class="z_but">
          <el-button @click="pri_tj" type="primary" plain size="mini"
            >录入统一价格</el-button
          >
          <el-dialog
            title="统一价格"
            append-to-body
            :destroy-on-close="true"
            :visible.sync="centerDialogVisible"
            width="20%"
          >
            <span class="label" style="width: 30%">统一价格：</span>
            <el-input class="fj ff" v-model="pri" style="width: 65%" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="pri_qx">取 消</el-button>
              <el-button type="primary" @click="pri_qd">确 定</el-button>
            </span>
          </el-dialog>
        </div>
      </div>
      <!-- table 表格 -->
      <div class="table complix-table">
        <el-table
          border
          stripe
          ref="multipleTable"
          :row-key="getRowKey"
          :data="
            tableData.slice(
              (currentPage - 1) * pageSize,
              currentPage * pageSize
            )
          "
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="selectionRowsChange"
        >
          <!-- <el-table-column type="selection" :reserve-selection="true" width="60%"></el-table-column> -->
          <el-table-column type="selection" width="55">
            <template slot-scope="scope">
              <el-checkbox v-model="scope.row.flag"></el-checkbox>
            </template>
          </el-table-column>
          <el-table-column label="站点" width="220">
            <template slot-scope="scope">{{ scope.row.siteName }}</template>
          </el-table-column>

          <el-table-column
            label="配置量(吨)"
            show-overflow-tooltip
            align="center"
          >
            <template slot-scope="scope">
              <el-input-number
                controls-position="right"
                :controls="false"
                v-model="scope.row.pzl"
                @change="new_p(scope.row)"
                size="small"
                :disabled="callbidId != ''"
              />
            </template>
          </el-table-column>
          <el-table-column label="招标量(吨)" align="center">
            <template slot-scope="scope">
              <el-input-number
                controls-position="right"
                v-model="scope.row.zbl"
                :controls="false"
                @change="new_z(scope.row)"
                size="small"
                :disabled="callbidId != ''"
              ></el-input-number>
            </template>
          </el-table-column>
          <el-table-column label="一级审批价格(元/吨)" width="200" align="center">
            <template slot-scope="scope">
              <el-input-number
                v-model="scope.row.jyjg"
                :controls="false"
                @change="new_j(scope.row)"
                controls-position="right"
                size="small"
              ></el-input-number>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tableData.length"
            style="margin-top: 10px"
          ></el-pagination>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button @click="sumbit" type="primary" size="small">确定</el-button>
        <el-button size="small" @click="cancelDialog">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  addpublish,
  getOtherInfo,
  findSite,
  addPriceApply,
  getPriceApply,
  upload,
  getSiteInfoByPId,
  insertjgPriceApplyByTJ,
  getProductInfo,
} from "@/api/jj/priceApply";
import { getToken } from "@/utils/auth";
import axios from "axios";
export default {
  data() {
    return {
      title: "发起竞价上报申请",
      dialogVisible: false,
      fileList: [],
      cityIndex: 2,
      areaIndex: "1",
      num: 1,

      input: "",
      centerDialogVisible: false,
      // 选中的数据
      ids: [],
      // 可读信息
      sTime: "",
      type: "",
      num_p: 0,
      num_z: 0,
      num_j: 0,
      // 换算产量
      dayCapacity: "",
      tableData: [],
      currentPage: 1,
      pageSize: 8,
      multipleSelection: [],
      // 携带数据
      optype: "",

      opname: "",

      period: [],
      apply_type: "初次申请",
      instructions: "",
      weight: 0,
      fj: "",
      pri: "",
      preSaleStartTime: "",
      preSaleEndTime: "",
      difference: "",
      params: [],
      test: "",

      // 配置量
      p_pri: "",
      z_pri: "",
      j_pri: "",
      proData: [],

      // 跳转新数据
      newData: {},
      newDatas: [],
      newSite: [],
      newproName: "",
      obj: {},
      applicationFormCode: "",
      priceApplyId: "",
      //确认一次
      nums: 1,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productId: null,
        applicationFormCode: null,
        transactionType: null,
        orgId: null,
        salesQuantity: null,
        biddingApplyType: null,
        priceAdjustmentCount: null,
        suggestPrice: null,
        approvePrice: null,
        startDate: null,
        endDate: null,
        remarks: null,
        relateBiddingApplyId: null,
        status: null,
        createUserId: null,
      },
      // 字典查询
      product: [],
      productOptions: [],
      productOption: [],
      productOptiony: [],
      productOptionys: [],
      op: "",
      priceApplyId: "",
      callbidId: "",
      pickerOptions0: {
        disabledDate(date) {
          //disabledDate 文档上：设置禁用状态，参数为当前日期，要求返回 Boolean
          return date.getTime() < Date.now() - 24 * 60 * 60 * 1000;
        },
      },
      path: "",
      files: [],
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/jj/upload/upload",
      uploadActiontj: process.env.VUE_APP_BASE_API + "/jj/upload/tjUpload",
      // 全不选
      toggleSelection(rows) {
        if (rows) {
          rows.forEach((row) => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
        this.tableData.forEach((item) => {
          item.flag = false;
        });
      },
      // 全选
      toggleAllSelection() {
        this.$refs.multipleTable.toggleAllSelection();
        if (this.params.length == 0) {
          this.tableData.forEach((item) => {
            item.flag = true;
          });
        } else {
          this.tableData.forEach((item) => {
            item.flag = false;
          });
        }
      },
      // 反选，重新遍历一遍数据
      toggleInverseAllSelection() {
        this.tableData.forEach((item) => {
          this.$refs.multipleTable.toggleRowSelection(item);
        });
        this.tableData.forEach((item) => {
          item.flag = !item.flag;
        });
      },
    };
  },
  created() {
    // 申请类型
    this.getDicts("jg_price_apply_type").then((response) => {
      this.product = response.data;
    });
    // this.getDicts("sys_product_type").then((response) => {
    //   this.productOptions = response.data;
    // });
    this.getDicts("sys_product_jjList").then((response) => {
      this.productOption = response.data;
    });
    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });
    getProductInfo().then((response) => {
      this.productOption = response.data.product;
      this.productOptionys = this.productOption;
    });
  },
  updated() {
    this.proData.forEach((item) => {
      if (item.name == this.opname) {
        this.op = item.productId;
        return;
      }
    });
  },

  methods: {
    add() {
      this.productOptionys = [];
      if (this.cityIndex != "") {
        for (let temp of this.productOption) {
          if (temp.type == this.cityIndex) {
            this.productOptionys.push(temp);
          }
        }
      } else {
        this.productOptionys = this.productOption;
        this.queryParams.productId = "";
      }
    },
    show(row) {
      this.nums = 1;
      this.dialogVisible = true;
      this.obj = {};
      this.applicationFormCode = "";
      this.priceApplyId = "";
      this.instructions = "";
      this.apply_type = "初次申请";
      this.newSite = [];
      this.period = [];
      this.newproName = "";
      this.tableData = [];
      this.title = "发起竞价上报申请";
      this.callbidId = "";
      if (row == undefined) {
        getOtherInfo().then((response) => {
          // this.options.name = response.data.product;
          this.tableData = response.data.site;
          this.proData = response.data.product;
          this.tableData.forEach((item) => {
            item.pzl = "";
            item.zbl = "";
            item.jyjg = "";
          });
          this.cityFn_2();
          this.add();
          // this.dayCapacity = response.data.site.dayCapacity;
        });
      } else if (row.priceApplyId != null) {
        this.title = "发起调价申请";
        this.priceApplyId = row.priceApplyId;
        this.cityIndex = row.childrenPro.type;
        this.areaIndex = row.childrenPro.productId;
        let that = this;
        row.childrenSite.orgId;

        getPriceApply(row.priceApplyId).then((res) => {
          that.obj = res;
          that.applicationFormCode = res.data.applicationFormCode;
          that.priceApplyId = res.data.priceApplyId;
          that.instructions = res.data.remarks;
          that.transactionType = res.data.transactionType;
          that.apply_type = "调价申请";
          that.newSite = res.data.children;
          let Nzbl = 0;
          if (res.data.transactionType == 1) {
            this.callbidId = row.callbidId;
            console.log(row.roundAmount);
            console.log("1", row.children);
            let CallCount = 0;
            //循环中标客户

            for (var i = 0; i < row.children.length; i++) {
              if (row.children[i].status == 2 || row.children[i].status == 3) {
                CallCount += row.children[i].amount;
              }
            }

            Nzbl = row.roundAmount - CallCount;

            CallCount = 0;
          } else {
            this.callbidId = row.listedId;
            let ListdCount = 0;
            //循环中标客户
            for (var i = 0; i < row.children.length; i++) {
              ListdCount += row.children[i].amount;
            }
            Nzbl = row.listedAmount - ListdCount;
            ListdCount = 0;
          }
          that.period.push(
            `${res.data.preSaleStartTime}`,
            `${res.data.preSaleEndTime}`
          );
          that.newproName = res.data.childrenPro.name;
          for (var i = 0; i < res.data.children.length; i++) {
            if (row.childrenSite.siteId == res.data.children[i].siteId) {
              that.tableData.push({
                siteName: res.data.children[i].sysSite.siteName,
                zbl: Nzbl,
                pzl: res.data.children[i].disposeAmount,
                jyjg: res.data.children[i].suggestPrice,
                orgId: res.data.children[i].sysSite.orgId,
                siteId: res.data.children[i].siteId,
              });
            }
          }
        });
      }
    },
    cancelDialog() {
      this.dialogVisible = false;
    },
    uploadFile: function (file) {
      this.fileData.append("file", file.file);
    },
    handlePreview() {},
    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新上传图片！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },
    //上传成功
    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        this.$message.success("新增成功");
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
      }
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.msgError("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },

    getRowKey(row) {
      return row.siteName;
    },

    // 弹出层
    pri_tj() {
      this.centerDialogVisible = true;
      this.pri = "";
    },
    pri_qd() {
      this.centerDialogVisible = false;
      if (this.params != []) {
        this.params.forEach((item) => {
          item.jyjg = this.pri;
        });
      } else {
        this.$modal.alert("请选择站点信息");
      }
      if ((this.title = "发起竞价上报申请")) {
        let add = 0;
        this.tableData.forEach((item) => {
          if (item.flag == true) {
            add++;
          }
        });
        if (add == 0) {
          this.$modal.alert("请选择站点信息");
        }
        this.tableData.forEach((item) => {
          if (item.flag == true) {
            item.jyjg = this.pri;
          }
        });
      }
    },
    pri_qx() {
      this.centerDialogVisible = false;
    },
    // 联动选择
    cityFn() {
      // 重置区索引
      (this.areaIndex = "0"), (this.optype = this.citys[this.cityIndex].city);
    },
    cityFn_2() {
      if (this.areaIndex != "") {
        let that = this;
        that.tableData = [];
        getSiteInfoByPId(this.areaIndex).then((res) => {
          for (let i = 0; i < res.data.site.length; i++) {
            that.tableData.push({
              siteName: res.data.site[i].siteName,
              zbl: undefined,
              pzl: res.data.site[i].pzl,
              jyjg: res.data.site[i].jyjg,
              orgId: res.data.site[i].orgId,
              siteId: res.data.site[i].siteId,
              flag: true,
            });
          }
          that.toggleAllSelection();
        });
      }
    },
    new_p(val) {},
    new_z(val) {},
    new_j(val) {},
    selectionRowsChange(val) {
      this.params = val;
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    sub() {
      let file = event.target.files[0];
      this.fj = file.name;
    },
    op_name() {
      this.preSaleStartTime = this.period[0];
      this.preSaleEndTime = this.period[1];
    },
    // 提交数据
    sumbit() {
      for (let temp of this.tableData) {
        if (temp.zbl == undefined && temp.flag) {
          this.msgError("请修改站点招标量");
          return;
        }
      }
      for (var i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].jyjg == 0 && this.tableData[i].flag) {
          this.$message({
            message: "站点" + this.tableData[i].siteName + "介意价格需要更改",
            type: "warning",
          });
          return;
        }
      }
      this.params = [];
      for (let temp of this.tableData) {
        this.params.push(temp);
      }
      for (let item of this.params) {
        delete item.flag;
      }

      let {
        optype,
        opname,
        apply_type,
        preSaleStartTime,
        preSaleEndTime,
        difference,
        weight,
        fj,
        pri,
        num,
        num1,
        num_z,
        num_j,
        num_p,
        params,
        instructions,
        op,
        obj,
        applicationFormCode,
        priceApplyId,
        callbidId,
        transactionType,
        path,
        areaIndex,
        // test,
        // $axios
      } = this;

      let test = {
        applicationFormCode: "",
        biddingApplyType: 0,
        approvePrice: 0,
        createBy: "",
        createTime: "",
        createUserId: "",
        delFlag: 0,
        endDate: "",
        orgId: "",
        params: {
          params,
        },
        preSaleEndTime: preSaleEndTime,
        preSaleStartTime: preSaleStartTime,
        priceAdjustmentCount: 0,
        priceApplyId: "",
        productId: areaIndex,
        relateBiddingApplyId: "",
        remark: "",
        remarks: instructions,
        salesQuantity: 0,
        searchValue: "",
        startDate: "",
        status: 0,
        suggestPrice: 0,
        transactionType: "1",
        updateBy: "",
        updateTime: "",
        path: "",
      };

      let test1 = {
        applicationFormCode: applicationFormCode,
        biddingApplyType: 0,
        approvePrice: 0,
        createBy: "",
        createTime: "",
        createUserId: "",
        delFlag: 0,
        endDate: "",
        orgId: "",
        params: {
          params,
        },
        preSaleEndTime: this.period[0],
        preSaleStartTime: this.period[1],
        priceAdjustmentCount: 0,
        priceApplyId: priceApplyId,
        productId: areaIndex,
        relateBiddingApplyId: "",
        remark: "",
        remarks: instructions,
        salesQuantity: 0,
        searchValue: "",
        startDate: "",
        status: 0,
        suggestPrice: 0,
        transactionType: transactionType,
        updateBy: "",
        updateTime: "",
        originBidId: callbidId,
        path: path,
      };
      this.fileData = new FormData();
      if (this.callbidId != "") {
        this.fileData.append("entityStr", JSON.stringify(test1));
        this.$refs.upload.submit();
        var that = this;
        axios({
          method: "post",
          url: that.uploadActiontj,
          responseType: "blob",
          headers: { Authorization: "Bearer " + getToken() },
          data: that.fileData,
          contentType: false, //这里不要落下
          dataType: "json",
        }).then((res) => {
          if (res.status == 200) {
            that.msgSuccess("提交成功");
            that.$tab.refreshPage();
          }
        });
      } else {
        this.fileData.append("entityStr", JSON.stringify(test));
        this.$refs.upload.submit();
        var that = this;
        axios({
          method: "post",
          url: that.uploadAction,
          responseType: "blob",
          headers: { Authorization: "Bearer " + getToken() },
          data: that.fileData,
          contentType: false, //这里不要落下
          dataType: "json",
        }).then((res) => {
          if (res.status == 200) {
            that.msgSuccess("提交成功");
            that.$tab.refreshPage();
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.el-upload__tip {
  font-size: 12px;
  line-height: 16px;
  color: #606266;
  margin-left: 12px;
}
</style>