<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="90"
      class="query-form el-form-tool"
    >
      <el-form-item label="招标编号" prop="listedCode">
        <el-input
          v-model="queryParams.listedCode"
          placeholder="请输入招标编号"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="申请单编号" prop="applyCode">
        <el-input
          v-model="queryParams.applyCode"
          placeholder="请输入申请单编号"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="产品类别" prop>
        <el-select
          v-model="queryParams.productyep"
          placeholder="产品类别"
          clearable
          size="small"
          @change="add"
        >
          <el-option
            v-for="dict in productOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productId">
        <el-select
          v-model="queryParams.productId"
          placeholder="产品名称"
          clearable
          size="small"
        >
          <el-option
            v-for="dict in productOptionys"
            :key="dict.productId"
            :label="dict.name"
            :value="dict.productId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="标段名称" prop="listedTitle">
        <el-input
          v-model="queryParams.listedTitle"
          placeholder="标段名称"
          clearable
          size="small"
        >
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">挂牌销售信息表</h3>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="listedList"
          @selection-change="handleSelectionChange"
        >
        <el-table-column
            label="招标编号"
            align="center"
            prop="listedCode"
            width="160"
            fixed
          />
          <el-table-column
            label="申请单编号"
            align="center"
            prop="applyCode"
            width="180"
            fixed
          />
          <el-table-column
            label="状态"
            align="center"
            :formatter="getType"
            width="120"
            fixed
          />
          <el-table-column
            label="子分公司名称"
            align="center"
            prop="childrenOrg.orgFullName"
            width="180"
          />
          <el-table-column
            label="站点名称"
            align="center"
            prop="childrenSite.siteName"
            width="170"
          />
          <el-table-column
            label="产品类型"
            align="center"
            :formatter="getproType"
            width="120px"
          />
          <el-table-column
            label="产品名称"
            align="center"
            prop="childrenPro.name"
            width="120"
          />
          <el-table-column
            label="标段名称"
            align="center"
            prop="listedTitle"
            width="600"
          />
          <!-- <el-table-column
            label="展示开始时间"
            align="center"
            prop="displayStartDate"
            width="200"
          >
            <template slot-scope="scope">
              <span>{{
                parseTime(scope.row.displayStartDate, "{y}-{m}-{d}")
              }}</span>
            </template>
          </el-table-column> -->
          <el-table-column
            label="挂牌数量(吨)"
            align="center"
            prop="listedAmount"
            
          />
          <el-table-column
            label="挂牌开始日期"
            align="center"
            prop="listedStartDate"
            width="140"
          >
            <template slot-scope="scope">
              <span>{{
                parseTime(scope.row.listedStartDate, "{y}-{m}-{d} {h}:{i}")
              }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="挂牌结束日期"
            align="center"
            prop="listedEndDate"
            width="140"
          >
            <template slot-scope="scope">
              <span>{{
                parseTime(scope.row.listedEndDate, "{y}-{m}-{d} {h}:{i}")
              }}</span>
            </template>
          </el-table-column>
          
          
          <el-table-column
            label="操作"
            align="center"
            
            fixed="right"
             width="120"
          >
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-view"
                @click="toInfor(scope.row)"
                v-hasPermi="['jj:listed:query']"
                >详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>

        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>
    <!-- 查看详情弹窗  -->
    <Infor ref="infor" />
  </div>
</template>

<script>
import {
  listListed,
  getListed,
  delListed,
  addListed,
  updateListed,
} from "@/api/jj/listed";
import Infor from "./infor.vue";
import { getProductInfo } from "@/api/jj/priceApply";

export default {
  name: "Listed",
  components: {
    Infor,
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 挂牌招标表格数据
      listedList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      sectionNameop: [],
      // 查询参数
      queryParams: {
        sectionName: null,
        pageNum: 1,
        pageSize: 10,
        listedCode: null,
        applyCode: null,
        listedTitle: null,
        listedStartDate: null,
        listedEndDate: null,
        listedPrice: null,
        listedAmount: null,
        amountIncrease: null,
        productId: null,
        orgId: null,
        siteId: null,
        displayStartDate: null,
        priceApplyId: null,
        status: null,
        createUserId: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        listedCode: [
          {
            required: true,
            message: "挂牌招标编号不能为空",
            trigger: "blur",
          },
        ],
        createUserId: [
          {
            required: true,
            message: "创建人ID不能为空",
            trigger: "blur",
          },
        ],
        createTime: [
          {
            required: true,
            message: "创建时间不能为空",
            trigger: "blur",
          },
        ],
        delFlag: [
          {
            required: true,
            message: "删除标志不能为空",
            trigger: "blur",
          },
        ],
      },
      get_type: [],

      productOptions: [],
      productOption: [],
      productOptiony: [],
      productOptionys: [],
    };
  },
  created() {
    this.getList();

    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });

    getProductInfo().then((response) => {
      console.log(response.product);
      this.productOption = response.data.product;
      this.productOptionys = this.productOption;
    });
    // 申请状态
    this.getDicts("jj_listed_status").then((response) => {
      // console.log(response);
      this.get_type = response.data;
    });
  },
  methods: {
    add() {
      // console.log(this.queryParams.productyep);
      this.productOptionys = [];
      console.log(this.queryParams.productyep);
      if (this.queryParams.productyep != "") {
        for (let temp of this.productOption) {
          if (temp.type == this.queryParams.productyep) {
            this.productOptionys.push(temp);
          }
        }
      } else {
        this.productOptionys = this.productOption;
        this.queryParams.productId = "";
      }
      console.log(this.productOptionys);
    },
    getproType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e.childrenPro.type) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    // 状态
    getType(e) {
      for (var i = 0; i < this.get_type.length; i++) {
        if (this.get_type[i].dictValue == e.status) {
          //dictValue，dictLabel保持和上面定义一致
          return this.get_type[i].dictLabel;
        }
      }
    },
    // toInfor
    toInfor(data) {
      this.$refs.infor.openModel(data);
    },
    /** 查询挂牌招标列表 */
    getList() {
      this.loading = true;
      listListed(this.queryParams).then((response) => {
        console.log(response);
        this.listedList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        listedId: null,
        listedCode: null,
        listedTitle: null,
        listedStartDate: null,
        listedEndDate: null,
        listedPrice: null,
        listedAmount: null,
        amountIncrease: null,
        productId: null,
        orgId: null,
        siteId: null,
        displayStartDate: null,
        priceApplyId: null,
        status: 0,
        createUserId: null,
        createTime: null,
        updateTime: null,
        delFlag: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.listedId);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加挂牌招标";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const listedId = row.listedId || this.ids;
      getListed(listedId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改挂牌招标";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.listedId != null) {
            updateListed(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addListed(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const listedIds = row.listedId || this.ids;
      this.$modal
        .confirm('是否确认删除挂牌招标编号为"' + listedIds + '"的数据项？')
        .then(function () {
          return delListed(listedIds);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "jj/listed/export",
        {
          ...this.queryParams,
        },
        `listed_${new Date().getTime()}.xlsx`
      );
    },
  },
};
</script>
