<template>
  <el-dialog
    width="65%"
    title="挂牌标段详情"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container">
      <div class="detail-info">
        <el-row class="title inner">
          <span class="label">标段名称：</span>
          <span class="matter">{{ tables.listedTitle }}</span>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">子分公司名称：</span>
            <span class="matter">{{ org.orgFullName }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">发布时间：</span>
            <span class="matter">{{ tables.displayStartDate }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">产品名称：</span>
            <span class="matter">{{ pro.name }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">开始时间：</span>
            <span class="matter">{{ tables.listedStartDate }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">产品类型：</span>
            <!-- <span class="matter">{{apply_type[pro.type].dictLabel}}</span> -->
            <span class="matter">天燃气</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">结束时间：</span>
            <span class="matter">{{ tables.listedEndDate }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">场次：</span>
            <span class="matter">{{ tables.delFlag }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">放量：</span>
            <span class="matter">{{ tables.listedAmount }}吨</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">交接点：</span>
            <span class="matter">{{ org.orgName}}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">挂牌价格：</span>
            <span class="matter">{{ tables.listedPrice }}元/吨</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">最小购买量：</span>
            <span class="matter">{{ tables.amountIncrease }}吨</span>
          </el-col>
        </el-row>
      </div>
      <div class="table">
        <h3 class="table-title" style=" text-align: left;">中标客户</h3>
        <el-table stripe :data="table" border>
          <el-table-column label="客户" align="center" prop="customer.enterpriseName"></el-table-column>
          <el-table-column label="挂牌价格(元/吨)" align="center" prop="price"></el-table-column>
          <el-table-column label="数量(吨)" align="center" prop="amount"></el-table-column>
          <el-table-column label="出价时间" align="center" prop="purchasingTime"></el-table-column>
          <el-table-column label="成交时间" align="center" prop="createTime"></el-table-column>
          <el-table-column label="成交状态" align="center" :formatter="pushy">
            <!-- <template slot-scope="scope"> -->
              <!-- {{scope.row.status}} -->
              <!-- {{get_type[scope.row.status].dictLabel}} -->
            <!-- </template> -->
          </el-table-column>
        </el-table>
        <div class="detail-tool dialog-footer form-tool-container">
          <el-button type="primary" size="small" @click="toDuct" v-show="flag2">申请调价</el-button>
          <el-button size="small" @click="qd" v-show="flag1" v-hasPermi="['jj:listed:confirm']">价格确认</el-button>
            <!-- <el-button type="primary" size="small" @click="toDuct" >申请调价</el-button>
          <el-button size="small" @click="qd" v-hasPermi="['jj:listed:confirm']">价格确认</el-button> -->
        </div>
      </div>
    </div>
    <Publish ref="publish" />
  </el-dialog>
</template>

<script>
import {
  getListed,
  qd
} from "@/api/jj/listed";
import Publish from '../publish/index.vue'
export default {
  name: 'infor',
  components: {
    Publish
  },
  data() {
    return {
      table: [],
      tables: {},
      org: {},
      site: {},
      pro: {},
      dialogVisible: false,
      id: "",
      apply_type:[],
      get_type:[],
      flag1:false,
      flag2:false
    }
  },
  created(){

  },
  methods: {
    //成交状态
    pushy(e){
        for(let temp of this.get_type){
          if(temp.dictValue==e.status){
              return temp.dictLabel
          }
        }
    },
    openModel(data) {
      debugger;
      // console.log(data.status);
      this.flag=false
      this.dialogVisible = true;
      console.log('dd',data);
      this.id = data.listedId;
      this.flag1=false
      this.flag2=false
      if(data.status==2 && data.applyNum==0){

          this.flag1=true

      }else if(data.status==5 || data.status==4 && data.applyNum==0){

          this.flag2=true

      }else if(data.status==2 && data.applyNum==1){

          this.flag1=true

      }else if(data.status==5 || data.status==4 && data.applyNum==1){

          this.flag2=true

      }else if(data.status==2 && data.applyNum==2){

          this.flag1=true

      }else if(data.status==5 || data.status==4 && data.applyNum==2){

          this.flag1=true

      }
      this.getDetail();
      this.getDicts("sys_product_type").then((response) => {
       
      this.apply_type = response.data;
    });
     this.getDicts("jj_listed_purchase_status").then((response) => {
      // console.log(response);
      this.get_type = response.data;
    });
    },
    getDetail() {
      getListed(this.id).then(response => {
        this.table=response.data.children
        this.tables = response.data;
        this.org = response.data.childrenOrg;
        this.site = response.data.childrenSite;
        this.pro = response.data.childrenPro;
        let add=tables.listedAmount
        for(let temp of this.table){
            if(temp.status==1 || temp.status==2){
                add=add-temp.amount
            }
        }
        if(add>=0){
          this.flag2=true
        }
      })
    },
    // 调价申请
    toDuct() {
      // this.$router.push({
      //   path: '/publish',
      //   query: {
      //     id: this.tables.priceApplyId
      //   }
      // })
      console.log('略略略');
      this.$refs.publish.show(this.tables)
    },
    // 确定
    qd() {

      console.log(this.tables);
      qd(this.tables).then(res => {
        // console.log(res);
        if (res.code == 200) {
          this.msgSuccess("提交成功");
          this.$tab.refreshPage(); 
          // const obj = {
          //   path: "/jj/ProcessEngine",
          //   name: "ProcessEngine"
          // };
          // this.$tab.refreshPage(obj);
        }
      })
    },
    back() {
      this.$router.go(-1);
    }
  },
}
</script>

<style scoped="">
.app-container {
  margin-left: 150px;
}

.item {
  width: 600px;
  height: 300px;
}

.dis p:nth-child(1) {
  width: 350px;
}

.dis {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
</style>
