<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="凭证编号" prop="handoverPurchasePipeCode">
        <el-input
          v-model="queryParams.handoverPurchasePipeCode"
          placeholder="请输入采购管道交接凭证编号"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
          @change="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <el-form-item label="采购时间" prop="purchaseTime">
      <el-date-picker
        class="width-100"
        v-model="queryParams.purchaseTime"
        type="date"
        placeholder="请选择采购时间"
        @change="changeBlank"
        clearable
      />
    </el-form-item>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>管道交接凭证列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:cgPipeline:add']"
              style="right"
              >新增</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="pipeList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column label="序号" type="index" width="50" align="center">
        <template slot-scope="scope">
          <span>{{
            (queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1
          }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="采购管道交接凭证编号"
        align="center"
        prop="handoverPurchasePipeCode"
        width="200px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="计量单位"
        align="center"
        prop="unit"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="采购量"
        align="center"
        prop="purchaseAmount"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="单价(元)"
        align="center"
        prop="price"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="金额(万元)"
        align="center"
        prop="totalMoney"
        min-width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="接气计量员"
        align="center"
        prop="recipientGauger"
        width="110px"
      />

      <el-table-column
        label="供气计量员"
        align="center"
        prop="supplyGauger"
        width="120"
      />

      <el-table-column
        label="采购时间"
        align="center"
        prop="purchaseTime"
        width="100px"
      >
        <template slot-scope="scope">
          <span>{{ gethandoverTime(scope.row.purchaseTime) }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="180px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:cgPipeline:edit']"
            >修改</el-button
          >
          
          <el-button
            size="mini"
            icon="el-icon-delete"
            type="text"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:cgPipeline:remove']"
            >删除</el-button
          >
          
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleSubmit(scope.row)"
            v-hasPermi="['system:cgPipeline:submit']"
            >确认</el-button
          >

          <el-button
            v-show="scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="handleInfo(scope.row)"
            v-hasPermi="['system:cgPipeline:view']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 新增 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="采购合同" prop="contractName">
              <el-input
                placeholder="请选择采购合同"
                disabled
                v-model="form.contractName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseCustom"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="采购时间" prop="purchaseTime">
              <el-date-picker
                class="width-100"
                v-model="form.purchaseTime"
                type="date"
                placeholder="请选择采购时间"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="凭证编号" prop="handoverPurchasePipeCode">
              <el-input
                maxlength="50"
                disabled
                v-model="form.handoverPurchasePipeCode"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="接气计量员" prop="recipientGauger">
              <el-input
                maxlength="50"
                v-model="form.recipientGauger"
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="供气计量员" prop="supplyGauger">
              <el-input
                maxlength="50"
                v-model="form.supplyGauger"
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="计量监督员" prop="gaugerSupervisionPerson">
              <el-input
                maxlength="50"
                v-model="form.gaugerSupervisionPerson"
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-table
              border
              v-loading="loading"
              :data="tableData"
              style="width: 100%"
            >
              <el-table-column
                prop="siteId"
                align="center"
                label-class-name="table_required_red_star"
                label="采购站"
              >
                <template slot-scope="scope">
                  <el-select
                    v-model="scope.row.siteId"
                    clearable
                    filterable
                    placeholder="请选择采购站"
                  >
                    <el-option
                      v-for="dict in siteOptions"
                      :key="dict.siteId"
                      :label="dict.siteName"
                      :value="dict.siteId"
                    />
                  </el-select>
                </template>
              </el-table-column>

              <el-table-column
                prop="purchaseStartTime"
                align="center"
                label-class-name="table_required_red_star"
                label="采购开始时间"
              >
                <template slot-scope="scope">
                  <el-date-picker
                    class="width-100"
                    v-model="scope.row.purchaseStartTime"
                    type="date"
                    placeholder="请选择时间"
                    clearable
                  />
                </template>
              </el-table-column>

              <el-table-column
                prop="purchaseEndTime"
                align="center"
                label-class-name="table_required_red_star"
                label="采购结束时间"
              >
                <template slot-scope="scope">
                  <el-date-picker
                    class="width-100"
                    v-model="scope.row.purchaseEndTime"
                    type="date"
                    placeholder="请选择时间"
                    clearable
                  />
                </template>
              </el-table-column>

              <el-table-column
                prop="fowmteePosition"
                align="center"
                label-class-name="table_required_red_star"
                label="流量记位号"
              >
                <template slot-scope="scope">
                  <el-select
                    v-model="scope.row.fowmteePosition"
                    type="text"
                    clearable
                    filterable
                    placeholder="请选择编号"
                  >
                    <el-option
                      v-for="dict in instrumentList"
                      :key="dict.pipeInstrumentId"
                      :label="dict.sellInstrumentNo"
                      :value="dict.pipeInstrumentId"
                    />
                  </el-select>
                </template>
              </el-table-column>

              <el-table-column
                prop="gasFlow"
                align="center"
                label-class-name="table_required_red_star"
                label="交接气量(标方)"
              >
                <template slot-scope="scope">
                  <el-input
                    v-model="scope.row.gasFlow"
                    type="text"
                    maxlength="6"
                    oninput="value=value.replace(/\D/g,'')"
                    placeholder="请输入数字"
                    style="100px"
                  ></el-input>
                </template>
              </el-table-column>

              <el-table-column prop="remarks" align="center" label="备注">
                <template slot-scope="scope">
                  <el-input
                    v-model="scope.row.remarks"
                    type="text"
                    maxlength="50"
                    placeholder="请输入备注"
                    style="100px"
                  ></el-input>
                </template>
              </el-table-column>

              <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    icon="el-icon-plus"
                    circle
                    @click="createdRow"
                  ></el-button>
                  <el-button
                    v-if="scope.row.numbering != '编号-1'"
                    type="danger"
                    icon="el-icon-minus"
                    circle
                    @click="handleDeleteRow(scope.$index, scope.row)"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="121px"> </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="choosePurchaseOpen"
      width="70%"
      append-to-body
      title="采购合同列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-purchase
        @closeWindow="closeWindow"
        :transportType="2"
        @purchaseContractId="purchaseContractId"
        @contractName="contractName"
        v-if="choosePurchaseOpen"
        ref="chooseSupplier"
      ></choose-purchase>
    </el-dialog>
  </div>
</template>

<script>
import {
  listPipe,
  getPipe,
  delPipe,
  addPipe,
  updatePipe,
  updatePipeStatus,
  listDetail,
  listPipeDe,
} from "@/api/sales/cgPipeline";
import { InstrumentList } from "@/api/sales/pipeline";
import choosePurchase from "../../utils/choosePurchase";
import chooseContract from "../../utils/chooseContract";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

import { getToken } from "@/utils/auth";
import axios from "axios";
import moment from "moment";
import { listSite } from "@/api/system/site";

export default {
  name: "Pipe",
  components: { choosePurchase, chooseContract },
  data() {
    return {
      //新增
      tableData: [
        {
          numbering: "编号-1",
          dictValue: "2",
          siteId: "",
          purchaseStartTime: "",
          purchaseEndTime: "",
          fowmteePosition: "",
          gasFlow: "",
        },
      ],

      //附件上传
      pictureTitle: "图片详情",
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/sales/file/upload",
      dialogVisible: false, // 图片预览
      dialogImageUrl: "", // 预览图片地址
      fileList: [],
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 称重计量表格数据
      pipeList: [],
      //
      instrumentList: {},
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示弹出层
      openInfo: false,
      // 选择调拨单弹出层
      selectOpen: false,
      //交易明细列表
      detailOptions: [],
      //站点列表
      siteOptions: [],
      //选择收获单位弹窗
      chooseCustomeOpen: false,
      //
      choosePurchaseOpen: false,
      //选择发货单位弹窗
      chooseSiteOpen: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        contractName: [
          { required: true, message: "采购合同不能为空", trigger: "blur" },
        ],
        purchaseTime: [
          { required: true, message: "采购时间不能为空", trigger: "blur" },
        ],

        recipientGauger: [
          { required: true, message: "接气方人员不能为空", trigger: "blur" },
        ],
        supplyGauger: [
          { required: true, message: "供气计量人员不能为空", trigger: "blur" },
        ],
        gaugerSupervisionPerson: [
          { required: true, message: "接气监督人员不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.detail();
    this.site();
    this.getInstrumentList();
  },
  methods: {
    getInstrumentList() {
      InstrumentList().then((response) => {
        this.instrumentList = response.rows;
      });
    },

    /**站点 */
    site() {
      listSite().then((response) => {
        this.siteOptions = response.rows;
      });
    },

    /**站点 */
    site() {
      listSite().then((response) => {
        this.siteOptions = response.rows;
      });
    },
    /**交易明细 */
    detail() {
      listDetail().then((response) => {
        this.detailOptions = response.rows;
      });
    },

    /**删除 行 */
    handleDeleteRow(val, row) {
      // 模态框删除按钮
      this.$confirm("是否确认删除本条数据，删除后不可恢复?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "info",
      }).then(() => {
        // 此为假删除，只是删除了模态框中当前行的数据，并没有真正删除表格数据
        this.tableData.splice(val, 1);
        // 如下，接口请求则真正删除表格数据
        /**
         * let rowId = row.id;
        delCustome({ id: rowId }).then(res => {
          if (res.data) {
            this.$message({
              message: "删除成功",
              type: "success",
              duration: 2000
            });
          }
        });
        */
      });
    },

    /**增加 行 */
    createdRow() {
      // 创建行
      var list = {
        numbering: "编号-2",
        dictValue: "2",
        siteId: "",
        purchaseStartTime: "",
        purchaseEndTime: "",
        fowmteePosition: "",
        gasFlow: "",
      };
      this.tableData.push(list);
    },

    /** 查询过磅单信息表列表 */
    getList() {
      this.loading = true;
      listPipe(this.queryParams).then((response) => {
        this.pipeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    gethandoverTime(time) {
      return moment(new Date(time)).format("yyyy-MM-DD");
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
      this.tableData = [
        {
          numbering: "编号-1",
          dictValue: "2",
          siteId: "",
          purchaseStartTime: "",
          purchaseEndTime: "",
          fowmteePosition: "",
          gasFlow: "",
        },
      ];
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    changeBlank() {
      this.$forceUpdate();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.handoverPurchasePipeId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加管道交接凭证";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const handoverPurchasePipeId = row.handoverPurchasePipeId;

      this.queryParams.handoverPurchasePipeId = row.handoverPurchasePipeId;
      listPipeDe(this.queryParams).then((response) => {
        this.tableData = response.rows;
        this.queryParams.handoverPurchasePipeId = null;
      });
      getPipe(handoverPurchasePipeId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改管道交接凭证";

        response.data.items.fileList.forEach((item) => {
          this.fileList.push({
            id: item.fileId,
            name: item.realName,
            url: process.env.VUE_APP_BASE_API + item.filePath,
          });
        });
      });
    },

    /** 提交按钮 */
    submitForm: function () {
      let flag = true;
      this.tableData.forEach((item) => {
        if (flag == false) {
          return false;
        }
        for (let i in item) {
          if (i === "siteId") {
            if (item[i] === "") {
              this.msgError("采购站不能为空");
              flag = false;
              break;
            }
          }
          if (i === "fowmteePosition") {
            if (item[i] === "") {
              this.msgError("流量记位号不能为空");
              flag = false;
              break;
            }
          }
          if (i === "gasFlow") {
            if (item[i] === "") {
              this.msgError("交接气量不能为空");
              flag = false;
              break;
            }
          }
          if (i === "purchaseStartTime") {
            if (item[i] === "") {
              this.msgError("采购开始时间不能为空");
              flag = false;
              break;
            }
          }
          if (i === "purchaseEndTime") {
            if (item[i] === "") {
              this.msgError("采购结束时间不能为空");
              flag = false;
              break;
            }
          }
        }
      });
      if (flag) {
        this.form.tableData = JSON.stringify(this.tableData);
        this.$refs["form"].validate((valid) => {
          if (valid) {
            if (this.form.handoverPurchasePipeId != undefined) {
              updatePipe(this.form).then((response) => {
                if (response.code === 200) {
                  this.msgSuccess("修改成功");
                  this.open = false;
                  this.getList();
                }
              });
            } else {
              addPipe(this.form).then((response) => {
                if (response.code === 200) {
                  this.msgSuccess("新增成功");
                  this.open = false;
                  this.getList();
                }
              });
            }
          }
        });
      }
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const handoverPurchasePipeIds = row.handoverPurchasePipeId || this.ids;
      this.$confirm("是否确认删除该管道交接凭证信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delPipe(handoverPurchasePipeIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    // 确认
    handleSubmit(row) {
      const handoverPurchasePipeId = row.handoverPurchasePipeId;
      this.$confirm("是否确认该称重计量单信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updatePipeStatus(handoverPurchasePipeId);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("确认成功");
        })
        .catch(function () {});
    },

    /**详情 */
    handleInfo(row) {
      this.reset();
      const handoverPurchasePipeId = row.handoverPurchasePipeId;
      getPipe(handoverPurchasePipeId).then((response) => {
        this.form = response.data;
        this.openInfo = true;
        this.title = "管道交接凭证详情";

        response.data.items.fileList.forEach((item) => {
          this.fileList.push({
            url: process.env.VUE_APP_BASE_API + item.filePath,
          });
        });
      });
    },
    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },

    toChooseCustom() {
      this.choosePurchaseOpen = true;
    },

    closeWindow() {
      this.choosePurchaseOpen = false;
    },

    purchaseContractId(purchaseContractId) {
      this.form.purchaseContractId = purchaseContractId;
      this.choosePurchaseOpen = false;
    },
    contractName(contractName) {
      this.form.contractName = contractName;
    },

    //
    handlePreview(file, fileList) {
      var _this = this;
      var fileName = file.name;
      axios({
        method: "get",
        url: process.env.VUE_APP_BASE_API + "/sales/file/downLoadFile/",
        params: {
          fileId: file.id,
        },
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },
    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },
    // 图片预览
    handlePreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    //图片删除前
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`, {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        title: "删除提醒",
      });
    },
    //图片删除
    handleRemove(file, fileList) {
      if (file && file.status === "success") {
        let fileId;
        if (file.response == undefined) {
          fileId = file.id;
        } else {
          fileId = file.response.fileId;
        }
        deleteFile(fileId).then((response) => {
          this.fileIds.splice(this.fileIds.indexOf(fileId), 1);
          this.msgSuccess("删除成功");
        });
      }
    },
    //上传成功
    handleFileSuccess(res, file) {
      // if (res.fileId) {
      //   this.fileIds.push(file.response.fileId);
      //   this.$message.success("上传成功！");
      // } else {
      //   this.$message.error("上传失败！");
      // }
      if (res.code == 200) {
        this.$message.success("新增成功");
      } else {
        this.$message.warning("新增成功");
      }
    },
  },
};
</script>

<style>
.show .el-upload-list__item {
  width: 80px;
  height: 80px;
}
.show .el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 90px;
}
</style>
