<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>
      <el-form-item label="子分公司" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入子分公司名称"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item label="站点名称" prop="deliveryOrg">
          <el-input
            v-model="queryParams.deliveryOrg"
            placeholder="请输入站点名称"
            size="small"
            style="width: 200px"
            @keyup.enter.native="handleQuery"
            @input="changeBlank"
            clearable
          />
        </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
        <!-- <el-button
          type="primary"
          icon="el-icon-arrow-down"
          size="mini"
          @click="getHeighQueryShow"
          >高级搜索</el-button
        > -->
      </el-form-item>
      <div v-show="queryFlag">
        <el-form-item label="站点名称" prop="deliveryOrg">
          <el-input
            v-model="queryParams.deliveryOrg"
            placeholder="请输入站点名称"
            size="small"
            style="width: 200px"
            @keyup.enter.native="handleQuery"
            @change="changeBlank"
            clearable
          />
        </el-form-item>
        <el-form-item label="产品类型" prop="type">
          <el-select
            v-model="queryParams.type"
            placeholder="请选择产品类型"
            style="width: 150px"
            @change="changeBlank"
          >
            <el-option
              v-for="dict in productTypeOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="dict.dictValue"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="产品名称" prop="name">
          <el-input
            v-model="queryParams.name"
            placeholder="请输入产品名称"
            size="small"
            style="width: 200px"
            @keyup.enter.native="handleQuery"
            @change="changeBlank"
            clearable
          />
        </el-form-item>
        <el-form-item label="交接时间" prop="handoverTime">
          <el-date-picker
            style="width: 140px"
            v-model="queryParams.handoverTime"
            type="date"
            placeholder="请选择时间"
            @change="changeBlank"
            clearable
          />
        </el-form-item>
      </div>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>拉运交接凭证信息表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8"> </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="handoverList">
      <el-table-column label="序号" type="index" width="50" align="center">
        <template slot-scope="scope">
          <span>{{
            (queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1
          }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="子公司"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="站点名称"
        align="center"
        prop="deliveryOrg"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品类型"
        align="center"
        prop="type"
        :show-overflow-tooltip="true"
        :formatter="typeFormat"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="name"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="交接时间"
        align="center"
        prop="handoverTime"
        width="100px"
      >
        <template slot-scope="scope">
          <span>{{ getWeightTime(scope.row.handoverTime) }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="所属系统"
        align="center"
        prop="belongSystem"
        width="90px"
        :formatter="belongSystemFormat"
      />

      <el-table-column
        label="操作"
        align="center"
        width="150px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="handleInfo(scope.row)"
            v-hasPermi="['sales:car:view']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="110px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="调拨单编号" prop="transferCode">
              <el-input
                disabled
                maxlength="30"
                v-model="form.transferCode"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="拉运凭证编号" prop="handoverCartCode">
              <el-input
                disabled
                maxlength="30"
                v-model="form.handoverCartCode"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="客户名称" prop="enterpriseName">
              <el-input
                disabled
                maxlength="20"
                v-model="form.enterpriseName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="子公司" prop="orgName">
              <el-input
                disabled
                maxlength="50"
                v-model="form.orgName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="站点名称" prop="deliveryOrg">
              <el-input
                disabled
                maxlength="20"
                v-model="form.deliveryOrg"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="押运员" prop="supercargoName">
              <el-input
                disabled
                maxlength="50"
                v-model="form.supercargoName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="productType">
              <el-input
                disabled
                maxlength="20"
                v-model="form.productType"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="name">
              <el-input
                disabled
                maxlength="50"
                v-model="form.name"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="毛重(吨)" prop="grossWeight">
              <el-input
                disabled
                maxlength="20"
                v-model="form.grossWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="皮重(吨)" prop="tareWeight">
              <el-input
                disabled
                maxlength="50"
                v-model="form.tareWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="净重(吨)" prop="netWeight">
              <el-input
                disabled
                maxlength="20"
                v-model="form.netWeight"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="计量员" prop="gaugerName">
              <el-input
                disabled
                maxlength="50"
                v-model="form.gaugerName"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="购货方人员" prop="purchasePerson">
              <el-input
                disabled
                maxlength="20"
                v-model="form.purchasePerson"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="销售方监督员" prop="salePerson">
              <el-input
                disabled
                maxlength="50"
                v-model="form.salePerson"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="交接时间" prop="handoverTime">
              <el-input
                disabled
                maxlength="20"
                v-model="form.handoverTime"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="单据号" prop="fBillNo">
              <el-input
                disabled
                maxlength="50"
                v-model="form.fBillNo"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="司机姓名" prop="driveman">
              <el-input
                disabled
                maxlength="20"
                v-model="form.driveman"
                placeholder=""
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="车牌号" prop="carNumber">
              <el-input
                disabled
                maxlength="30"
                v-model="form.carNumber"
                placeholder=""
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listCart, getCart } from "@/api/sales/handoverCar";

import moment from "moment";

export default {
  name: "handoverCar",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 总条数
      total: 0,
      productTypeOptions: [],
      // 计量交接凭证表格数据
      handoverList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      openInfo: false,
      //高级查询标记
      queryFlag: false,
      // 查询参数
      queryParams: {
        delFlag: 1,
        pageNum: 1,
        pageSize: 10,
      },
      // 表单参数
      form: {},
    };
  },
  created() {
   
    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });
    this.getDicts("sys_belong_system").then((response) => {
      this.belongSystemOptions = response.data;
       this.getList();
    });
    //  this.getList();
  },
  methods: {
    /** 查询计量交接凭证信息表列表 */
    getList() {
      this.loading = true;
      listCart(this.queryParams).then((response) => {
        this.handoverList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    //高级搜索
    getHeighQueryShow() {
      this.queryFlag = !this.queryFlag;
    },
    changeBlank() {
      this.$forceUpdate();
    },
    typeFormat(row, column) {
      return this.selectDictLabel(this.productTypeOptions, row.type);
    },

    getWeightTime(time) {
      return moment(new Date(time)).format("yyyy-MM-DD");
    },

    //所属系统字典翻译
    belongSystemFormat(row, column) {
      return this.selectDictLabel(this.belongSystemOptions, row.belongSystem);
    },

    /**详情 */
    handleInfo(row) {
      this.reset();
      const handoverCartId = row.handoverCartId;
      getCart(handoverCartId).then((response) => {
        this.form = response.data;
        this.openInfo = true;
        this.title = "计量交接凭证详情";
      });
    },
    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },
  },
};
</script>
