<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <!--
      <el-form-item label="交接时间"
                    prop="handoverTime">
        <el-date-picker class="width-100"
                        v-model="queryParams.handoverTime"
                        type="date"
                        placeholder="请选择交接时间"
                        @change="changeBlank"
                        clearable />
      </el-form-item>
-->
      <el-form-item label="交易编号" prop="sellContractId">
        <el-input
          v-model="queryParams.sellContractId"
          placeholder="请输入交易明细编号"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
          @change="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>管道交接凭证列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:Pipeline:add']"
              style="right"
              >新增</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="pipeList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column label="序号" type="index" width="50" align="center">
        <template slot-scope="scope">
          <span>{{
            (queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1
          }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="交易明细编号"
        align="center"
        min-width="150px"
        prop="sellContractCode"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="单据号"
        align="center"
        prop="fBillNo"
        min-width="100px"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        min-width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="计量单位"
        align="center"
        prop="unit"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="销售量"
        align="center"
        prop="netWeight"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="单价(元)"
        align="center"
        prop="price"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="金额(万元)"
        align="center"
        prop="totalMoney"
        min-width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="购货方人员"
        align="center"
        prop="supervisionPerson"
        width="110px"
      />

      <el-table-column
        label="销售方人员"
        align="center"
        prop="salePerson"
        width="120"
      />

      <el-table-column
        label="交接时间"
        align="center"
        prop="handoverTime"
        width="100px"
      >
        <template slot-scope="scope">
          <span>{{ gethandoverTime(scope.row.handoverTime) }}</span>
        </template>
      </el-table-column>

      <el-table-column label="状态" align="center" prop="status" width="80px">
        <template slot-scope="scope">
          <div
            :style="{
              color: scope.row.status == '2' ? '' : '#3BB080',
            }"
          >
            {{ scope.row.status == "2" ? "未结算" : "已结算" }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="180px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:Pipeline:edit']"
            >修改</el-button
          >
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleSubmit(scope.row)"
            v-hasPermi="['system:Pipeline:submit']"
            >提交</el-button
          >

          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            icon="el-icon-delete"
            type="text"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:Pipeline:remove']"
            >删除</el-button
          >

          <el-button
            v-show="scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="handleInfo(scope.row)"
            v-hasPermi="['system:Pipeline:edit']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改过磅对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="121px">
        <el-row :gutter="24">
          <!--
          <el-col :span="12">
            <el-form-item label="交易明细"
                          prop="sellContractId">
              <el-select clearable
                         filterable
                         v-model="form.sellContractId"
                         placeholder="请选择交易明细"
                         class="width-100"
                         size="small">
                <el-option v-for="dict in detailOptions"
                           :key="dict.sellContractId"
                           :label="dict.ContractCode"
                           :value="dict.sellContractId"></el-option>
              </el-select>
            </el-form-item>
          </el-col>-->

          <el-col :span="12">
            <el-form-item
              class="required_red_star"
              label="交易明细"
              prop="sellContractCode"
            >
              <el-input
                placeholder="请选择合同交易明细"
                disabled
                v-model="form.sellContractCode"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChoosePayment"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="交接时间" prop="handoverTime">
              <el-date-picker
                class="width-100"
                v-model="form.handoverTime"
                type="date"
                placeholder="请选择交接时间"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="剩余数量">
              <el-input v-model="amount" disabled placeholder="请输入单据号" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="销售方" prop="orgName">
              <el-input
                v-model="form.orgName"
                disabled
                placeholder="请选择交易明细"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="采购方" prop="enterpriseName">
              <el-input
                disabled
                v-model="form.enterpriseName"
                placeholder="请选择交易明细"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="单据号" prop="fBillNo">
              <el-input
                maxlength="20"
                disabled
                v-model="form.fBillNo"
                placeholder="请输入单据号"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="销售方人员" prop="salePerson">
              <el-input
                maxlength="50"
                v-model="form.salePerson"
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="接气方人员" prop="recipientPerson">
              <el-input
                maxlength="50"
                v-model="form.recipientPerson"
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="监督方人员" prop="supervisionPerson">
              <el-input
                maxlength="50"
                v-model="form.supervisionPerson"
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="原始凭证附件" class="required_red_star">
              <el-upload
                ref="upload"
                :headers="headers"
                :action="uploadAction"
                :limit="1"
                :with-credentials="true"
                :on-success="handleFileSuccess"
                :on-remove="handleRemove"
                :before-upload="beforeAvatarUpload"
                :data="upData"
                :file-list="files"
                :on-exceed="handleExceed"
                :auto-upload="false"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .jpeg, .pdf"
              >
                <el-button slot="trigger" size="small" type="primary"
                  >附件上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  只能上传.doc, .docx, .xls, .xlsx, .jpg,
                  .png,.jpeg,.pdf文件，且只能上传一个
                </div>
              </el-upload>
            </el-form-item>

            <div
              class="form-file-list"
              v-show="form.fBillNo && form.proofPath"
              @click="downLoadFile(form.handoverPipeId, form.fBillNo)"
            >
              <div>{{ form.fBillNo }}</div>
              <div>下载</div>
            </div>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-table
              border
              v-loading="loading"
              :data="tableData"
              style="width: 100%"
            >
              <el-table-column
                prop="siteId"
                align="center"
                label-class-name="table_required_red_star"
                label="交接站"
              >
                <template slot-scope="scope">
                  <el-select
                    v-model="scope.row.siteId"
                    type="text"
                    clearable
                    filterable
                    placeholder="请选择交接站"
                  >
                    <el-option
                      v-for="dict in siteOptions"
                      :key="dict.siteId"
                      :label="dict.siteName"
                      :value="dict.siteId"
                    />
                  </el-select>
                </template>
              </el-table-column>

              <el-table-column
                prop="fowmetePosition"
                align="center"
                label-class-name="table_required_red_star"
                label="流量记位号"
              >
                <template slot-scope="scope">
                  <el-select
                    v-model="scope.row.fowmetePosition"
                    type="text"
                    clearable
                    filterable
                    placeholder="请选择编号"
                  >
                    <el-option
                      v-for="dict in instrumentList"
                      :key="dict.pipeInstrumentId"
                      :label="dict.sellInstrumentNo"
                      :value="dict.pipeInstrumentId"
                    />
                  </el-select>
                </template>
              </el-table-column>

              <el-table-column
                prop="gasFlow"
                align="center"
                label-class-name="table_required_red_star"
                label="交接气量(标方)"
              >
                <template slot-scope="scope">
                  <el-input
                    v-model="scope.row.gasFlow"
                    type="number"
                    maxlength="5"
                    oninput="value=value.replace(/\D/g,'')"
                    placeholder="请输入数字"
                    style="100px"
                  ></el-input>
                </template>
              </el-table-column>

              <el-table-column prop="remarks" align="center" label="备注">
                <template slot-scope="scope">
                  <el-input
                    v-model="scope.row.remarks"
                    type="text"
                    maxlength="50"
                    placeholder="请输入备注"
                    style="100px"
                  ></el-input>
                </template>
              </el-table-column>

              <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    icon="el-icon-plus"
                    circle
                    @click="createdRow"
                  ></el-button>
                  <el-button
                    v-if="scope.row.numbering != '编号-1'"
                    type="danger"
                    icon="el-icon-minus"
                    circle
                    @click="handleDeleteRow(scope.$index, scope.row)"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="80%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="交易明细" prop="sellContractId">
              <el-select
                clearable
                filterable
                disabled
                v-model="form.sellContractId"
                placeholder="请选择交易明细"
                class="width-100"
                size="small"
              >
                <el-option
                  v-for="dict in detailOptions"
                  :key="dict.sellContractId"
                  :label="dict.ContractCode"
                  :value="dict.sellContractId"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="交接时间" prop="handoverTime">
              <el-date-picker
                class="width-100"
                v-model="form.handoverTime"
                disabled
                type="date"
                placeholder="请选择交接时间"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="销售方" prop="orgName">
              <el-input
                maxlength="30"
                v-model="form.orgName"
                disabled
                placeholder="请输入销售方"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="采购方" prop="enterpriseName">
              <el-input
                maxlength="30"
                v-model="form.enterpriseName"
                disabled
                placeholder="请输入采购方"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="剩余数量">
              <el-input v-model="amount" disabled placeholder="请输入单据号" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="单据号" prop="fBillNo">
              <el-input
                maxlength="20"
                v-model="form.fBillNo"
                disabled
                placeholder="请输入单据号"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="销售方人员" prop="salePerson">
              <el-input
                maxlength="50"
                v-model="form.salePerson"
                disabled
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="接气方人员" prop="recipientPerson">
              <el-input
                maxlength="50"
                v-model="form.recipientPerson"
                disabled
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="监督方人员" prop="supervisionPerson">
              <el-input
                maxlength="50"
                v-model="form.supervisionPerson"
                disabled
                placeholder="请输入人员姓名"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="原始凭证附件">
              <el-upload
                ref="upload"
                :headers="headers"
                :action="uploadAction"
                :limit="1"
                :with-credentials="true"
                :on-success="handleFileSuccess"
                :on-remove="handleRemove"
                :before-upload="beforeAvatarUpload"
                :data="upData"
                :file-list="files"
                :auto-upload="false"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .jpeg, .pdf"
              >
                <el-button slot="trigger" size="small" type="primary" disabled
                  >附件上传</el-button
                >
              </el-upload>
            </el-form-item>

            <div
              class="form-file-list"
              v-show="form.fBillNo && form.proofPath"
              @click="downLoadFile(form.handoverPipeId, form.fileName)"
            >
              <div>{{ form.fileName }}</div>
              <div>下载</div>
            </div>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-table
            border
            v-loading="loading"
            :data="tableData"
            style="width: 100%"
          >
            <el-table-column prop="siteId" align="center" label="交接站">
              <template slot-scope="scope">
                <el-select
                  v-model="scope.row.siteId"
                  type="String"
                  disabled
                  clearable
                  filterable
                  placeholder="请选择交接站"
                >
                  <el-option
                    v-for="dict in siteOptions"
                    :key="dict.siteId"
                    :label="dict.siteName"
                    :value="dict.siteId"
                  />
                </el-select>
              </template>
            </el-table-column>

            <el-table-column
              prop="fowmetePosition"
              align="center"
              label="流量记位号"
            >
              <template slot-scope="scope">
                <el-select
                  v-model="scope.row.fowmetePosition"
                  type="text"
                  clearable
                  filterable
                  placeholder="请选择编号"
                >
                  <el-option
                    v-for="dict in instrumentList"
                    :key="dict.pipeInstrumentId"
                    :label="dict.sellInstrumentNo"
                    :value="dict.pipeInstrumentId"
                  />
                </el-select>
              </template>
            </el-table-column>

            <el-table-column
              prop="gasFlow"
              align="center"
              label="交接气量(标方)"
            >
              <template slot-scope="scope">
                <el-input
                  v-model="scope.row.gasFlow"
                  disabled
                  type="number"
                  maxlength="6"
                  oninput="value=value.replace(/\D/g,'')"
                  placeholder="请输入数字"
                  style="100px"
                ></el-input>
              </template>
            </el-table-column>

            <el-table-column prop="remarks" align="center" label="备注">
              <template slot-scope="scope">
                <el-input
                  v-model="scope.row.remarks"
                  disabled
                  type="text"
                  maxlength="50"
                  placeholder="请输入备注"
                  style="100px"
                ></el-input>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="choosePaymentOpen"
      width="70%"
      append-to-body
      title="交易明细列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-contract-payment
        @closeWindow="closeWindow"
        @choosePayment="choosePayment"
        v-if="choosePaymentOpen"
        :transportType="2"
        ref="chooseContractPayment"
      ></choose-contract-payment>
    </el-dialog>
  </div>
</template>

<script>
import {
  listPipe,
  getPipe,
  delPipe,
  addPipe,
  updatePipe,
  updatePipeStatus,
  listDetail,
  listPipeDe,
  InstrumentList,
  getContractDetail,
} from "@/api/sales/pipeline";
import { getAgreement } from "@/api/sales/agreement";

import { getToken } from "@/utils/auth";
import axios from "axios";
import moment from "moment";
import { listSite } from "@/api/system/site";

import chooseContractPayment from "../../utils/chooseContractPayment";

export default {
  components: { chooseContractPayment },
  name: "ContractPayment",
  data() {
    return {
      amount: "",
      submitFlag: "",

      //新增
      tableData: [
        {
          numbering: "编号-1",
          dictValue: "2",
          siteId: "",
          fowmetePosition: "",
          gasFlow: "",
        },
      ],

      //附件上传
      files: [],
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/system/pipe/upload",
      fileList: [],
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 称重计量表格数据
      pipeList: [],
      //
      instrumentList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示弹出层
      openInfo: false,
      // 选择调拨单弹出层
      selectOpen: false,
      //交易明细列表
      detailOptions: [],
      //站点列表
      siteOptions: [],
      //选择收获单位弹窗
      chooseCustomeOpen: false,
      //选择发货单位弹窗
      chooseSiteOpen: false,
      //
      choosePaymentOpen: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
      },
      // 表单参数
      form: {
        orgName: "orgName",
        enterpriseName: "enterpriseName",
      },
      // 表单校验
      rules: {
        sellContractId: [
          { required: true, message: "交易明细不能为空", trigger: "blur" },
        ],
        handoverTime: [
          { required: true, message: "交接时间不能为空", trigger: "blur" },
        ],
        salePerson: [
          { required: true, message: "销售方人员不能为空", trigger: "blur" },
        ],
        recipientPerson: [
          { required: true, message: "接气方人员不能为空", trigger: "blur" },
        ],
        supervisionPerson: [
          { required: true, message: "监督方人员不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.detail();
    this.site();
    this.getInstrumentList();
  },

  computed: {
    upData: function () {
      this.form.tableData = JSON.stringify(this.tableData);
      return {
        entityStr: JSON.stringify(this.form),
      };
    },
  },

  methods: {
    getInstrumentList() {
      InstrumentList().then((response) => {
        this.instrumentList = response.rows;
      });
    },

    /**获取采购方、销售方 */
    getMan(handoverAgreementId) {
      //计量交接协议
      //获取合同Id,
      getAgreement(handoverAgreementId).then((response) => {
        this.$set(this.form, "orgName", response.data.orgName);
        this.$set(this.form, "enterpriseName", response.data.enterpriseName);
      });
    },

    /**站点 */
    site() {
      listSite().then((response) => {
        this.siteOptions = response.rows;
      });
    },

    /**交易明细 */
    detail() {
      //获取产品是以管道运输的方式的交易明细

      listDetail().then((response) => {
        this.detailOptions = response.rows;
      });
    },

    /**删除 行 */
    handleDeleteRow(val, row) {
      // 模态框删除按钮
      this.$confirm("是否确认删除本条数据，删除后不可恢复?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "info",
      }).then(() => {
        // 此为假删除，只是删除了模态框中当前行的数据，并没有真正删除表格数据
        this.tableData.splice(val, 1);
        // 如下，接口请求则真正删除表格数据
        /**
         * let rowId = row.id;
        delCustome({ id: rowId }).then(res => {
          if (res.data) {
            this.$message({
              message: "删除成功",
              type: "success",
              duration: 2000
            });
          }
        });
        */
      });
    },

    /**增加 行 */
    createdRow() {
      // 创建行
      var list = {
        numbering: "编号-2",
        dictValue: "2",
        siteId: "",
        fowmetePosition: "",
        gasFlow: "",
      };
      this.tableData.push(list);
    },

    /** 查询过列表 */
    getList() {
      this.loading = true;
      this.queryParams.handoverPipeId = null;
      listPipe(this.queryParams).then((response) => {
        this.pipeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    gethandoverTime(time) {
      return moment(new Date(time)).format("yyyy-MM-DD");
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
      this.tableData = [
        {
          numbering: "编号-1",
          dictValue: "2",
          siteId: "",
          fowmetePosition: "",
          gasFlow: "",
        },
      ];
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    changeBlank() {
      this.$forceUpdate();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.handoverPipeId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加管道交接凭证";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const handoverPipeId = row.handoverPipeId;
      this.queryParams.handoverPipeId = row.handoverPipeId;
      listPipeDe(this.queryParams).then((response) => {
        this.tableData = response.rows;
        this.queryParams.handoverPipeId != null;
      });
      getPipe(handoverPipeId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改管道交接凭证";
      });
    },

    /** 提交按钮 */
    submitForm: function () {
      let flag = true;
      this.tableData.forEach((item) => {
        if (flag == false) {
          return false;
        }
        for (let i in item) {
          if (i === "siteId") {
            if (item[i] === "") {
              this.msgError("交接站不能为空");
              flag = false;
              break;
            }
          }
          if (i === "fowmetePosition") {
            if (item[i] === "") {
              this.msgError("流量记位号不能为空");
              flag = false;
              break;
            }
          }

          if (i === "gasFlow") {
            if (item[i] === "") {
              this.msgError("交接气量不能为空");
              flag = false;
              break;
            }
          }
        }
      });
      if (flag) {
        this.form.tableData = JSON.stringify(this.tableData);
        var fileLength = this.$refs.upload.uploadFiles.length;
        this.$refs["form"].validate((valid) => {
          if (valid) {
            if (this.form.handoverPipeId != undefined) {
              //修改
              if (fileLength > 0) {
                this.$refs.upload.submit();
              } else {
                updatePipe(this.form).then((response) => {
                  if (response.code === 200) {
                    this.msgSuccess("修改成功");
                    this.open = false;
                    this.getList();
                  }
                });
              }
            } else {
              if (fileLength == 0) {
                this.msgError("请上传附件");
              }
              this.$refs.upload.submit();
            }
            // if (this.form.handoverPipeId != undefined) {
            //   updatePipe(this.form).then((response) => {
            //     if (response.code === 200) {
            //       this.msgSuccess("修改成功");
            //       this.open = false;
            //       this.getList();
            //     }
            //   });
            // } else {
            //   addPipe(this.form).then((response) => {
            //     if (response.code === 200) {
            //       this.msgSuccess("新增成功");
            //       this.open = false;
            //       this.getList();
            //     }
            //   });
            // }
          }
        });
      }
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const handoverPipeIds = row.handoverPipeId || this.ids;
      this.$confirm("是否确认删除该管道交接信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delPipe(handoverPipeIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    toChoosePayment() {
      this.choosePaymentOpen = true;
    },

    closeWindow() {
      this.choosePaymentOpen = false;
    },

    choosePayment(payment) {
      getContractDetail(payment.sellContractId).then((response) => {
        this.amount = response.data;
        if (response.submitFlag == 1) {
          this.msgError("预付款金额小于产品规定比例金额，请充值");
        }
      });
      this.form.sellContractId = payment.sellContractId;
      this.form.sellContractCode = payment.sellContractCode;
      this.form.sellContractId = payment.sellContractId;
      this.payment = payment;
      this.payment.totalCount = payment.totalMoney;
      this.choosePaymentOpen = false;
      this.getMan(payment.handoverAgreementId);
    },

    // 确认
    handleSubmit(row) {
      const handoverPipeId = row.handoverPipeId;
      this.$confirm("是否提交该管道交接信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updatePipeStatus(handoverPipeId);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("确认成功");
        })
        .catch(function () {});
    },

    /**详情 */
    handleInfo(row) {
      this.reset();
      const handoverPipeId = row.handoverPipeId;
      this.queryParams.handoverPipeId = row.handoverPipeId;
      listPipeDe(this.queryParams).then((response) => {
        this.tableData = response.rows;
        this.queryParams.handoverPipeId != null;
      });
      getPipe(handoverPipeId).then((response) => {
        this.form = response.data;
        this.openInfo = true;
        this.title = "管道交接凭证详情";
      });
    },
    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },

    // 选择调拨单
    selectTrans() {
      this.transferId = this.form.transferId;
      this.selectOpen = true;
    },
    closeTransferWindow() {
      this.selectOpen = false;
    },
    getTransfer(transfer) {
      this.form.transferId = transfer.transferId;
      this.form.transferCode = transfer.transferCode;
      this.form.carNumber = transfer.carNumber;
      this.form.trailerNumber = transfer.trailerNumber;
    },

    //选择收获单位(客户)
    toChooseCustom() {
      this.chooseCustomeOpen = true;
    },
    closeWindow() {
      this.chooseCustomeOpen = false;
    },
    chooseCustomeId(customeId) {
      this.form.purchaseOrg = customeId;
    },
    chooseCustomeName(enterpriseName) {
      this.form.enterpriseName = enterpriseName;
    },

    //选择发货单位(站点)
    toChooseSite() {
      this.chooseSiteOpen = true;
    },
    chooseSite(site) {
      this.form.siteName = site.siteName;
      this.form.deliveryOrg = site.siteId;
    },
    closeSiteWindow() {
      this.chooseSiteOpen = false;
    },

    downLoadFile(handoverPipeId, fBillNo) {
      var fBillNo = fBillNo;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API +
          "/system/pipe/downLoadFile/" +
          handoverPipeId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },

    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },

    //图片删除前
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`, {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        title: "删除提醒",
      });
    },

    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新上传凭证附件！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },

    //上传成功
    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        if (res.msg == 1) {
          this.msgError("预收款金额小于产品规定比例金额，请充值");
          setTimeout(function () {
            _this.$refs.upload.clearFiles();
          }, 1000);
        }
        if (res.msg == 2) {
          this.msgError("交接气量之和应小于剩余数量");
          setTimeout(function () {
            _this.$refs.upload.clearFiles();
          }, 1000);
        } else {
          this.$message.success("新增成功");
          setTimeout(function () {
            _this.$refs.upload.clearFiles();
          }, 1000);
          this.open = false;
          this.getList();
        }
      }
      // else {
      // this.msgError("预收款金额小于产品规定比例金额，请充值");
      // let _this = this;
      // setTimeout(function () {
      //   _this.$refs.upload.clearFiles();
      // }, 1000);
      // }
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.msgError("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },
  },
};
</script>
