<template>
  <div class="app-container">
    <el-form class="query-form"
             :model="queryParams"
             ref="queryForm"
             :inline="true"
             label-width="68px">

      <el-form-item label="公司名称"
                    prop="orgName">
        <el-input v-model="queryParams.orgName"
                  placeholder="请输入公司名称"
                  size="small"
                  style="width: 180px"
                  @keyup.enter.native="handleQuery" />
      </el-form-item>

      <el-form-item label="采购年份"
                    prop="year">
        <el-date-picker v-model="queryParams.year"
                        placeholder="请选择采购年份"
                        size="small"
                        style="width: 180px"
                        value-format="yyyy"
                        type="year"
                        @keyup.enter.native="handleQuery"></el-date-picker>
      </el-form-item>

      <el-form-item label="产品名称"
                    prop="productName">
        <el-input v-model="queryParams.productName"
                  placeholder="请输入产品名称"
                  size="small"
                  style="width: 180px"
                  @keyup.enter.native="handleQuery" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary"
                   icon="el-icon-search"
                   size="mini"
                   @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh"
                   size="mini"
                   @click="resetQuery">重置</el-button>
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>采购年计划列表</div>
      </div>

      <div class="system-table-btn">

        <el-row :gutter="10"
                class="mb8">
          <!--
          <el-col :span="1.5">
            <el-button type="primary"
                       icon="el-icon-plus"
                       size="mini"
                       @click="handleAdd"
                       v-hasPermi="['system:plan:add']">新增</el-button>
          </el-col>

          <el-col :span="1.5">
            <el-button type="danger"
                       icon="el-icon-delete"
                       size="mini"
                       :disabled="multiple"
                       @click="handleDelete"
                       v-hasPermi="['system:plan:remove']">删除</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:plan:export']"
              >导出</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table border
              v-loading="loading"
              :data="customeList"
              @selection-change="handleSelectionChange">
      <el-table-column label="年份"
                       align="center"
                       prop="year"
                       :show-overflow-tooltip="true" />

      <el-table-column label="公司名称"
                       align="center"
                       prop="orgName"
                       :show-overflow-tooltip="true" />

      <el-table-column label="产品类型"
                       align="center"
                       prop="productTypeName"
                       :show-overflow-tooltip="true" />

      <el-table-column label="产品名称"
                       align="center"
                       prop="productName"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年采购量
              (吨/万方)"
                       align="center"
                       prop="yearPurchaseAmount"
                       :show-overflow-tooltip="true" />

      <el-table-column label="采购价(元)"
                       align="center"
                       prop="purchasePrice"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年采购额(万)"
                       align="center"
                       prop="yearPurchaseMoney"
                       :show-overflow-tooltip="true" />

      <!--

      <el-table-column label="操作"
                       align="center"
                       width="120px"
                       class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button size="mini"
                     type="text"
                     icon="el-icon-edit"
                     @click="handleUpdate(scope.row, false)"
                     v-hasPermi="['system:plan:edit']">修改</el-button>

          <el-button size="mini"
                     type="text"
                     icon="el-icon-delete"
                     @click="handleDelete(scope.row)"
                     v-hasPermi="['system:plan:remove']">删除</el-button>

        </template>
      </el-table-column>
      -->
    </el-table>

    <pagination v-show="total > 0"
                :total="total"
                :page.sync="queryParams.pageNum"
                :limit.sync="queryParams.pageSize"
                @pagination="getList" />

    <!-- 添加或修改客户对话框 -->

    <el-dialog :title="title"
               :visible.sync="open"
               width="70%"
               append-to-body
               :close-on-click-modal="false">
      <el-form ref="form"
               :model="form"
               :rules="rules"
               label-width="90px">

        <el-row :gutter="24">
          <el-col :span="12">

            <el-form-item label="公司名称"
                          prop="orgId">
              <el-input v-model="form.orgId"
                        placeholder="请输入公司名称"
                        maxlength="20" />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="年份"
                          prop="year">
              <el-date-picker v-model="form.year"
                              placeholder="请选择年份"
                              class="width-100"
                              size="small"
                              style="width: 240px"
                              value-format="yyyy"
                              type="year"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-table border
                  v-loading="loading"
                  :data="tableData"
                  style="width: 100%">

          <el-table-column prop="productType"
                           label="产品类别">
            <template slot-scope="scope">
              <el-select v-model="scope.row.productType"
                         type="Integer"
                         @change="getproductId(scope.row.productType)"
                         placeholder="请选择产品类别">
                <el-option v-for="dict in typeOptions"
                           :key="dict.dictValue"
                           :label="dict.dictLabel"
                           :value="Number(dict.dictValue)" />
              </el-select>
            </template>
          </el-table-column>
          <el-table-column prop="productId"
                           label="产品名称">
            <template slot-scope="scope">
              <el-input v-model="scope.row.productId"
                        type="text"
                        maxlength="20"
                        placeholder="请输入产品名称"
                        style="100px"></el-input>
            </template>
          </el-table-column>

          <el-table-column prop="yearAmount"
                           label="年采购量(吨/万方)"
                           width="80px">
            <template slot-scope="scope">

              <el-input v-model="scope.row.yearAmount"
                        type="text"
                        maxlength="6"
                        oninput="value=value.replace(/\D/g,'')"
                        placeholder="请输入数字"
                        style="100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="sellPrice"
                           label="销售价(元)"
                           width="80px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.sellPrice"
                        type="text"
                        maxlength="6"
                        oninput="value=value.replace(/\D/g,'')"
                        placeholder="请输入数字"
                        style="100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="yearMoney"
                           label="年采购额(万)"
                           width="80px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.yearMoney"
                        type="text"
                        maxlength="6"
                        oninput="value=value.replace(/\D/g,'')"
                        placeholder="请输入数字"
                        style="100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="purchasePrice"
                           label="采购价(元)"
                           width="80px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.purchasePrice"
                        type="text"
                        maxlength="6"
                        oninput="value=value.replace(/\D/g,'')"
                        placeholder="请输入数字"
                        style="100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="profit"
                           label="利润(万)"
                           width="80px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.profit"
                        type="text"
                        maxlength="6"
                        oninput="value=value.replace(/\D/g,'')"
                        placeholder="请输入数字"
                        style="100px"></el-input>
            </template>
          </el-table-column>

          <el-table-column prop="priceDifference"
                           label="差价(万)"
                           width="80px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.priceDifference"
                        type="text"
                        maxlength="6"
                        oninput="value=value.replace(/\D/g,'')"
                        placeholder="请输入数字"
                        style="100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">

              <el-button type="primary"
                         icon="el-icon-plus"
                         circle
                         @click="createdRow"></el-button>
              <el-button v-if="scope.row.numbering != '编号-1'"
                         type="danger"
                         icon="el-icon-minus"
                         circle
                         @click="handleDeleteRow(scope.$index, scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>

      </el-form>
      <div slot="footer"
           class="dialog-footer">
        <el-button v-show="!updateFlag"
                   type="primary"
                   @click="submitForm(1)">确 定</el-button>

        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listCustomePlan,
  getCustomePlan,
  delCustomePlan,
  addCustomePlan,
  updateCustomePlan,
  exportCustomePlan,
  updateCustomePlanStatus,
} from "@/api/sales/purchaseYearPlan";
import { listCustome } from "@/api/sales/custome";
import {
  listProduct
} from "@/api/system/product";

import { treeselect } from "@/api/system/dept";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  name: "Custome",
  components: { Treeselect },
  data () {
    return {
      //新增
      tableData: [
        {
          numbering: "编号-1",
          dictValue: "2",
          productId: "轻烃",
          yearAmount: "0",
          yearMoney: "0",
          sellPrice: "0",
          purchasePrice: "0",
          priceDifference: "0",
          profit: "0",
        }
      ],


      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      customeList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // $comment字典
      typeOptions: [],

      // 产品
      productOptions: [],

      updateFlag: true,

      // 部门树选项
      deptOptions: undefined,

      // $comment字典
      customeTypeOptions: [],
      sexOptions: [],
      customeBigOptions: [],
      statusOptions: [],
      styleOptions: [],

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        status: undefined,

      },
      queryParamsType: {
        orgId: undefined,
        productType: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {

        orgId: [
          { required: true, message: "公司名称不能为空", trigger: "blur" },
        ],
        year: [
          { required: true, message: "选择年份不能为空", trigger: "blur" },
        ],

      },
    };
  },
  watch: {
    'form.orgId': 'changeOrgId',
  },
  created () {
    this.getList();
    this.getTreeselect();
    this.getListProduct();
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });
    this.getDicts("sales_custome_type").then((response) => {
      this.customeTypeOptions = response.data;
    });

    this.getDicts("sys_user_sex").then((response) => {
      this.sexOptions = response.data;
    });

    this.getDicts("sales_custome_if_big").then((response) => {
      this.customeBigOptions = response.data;
    });

    this.getDicts("sales_custome_status").then((response) => {
      this.statusOptions = response.data;
    });

    this.getDicts("sales_custome_style").then((response) => {
      this.styleOptions = response.data;
    });
  },
  methods: {

    // $comment字典翻译
    productFormat (row, column) {
      return this.selectDictLabel(
        this.typeOptions,
        row.productId
      );
    },

    /** 查询部门下拉树结构 */
    getTreeselect () {
      treeselect().then((response) => {
        this.deptOptions = response.data;
      });
    },


    getListProduct () {
      listProduct().then((response) => {
        this.productOptions = response.rows;
      });
    },
    getproductId (productType) {
      this.queryParamsType.type = productType;
      listProduct(this.queryParamsType).then((response) => {
        this.productOptions = response.rows;
      });
    },
    /**根据公司Id 获得产品列表 */
    changeOrgId () {
      listProduct(this.form.orgId).then((response) => {
        this.productOptions = response.rows;
      });
    },
    /**删除 行 */
    handleDeleteRow (val, row) {
      // 模态框删除按钮
      this.$confirm("是否确认删除本条数据，删除后不可恢复?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "info"
      }).then(() => {
        // 此为假删除，只是删除了模态框中当前行的数据，并没有真正删除表格数据
        this.tableData.splice(val, 1);
        // 如下，接口请求则真正删除表格数据
        /**
         * let rowId = row.id;
        delCustome({ id: rowId }).then(res => {
          if (res.data) {
            this.$message({
              message: "删除成功",
              type: "success",
              duration: 2000
            });
          }
        });
        */
      });
    },

    /**增加 行 */
    createdRow () {
      // 创建行
      var list = {
        numbering: "编号-2",
        dictValue: "2",
        productId: "轻烃",
        yearAmount: "0",
        yearMoney: "0",
        sellPrice: "0",
        purchasePrice: "0",
        priceDifference: "0",
        profit: "0",
      };
      this.tableData.push(list);
    },


    /** 查询采购年计划列表 */
    getList () {
      this.loading = true;
      listCustomePlan(this.queryParams).then((response) => {
        this.customeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    // 取消按钮
    cancel () {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset () {
      this.form = {
        orgId: null,
        year: null,
        status: 1,
      };
      this.resetForm("form");
      this.tableData = [{
        numbering: "编号-1",
        dictValue: "2",
        productId: "轻烃",
        yearAmount: "0",
        yearMoney: "0",
        sellPrice: "0",
        purchasePrice: "0",
        priceDifference: "0",
        profit: "0",
      }];
    },
    /** 搜索按钮操作 */
    handleQuery () {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery () {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange (selection) {
      this.ids = selection.map((item) => item.yearSellPlanId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd () {
      this.reset();
      this.updateFlag = false;
      this.open = true;
      this.title = "新增采购年计划";
    },
    /** 修改按钮操作 */
    handleUpdate (row, updateFlag) {
      this.updateFlag = updateFlag;
      const yearSellPlanId = row.yearSellPlanId;
      this.queryParams.yearSellPlanId = yearSellPlanId
      listCustomePlan(this.queryParams).then((response) => {
        this.tableData = response.rows;
        this.queryParams.yearSellPlanId = null

      });
      getCustomePlan(yearSellPlanId).then((response) => {
        this.form = response.data;
        this.form.fzrSex = Number(this.form.fzrSex);
        this.form.legalSex = Number(this.form.legalSex);
        this.open = true;
        this.title = "修采购年计划 ";
      });
    },

    /** 提交按钮 */
    submitForm: function (val) {
      this.form.tableData = JSON.stringify(this.tableData);
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.form.status = val;
          if (this.form.yearSellPlanId != undefined) {
            updateCustomePlan(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addCustomePlan(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete (row) {
      const yearSellPlanIds = row.yearSellPlanId || this.ids;
      this.$confirm("是否确认删除年计划?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delCustomePlan(yearSellPlanIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () { });
    },
    /** 导出按钮操作 */
    handleExport () {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有采购年计划数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportCustomePlan(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () { });
    },

    // 确认
    handleConfirm (row) {
      const yearSellPlanId = row.yearSellPlanId;
      this.$confirm("是否确认提交年计划?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateCustomePlanStatus(yearSellPlanId, "4");
        })
        .then(() => {
          this.getList();
          this.msgSuccess("确认成功");
        })
        .catch(function () { });
    },

    // 禁用
    handleDisable (row) {
      const yearSellPlanId = row.yearSellPlanId;
      this.$confirm("是否禁用客户?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateCustomePlanStatus(yearSellPlanId, "5");
        })
        .then(() => {
          this.getList();
          this.msgSuccess("禁用成功");
        })
        .catch(function () { });
    },

    // 启用
    handleEnable (row) {
      const yearSellPlanId = row.yearSellPlanId;
      this.$confirm("是否启用客户?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateCustomePlanStatus(yearSellPlanId, "4");
        })
        .then(() => {
          this.getList();
          this.msgSuccess("启用成功");
        })
        .catch(function () { });
    },
    handleMaintain (row) {
      const yearSellPlanId = row.yearSellPlanId;
      this.$router.push("/sales/customer-user/customer/" + yearSellPlanId);
    },
  },
};
</script>
