<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
    >
      <el-form-item label="发货单位" prop="siteName">
        <el-input
          v-model="queryParams.siteName"
          placeholder="请输入发货单位"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item label="收货单位" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入收货单位"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item label="称重计量单号" prop="weightDoc">
        <el-input
          v-model="queryParams.weightDoc"
          placeholder="请输入称重计量单号"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          @input="changeBlank"
          clearable
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>称重计量单信息表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['sales:doc:add']"
              style="right"
              >新增</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="weightList">
      <el-table-column
        label="发货单位"
        align="center"
        prop="siteName"
        min-width="150px"
        :show-overflow-tooltip="true"
        fixed
      />

      <el-table-column
        label="收货单位"
        align="center"
        prop="enterpriseName"
        min-width="150px"
        :show-overflow-tooltip="true"
        fixed
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        min-width="150px"
        :show-overflow-tooltip="true"
        fixed
      />

      <el-table-column
        label="称重计量单号"
        align="center"
        prop="weightDoc"
        width="200px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="车牌号"
        align="center"
        prop="carNumber"
        width="110px"
      />

      <el-table-column
        label="挂车牌号"
        align="center"
        prop="trailerNumber"
        width="110px"
      />
      <el-table-column
        label="净重"
        align="center"
        prop="netWeight"
        width="120"
      />

      <el-table-column
        label="计量单位"
        align="center"
        prop="productUnit"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="制单时间"
        align="center"
        prop="roughWeightTime"
        width="100px"
      >
        <template slot-scope="scope">
          <span>{{ getWeightTime(scope.row.roughWeightTime) }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="所属系统"
        align="center"
        prop="belongSystem"
        width="90px"
        :formatter="belongSystemFormat"
      />

      <el-table-column label="状态" align="center" prop="status" width="80px">
        <template slot-scope="scope">
          <div
            :style="{
              color: scope.row.status == '2' ? '' : '#3BB080',
            }"
          >
            {{ scope.row.status == "1" ? "已提交" : "未提交" }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="180px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sales:doc:edit']"
            >修改</el-button
          >
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleSubmit(scope.row)"
            v-hasPermi="['sales:doc:submit']"
            >提交</el-button
          >

          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            icon="el-icon-delete"
            type="text"
            @click="handleDelete(scope.row)"
            v-hasPermi="['sales:doc:remove']"
            >删除</el-button
          >

          <!-- v-show="scope.row.status == 1" -->

          <el-button
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="handleInfo(scope.row)"
            v-hasPermi="['sales:doc:view']"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改称重计量单对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              label="调拨单"
              prop="transferCode"
              class="required_red_star"
            >
              <el-input
                v-model="form.transferCode"
                placeholder="请选择调拨单"
                disabled
              >
                <el-button slot="append" class="login-icon" @click="selectTrans"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="制单时间" prop="roughWeightTime">
              <el-date-picker
                class="width-100"
                v-model="form.roughWeightTime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="请选择制单时间"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-show="form.transferCode">
          <el-col :span="12">
            <el-form-item label="发货单位">
              <el-input disabled v-model="form.siteName" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="收货单位">
              <el-input disabled v-model="form.enterpriseName" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="称重时间" prop="weightDate">
              <el-date-picker
                class="width-100"
                v-model="form.weightDate"
                type="date"
                placeholder="请选择称重时间"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="毛重(吨)" prop="roughWeight">
              <el-input
                v-model="form.roughWeight"
                placeholder="请输入毛重"
                @change="changNetWeight"
                type="number"
                onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')"
                oninput="if(this.value.length > 8 ) this.value = this.value.slice(0,8)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="皮重(吨)" prop="tareWeight">
              <el-input
                v-model="form.tareWeight"
                placeholder="请输入皮重"
                @change="changNetWeight"
                type="number"
                onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')"
                oninput="if(this.value.length > 8 ) this.value = this.value.slice(0,8)"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="净重(吨)" prop="netWeight">
              <el-input
                maxlength="10"
                v-model="form.netWeight"
                placeholder="净重根据皮重和毛重计算得出"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="计量员" prop="gauger">
              <el-input
                maxlength="20"
                v-model="form.gauger"
                placeholder="请输入计量员"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="复核员" prop="supervisoryPersonnel">
              <el-input
                maxlength="10"
                v-model="form.supervisoryPersonnel"
                placeholder="请输入复核员"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-show="form.transferCode">
          <el-col :span="12">
            <el-form-item label="车牌号" prop="carNumber">
              <el-input
                maxlength="10"
                v-model="form.carNumber"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="挂车牌号" prop="trailerNumber">
              <el-input
                maxlength="10"
                v-model="form.trailerNumber"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="司机姓名" prop="driveman">
              <el-input
                maxlength="30"
                v-model="form.driveman"
                placeholder="请输入司机姓名"
              />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="原始凭证类型" prop="proofType">
              <el-select
                v-model="form.proofType"
                placeholder="请选择原始凭证类型"
                size="small"
                class="width-100"
                filterable
              >
                <el-option
                  v-for="dict in proofTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
            </el-form-item>
          </el-col> -->
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="remarks">
              <el-input
                v-model="form.remarks"
                maxlength="3000"
                type="textarea"
                placeholder="请输入内容"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="原始凭证附件" class="required_red_star">
              <el-upload
                ref="upload"
                :headers="headers"
                :action="uploadAction"
                :limit="1"
                :with-credentials="true"
                :on-success="handleFileSuccess"
                :on-remove="handleRemove"
                :before-upload="beforeAvatarUpload"
                :data="upData"
                :file-list="files"
                :on-exceed="handleExceed"
                :auto-upload="false"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .jpeg, .pdf"
              >
                <el-button slot="trigger" size="small" type="primary"
                  >附件上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  只能上传.doc, .docx, .xls, .xlsx, .jpg,
                  .png,.jpeg,.pdf文件，且只能上传一个
                </div>
              </el-upload>
            </el-form-item>

            <div
              class="form-file-list"
              v-show="form.proofPath"
              style="padding-left: 0px !importment"
              @click="downLoadFile(form.weightId, form.fileName)"
            >
              <div>{{ form.fileName }}</div>
              <div>下载</div>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" :data="upData" @click="submitForm(2)"
          >保 存</el-button
        >
        <!-- <el-button
          v-hasPermi="['sales:doc:submit']"
          type="danger"
          :data="upData"
          @click="submitForm(1)"
          v-show="!updateFlag"
          >提 交</el-button
        > -->
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 选择调拨单 -->
    <el-dialog
      class="edit-dialog"
      title="选择调拨单"
      :visible.sync="selectOpen"
      width="70%"
      :close-on-click-modal="false"
      append-to-body
    >
      <select-transfer
        @closeTransferWindow="closeTransferWindow"
        :selectTransfer="transferId"
        status="1"
        @transfer="getTransfer"
        v-if="selectOpen"
      ></select-transfer>
    </el-dialog>

    <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="调拨单" prop="transferCode">
              <el-input
                v-model="form.transferCode"
                placeholder="请选择调拨单"
                disabled
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="selectTrans"
                  disabled
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="称重计量单号" prop="weightDoc">
              <el-input
                maxlength="30"
                v-model="form.weightDoc"
                placeholder="请输入称重计量单号"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="称重时间" prop="weightDate">
              <el-date-picker
                class="width-100"
                v-model="form.weightDate"
                type="date"
                placeholder="请选择称重时间"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="发货单位(站点)" prop="siteName">
              <el-input
                placeholder="请选择发货单位"
                disabled
                v-model="form.siteName"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="毛重(吨)" prop="roughWeight">
              <el-input
                maxlength="10"
                v-model="form.roughWeight"
                placeholder="请输入毛重"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="皮重(吨)" prop="tareWeight">
              <el-input
                maxlength="10"
                v-model="form.tareWeight"
                placeholder="请输入皮重"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="净重(吨)" prop="netWeight">
              <el-input
                maxlength="10"
                v-model="form.netWeight"
                placeholder="请输入净重"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="收货单位(客户)" prop="enterpriseName">
              <el-input
                placeholder="请选择收获单位"
                disabled
                v-model="form.enterpriseName"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="计量员" prop="gauger">
              <el-input
                maxlength="20"
                v-model="form.gauger"
                placeholder="请输入计量员"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="复核员" prop="supervisoryPersonnel">
              <el-input
                maxlength="20"
                v-model="form.supervisoryPersonnel"
                placeholder="请输入复核员"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="司机姓名" prop="driveman">
              <el-input
                maxlength="50"
                v-model="form.driveman"
                placeholder="请输入司机姓名"
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="制单时间" prop="roughWeightTime">
              <el-date-picker
                class="width-100"
                v-model="form.roughWeightTime"
                type="date"
                placeholder="请选择制单时间"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="车牌号" prop="carNumber">
              <el-input
                maxlength="10"
                v-model="form.carNumber"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="挂车牌号" prop="trailerNumber">
              <el-input
                maxlength="10"
                v-model="form.trailerNumber"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <!-- <el-col :span="12">
            <el-form-item label="复核员" prop="supervisoryPersonnel">
              <el-input
                maxlength="30"
                v-model="form.supervisoryPersonnel"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col> -->
          <el-col :span="12">
            <el-form-item label="原始凭证类型" prop="dictLabel">
              <el-input
                maxlength="30"
                v-model="form.dictLabel"
                placeholder=""
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="remarks">
              <el-input
                v-model="form.remarks"
                maxlength="100"
                type="textarea"
                placeholder="请输入内容"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="原始凭证附件" class="required_red_star">
              <div
                class="form-file-list"
                v-show="form.proofPath"
                @click="downLoadFile(form.weightId, form.fileName)"
              >
                <div>{{ form.fileName }}</div>
                <div>下载</div>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listDoc,
  getDoc,
  delDoc,
  addDoc,
  updateDoc,
  updateWeightStatus,
} from "@/api/sales/weight";
import selectTransfer from "./../transfer/selectTransfer";

import { getToken } from "@/utils/auth";
import axios from "axios";
import moment from "moment";

export default {
  name: "Weight",
  components: {
    selectTransfer,
  },
  data() {
    return {
      //附件上传
      files: [],
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/sales/doc/upload",
      //附件上传
      fileList: [],
      //凭证类型
      // proofTypeOptions: [],
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 称重计量表格数据
      weightList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示弹出层
      openInfo: false,
      // 选择调拨单弹出层
      selectOpen: false,
      //选择收获单位弹窗
      chooseCustomeOpen: false,
      //选择发货单位弹窗
      chooseSiteOpen: false,

      dateRange: [],
      updateFlag: true,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        tareWeightTime: "",
      },
      // 表单参数
      form: {
        weightId: undefined,
        proofType: undefined,
        transferId: undefined,
        fileName: undefined,
        proofPath: undefined,
        status: undefined,
      },
      transfer: {
        amount: "",
        time: "",
      },

      status: "",

      // 表单校验
      rules: {
        transferCode: [
          { required: true, message: "请选择调拨单", trigger: "blur" },
        ],
        weightDoc: [
          { required: true, message: "称重计量单号不能为空", trigger: "blur" },
        ],
        weightDate: [
          { required: true, message: "称重时间不能为空", trigger: "blur" },
        ],
        siteName: [
          { required: true, message: "发货单位不能为空", trigger: "blur" },
        ],
        roughWeight: [
          { required: true, message: "毛重不能为空", trigger: "blur" },
        ],
        tareWeight: [
          { required: true, message: "皮重不能为空", trigger: "blur" },
        ],
        netWeight: [
          { required: true, message: "净重不能为空", trigger: "blur" },
        ],
        enterpriseName: [
          { required: true, message: "收货单位不能为空", trigger: "blur" },
        ],
        gauger: [
          { required: true, message: "计量员不能为空", trigger: "blur" },
        ],
        supervisoryPersonnel: [
          { required: true, message: "复核员不能为空", trigger: "blur" },
        ],
        roughWeightTime: [
          { required: true, message: "制单时间不能为空", trigger: "blur" },
        ],
        driveman: [
          { required: true, message: "司机名称不能为空", trigger: "blur" },
        ],
        proofType: [
          {
            required: true,
            message: "原始附件类型称不能为空",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.getDicts("sys_belong_system").then((response) => {
      this.belongSystemOptions = response.data;
      this.getList();
    });
    // this.getDicts("proof_type").then((response) => {
    //   this.proofTypeOptions = response.data;
    // });
  },

  // watch: {
  //   status: function (val) {
  //     this.form.status = val;
  //     return {
  //       entityStr: JSON.stringify(this.form),
  //     };
  //   },
  // },

  computed: {
    upData: function () {
      return {
        entityStr: JSON.stringify(this.form),
      };
    },
  },

  // computed: {
  //   upData:function() {
  //     return function(val){
  //       this.form.status = val;
  //       return {entityStr: JSON.stringify(this.form)}
  //     }
  //   },
  // },

  methods: {
    /** 查询称重计量单信息表列表 */
    getList() {
      this.loading = true;
      listDoc(this.addDateRange(this.queryParams, this.dateRange)).then(
        (response) => {
          this.weightList = response.rows;
          this.total = response.total;
          this.loading = false;
        }
      );
    },
    getWeightTime(time) {
      return moment(new Date(time)).format("yyyy-MM-DD");
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {};
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    changeBlank() {
      this.$forceUpdate();
    },
    //所属系统字典翻译
    belongSystemFormat(row, column) {
      return this.selectDictLabel(this.belongSystemOptions, row.belongSystem);
    },

    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.updateFlag = false;
      this.open = true;
      this.title = "添加称重计量单";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      this.updateFlag = false;
      const weightId = row.weightId;
      getDoc(weightId).then((response) => {
        this.form = response.data;
        this.transfer.amount = response.data.amount;
        this.open = true;
        this.title = "修改称重计量单";
      });
    },

    /** 提交按钮 */
    submitForm: function (val) {
      var fileLength = this.$refs.upload.uploadFiles.length;
      this.status = val;

      this.$refs["form"].validate((valid) => {
        if (valid) {
          // 净重不能为负数
          if (this.form.netWeight < 0) {
            this.$message.error("净重不能为负数，请检查数据是否正确");
            return false;
          }
          if (this.form.netWeight > this.transfer.amount) {
            this.$message.error("净重不能大于调拨单调拨数量");
            return false;
          }

          if (this.form.weightId != undefined) {
            //修改
            if (fileLength > 0) {
              this.$refs.upload.submit();
            } else {
              this.form.status = 1;
              updateDoc(this.form).then((response) => {
                if (response.code === 200) {
                  this.msgSuccess("修改成功");
                  this.open = false;
                  this.getList();
                }
              });
            }
          } else {
            if (fileLength == 0) {
              this.msgError("请上传附件");
            }
            this.$refs.upload.submit();
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const weightIds = row.weightId || this.ids;
      this.$confirm("是否确认删除该称重计量单信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delDoc(weightIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    // 提交
    handleSubmit(row) {
      const weightId = row.weightId;
      this.$confirm("是否提交该称重计量单信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateWeightStatus(weightId);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("提交成功");
        })
        .catch(function () {});
    },

    /**详情 */
    handleInfo(row) {
      this.reset();
      this.updateFlag = true;
      const weightId = row.weightId;
      getDoc(weightId).then((response) => {
        this.form = response.data;
        this.transfer.amount = this.form.amount;
        this.openInfo = true;
        this.title = "称重计量单详情";
      });
    },
    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },
    //净重=毛重-皮重
    changNetWeight() {
      if (this.form.roughWeight && this.form.tareWeight) {
        this.form.netWeight = (
          this.form.roughWeight - this.form.tareWeight
        ).toFixed(3);
        this.$forceUpdate();
      }
    },

    // 选择调拨单
    selectTrans() {
      this.transferId = this.form.transferId;
      this.selectOpen = true;
    },
    closeTransferWindow() {
      this.selectOpen = false;
    },
    getTransfer(transfer) {
      this.transfer = transfer;

      this.form.transferId = transfer.transferId;
      this.form.transferCode = transfer.transferCode;
      this.form.carNumber = transfer.carNumber;
      this.form.trailerNumber = transfer.trailerNumber;

      this.form.siteName = transfer.siteName;
      this.form.siteId = transfer.siteId;
      this.form.enterpriseName = transfer.enterpriseName;
      this.form.purchaseOrg = transfer.customeId;
      this.form.taxRate = transfer.taxRate;
      this.form.deliveryOrg = transfer.siteId;
      this.form.amount = transfer.amount;
    },

    downLoadFile(weightId, fileName) {
      var weightDoc = weightDoc;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API + "/sales/doc/downLoadFile/" + weightId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },

    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },

    //图片删除前
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`, {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        title: "删除提醒",
      });
    },

    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新上传凭证附件！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },
    //上传成功
    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        this.$message.success("新增成功");
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
        this.open = false;
        this.getList();
      }
      // else {
      //   this.$message.warning("新增成功");
      //   let _this = this;
      //   setTimeout(function () {
      //     _this.$refs.upload.clearFiles();
      //   }, 1000);
      // }
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.msgError("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },
  },
};
</script>
