<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="90px"
    >
      <el-form-item label="合同名称" prop="contractName">
        <el-input
          v-model="queryParams.contractName"
          placeholder="请输入合同名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="供货单位" prop="supplierName">
        <el-input
          v-model="queryParams.supplierName"
          placeholder="请输入供货单位"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="购货单位" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入购货单位"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>合同台账列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:pruchase:contract:add']"
              >新增</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:pruchase:contract:remove']"
              >删除</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="contractList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="50" align="center" />

      <el-table-column
        label="合同名称"
        align="center"
        prop="contractName"
        min-width="150px"
        fixed
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="合同编号"
        align="center"
        width="180"
        prop="contractCode"
        fixed
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="供货单位"
        align="center"
        prop="supplierName"
        min-width="150px"
        fixed
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="购货单位"
        align="center"
        prop="orgName"
        min-width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="合同金额(元)"
        align="center"
        width="120"
        prop="contractMoneyTem"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品名称"
        align="center"
        width="120"
        prop="productName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="签订日期"
        align="center"
        prop="signTime"
        width="120"
        :show-overflow-tooltip="true"
      />

      <!-- <el-table-column
        label="状态"
        align="center"
        prop="status"
        :show-overflow-tooltip="true"
      /> -->

      <el-table-column
        label="操作"
        align="center"
        width="180"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:pruchase:contract:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:pruchase:contract:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="合同名称" prop="contractName">
              <el-input
                v-model="form.contractName"
                placeholder="请输入合同名称"
                maxlength="50"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              label="供货单位"
              class="required_red_star"
              prop="supplierName"
            >
              <el-input
                placeholder="请选择供货单位"
                disabled
                v-model="form.supplierName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseSupplier"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="购货单位" prop="orgId">
              <el-select
                class="width-100"
                v-model="form.orgId"
                placeholder="请选择购货单位"
              >
                <el-option
                  v-for="item in orgList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <!-- <el-input
                placeholder="请选择购货单位"
                disabled
                v-model="form.orgName"
              >
                <el-button slot="append" class="login-icon" @click="toChooseOrg"
                  >选择</el-button
                >
              </el-input> -->
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="productType">
              <el-select
                v-model="form.productType"
                placeholder="类型"
                class="width-100"
                size="small"
                @change="changProduct"
              >
                <el-option
                  v-for="dict in productTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="产品名称" prop="productId">
              <el-select
                @change="forceUpdate"
                v-model="form.productId"
                placeholder="请选择产品"
                clearable
                class="width-100"
                size="small"
              >
                <el-option
                  v-for="item in productOptions"
                  :key="item.productId"
                  :label="item.name"
                  :value="item.productId"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="合同金额(元)" prop="contractMoney">
              <el-input-number
                class="width-100"
                v-model="form.contractMoney"
                :precision="2"
                :step="0.1"
                :max="10000000000"
                :min="0"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12" v-show="form.purchaseContractId">
            <el-form-item label="合同编号" prop="contractCode">
              <el-input disabled v-model="form.contractCode" maxlength="100" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="履行开始时间" prop="contractLimitStart">
              <el-date-picker
                class="width-100"
                v-model="form.contractLimitStart"
                type="date"
                placeholder="请选择履行开始时间"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="履行结束时间" prop="contractLimitEnd">
              <el-date-picker
                class="width-100"
                v-model="form.contractLimitEnd"
                type="date"
                placeholder="请选择履行结束时间"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="签订时间" prop="signTime">
              <el-date-picker
                class="width-100"
                v-model="form.signTime"
                type="date"
                placeholder="选择签订时间"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="签约地点" prop="signedAt">
              <el-input
                maxlength="200"
                v-model="form.signedAt"
                placeholder="请输入签约地点"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="remarks">
              <el-input
                v-model="form.remarks"
                maxlength="100"
                type="textarea"
                placeholder="请输入备注"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="附件">
              <el-upload
                class="upload-demo"
                ref="upload"
                :action="uploadAction"
                :headers="headers"
                :on-remove="handleRemove"
                :on-exceed="handleExceed"
                :on-success="handleFileSuccess"
                :before-upload="beforeAvatarUpload"
                :before-remove="beforeRemove"
                :on-preview="handlePreview"
                :file-list="fileList"
                multiple
                :limit="3"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .png,.jpeg,.pdf"
              >
                <el-button slot="trigger" size="small" type="primary"
                  >附件上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  只能上传文件、图片，且单文件不超过10M
                </div>
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm()">确 定</el-button>

        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 选择供货商 -->
    <el-dialog
      :visible.sync="supplierOpen"
      width="70%"
      append-to-body
      title="供货方列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-supplier
        @closeSupplierWindow="closeSupplierWindow"
        @chooseSupplier="chooseSupplier"
        v-if="supplierOpen"
        ref="chooseSupplier"
      ></choose-supplier>
    </el-dialog>

    <!-- 选择采购方 -->
    <el-dialog
      :visible.sync="orgOpen"
      width="70%"
      append-to-body
      title="机构列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-org
        @closeOrgWindow="closeOrgWindow"
        @chooseOrg="chooseOrg"
        v-if="orgOpen"
        ref="chooseOrg"
      ></choose-org>
    </el-dialog>
  </div>
</template>

<script>
import {
  listContract,
  getContract,
  addContract,
  updateContract,
  delContract,
  getProductByType,
} from "@/api/purchase/contract";
import { getOrgCompany } from "@/api/sales/query";
import { delFile } from "@/api/purchase/contractFile";

import chooseSupplier from "../../utils/chooseSupplier";
import chooseOrg from "../../utils/chooseOrg";
import { getToken } from "@/utils/auth";
import axios from "axios";

export default {
  components: { chooseSupplier, chooseOrg },
  name: "supplier",
  data() {
    return {
      loading: true,
      ids: [],
      orgList: [],
      multiple: true,
      total: 0,
      contractList: [],
      orgList: [],
      title: "",
      open: false,

      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction:
        process.env.VUE_APP_BASE_API + "/purchase/contractFile/upload",

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        contractName: undefined,
        contractCode: undefined,
        orgName: undefined,
        supplierName: undefined,
      },

      productTypeOptions: [],
      productOptions: [],
      fileList: [],
      fileIds: [],

      supplierOpen: false,
      orgOpen: false,

      // 表单参数
      form: {},
      // 表单校验
      rules: {
        contractName: [
          { required: true, message: "合同名称不能为空", trigger: "blur" },
        ],
        productId: [
          { required: true, message: "产品不能为空", trigger: "blur" },
        ],
        contractLimitStart: [
          { required: true, message: "履行开始时间不能为空", trigger: "blur" },
        ],
        contractLimitEnd: [
          { required: true, message: "履行结束时间不能为空", trigger: "blur" },
        ],
        signTime: [
          { required: true, message: "签订时间不能为空", trigger: "blur" },
        ],
        orgId: [
          { required: true, message: "购货单位不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getOrgCompany();
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });
  },
  methods: {
    getOrgCompany() {
      getOrgCompany().then((response) => {
        this.orgList = response.data;
      });
    },

    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listContract(this.queryParams).then((response) => {
        this.contractList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.$refs.upload.clearFiles();
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        purchaseContractId: undefined,
        contractMoney: 0,
        remarks: undefined,
      };

      this.fileList = [];
      this.fileIds = [];
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      (this.form.productType = this.productTypeOptions[0].dictValue),
        getProductByType(this.productTypeOptions[0].dictValue).then(
          (response) => {
            this.productOptions = response;
          }
        );

      this.open = true;
      this.title = "添加合同台账";
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.purchaseContractId);
      this.multiple = !selection.length;
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();

      const purchaseContractId = row.purchaseContractId || this.ids;
      getContract(purchaseContractId).then((response) => {
        getProductByType(response.data.productType).then((response) => {
          this.productOptions = response;
        });

        response.contractFiles.forEach((item) => {
          this.fileList.push({
            id: item.purchaseContractProofId,
            name: item.fileName,
            url: item.filePath,
          });
          this.fileIds.push(item.purchaseContractProofId);
        });

        this.form = response.data;
        this.open = true;
        this.title = "修改合同台账";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (
            Date.parse(this.form.contractLimitStart) >=
            Date.parse(this.form.contractLimitEnd)
          ) {
            this.msgError("履行开始时间不能大于履行结束时间");
            return false;
          }

          this.form.fileList = this.fileIds;
          if (!this.form.orgId) {
            this.msgError("请选择购货单位");
            return false;
          }
          if (!this.form.supplierId) {
            this.msgError("请选择供货单位");
            return false;
          }

          if (this.form.purchaseContractId != undefined) {
            updateContract(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addContract(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const idList = row.purchaseContractId || this.ids;
      this.$confirm("是否确认删除合同台账?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delContract(idList);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    toChooseSupplier() {
      this.supplierOpen = true;
    },

    chooseSupplier(supplier) {
      this.form.supplierName = supplier.supplierName;
      this.form.supplierId = supplier.supplierId;
    },

    closeSupplierWindow() {
      this.supplierOpen = false;
    },

    toChooseOrg() {
      this.orgOpen = true;
    },

    chooseOrg(org) {
      this.form.codeTem = org.orgPrefix;
      this.form.orgName = org.orgName;
      this.form.orgId = org.orgId;
    },

    closeOrgWindow() {
      this.orgOpen = false;
    },

    handleRemove(file, fileList) {
      if (file && file.status === "success") {
        let fileId = file.id;
        if (!fileId) {
          fileId = file.response.purchaseContractProofId;
        }
        delFile(fileId).then((response) => {
          this.fileIds.splice(this.fileIds.indexOf(fileId), 1);
          this.msgSuccess("删除成功");
        });
      }
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },

    handleFileSuccess(res, file) {
      if (res.purchaseContractProofId) {
        this.fileIds.push(file.response.purchaseContractProofId);
        this.$message.success("上传成功！");
      } else {
        this.$message.error("上传失败！");
      }
    },

    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 100;
      if (!isLt2M) {
        this.$message.error("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },

    beforeRemove(file, fileList) {
      if (file && file.status === "success") {
        return this.$confirm(`确定删除 ${file.name}？`);
      }
    },

    handlePreview(file, fileList) {
      let fileId = file.id;
      if (!fileId) {
        fileId = file.response.purchaseContractProofId;
      }
      var fileName = file.name;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API +
          "/purchase/contractFile/downLoadFile/" +
          fileId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },
    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },

    changProduct(val) {
      getProductByType(val).then((response) => {
        this.productOptions = response;
        this.form.productId = "";
        this.$forceUpdate();
      });
    },

    forceUpdate() {
      this.$forceUpdate();
    },
  },
};
</script>