<template>
  <div class="app-container">
    <el-form class="query-form"
             :model="queryParams"
             ref="queryForm"
             :inline="true"
             label-width="68px">
      <el-form-item label="年份"
                    prop="year">
        <el-date-picker v-model="queryParams.year"
                        placeholder="请选择年份"
                        size="small"
                        style="width: 180px"
                        value-format="yyyy"
                        type="year"></el-date-picker>
      </el-form-item>

      <el-form-item label="产品名称"
                    prop="productId">

        <el-select v-model="queryParams.productId"
                   placeholder="请选择产品名称"
                   size="small"
                   class="width-100">
          <el-option v-for="dict in productOptions"
                     :key="dict.productId"
                     :label="dict.name"
                     :value="dict.productId" />
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button type="primary"
                   icon="el-icon-search"
                   size="mini"
                   @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh"
                   size="mini"
                   @click="resetQuery">重置</el-button>
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>销售计划汇总列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10"
                class="mb8">

          <el-col :span="1.5">
            <el-button type="warning"
                       icon="el-icon-download"
                       size="mini"
                       @click="handleExport"
                       v-hasPermi="['system:pipeAll:export']">导出</el-button>
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table border
              v-loading="loading"
              :data="customeList"
              @selection-change="handleSelectionChange">

      <el-table-column label="产品类型"
                       align="center"
                       prop="productTypeName"
                       min-width="80px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="产品名称"
                       align="center"
                       prop="productName"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计量单位"
                       align="center"
                       prop="unit"
                       min-width="80px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计划年销售量"
                       align="center"
                       prop="planSellAmount"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年销售量"
                       align="center"
                       prop="sellAmount"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="完成比"
                       align="center"
                       prop="sellAmountRate"
                       width="60px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计划差价(元)"
                       align="center"
                       prop="planPriceDifference"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="差价(元)"
                       align="center"
                       prop="priceDifference"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="完成比"
                       align="center"
                       prop="differenceRate"
                       width="60px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计划利润(万元)"
                       align="center"
                       prop="planProfit"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="利润(万元)"
                       align="center"
                       prop="profit"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="完成比"
                       align="center"
                       prop="profitRate"
                       width="60px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计划销售额(万)"
                       align="center"
                       prop="planSellMoney"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="销售额(万)"
                       align="center"
                       prop="sellMoney"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="完成比"
                       align="center"
                       prop="sellMoneyRate"
                       width="60px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计划销售均价(元)"
                       align="center"
                       prop="planPrice"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年销售均价(元)"
                       align="center"
                       prop="price"
                       min-width="100px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="完成比"
                       align="center"
                       prop="priceRate"
                       width="60px"
                       :show-overflow-tooltip="true" />

    </el-table>

    <pagination v-show="total > 0"
                :total="total"
                :page.sync="queryParams.pageNum"
                :limit.sync="queryParams.pageSize"
                @pagination="getList" />

  </div>
</template>

<script>
import {
  listCustomePlanAll,
  exportCustomePlanAll,
} from "@/api/sales/customePlan";
import { listCustome } from "@/api/sales/custome";
import {
  listProduct
} from "@/api/system/product";

import { treeselect } from "@/api/system/dept";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  name: "Custome",
  components: { Treeselect },
  data () {
    return {

      //表头
      typeName: `天然气-管道天然气`,
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      customeList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // $comment字典
      typeOptions: [],

      // 产品
      productOptions: [],

      //站点列表
      siteOptions: [],

      updateFlag: true,

      // 部门树选项
      deptOptions: undefined,

      // $comment字典
      customeTypeOptions: [],
      sexOptions: [],
      customeBigOptions: [],
      statusOptions: [],
      styleOptions: [],

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        status: undefined,

      },
      queryParamsType: {
        orgId: undefined,
        productType: undefined,
      },
      // 表单参数
      form: {},
    };
  },
  watch: {
    'form.orgId': 'changeOrgId',
  },
  created () {
    this.getList();
    this.changeOrgId();
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });

  },
  methods: {

    /**根据公司Id 获得产品列表 */
    changeOrgId () {
      listProduct().then((response) => {
        this.productOptions = response.rows;
      });
    },

    /** 查询销售年计划列表 */
    getList () {
      this.loading = true;
      listCustomePlanAll(this.queryParams).then((response) => {
        this.customeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    /** 搜索按钮操作 */
    handleQuery () {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery () {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    /** 导出按钮操作 */
    handleExport () {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有销售计划数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportCustomePlanAll(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () { });
    },

  },
};
</script>
