<template>
  <div class="app-container">
    <el-form class="query-form"
             :model="queryParams"
             ref="queryForm"
             :inline="true"
             label-width="68px">

      <el-form-item label="公司名称"
                    prop="orgName">
        <el-input v-model="queryParams.orgName"
                  placeholder="请输入公司名称"
                  size="small"
                  style="width: 180px"
                  @keyup.enter.native="handleQuery" />
      </el-form-item>

      <el-form-item label="年份"
                    prop="year">
        <el-date-picker v-model="queryParams.year"
                        placeholder="请选择年份"
                        size="small"
                        style="width: 180px"
                        value-format="yyyy"
                        type="year"></el-date-picker>
      </el-form-item>

      <el-form-item label="产品名称"
                    prop="productName">
        <el-input v-model="queryParams.productName"
                  placeholder="请输入产品名称"
                  size="small"
                  style="width: 180px"
                  @keyup.enter.native="handleQuery" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary"
                   icon="el-icon-search"
                   size="mini"
                   @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh"
                   size="mini"
                   @click="resetQuery">重置</el-button>
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>销售年计划列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10"
                class="mb8">
          <el-col :span="1.5">
            <el-button type="primary"
                       icon="el-icon-plus"
                       size="mini"
                       @click="handleAdd"
                       v-hasPermi="['system:customePlan:add']">新增</el-button>
          </el-col>

          <el-col :span="1.5">
            <el-button type="danger"
                       icon="el-icon-delete"
                       size="mini"
                       :disabled="multiple"
                       @click="handleDelete"
                       v-hasPermi="['system:customePlan:remove']">删除</el-button>
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:plan:export']"
              >导出</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table border
              v-loading="loading"
              :data="customeList"
              @selection-change="handleSelectionChange">
      <el-table-column type="selection"
                       width="55"
                       align="center" />

      <el-table-column label="年份"
                       align="center"
                       prop="year"
                       width="60px"
                       :show-overflow-tooltip="true" />

      <el-table-column label="公司名称"
                       align="center"
                       prop="orgName"
                       min-width="200xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="产品类型"
                       align="center"
                       prop="productTypeName"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="产品名称"
                       align="center"
                       prop="productName"
                       min-width="100xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="计量单位"
                       align="center"
                       prop="unit"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年销售量"
                       align="center"
                       prop="yearAmount"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="销售价(元)"
                       align="center"
                       prop="sellPrice"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年销售额(万元)"
                       align="center"
                       prop="yearMoney"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="采购价(元)"
                       align="center"
                       prop="purchasePrice"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="年利润(万元)"
                       align="center"
                       prop="profit"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="差价(元)"
                       align="center"
                       prop="priceDifference"
                       min-width="80xp"
                       :show-overflow-tooltip="true" />

      <el-table-column label="操作"
                       align="center"
                       width="120px"
                       class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button size="mini"
                     type="text"
                     icon="el-icon-edit"
                     @click="handleUpdate(scope.row, false)"
                     v-hasPermi="['system:customePlan:edit']">修改</el-button>

          <el-button size="mini"
                     type="text"
                     icon="el-icon-delete"
                     @click="handleDelete(scope.row)"
                     v-hasPermi="['system:customePlan:remove']">删除</el-button>

        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total > 0"
                :total="total"
                :page.sync="queryParams.pageNum"
                :limit.sync="queryParams.pageSize"
                @pagination="getList" />

    <!-- 添加或修改客户对话框 -->

    <el-dialog :title="title"
               :visible.sync="open"
               width="90%"
               append-to-body
               :close-on-click-modal="false">
      <el-form ref="form"
               :model="form"
               :rules="rules"
               label-width="90px">

        <el-row :gutter="24">
          <!--
          <el-col :span="12">

            <el-form-item label="公司名称"
                          prop="orgId">
              <el-input v-model="form.orgId"
                        placeholder="请输入公司名称"
                        maxlength="20" />
            </el-form-item>
          </el-col>
          -->

          <el-col :span="12">
            <el-form-item label="机构名称"
                          prop="orgId">
              <treeselect :flat="true"
                          v-model="form.orgId"
                          disabled
                          :options="deptOptions"
                          :show-count="true" />

            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="年份"
                          prop="year">
              <el-date-picker v-model="form.year"
                              placeholder="请选择年份"
                              class="width-100"
                              size="small"
                              style="width: 240px"
                              value-format="yyyy"
                              type="year"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">

          <el-col :span="24">
            <el-table border
                      v-loading="loading"
                      :data="tableData"
                      style="width: 100%">

              <el-table-column prop="productType"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="产品类别"
                               min-width="100xp">
                <template slot-scope="scope">
                  <el-select v-model="scope.row.productType"
                             @change="getproductId(scope.row)"
                             placeholder="请选择">
                    <el-option v-for="dict in typeOptions"
                               :key="dict.dictValue"
                               :label="dict.dictLabel"
                               :value="dict.dictValue" />
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column prop="productId"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="产品名称"
                               min-width="100xp">
                <template slot-scope="scope">

                  <el-select v-model="scope.row.productId"
                             @change="getproductName(scope.row)"
                             placeholder="请选择">
                    <el-option v-for="dict in productOptions"
                               :key="dict.productId"
                               :label="dict.name"
                               :value="dict.productId" />
                  </el-select>
                </template>
              </el-table-column>

              <el-table-column prop="yearAmount"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="年销售量"
                               min-width="150xp">
                <template slot-scope="scope">
                  <el-input-number class="width-100"
                                   v-model="scope.row.yearAmount"
                                   @change="getMoney(scope.row)"
                                   placeholder="请输入年销售量"
                                   :precision="2"
                                   :step="0.1"
                                   :max="10000"
                                   :min="0" />
                </template>
              </el-table-column>
              <el-table-column prop="sellPrice"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="销售价(元)"
                               min-width="150xp">
                <template slot-scope="scope">

                  <el-input-number class="width-100"
                                   v-model="scope.row.sellPrice"
                                   @change="getMoney(scope.row)"
                                   placeholder="请输入销售价"
                                   :precision="2"
                                   :step="0.1"
                                   :max="10000"
                                   :min="0" />
                </template>
              </el-table-column>
              <el-table-column prop="yearMoney"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="年销售额(万元)"
                               min-width="80xp">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.yearMoney"
                            disabled
                            type="number"
                            maxlength="8"
                            onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46 || /\.\d\d$/.test(value))event.returnValue=false"
                            placeholder=""
                            style="100px"></el-input>
                </template>
              </el-table-column>
              <el-table-column prop="purchasePrice"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="采购价(元)"
                               min-width="150xp">
                <template slot-scope="scope">

                  <el-input-number class="width-100"
                                   v-model="scope.row.purchasePrice"
                                   @change="getMoney(scope.row)"
                                   placeholder="请输入年销售量"
                                   :precision="2"
                                   :step="0.1"
                                   :max="10000"
                                   :min="0" />
                </template>
              </el-table-column>
              <el-table-column prop="profit"
                               label-class-name="table_required_red_star"
                               align="center"
                               label="利润(万元)"
                               min-width="80xp">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.profit"
                            disabled
                            type="number"
                            maxlength="8"
                            onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46 || /\.\d\d$/.test(value))event.returnValue=false"
                            placeholder=""
                            style="120px"></el-input>
                </template>
              </el-table-column>

              <el-table-column prop="priceDifference"
                               align="center"
                               label-class-name="table_required_red_star"
                               label="差价(元)"
                               min-width="75xp">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.priceDifference"
                            disabled
                            type="number"
                            maxlength="8"
                            onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46 || /\.\d\d$/.test(value))event.returnValue=false"
                            placeholder=""
                            style="100px"></el-input>
                </template>
              </el-table-column>
              <el-table-column label="操作"
                               width="80px">
                <template slot-scope="scope">

                  <el-button type="primary"
                             icon="el-icon-plus"
                             circle
                             @click="createdRow"></el-button>
                  <el-button v-if="scope.row.numbering != '编号-1'"
                             type="danger"
                             icon="el-icon-minus"
                             circle
                             @click="handleDeleteRow(scope.$index, scope.row)"></el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer"
           class="dialog-footer">
        <el-button v-show="!updateFlag"
                   type="primary"
                   @click="submitForm(1)">确 定</el-button>

        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="chooseCustomeOpen"
               width="70%"
               append-to-body
               title="客户列表"
               :close-on-press-escape="false"
               :close-on-click-modal="false">
      <choose-custome @closeWindow="closeWindow"
                      @chooseCustomeId="chooseCustomeId"
                      @chooseCustomeName="chooseCustomeName"
                      v-if="chooseCustomeOpen"
                      ref="chooseSupplier"></choose-custome>
    </el-dialog>
  </div>
</template>

<script>
import {
  listCustomePlan,
  getCustomePlan,
  delCustomePlan,
  addCustomePlan,
  updateCustomePlan,
  exportCustomePlan,
  updateCustomePlanStatus,
  getOrgId,
} from "@/api/sales/customePlan";

import {
  listProduct
} from "@/api/system/product";

import { treeselect } from "@/api/system/dept";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  name: "Custome",
  components: { Treeselect },
  data () {
    return {
      //新增
      tableData: [
        {
          numbering: "编号-1",
          dictValue: "2",
          productType: "",
          productId: "",
          yearAmount: "",
          yearMoney: "",
          sellPrice: "",
          purchasePrice: "",
          priceDifference: "",
          profit: "",
        }
      ],

      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      customeList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // $comment字典
      typeOptions: [],

      // 产品
      productOptions: [],

      updateFlag: true,

      // 部门树选项
      deptOptions: undefined,

      chooseCustomeOpen: false,
      // $comment字典
      customeTypeOptions: [],

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        status: undefined,

      },
      queryParamsType: {
        orgId: undefined,
        productType: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {

        orgId: [
          { required: true, message: "公司名称不能为空", trigger: "blur" },
        ],
        year: [
          { required: true, message: "选择年份不能为空", trigger: "blur" },
        ],

      },
    };
  },
  watch: {
    'form.orgId': 'changeOrgId',
  },
  created () {
    this.getList();
    this.getTreeselect();


    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });
    this.getDicts("sales_custome_type").then((response) => {
      this.customeTypeOptions = response.data;
    });

  },
  methods: {

    getMoney (row) {
      if (row.yearAmount <= 0 && row.yearAmount != '') {
        this.msgError('销售量应大于0')
      } else if (row.sellPrice <= 0 && row.sellPrice != '') {
        this.msgError('销售价应大于0')
      } else if (row.purchasePrice <= 0 && row.purchasePrice != '') {
        this.msgError('采购价应大于0')
      }

      if (row.yearAmount != '') {
        row.yearAmount = Number(row.yearAmount);
      }
      if (row.sellPrice != '') {
        row.sellPrice = Number(row.sellPrice);
      }
      if (row.purchasePrice != '') {
        row.purchasePrice = Number(row.purchasePrice);
      }



      if (row.yearAmount != 0 && row.sellPrice != 0) {
        row.yearMoney = row.yearAmount * row.sellPrice;
      }
      if (row.sellPrice != 0 && row.purchasePrice != 0) {
        if (row.sellPrice <= row.purchasePrice) {
          this.msgError('采购价应小于销售价')
        } else {
          row.priceDifference = row.sellPrice - row.purchasePrice;
        }

      }
      if (row.yearAmount != 0 && row.sellPrice && row.purchasePrice != 0) {
        row.profit = row.yearAmount * row.priceDifference;
      }
    },

    // $comment字典翻译
    productFormat (row, column) {
      return this.selectDictLabel(
        this.typeOptions,
        row.productId
      );
    },

    /** 查询部门下拉树结构 */
    getTreeselect () {
      treeselect().then((response) => {
        this.deptOptions = response.data;
      });
    },


    getListProduct () {
      listProduct().then((response) => {
        this.productOptions = response.rows;
      });
    },
    getproductId (row) {
      row.productId = ''
      this.queryParamsType.type = row.productType;
      listProduct(this.queryParamsType).then((response) => {
        this.productOptions = response.rows;
      });
    },

    getproductName (row) {
      //判断其他行的产品类型不相同
    },
    /**根据公司Id 获得产品列表 */
    changeOrgId () {
      listProduct(this.form.orgId).then((response) => {
        this.productOptions = response.rows;
      });
    },
    /**删除 行 */
    handleDeleteRow (val, row) {
      // 模态框删除按钮
      this.$confirm("是否确认删除本条数据，删除后不可恢复?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "info"
      }).then(() => {
        // 此为假删除，只是删除了模态框中当前行的数据，并没有真正删除表格数据
        this.tableData.splice(val, 1);
        // 如下，接口请求则真正删除表格数据
        /**
         * let rowId = row.id;
        delCustome({ id: rowId }).then(res => {
          if (res.data) {
            this.$message({
              message: "删除成功",
              type: "success",
              duration: 2000
            });
          }
        });
        */
      });
    },

    /**增加 行 */
    createdRow () {
      // 创建行
      var list = {
        numbering: "编号-2",
        dictValue: "2",
        productType: "",
        productId: "",
        yearAmount: "",
        yearMoney: "",
        sellPrice: "",
        purchasePrice: "",
        priceDifference: "",
        profit: "",
      };
      this.tableData.push(list);
    },


    /** 查询销售年计划列表 */
    getList () {
      this.loading = true;
      listCustomePlan(this.queryParams).then((response) => {
        this.customeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    // 取消按钮
    cancel () {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset () {
      this.form = {
        orgId: null,
        year: null,
        status: 1,
      };
      this.resetForm("form");
      this.tableData = [{
        numbering: "编号-1",
        dictValue: "2",
        productType: "",
        productId: "",
        yearAmount: "",
        yearMoney: "",
        sellPrice: "",
        purchasePrice: "",
        priceDifference: "",
        profit: "",
      }];
    },
    /** 搜索按钮操作 */
    handleQuery () {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery () {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange (selection) {
      this.ids = selection.map((item) => item.yearSellPlanId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd () {
      this.reset();
      this.updateFlag = false;

      this.title = "新增销售年计划";
      //获取当前登录人的机构Id
      getOrgId().then((response) => {
        this.form.orgId = response.org;
        this.open = true;
      });

    },
    /** 修改按钮操作 */
    handleUpdate (row, updateFlag) {
      this.updateFlag = updateFlag;
      const yearSellPlanId = row.yearSellPlanId;
      this.queryParams.yearSellPlanId = yearSellPlanId
      listCustomePlan(this.queryParams).then((response) => {
        this.tableData = response.rows;
        this.queryParams.yearSellPlanId = null

      });
      getCustomePlan(yearSellPlanId).then((response) => {
        this.form = response.data;
        this.form.fzrSex = Number(this.form.fzrSex);
        this.form.legalSex = Number(this.form.legalSex);
        this.open = true;
        this.title = "修改销售年计划 ";
      });
    },

    /** 提交按钮 */
    submitForm: function (val) {
      let flag = true;
      if (val === 1) {
        this.tableData.forEach(item => {

          if (flag == false) {
            return false
          }

          for (let i in item) {
            if (i === 'productType') {
              if (item[i] === '') {
                this.msgError('产品类型不能为空');
                flag = false
                return false
              }
            }
            if (i === 'productId') {
              if (item[i] === '') {
                this.msgError('产品名称不能为空')
                flag = false
                return false
              }
            }
            if (i === 'yearAmount') {
              if (item[i] === '') {
                this.msgError('销售量不能为空')
                flag = false
                return false
              }
            }
            if (i === 'yearMoney') {
              if (item[i] === '') {
                this.msgError('销售价不能为空')
                flag = false
                return false
              }
            }
            if (i === 'sellPrice') {
              if (item[i] === '') {
                this.msgError('销售额不能为空')
                flag = false
                return false
              }
            }
            if (i === 'purchasePrice') {
              if (item[i] === '') {
                this.msgError('采购价不能为空')
                flag = false
                return false
              }
            }
            if (i === 'priceDifference') {
              if (item[i] === '') {
                this.msgError('差价不能为空')
                flag = false
                return false
              }
            }
            if (i === 'profit') {
              if (item[i] === '') {
                this.msgError('利润不能为空')
                flag = false
                return false
              }
            }
          }

        });
      }
      if (flag) {
        this.form.tableData = JSON.stringify(this.tableData);
        this.$refs["form"].validate((valid) => {
          if (valid) {
            this.form.status = val;
            if (this.form.yearSellPlanId != undefined) {
              updateCustomePlan(this.form).then((response) => {
                if (response.code === 200) {
                  this.msgSuccess("修改成功");
                  this.open = false;
                  this.getList();
                }
              });
            } else {
              addCustomePlan(this.form).then((response) => {
                if (response.code === 200) {
                  this.msgSuccess("新增成功");
                  this.open = false;
                  this.getList();
                }
              });
            }
          }
        });

      }


    },
    /** 删除按钮操作 */
    handleDelete (row) {
      const yearSellPlanIds = row.yearSellPlanId || this.ids;
      this.$confirm("是否确认删除销售年计划?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delCustomePlan(yearSellPlanIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () { });
    },

    toChooseCustom () {
      this.chooseCustomeOpen = true;
    },

    closeWindow () {
      this.chooseCustomeOpen = false;
    },

    chooseCustomeId (customeId) {
      this.form.orgId = customeId;
    },

    chooseCustomeName (enterpriseName) {
      this.form.orgName = enterpriseName;
    },

    customeTypeFormatter (row, column) {
      return this.selectDictLabel(
        this.customeTypeOptions,
        row.enterpriseProperties
      );
    },
    categoryTypeFormatter (row, column) {
      return this.selectDictLabel(
        this.categoryTypeOptions,
        Number(row.categoryType)
      );
    },
    /** 导出按钮操作 */
    handleExport () {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有销售年计划数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportCustomePlan(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () { });
    },

    // 确认
    handleConfirm (row) {
      const yearSellPlanId = row.yearSellPlanId;
      this.$confirm("是否确认提交年计划?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateCustomePlanStatus(yearSellPlanId, "4");
        })
        .then(() => {
          this.getList();
          this.msgSuccess("确认成功");
        })
        .catch(function () { });
    },

  },
};
</script>
