<template>
  <div class="app-container">
    <div class="data-content">
      <div class="data-content-right">
        <div class="data-content-right-total-title2"></div>
        <el-form
          class="query-form"
          :model="queryParams"
          ref="queryForm"
          :inline="true"
          label-width="68px"
        >
          <el-form-item label="公司名称" prop="orgName">
            <el-select
              v-model="queryParams.orgId"
              placeholder="请选择公司名称"
              size="small"
              style="width: 240px"
              @change="updateOrgName"
            >
              <el-option
                v-for="dict in orgList"
                :key="dict.id"
                :label="dict.name"
                :value="dict.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="日期">
            <el-date-picker
              v-model="dateRange"
              size="small"
              style="width: 240px"
              value-format="yyyy-MM-dd"
              type="daterange"
              range-separator="-"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </el-form-item>

          <!-- <el-form-item label="月份" prop="queryMonth">
            <el-date-picker
              v-model="queryParams.queryMonth"
              placeholder="请选择月份"
              size="small"
              style="width: 180px"
              :clearable="false"
              value-format="yyyy-MM"
              type="month"
            ></el-date-picker>
          </el-form-item> -->

          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="mini"
              @click="handleQuery"
              >搜索</el-button
            >

            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:Reportlist:export']"
              >导出</el-button
            >
          </el-form-item>
          <div class="query-bottom-line"></div>
        </el-form>

        <div class="data-content-right-table" id="produceArea">
          <div
            class="data-content-title"
            style="cursor: pointe; text-align: center; line-height: 30px"
          >
            <span style="font-size: 18px; font-weight: 600"
              >{{ name }}-销售月报</span
            >
            <span style="float: right">{{ queryParams.queryMonth }}</span>
          </div>
          <div class="data-content-table">
            <el-table
              border
              :data="customeList"
              style="width: 100%"
              :default-sort="{ prop: 'unitCount', order: 'descending' }"
            >
              <el-table-column
                label="序号"
                type="index"
                width="50"
                align="center"
              >
                <template slot-scope="scope">
                  <span>{{
                    (queryParams.pageNum - 1) * queryParams.pageSize +
                    scope.$index +
                    1
                  }}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="公司名称"
                align="center"
                prop="orgName"
                :show-overflow-tooltip="true"
              />
              <el-table-column
                label="产品类型"
                align="center"
                :formatter="productTyprFormatter"
                :show-overflow-tooltip="true"
              />

              <el-table-column
                label="产品名称"
                align="center"
                prop="productName"
                :show-overflow-tooltip="true"
              />

              <el-table-column
                label="计量单位"
                align="center"
                prop="productUnit"
                width="80px"
                :show-overflow-tooltip="true"
              />

              <el-table-column
                label="月销售量"
                align="center"
                prop="monthWeightCount"
                :show-overflow-tooltip="true"
              />

              <el-table-column
                label="月销售额(万元)"
                align="center"
                prop="monthMoneyCount"
                :show-overflow-tooltip="true"
              />

              <el-table-column
                label="年销量"
                align="center"
                prop="yearWeightCount"
                :show-overflow-tooltip="true"
              />

              <el-table-column
                label="年销额(万元)"
                align="center"
                prop="yearMoneyCount"
                :show-overflow-tooltip="true"
              />
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getSalesMonthList, getSalesMonthExport } from "@/api/sales/count";
import { getOrgCompanyByLogin } from "@/api/sales/query";

export default {
  name: "Custome",
  data() {
    return {
      orgList: [],
      name: "",
      total: 0,
      customeList: [],
      dateRange: [],
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        queryMonth: undefined,
        orgId: undefined,
        orgType: undefined,
      },
    };
  },
  created() {
    let date = new Date();
    let year = date.getFullYear();
    let m = date.getMonth() + 1;
    let month = m < 10 ? "0" + m : m;
    let day = new Date().getDate();
    this.queryParams.queryMonth = year + "-" + month;
    this.getOrgList();

    this.getDicts("sys_product_type").then((response) => {
      this.productTypeOptions = response.data;
    });
  },
  methods: {
    productTyprFormatter(row, column) {
      return this.selectDictLabel(this.productTypeOptions, row.productType);
    },
    updateOrgName(val) {
      this.orgList.forEach((element) => {
        if (element.id == val) {
          this.name = element.name;
          this.queryParams.orgType = element.orgType;
        }
      });
    },

    getOrgList() {
      getOrgCompanyByLogin().then((response) => {
        this.orgList = response.data;
        this.queryParams.orgId = this.orgList[0].id;
        this.name = this.orgList[0].name;
        this.queryParams.orgType = this.orgList[0].orgType;
        this.getList();
      });
    },

    /** 查询销售月计划列表 */
    getList() {
      this.loading = true;
      getSalesMonthList(this.queryParams).then((response) => {
        this.customeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },

    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出销售月报表数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return getSalesMonthExport(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },
  },
};
</script>
