<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          :disabled="custome.enterpriseName"
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="客户性质" prop="enterpriseProperties">
        <el-select
          v-model="queryParams.enterpriseProperties"
          placeholder="请选择客户性质"
          size="small"
          class="width-100"
          clearable
        >
          <el-option
            v-for="dict in customeTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="资质类型" prop="categoryType">
        <el-select
          v-model="queryParams.categoryType"
          placeholder="请选择资质类型"
          size="small"
          class="width-100"
          clearable
        >
          <el-option
            v-for="dict in categoryTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>客户资质列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:custome:file:add']"
              >新增</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:custome:file:remove']"
              >删除</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="listFile"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />

      <el-table-column
        label="客户编号"
        align="center"
        prop="customeCode"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户类型"
        align="center"
        prop="enterpriseProperties"
        width="120px"
        :formatter="customeTypeFormatter"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="资质类型"
        align="center"
        prop="categoryType"
        :formatter="categoryTypeFormatter"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="资质"
        align="center"
        prop="filePath"
        :show-overflow-tooltip="true"
      >
        <template slot-scope="scope">
          <img
            @click="loogImg(scope.row.filePath)"
            style="width: 100px"
            v-if="scope.row.fileType == 0"
            :src="baseUrl + scope.row.filePath"
            alt=""
          />
          <span
            v-if="scope.row.fileType == 1"
            class="file_download list_file"
            @click="downLoadFile(scope.row.customeProofId, scope.row.fileName)"
            >{{ scope.row.fileName }}</span
          >
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
        width="150"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:custome:file:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:custome:file:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改客户与产品关系对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      @close="cancel"
      append-to-body
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              label="客户名称"
              prop="enterpriseName"
              class="required_red_star"
            >
              <el-input
                v-if="custome.enterpriseName"
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              />

              <el-input
                v-else
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseCustom"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="资质类型" prop="categoryType">
              <el-select
                v-model="form.categoryType"
                placeholder="请选择资质类型"
                size="small"
                class="width-100"
                filterable
              >
                <el-option
                  v-for="dict in categoryTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="开始时间" prop="startDate">
              <el-date-picker
                class="width-100"
                v-model="form.startDate"
                type="date"
                placeholder="选择开始时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="结束时间" prop="endDate">
              <el-date-picker
                class="width-100"
                v-model="form.endDate"
                type="date"
                placeholder="选择结束时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="附件上传" class="required_red_star">
              <el-upload
                ref="upload"
                :headers="headers"
                :action="uploadAction"
                :limit="1"
                :with-credentials="true"
                :on-success="handleFileSuccess"
                :on-remove="handleRemove"
                :before-upload="beforeAvatarUpload"
                :data="upData"
                :file-list="files"
                :auto-upload="false"
                accept=".doc, .docx, .xls, .xlsx, .jpg, .jpeg, .pdf"
              >
                <el-button slot="trigger" size="small" type="primary"
                  >附件上传</el-button
                >
                <div slot="tip" class="el-upload__tip">
                  只能上传.doc, .docx, .xls, .xlsx, .jpg,
                  .png,.jpeg,.pdf文件，且只能上传一个
                </div>
              </el-upload>
            </el-form-item>

            <div
              class="form-file-list"
              v-show="form.fileName"
              @click="downLoadFile(form.customeProofId, form.fileName)"
            >
              <div>{{ form.fileName }}</div>
              <div>下载</div>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="imgOpen"
      title="图片预览"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <img width="100%" :src="dialogImageUrl" alt="" />
    </el-dialog>

    <el-dialog
      :visible.sync="chooseCustomeOpen"
      width="70%"
      append-to-body
      title="客户列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-custome
        @closeWindow="closeWindow"
        @chooseCustomeId="chooseCustomeId"
        @chooseCustomeName="chooseCustomeName"
        v-if="chooseCustomeOpen"
        ref="chooseSupplier"
      ></choose-custome>
    </el-dialog>
  </div>
</template>

<script>
import {
  listFile,
  getFile,
  delFile,
  updateFile,
} from "@/api/sales/customeFile";
import { getCustome } from "@/api/sales/custome";
import axios from "axios";
import { getToken } from "@/utils/auth";
import chooseCustome from "../../utils/chooseCustome";

export default {
  components: { chooseCustome },
  name: "customeFile",
  comments() {
    customeProduceIndex;
  },
  data() {
    return {
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/sales/file/upload",
      baseUrl: process.env.VUE_APP_BASE_API,
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户与产品关系表格数据
      listFile: [],
      files: [],
      // fileList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      imgOpen: false,
      dialogImageUrl: "",

      categoryTypeOptions: [],
      customeTypeOptions: [],

      chooseCustomeOpen: false,
      custome: {},
      // $comment字典
      typeOptions: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        categoryType: undefined,
        enterpriseProperties: undefined,
      },
      // 表单参数
      form: {
        customeProofId: undefined,
        customeId: undefined,
        categoryType: undefined,
        startDate: undefined,
        endDate: undefined,
        filePath: undefined,
      },
      // 表单校验
      rules: {
        categoryType: [
          {
            required: true,
            message: "资质类型不能为空",
            trigger: "blur",
          },
        ],
        startDate: [
          {
            required: true,
            message: "开始时间不能为空",
            trigger: "blur",
          },
        ],
        endDate: [
          {
            required: true,
            message: "结束时间不能为空",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    const customeId = this.$route.params && this.$route.params.customeId;
    if (customeId != undefined) {
      getCustome(customeId).then((response) => {
        this.custome = response.data;
        this.queryParams.enterpriseName = this.custome.enterpriseName;
        this.getList();
      });
    } else {
      this.getList();
    }

    this.getDicts("sales_custome_file_type").then((response) => {
      this.categoryTypeOptions = response.data;
    });
    this.getDicts("sales_custome_type").then((response) => {
      this.customeTypeOptions = response.data;
    });
  },

  computed: {
    upData: function () {
      return {
        entityStr: JSON.stringify(this.form),
      };
    },
  },
  methods: {
    /** 查询客户与产品关系列表 */
    getList() {
      this.loading = true;
      listFile(this.queryParams).then((response) => {
        this.listFile = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        // $column.javaField: undefined
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams.enterpriseName = this.custome.enterpriseName;
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.customeProofId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加客户资质";
      if (this.custome) {
        this.form.enterpriseName = this.custome.enterpriseName;
        this.form.customeId = this.custome.customeId;
      }
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const customeProofId = row.customeProofId || this.ids;
      getFile(customeProofId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改客户资质";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      var fileLength = this.$refs.upload.uploadFiles.length;
      this.$refs["form"].validate((valid) => {
        if (valid) {
          //判断开始时间和结束时间的大小
          if (
            Date.parse(this.form.startDate) >= Date.parse(this.form.endDate)
          ) {
            this.msgError("开始时间不能大于结束时间");
            return false;
          }

          if (!this.form.enterpriseName) {
            this.msgError("客户不能空");
            return false;
          }

          if (this.form.customeProofId != undefined) {
            //修改
            if (fileLength > 0) {
              this.$refs.upload.submit();
            } else {
              updateFile(this.form).then((response) => {
                if (response.code === 200) {
                  this.msgSuccess("修改成功");
                  this.open = false;
                  this.getList();
                }
              });
            }
          } else {
            if (fileLength == 0) {
              this.msgError("请上传附件");
            }
            this.$refs.upload.submit();
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const customeProofIds = row.customeProofId || this.ids;
      this.$confirm("是否确认删除客户资质?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delFile(customeProofIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    toChooseCustom() {
      this.chooseCustomeOpen = true;
    },

    closeWindow() {
      this.chooseCustomeOpen = false;
    },

    chooseCustomeId(customeId) {
      this.form.customeId = customeId;
    },

    chooseCustomeName(enterpriseName) {
      this.form.enterpriseName = enterpriseName;
    },

    customeTypeFormatter(row, column) {
      return this.selectDictLabel(
        this.customeTypeOptions,
        row.enterpriseProperties
      );
    },
    categoryTypeFormatter(row, column) {
      return this.selectDictLabel(
        this.categoryTypeOptions,
        Number(row.categoryType)
      );
    },

    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新选择证书上传！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },

    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        this.$message.success("新增成功");
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
        this.open = false;
        this.getList();
      } else {
        this.$message.warning("新增成功");
        let _this = this;
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
      }
    },

    beforeAvatarUpload(file) {
      //限制附件上传类型
      //  var testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);

      const isLt2M = file.size / 1024 / 1024 < 100;
      if (!isLt2M) {
        this.$message.error("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },

    downLoadFile(customeProofId, fileName) {
      var fileName = fileName;
      axios({
        method: "get",
        url:
          process.env.VUE_APP_BASE_API +
          "/sales/file/downLoadFile/" +
          customeProofId,
        responseType: "blob",
        headers: { Authorization: "Bearer " + getToken() },
      })
        .then((res) => {
          this.download(res.data, fileName);
        })
        .catch((req) => {
          console.log("下载失败", req);
        });
    },

    download(data, fileName) {
      if (!data) {
        return;
      }
      let url = window.URL.createObjectURL(new Blob([data]));
      let link = document.createElement("a");
      link.style.display = "none";
      link.href = url;
      link.setAttribute("download", fileName);
      document.body.appendChild(link);
      link.click();
    },

    loogImg(filePath) {
      this.imgOpen = true;
      this.dialogImageUrl = this.baseUrl + filePath;
    },
  },
};
</script>