<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          :disabled="custome.enterpriseName"
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品类型" prop="productType">
        <el-select
          v-model="queryParams.productType"
          placeholder="请选择产品类型"
          size="small"
          class="width-100"
          clearable
        >
          <el-option
            v-for="dict in queryTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>客户与产品入围列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:custome:relation:add']"
              >新增</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:custome:relation:remove']"
              >删除</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="relationList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />

      <el-table-column
        label="客户编号"
        align="center"
        prop="customeCode"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品类型"
        align="center"
        prop="productType"
        width="120px"
        :formatter="productTypeFormatter"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="创建人"
        align="center"
        prop="realName"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
        width="150"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:custome:relation:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:custome:relation:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改客户与产品关系对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="70%" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="客户名称" class="required_red_star">
              <el-input
                v-if="custome.enterpriseName"
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              />

              <el-input
                v-else
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseCustom"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="开始时间" prop="startDate">
              <el-date-picker
                class="width-100"
                v-model="form.startDate"
                type="date"
                placeholder="选择开始时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="结束时间" prop="endDate">
              <el-date-picker
                class="width-100"
                v-model="form.endDate"
                type="date"
                placeholder="选择结束时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :span="24">
          <el-col :span="24">
            <el-table
              border
              :row-key="getRowKeys"
              ref="table"
              v-loading="loading"
              :data="productList"
              @selection-change="selectProductChange"
            >
              <el-table-column
                :reserve-selection="true"
                type="selection"
                width="50"
                align="center"
              />
              <el-table-column
                label="产品类型"
                align="center"
                prop="productType"
                :show-overflow-tooltip="true"
              />
              <el-table-column
                label="产品名称"
                align="center"
                fixed
                prop="name"
                :show-overflow-tooltip="true"
              />
              <el-table-column
                label="税率"
                align="center"
                prop="taxRate"
                :show-overflow-tooltip="true"
              />
            </el-table>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="chooseCustomeOpen"
      width="70%"
      append-to-body
      title="客户列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-custome
        @closeWindow="closeWindow"
        @chooseCustomeId="chooseCustomeId"
        @chooseCustomeName="chooseCustomeName"
        v-if="chooseCustomeOpen"
        ref="chooseSupplier"
      ></choose-custome>
    </el-dialog>
  </div>
</template>

<script>
import {
  listRelation,
  getRelation,
  delRelation,
  addRelation,
  updateRelation,
  getProductByCustomeId,
  getRelationProductByCustomeId,
} from "@/api/sales/custome_product_relation";

import { getCustome } from "@/api/sales/custome";
import chooseCustome from "../../utils/chooseCustome";

export default {
  components: { chooseCustome },
  name: "customeProduceIndex",
  comments() {
    customeProduceIndex;
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户与产品关系表格数据
      relationList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      queryTypeOptions: [],

      chooseCustomeOpen: false,
      // $comment字典
      typeOptions: [],

      customeId: "",
      custome: {},

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productName: undefined,
        enterpriseName: undefined,
        productType: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {},

      productList: [],
      checkProductList: [],
      checkProductListTem: [],
    };
  },
  created() {
    const customeId = this.$route.params && this.$route.params.customeId;
    if (customeId != undefined) {
      getCustome(customeId).then((response) => {
        this.custome = response.data;
        this.customeId = customeId;
        this.queryParams.enterpriseName = this.custome.enterpriseName;
        this.getList();
      });
    } else {
      this.getList();
    }
    this.getDicts("sys_product_type").then((response) => {
      this.queryTypeOptions = response.data;
    });

    // this.getProductByCustomeId();
  },
  methods: {
    /** 查询客户与产品关系列表 */
    getList() {
      this.loading = true;
      listRelation(this.queryParams).then((response) => {
        this.relationList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        productId: undefined,
      };
      this.productList = [];
      this.checkProductList = [];
      this.typeOptions = [];
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.queryParams.enterpriseName = this.custome.enterpriseName;
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.customeProductId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加客户与产品关系";
      if (this.customeId) {
        this.form.enterpriseName = this.custome.enterpriseName;
        this.form.customeId = this.custome.customeId;
        this.getProductQuery();
      }

      getProductByCustomeId().then((response) => {
        this.productList = response.productList;
        this.$refs.table.clearSelection();
      });
    },

    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const customeProductId = row.customeProductId;
      this.form.customeId = row.customeId;
      getProductByCustomeId().then((response) => {
        this.productList = response.productList;
        this.getProductQuery();
      });
      getRelation(customeProductId).then((response) => {
        this.form = response.data.data;
        this.open = true;
        this.title = "修改客户与产品关系";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.customeId == undefined) {
            this.msgError("请选择客户！");
            return false;
          }
          if (this.checkProductList.length == 0) {
            this.msgError("请选择入围产品");
            return false;
          }
          this.form.productIdList = this.checkProductList;
          if (
            this.form.startDate != undefined &&
            this.form.endDate != undefined
          ) {
            if (
              Date.parse(this.form.startDate) >= Date.parse(this.form.endDate)
            ) {
              this.msgError("开始时间不能大于结束时间");
              return false;
            }
          }

          // if (this.form.customeProductId != undefined) {
          //   updateRelation(this.form).then((response) => {
          //     if (response.code === 200) {
          //       this.msgSuccess("修改成功");
          //       this.open = false;
          //       this.getList();
          //     }
          //   });
          // } else {
            addRelation(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          // }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const customeProductIds = row.customeProductId || this.ids;
      this.$confirm("是否确认删除客户与产品关系?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delRelation(customeProductIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    toChooseCustom() {
      this.chooseCustomeOpen = true;
    },

    closeWindow() {
      this.chooseCustomeOpen = false;
    },

    chooseCustomeId(customeId) {
      this.form.customeId = customeId;
      this.getProductQuery();
    },

    chooseCustomeName(enterpriseName) {
      this.form.enterpriseName = enterpriseName;
    },

    getRowKeys(row) {
      return row.productId;
    },

    getProductQuery() {
      getRelationProductByCustomeId(this.form.customeId).then((response) => {
        this.$refs.table.clearSelection();
        this.checkProductList = response.checkProductIdList;
        this.checkProductListTem = response.checkProductIdList;
        if (this.checkProductList.length > 0) {
          for (var index = 0; index < this.productList.length; index++) {
            var element = this.productList[index];
            for (var i = 0; i < this.checkProductListTem.length; i++) {
              if (element.productId === this.checkProductListTem[i]) {
                this.$refs.table.toggleRowSelection(element, true);
              }
            }
          }
        }
      });
    },

    productTypeFormatter(row, column) {
      return this.selectDictLabel(this.queryTypeOptions, row.productType);
    },

    selectProductChange(selection) {
      this.checkProductList = selection.map((item) => item.productId);
    },
  },
};
</script>