<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="客户性质" prop="enterpriseProperties">
        <el-select
          v-model="queryParams.enterpriseProperties"
          placeholder="请选择客户性质"
          size="small"
          clearable
        >
          <el-option
            v-for="dict in customeTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="状态" prop="status">
        <el-select
          v-model="queryParams.status"
          placeholder="请选择状态"
          size="small"
          clearable
        >
          <el-option
            v-for="dict in statusOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>客户台账列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:custome:add']"
              >新增</el-button
            >
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:custome:remove']"
              >删除</el-button
            >
          </el-col> -->
          <!-- <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:custome:export']"
              >导出</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="customeList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        label="客户编号"
        align="center"
        prop="customeCode"
        width="150px"
        fixed
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户名称"
        align="center"
        fixed
        min-width="200px"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户性质"
        align="center"
        prop="enterpriseProperties"
        :formatter="typeFormat"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="负责人"
        align="center"
        prop="fzrRealName"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="负责人电话"
        align="center"
        prop="fzrTel"
        width="120px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户来源"
        align="center"
        prop="source"
        width="80px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="状态"
        align="center"
        prop="status"
        width="80px"
        :formatter="statusFormatter"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="数据"
        align="center"
        width="180px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status != 1"
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleUpdate(scope.row, true)"
            v-hasPermi="['system:custome:info']"
            >详情</el-button
          >

          <el-button
            v-show="scope.row.status == 5"
            size="mini"
            type="text"
            icon="el-icon-video-play"
            @click="handleEnable(scope.row)"
            v-hasPermi="['system:custome:confirm']"
            >启用</el-button
          >

          <el-button
            v-show="scope.row.status == 4"
            size="mini"
            type="text"
            class="color-red"
            icon="el-icon-circle-close"
            @click="handleDisable(scope.row)"
            v-hasPermi="['system:custome:confirm']"
            >冻结</el-button
          >
        </template>
      </el-table-column>

      <el-table-column
        label="操作"
        align="center"
        width="200px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 1 && scope.row.source != '自动注册'"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row, false)"
            v-hasPermi="['system:custome:edit']"
            >修改</el-button
          >

          <el-button
            v-show="scope.row.status == 1 && scope.row.source != '自动注册'"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleConfirm(scope.row)"
            v-hasPermi="['system:custome:confirm']"
            >提交</el-button
          >

          <el-button
            v-show="scope.row.status == 4"
            size="mini"
            type="text"
            icon="el-icon-user"
            @click="handleMaintain(scope.row)"
            >维护</el-button
          >

          <el-button
            v-show="scope.row.status == 4"
            size="mini"
            type="text"
            icon="el-icon-collection"
            @click="handleFile(scope.row)"
            v-hasPermi="['system:custome:file:list']"
            >资质</el-button
          >

          <el-button
            v-show="scope.row.status == 4"
            size="mini"
            type="text"
            icon="el-icon-box"
            @click="handleProduct(scope.row)"
            v-hasPermi="['system:custome:relation:list']"
            >产品</el-button
          >

          <el-button
            v-show="scope.row.source != '自动注册' && scope.row.status == 1"
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:custome:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改客户对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="客户名称" prop="enterpriseName">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.enterpriseName"
                placeholder="请输入客户名称"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="信用代码" prop="unifiedSocialCreditCode">
              <el-input
                :disabled="updateFlag"
                maxlength="18"
                v-model="form.unifiedSocialCreditCode"
                placeholder="请输入统一社会信用代码"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="联系地址" prop="address">
              <el-input
                :disabled="updateFlag"
                maxlength="50"
                v-model="form.address"
                placeholder="请输入联系地址"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="客户性质" prop="enterpriseProperties">
              <el-select
                :disabled="updateFlag"
                v-model="form.enterpriseProperties"
                placeholder="请选择客户性质"
                class="width-100"
                size="small"
              >
                <el-option
                  v-for="dict in customeTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="Number(dict.dictValue)"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="信誉度" prop="trust">
              <el-input-number
                class="width-100"
                :disabled="updateFlag"
                v-model="form.trust"
                :precision="0"
                :step="1"
                :max="100"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="法人姓名" prop="legalRealName">
              <el-input
                :disabled="updateFlag"
                maxlength="10"
                v-model="form.legalRealName"
                placeholder="请输入法人姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="法人性别" prop="legalSex">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.legalSex"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in sexOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="法人邮箱" prop="legalMail">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.legalMail"
                placeholder="请输入法人邮箱"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="法人电话" prop="legalTel">
              <el-input
                :disabled="updateFlag"
                maxlength="11"
                v-model="form.legalTel"
                placeholder="请输入法人电话"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="负责人姓名" prop="fzrRealName">
              <el-input
                :disabled="updateFlag"
                maxlength="10"
                v-model="form.fzrRealName"
                placeholder="请输入负责人姓名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="负责人性别" prop="fzrSex">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.fzrSex"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in sexOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="负责人电话" prop="fzrTel">
              <el-input
                :disabled="updateFlag"
                maxlength="11"
                v-model="form.fzrTel"
                placeholder="请输入负责人电话"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="负责人邮箱" prop="fzrMail">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.fzrMail"
                placeholder="请输入负责人邮箱"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="负责人职务" prop="fzrJob">
              <el-input
                :disabled="updateFlag"
                maxlength="10"
                v-model="form.fzrJob"
                placeholder="请输入负责人职务"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="营业期限" prop="workDateLimit">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.workDateLimit"
                placeholder="请输入营业期限"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="注册时间" prop="registerDate">
              <el-date-picker
                :disabled="updateFlag"
                class="width-100"
                v-model="form.registerDate"
                type="date"
                placeholder="选择注册时间"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="成立日期" prop="workDateLimit">
              <el-date-picker
                :disabled="updateFlag"
                class="width-100"
                v-model="form.buildDate"
                type="date"
                placeholder="选择成立日期"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="开户行" prop="accountAddr">
              <el-input
                :disabled="updateFlag"
                maxlength="50"
                v-model="form.accountAddr"
                placeholder="请输入开户行"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="银行账户" prop="bankAccount">
              <el-input
                :disabled="updateFlag"
                maxlength="30"
                v-model="form.bankAccount"
                placeholder="请输入银行账户"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="是否大客户" prop="importantFlag">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.importantFlag"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in customeBigOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="类型" prop="type">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.type"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in styleOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="内部客户" prop="internalFlag">
              <el-radio-group
                :disabled="updateFlag"
                v-model="form.internalFlag"
                size="mini"
              >
                <el-radio
                  border
                  v-for="dict in internalOptions"
                  :key="dict.dictValue"
                  :label="dict.dictValue"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-show="form.status == 5">
          <el-col :span="24">
            <el-form-item label="冻结原因" prop="freezeReason">
              <el-input
                disabled
                v-model="form.freezeReason"
                maxlength="100"
                type="textarea"
                placeholder="请输入冻结原因"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="备注" prop="workDateLimit">
              <el-input
                :disabled="updateFlag"
                v-model="form.remarks"
                maxlength="100"
                type="textarea"
                placeholder="请输入备注"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-show="!updateFlag" type="primary" @click="submitForm(1)"
          >保 存</el-button
        >
        <el-button v-show="!updateFlag" type="danger" @click="submitForm(4)"
          >提 交</el-button
        >
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 冻结 -->
    <el-dialog
      :title="title"
      :visible.sync="freezeOpen"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form
        ref="form"
        :model="form"
        :rules="rulesFreeze"
        label-width="100px"
      >
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="冻结原因" prop="freezeReason">
              <el-input
                v-model="form.freezeReason"
                maxlength="100"
                type="textarea"
                placeholder="请输入冻结原因"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="freezeSubmit()">确 定</el-button>
        <el-button @click="freezeCancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listCustome,
  getCustome,
  delCustome,
  addCustome,
  updateCustome,
  exportCustome,
  updateCustomeStatus,
} from "@/api/sales/custome";

export default {
  name: "Custome",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      customeList: [],
      // 弹出层标题
      title: "",

      freezeOpen: false,
      open: false,

      updateFlag: true,

      // $comment字典
      customeTypeOptions: [],
      sexOptions: [],
      customeBigOptions: [],
      statusOptions: [],
      styleOptions: [],
      internalOptions: [],

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        status: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rulesFreeze: {
        freezeReason: [
          { required: true, message: "冻结原因不能为空", trigger: "blur" },
        ],
      },
      rules: {
        enterpriseName: [
          { required: true, message: "客户名称不能为空", trigger: "blur" },
        ],
        unifiedSocialCreditCode: [
          {
            required: true,
            message: "社会统一信用代码不能为空",
            trigger: "blur",
          },
        ],
        legalRealName: [
          {
            required: true,
            message: "法人姓名不能为空",
            trigger: "blur",
          },
        ],

        legalMail: [
          {
            required: true,
            type: "email",
            message: "'请输入正确的法人邮箱地址",
            trigger: ["blur", "change"],
          },
        ],

        fzrRealName: [
          {
            required: true,
            message: "负责人姓名不能为空",
            trigger: "blur",
          },
        ],
        fzrJob: [
          {
            required: true,
            message: "负责人职务不能为空",
            trigger: "blur",
          },
        ],

        fzrMail: [
          {
            required: true,
            type: "email",
            message: "'请输入正确的负责人邮箱地址",
            trigger: ["blur", "change"],
          },
        ],

        accountAddr: [
          {
            required: true,
            message: "开户行不能为空",
            trigger: "blur",
          },
        ],
        bankAccount: [
          {
            required: true,
            message: "开户账号不能为空",
            trigger: "blur",
          },
        ],

        legalTel: [
          {
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的法人电话",
            trigger: "blur",
          },
        ],
        fzrTel: [
          {
            required: true,
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的负责人电话",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getDicts("sales_custome_type").then((response) => {
      this.customeTypeOptions = response.data;
    });

    this.getDicts("sys_user_sex").then((response) => {
      this.sexOptions = response.data;
    });

    this.getDicts("sales_custome_if_big").then((response) => {
      this.customeBigOptions = response.data;
    });

    this.getDicts("sales_custome_status").then((response) => {
      this.statusOptions = response.data;
    });

    this.getDicts("sales_custome_style").then((response) => {
      this.styleOptions = response.data;
    });

    this.getDicts("sales_custome_internal_flag").then((response) => {
      this.internalOptions = response.data;
    });
  },
  methods: {
    /** 查询客户列表 */
    getList() {
      this.loading = true;
      listCustome(this.queryParams).then((response) => {
        this.customeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // $comment字典翻译
    typeFormat(row, column) {
      return this.selectDictLabel(
        this.customeTypeOptions,
        row.enterpriseProperties
      );
    },
    statusFormatter(row, column) {
      return this.selectDictLabel(this.statusOptions, row.status);
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        enterpriseProperties: Number(this.customeTypeOptions[0].dictValue),
        trust: 0,
        importantFlag: Number(this.customeBigOptions[0].dictValue),
        fzrSex: Number(this.sexOptions[0].dictValue),
        legalSex: Number(this.sexOptions[0].dictValue),
        type: Number(this.styleOptions[0].dictValue),
        internalFlag: this.styleOptions[0].dictValue,
        status: 1,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.customeId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.updateFlag = false;
      this.open = true;
      this.title = "添加客户";
    },
    /** 修改按钮操作 */
    handleUpdate(row, updateFlag) {
      this.updateFlag = updateFlag;
      this.reset();
      const customeId = row.customeId;
      getCustome(customeId).then((response) => {
        this.form = response.data;
        this.form.fzrSex = Number(this.form.fzrSex);
        this.form.legalSex = Number(this.form.legalSex);
        this.open = true;
      });
      if (updateFlag) {
        this.title = "客户详情";
      } else {
        this.title = "修改客户";
      }
    },

    /** 提交按钮 */
    submitForm: function (val) {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.form.status = val;
          if (this.form.customeId != undefined) {
            updateCustome(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addCustome(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const customeIds = row.customeId || this.ids;
      this.$confirm("是否确认删除客户?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delCustome(customeIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有客户数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportCustome(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },

    // 确认
    handleConfirm(row) {
      let params = {
        customeId: row.customeId,
        status: 4,
      };
      this.$confirm("是否确认提交客户?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateCustomeStatus(params);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("确认成功");
        })
        .catch(function () {});
    },

    // 禁用
    handleDisable(row) {
      this.freezeOpen = true;
      this.title = "客户冻结";
      this.form.customeId = row.customeId;
    },

    freezeCancel() {
      this.form.freezeReason = undefined;
      this.freezeOpen = false;
      this.reset();
    },

    freezeSubmit() {
      let params = {
        customeId: this.form.customeId,
        freezeReason: this.form.freezeReason,
        status: 5,
      };

      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.$confirm("是否冻结客户?", "警告", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          })
            .then(function () {
              return updateCustomeStatus(params);
            })
            .then(() => {
              this.getList();
              this.freezeCancel();
              this.msgSuccess("冻结成功");
            })
            .catch(function () {});
        }
      });
    },

    // 启用
    handleEnable(row) {
      let params = {
        customeId: row.customeId,
        status: 4,
      };
      this.$confirm("是否启用客户?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return updateCustomeStatus(params);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("启用成功");
        })
        .catch(function () {});
    },
    handleMaintain(row) {
      const customeId = row.customeId;
      this.$router.push(
        "/sales/customer-user/customer/" + customeId + "/" + row.enterpriseName
      );
    },

    handleProduct(row) {
      const customeId = row.customeId;
      this.$router.push(
        "/sales/customer-product/customeProduceIndex/" + customeId
      );
    },

    handleFile(row) {
      const customeId = row.customeId;
      this.$router.push("/sales/customer-file/customeFile/" + customeId);
    },
  },
};
</script>