<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
         <el-form-item label="姓名" prop="realName">
        <el-input
          v-model="queryParams.realName"
          placeholder="请输入姓名"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="用户名" prop="userName">
        <el-input
          v-model="queryParams.userName"
          placeholder="请输入用户名"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="用户类别" prop="userType">
        <el-select
          v-model="queryParams.userType"
          clearable
          placeholder="请选择用户类别"
          size="small"
           style="width: 180px"
          class="width-100"
        >
          <el-option
            v-for="dict in userTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>客户登录用户列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:use:info:add']"
              >新增</el-button
            >
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['system:info:remove']"
              >删除</el-button
            >
          </el-col>
          <!-- <el-col :span="1.5">
            <el-button
              class="btn-no-bg"
              type="primary"
              plain
              icon="el-icon-close"
              size="mini"
              @click="handleClose"
              >关闭</el-button
            >
          </el-col> -->
          <!-- <el-col :span="1.5">
            <el-button
              type="warning"
              icon="el-icon-download"
              size="mini"
              @click="handleExport"
              v-hasPermi="['system:info:export']"
              >导出</el-button
            >
          </el-col> -->
        </el-row>
      </div>
    </div>

    <el-table
      v-loading="loading"
      :data="infoList"
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />

      <el-table-column
        label="所属客户"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="姓名"
        align="center"
        prop="realName"
        width="120"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="用户名"
        align="center"
        prop="userName"
        width="150"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="性别"
        align="center"
        prop="sex"
        width="80"
        :formatter="sexFormatter"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="用户类别"
        align="center"
        prop="userType"
        width="120"
        :formatter="userTypeFormat"
        :show-overflow-tooltip="true"
      />

       <el-table-column
        label="手机号码"
        align="center"
        prop="phone"
        width="120"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['system:use:info:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['system:use:info:remove']"
            >删除</el-button
          >

          <el-button
            size="mini"
            type="text"
            icon="el-icon-key"
            @click="handleResetPwd(scope.row)"
            v-hasPermi="['system:info:resetPwd']"
            >重置</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改客户登录用户对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="所属客户">
              <el-input
                disabled
                v-model="enterpriseName"
                placeholder="所属客户"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="姓名" prop="realName">
              <el-input
                maxlength="30"
                v-model="form.realName"
                placeholder="请输入姓名"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="性别" prop="sex">
              <el-radio-group v-model="form.sex" size="mini">
                <el-radio
                  border
                  v-for="dict in sexOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12" v-if="form.loginId == undefined">
            <el-form-item label="用户名" prop="userName">
              <el-input
                maxlength="20"
                v-model="form.userName"
                placeholder="请输入用户名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="用户类别" prop="userType">
              <el-select
                v-model="form.userType"
                placeholder="请选择用户类别"
                size="small"
                class="width-100"
              >
                <el-option
                  v-for="dict in userTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="Number(dict.dictValue)"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="证件类型" prop="documentType">
              <el-select
                v-model="form.documentType"
                placeholder="请选择证件类型"
                size="small"
                class="width-100"
              >
                <el-option
                  v-for="dict in documentTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="Number(dict.dictValue)"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="证件号码" prop="documentNo">
              <el-input
                maxlength="30"
                v-model="form.documentNo"
                placeholder="请输入证件号码"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="电话" prop="tel">
              <el-input
                maxlength="20"
                v-model="form.tel"
                placeholder="请输入电话号码"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="手机" prop="phone">
              <el-input
                maxlength="11"
                v-model="form.phone"
                placeholder="请输入手机号码"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="邮箱" prop="email">
              <el-input
                maxlength="30"
                v-model="form.email"
                placeholder="请输入邮箱"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="职务" prop="job">
              <el-input
                maxlength="10"
                v-model="form.job"
                placeholder="请输入职务"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="24">
            <el-form-item label="地址" prop="address">
              <el-input
                maxlength="50"
                v-model="form.address"
                placeholder="请输入地址"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listInfo,
  getInfo,
  delInfo,
  addInfo,
  updateInfo,
  exportInfo,
  resetPwdDefault,
} from "@/api/sales/custome_info";

export default {
  name: "Info",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户登录用户表格数据
      infoList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,

      sexOptions: [],
      userTypeOptions: [],
      documentTypeOptions: [],

      customerId: "",
      enterpriseName: "",

      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        realName:undefined,
        userName: undefined,
        userType: undefined,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        userName: [
          { 
            pattern: /^[a-zA-Z][a-zA-Z0-9_]{4,11}$/,
            required: true,
            message: "字母开头，允许5-12字节，允许字母数字下划线",
            trigger: "blur",
          },
        ],
        realName: [
          { required: true, message: "姓名不能为空", trigger: "blur" },
        ],
        phone: [
          {
            required: true,
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
        ],
        email: [
          {
            required: true,
            type: "email",
            message: "'请输入正确的邮箱地址",
            trigger: ["blur", "change"],
          },
        ],
      },
    };
  },
  created() {
    this.customerId = this.$route.params && this.$route.params.customeId;
    this.enterpriseName = this.$route.params.customeName;
    this.getList();
    this.getDicts("sys_user_sex").then((response) => {
      this.sexOptions = response.data;
    });
    this.getDicts("kh_user_type").then((response) => {
      this.userTypeOptions = response.data;
    });
    this.getDicts("sales_custome_certificate_type").then((response) => {
      this.documentTypeOptions = response.data;
    });
  },
  methods: {
    /** 查询客户登录用户列表 */
    getList() {
      this.loading = true;
      this.queryParams.customeId = this.customerId;
      listInfo(this.queryParams).then((response) => {
        this.infoList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    getCustome() {
      getCustome(customeId).then((response) => {
        this.form = response.data;
      });
    },

    handleClose() {
      this.$store.dispatch("tagsView/delView", this.$route);
      this.$router.push({ path: "/sales/customer" });
    },

    // $comment字典翻译
    // ${column.javaField}Format(row, column) {
    //   return this.selectDictLabel(this.${column.javaField}Options, row.${column.javaField});
    // },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        sex: Number(this.sexOptions[0].dictValue),
        documentType: Number(this.documentTypeOptions[0].dictValue),
        userType: Number(this.userTypeOptions[0].dictValue),
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.loginId);
      this.single = selection.length != 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加客户-基础用户";
    },
    /** 修改按钮操作 */
    handleUpdate(row) { 
      this.reset();
      const loginId = row.loginId || this.ids;
      getInfo(loginId).then((response) => {
        this.form = response.data;
        this.form.sex = Number(this.form.sex);
        this.open = true;
        this.title = "修改客户-基础用户";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.form.customeId = this.customerId;
          if (this.form.loginId != undefined) {
            updateInfo(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addInfo(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const loginIds = row.loginId || this.ids;
      this.$confirm("是否确认删除客户-基础用户?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delInfo(loginIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm("是否确认导出所有客户-基础用户数据项?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return exportInfo(queryParams);
        })
        .then((response) => {
          this.download(response.msg);
        })
        .catch(function () {});
    },

    sexFormatter(row, column) {
      return this.selectDictLabel(this.sexOptions, row.sex);
    },
    userTypeFormat(row, column) {
      return this.selectDictLabel(this.userTypeOptions, row.userType);
    },
    handleResetPwd(row) {
      this.$confirm("是否确认重置密码?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return resetPwdDefault(row.loginId);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("密码重置成功");
        })
        .catch(function () {});
    },
  },
};
</script>