<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="公司名称" prop="tareWeightTime">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入公司名称"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="站点名称" prop="siteName">
        <el-input
          v-model="queryParams.siteName"
          placeholder="请输入站点名称"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery">
        </el-input>
      </el-form-item>

      <el-form-item label="产品类型" prop="productType">
        <el-select v-model="queryParams.productType" placeholder="请选择产品类型" @change="projectTypeChange">
          <el-option
            v-for="item in productTypeOpn"
            :key="item.dictValue"
            :label="item.dictLabel"
            :value="item.dictValue">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="产品名称" prop="productId">
        <el-select v-model="queryParams.productId" placeholder="请选择产品名称" >
          <el-option
            v-for="item in productNameOpn"
            :key="item.productId"
            :label="item.name"
            :value="item.productId">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="更新时间">
        <el-date-picker
          size="small"
          v-model="time"
          type="datetimerange"
          value-format="yyyy-MM-dd HH:mm:ss"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
        >搜索
        </el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
        >重置
        </el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>库存台账信息表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
               v-hasPermi="['system:stock:add']"
              @click="handleAdd"
            >初始化
            </el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="inventoryList"
    >

      <el-table-column
        label="公司名称"
        align="center"
        :show-overflow-tooltip="true"
        prop="orgName"
      />

      <el-table-column
        label="站点名称"
        align="center"
        prop="siteName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        :formatter="typeFormat"
        label="产品类型"
        align="center"
        prop="productType"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="库存量"
        align="center"
        prop="stockAmount"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="计量单位"
        align="center"
        prop="unit"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="更新时间"
        align="center"
        prop="updateTime"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            icon="el-icon-tickets"
            type="text"
             v-hasPermi="['system:log:list']"
            @click="handleClick(scope.row)"
          >库存日志
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改过磅对话框 -->
    <el-dialog
      title="库存台账新增"
      :visible.sync="this.open"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
      @close="reset"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item
              label="公司名称"
              prop="orgName"
              class="required_red_star"
            >
              <el-input
                placeholder="请选择公司名称"
                disabled
                v-model="form.orgName"
              >
                <el-button slot="append" class="login-icon" @click="toChooseOrg"
                >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="站点名称" prop="siteName">
              <el-select class="width-100" v-model="form.siteName" :placeholder="placeholder" @change="siteNameChange">
                <el-option
                  v-for="item in siteOpn"
                  :key="item.siteId"
                  :label="item.siteName"
                  :value="item.siteId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="productType">
              <el-select class="width-100" v-model="form.productType" placeholder="请选择产品类型"
                         @change="projectTypeFormChange">
                <el-option
                  v-for="item in productTypeFormOpn"
                  :key="item.dictValue"
                  :label="item.dictLabel"
                  :value="item.dictValue">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" prop="productName">
              <el-select class="width-100" v-model="form.productName" placeholder="请选择产品名称">
                <el-option
                  v-for="item in productNameFormOpn"
                  :key="item.productId"
                  :label="item.name"
                  :value="item.productId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="初始化时间" prop="initializationTime">
              <el-date-picker
                class="width-100"
                value-format="yyyy-MM-dd HH:mm:ss"
                v-model="form.initializationTime"
                type="datetime"
                placeholder="选择日期时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="库存" prop="stockAmount">
              <el-input
                type="number"
                maxlength="10"
                v-model="form.stockAmount"
                placeholder="请输入数字(吨)"
              />
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 库存日志 -->
    <el-dialog
      title="库存台账日志"
      :visible.sync="openInfo"
      width="70%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-table
        border
        v-loading="loading"
        :data="logData"
      >

        <el-table-column
          label="公司名称"
          align="center"
          prop="orgName"
        />

        <el-table-column
          label="站点名称"
          align="center"
          prop="siteName"
          :show-overflow-tooltip="true"
        />

        <el-table-column
          :formatter="typeFormat"
          label="产品类型"
          align="center"
          prop="productType"
        />

        <el-table-column
          label="产品名称"
          align="center"
          prop="productName"
          :show-overflow-tooltip="true"
        />

        <el-table-column
          label="期初库存"
          align="center"
          prop="earty"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="库存量"
          align="center"
          prop="surplus"
          :show-overflow-tooltip="true"
        />
        <el-table-column
          label="计量单位"
          align="center"
          prop="unit"
          :show-overflow-tooltip="true"
        />

        <el-table-column
          label="更新时间"
          align="center"
          prop="updateTime"
          :show-overflow-tooltip="true"
        />

      </el-table>

      <pagination
        v-show="logTotal > 0"
        :total="logTotal"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />

      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">关 闭</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="orgOpen"
      width="70%"
      append-to-body
      title="机构列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-orgs
        @closeOrgWindow="closeOrgWindow"
        @chooseOrg="chooseOrg"
        v-if="orgOpen"
        ref="chooseOrg"
      ></choose-orgs>
    </el-dialog>
  </div>
</template>

<script>


  import {getList, getOrgNoStock, getSiteByOrgId, createInventory, getStockLog} from "@/api/system/inventory";

  import {getProductByType} from "@/api/purchase/contract";
  import chooseOrgs from "../../utils/chooseOrgs";

  import {getToken} from "@/utils/auth";
  import axios from "axios";
  import moment from "moment";

  export default {
    name: "inventory",
    components: {chooseOrgs},
    data() {
      return {
        orgOpen:false,
        placeholder: '请先选择公司',
        logData: [],
        productNameFormOpn: [],
        productTypeFormOpn: [],
        productNameOpn: [],
        orgOpn: [],
        siteOpn: [],
        time: [],
        fileList: [],
        // 遮罩层
        loading: true,
        // 选中数组666         ids: [],
        // 总条数
        total: 0,
        logTotal: 0,
        // 称重计量表格数据
        inventoryList: [],
        // 弹出层标题
        title: "",
        open: false,
        // 查询参数
        queryParams: {
          pageNum: 1,
          pageSize: 10,
          productName: '',
          beginTime: '',
          endTime: '',
        },
        // 表单参数
        form: {
          orgName: '',
          siteName: '',
          productType: '',
          productName: '',
          initializationTime: '',
          stockAmount: ''
        },
        openInfo: false,
        productTypeOpn: [],
        // 表单校验
        rules: {
          // orgName: [
          //   {required: true, message: '请选择公司', trigger: 'change'}
          // ],
          siteName: [
            {required: true, message: '请选择站点', trigger: 'change'}
          ],
          productType: [
            {required: true, message: '请选择产品类型', trigger: 'change'}
          ],
          productName: [
            {required: true, message: '请选择产品名称', trigger: 'change'}
          ],
          initializationTime: [
            { required: true, message: '请选择时间', trigger: 'change'}
          ],
          stockAmount: [
            {required: true, message: '请输入库存', trigger: 'blur'}
          ],
        },
      };
    },
    created() {

      this.getList();
      this.getDicts("sys_product_type").then((response) => {
        this.productTypeOpn = response.data;
      });
    },
    methods: {

      closeOrgWindow() {
        this.orgOpen = false;
      },
      chooseOrg(org) {
        this.form.orgName = org.orgName;
        this.form.orgId = org.orgId;
        // this.orgChange(this.form.orgId);
        getSiteByOrgId(this.form.orgId).then((res) => {
          this.siteOpn = res;
          this.placeholder = '请选择站点';
          this.form.siteName = undefined;
          // this.$refs["form.siteName"] = undefined;
        })
      },

      toChooseOrg() {
        this.orgOpen = true;
      },

      cancelInfo() {
        this.openInfo = false;
        this.logData = [];
      },

      typeFormat(row, column) {
        return this.selectDictLabel(this.productTypeOpn, row.productType);
      },

      handleClick(row) {
        getStockLog(row).then((response) => {
          this.logData = response.rows;
          this.openInfo = true;
        });


      },
      projectTypeFormChange(val) {
        getProductByType(val).then((response) => {
          this.productNameFormOpn = response;
          this.logTotal = response.total;
        });
      },
      orgChange(val) {
        this.form.siteName = '';

        getSiteByOrgId(val).then((res) => {
          this.siteOpn = res;
          this.placeholder = '请选择站点';
        })
      },
      siteNameChange(val) {
        this.$forceUpdate();
      },

      handleAdd() {
        this.form = {};
        this.productNameFormOpn = [];
        this.productTypeFormOpn = [];
        getOrgNoStock().then((res) => {
          this.orgOpn = res;
        })
        this.getDicts("sys_product_type").then((response) => {
          this.productTypeFormOpn = response.data;
        });
        this.open = true;

      },
      projectTypeChange(val) {
        this.$forceUpdate;
        this.queryParams.productId = undefined;
        getProductByType(val).then((response) => {
          this.productNameOpn = response;
        });
      },
      /** 查询过磅单信息表列表 */
      getList() {
        this.loading = true;
        this.addDateRange(this.queryParams, this.time)
        getList(this.addDateRange(this.queryParams, this.time)).then((response) => {
          this.inventoryList = response.rows;
          this.total = response.total;
          this.loading = false;
        });
      },
      submitForm() {
        this.$refs["form"].validate((valid) => {
          if (valid) {
            createInventory(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("初始化成功");
                this.open = false;
                this.placeholder = '请先选择公司';
                this.getList();
              }
              if (response.code === 8871) {
                this.error(response.msg);
              }
            });
          }
        });
      },

      // 取消按钮
      cancel() {
        this.reset();
      },
      // 表单重置
      reset() {
        this.siteOpn = [];
        this.resetForm("form");
        this.placeholder = '请先选择公司';
        this.open = false;
      },
      /** 搜索按钮操作 */
      handleQuery() {
        this.queryParams.pageNum = 1;
        this.getList();
      },
      /** 重置按钮操作 */
      resetQuery() {
        // this.resetForm("queryForm");
        this.queryParams = {
          orgName: '',
          siteName: '',
          productType: '',
          productName: ''
        };
        // this.projectTypeOpn = [];
        this.projectNameOpn = [];
        this.time = []
        this.handleQuery();
      },

    },
  };
</script>

<style>
  .show .el-upload-list__item {
    width: 80px;
    height: 80px;
  }

  .show .el-upload--picture-card {
    width: 80px;
    height: 80px;
    line-height: 90px;
  }
</style>
