<template>
  <div class="app-container dialog-query">

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>银行流水列表</div>
      </div>
      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              :disabled="single"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="choosBankFlow"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="bankFlowList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="50" align="center" />
      <el-table-column
        label="交易日期"
        align="center"
        prop="txn_Dt"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="交易时间"
        align="center"
        prop="txn_Tm"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="发生金额"
        align="center"
        prop="hpn_Amt"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="对方账号"
        align="center"
        prop="cntprtAcc"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="对方账户名称"
        align="center"
        prop="cntrprt_AccNm"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
export default {
  name: "bankFlow",
  data() {
    return {
      loading: true,
      ids: [],
      single: true,
      total: 0,
      bankFlowList: [
        {
          txn_Dt:"20211-1-18",
          txn_Tm:"09:38:54",
          hpn_Amt:"830000",
          cntprtAcc:"08600901040000062",
          cntrprt_AccNm:"陕西鑫鹏顺泰商贸有限公司",
          rmrk:"",
        },
        {
          txn_Dt:"20211-1-18",
          txn_Tm:"09:38:54",
          hpn_Amt:"980000",
          cntprtAcc:"6222804270658837",
          cntrprt_AccNm:"盛泽精细化工有限公司",
          rmrk:"",
        },
        {
          txn_Dt:"20211-1-18",
          txn_Tm:"09:38:54",
          hpn_Amt:"1000000",
          cntprtAcc:"6217104919661893",
          cntrprt_AccNm:"延安博中工贸有限公司",
          rmrk:"",
        }

      ],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
      },
      // 表单参数
      form: {},
    };
  },
  created() {
    this.getList();
  },
  methods: {

    getList(){
      this.loading = false;
    },
   
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
      this.single = selection.length != 1;
    },
    choosBankFlow() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        this.$emit("choosBankFlow", this.checkedList[0]);
        this.$emit("closeBankWindow");
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>
