<template>
  <div class="app-container dialog-query">
    <el-form
      :inline="true"
      class="query-form"
      ref="queryForm"
      :model="queryParams"
      label-width="68px"
    >
      <el-form-item label="机构名称">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入机构名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态">
        <el-select
          v-model="queryParams.status"
          placeholder="机构状态"
          clearable
          size="small"
        >
          <el-option
            v-for="dict in statusOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          class="filter-item"
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-org-list" :style="{ height: height }">
      <!-- 组织机构树 -->
      <div class="system-org-list-tree">
        <div class="system-org-list-tree-header">机构框架</div>
        <div class="system-org-tree">
          <el-tree
            :data="deptOptions"
            :props="defaultProps"
            :expand-on-click-node="false"
            ref="tree"
            default-expand-all
            @node-click="handleNodeClick"
          />
        </div>
      </div>

      <!-- 组织机构列表 -->
      <div class="system-org-list-table">
        <div class="system-table-header org-table-header">
          <div class="system-table-title">
            <div></div>
            <div>机构列表</div>
          </div>

          <div class="system-table-btn">
            <el-button
              :disabled="single"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="chooseOrg"
              >选择</el-button
            >
          </div>
        </div>

        <div class="system-org-tree">
          <el-table
            border
            v-loading="loading"
            :data="deptList"
            @selection-change="handleSelectionChange"
          >
            <el-table-column type="selection" width="50" align="center" />
            <el-table-column
              label="机构名称"
              align="center"
              prop="orgName"
              :show-overflow-tooltip="true"
            />
            <el-table-column
              label="机构编码"
              align="center"
              prop="orgCode"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="机构类型"
              align="center"
              prop="orgType"
              :formatter="typeFormat"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="状态"
              align="center"
              prop="status"
              :show-overflow-tooltip="true"
              :formatter="statusFormat"
            />
          </el-table>

          <pagination
            v-show="total > 0"
            :total="total"
            :page.sync="queryParams.pageNum"
            :limit.sync="queryParams.pageSize"
            @pagination="getList"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { listDept, treeselect } from "@/api/system/dept";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  name: "Dept",
  components: { Treeselect },
  data() {
    return {
      height: document.body.clientHeight - 185 + "px",
      defaultProps: {
        children: "children",
        label: "label",
      },
      // 总条数
      total: 0,
      typeOptions: [],
      single: true,
      // 遮罩层
      loading: true,
      // 表格树数据
      deptList: [],
      // 机构树选项
      deptOptions: [],
      // 状态数据字典
      statusOptions: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        orgName: undefined,
        status: undefined,
      },
      form: {},
    };
  },
  created() {
    this.getList();
    this.getTreeselect();
    this.getDicts("sys_org_status").then((response) => {
      this.statusOptions = response.data;
    });
    this.getDicts("sys_org_type").then((response) => {
      this.typeOptions = response.data;
    });
  },
  methods: {
    /** 查询机构下拉树结构 */
    getTreeselect() {
      treeselect().then((response) => {
        this.deptOptions = response.data;
      });
    },

    /** 查询部门列表 */
    getList() {
      this.loading = true;
      listDept(this.queryParams).then((response) => {
        this.deptList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.getList();
    },

    resetQuery() {
      this.queryParams = {
        orgName: undefined,
        status: undefined,
      };
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleNodeClick(data) {
      this.queryParams.pId = data.id;
      this.getList();
    },

    typeFormat(row, column) {
      return this.selectDictLabel(this.typeOptions, row.orgType);
    },
    statusFormat(row, column) {
      return this.selectDictLabel(this.statusOptions, row.status);
    },

    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
      this.single = selection.length != 1;
    },
    chooseOrg() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        this.$emit("chooseOrg", this.checkedList[0]);
        this.$emit("closeOrgWindow");
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>