<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="站点名称" prop="siteName">
        <el-input
          v-model="queryParams.siteName"
          placeholder="请输入站点名称"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>交易明细列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              :disabled="single"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="chooseCustome"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="paymentList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="交易明细编号"
        align="center"
        prop="sellContractCode"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="站点名称"
        align="center"
        prop="siteName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="数量"
        align="center"
        prop="amount"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="单价(元)"
        align="center"
        prop="price"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="应收比例(%)"
        align="center"
        prop="advancePaymentRate"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="金额(元)"
        align="center"
        prop="totalMoney"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="应预收金额（元）"
        align="center"
        prop="advancePayment"
        width="150px"
        :show-overflow-tooltip="true"
      />

    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { contractDetailList } from "@/api/sales/payment";

export default {
  name: "chooseContractPayment",
  props:["transportType"],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      paymentList: [],

      checkedList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        transportType:undefined
      },
      // 表单参数
      form: {},
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询客户列表 */
    getList() {
      this.loading = true;
      this.queryParams.transportType = this.transportType
      contractDetailList(this.queryParams).then((response) => {
        this.paymentList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
      this.single = selection.length != 1;
    },

    chooseCustome() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        //只选择了一条数据，需要将供货方名字以及供货方id传给父页面
        var payment = this.checkedList[0]; //人员id
        this.$emit("choosePayment", payment);
        this.$emit("closeWindow");
        this.loading = false;
      }
    },
  },
};
</script>