<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="姓名" prop="realName">
        <el-input
          v-model="queryParams.realName"
          placeholder="请输入姓名"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>员工列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="chooseEmployee"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="employeeList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="姓名"
        align="center"
        prop="realName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="用户名"
        align="center"
        prop="userName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="性别"
        align="center"
        prop="sex"
        :formatter="sexFormat"
        :show-overflow-tooltip="true"
      />
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { chooseEmployeeList } from "@/api/system/user";

export default {
  name: "chooseEmployee",
  props:{
  	employFlag:{
  		type:String,
  		default:''
  	}
  },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,

      sexOptions: [],

      // 总条数
      total: 0,
      // 客户表格数据
      employeeList: [],

      checkedList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        status: 4,
      },
      // 表单参数
      form: {},
    };
  },
  created() {

    this.getList();
    this.getDicts("sys_user_sex").then((response) => {
      this.sexOptions = response.data;
    });

  },
  methods: {
    /** 查询客户列表 */
    getList() {
      this.loading = true;
      chooseEmployeeList(this.queryParams).then((response) => {
        this.employeeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
    },

    sexFormat(row, column) {
      return this.selectDictLabel(this.sexOptions, row.sex);
    },

    chooseEmployee() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        //只选择了一条数据，需要将供货方名字以及供货方id传给父页面
        this.$emit("chooseEmployee", this.checkedList[0]);
        this.$emit("closeEmployeeWindow");
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>