<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="合同名称" prop="contractName">
        <el-input
          v-model="queryParams.contractName"
          placeholder="请输入合同名称"
          size="small"
          clearable
          style="width: 200px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          size="small"
          clearable
          style="width: 200px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>采购合同列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="chooseCustome"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="purchaseList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="合同编号"
        align="center"
        prop="contractCode"
        width="200px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="合同名称"
        align="center"
        prop="contractName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品类型"
        align="center"
        prop="productType"
        :formatter="typeFormat"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="签订时间"
        align="center"
        prop="signTime"
        width="150px"
        :show-overflow-tooltip="true"
      />
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>
<script>
import { listPurchase } from "@/api/sales/agreement";

export default {
  name: "purchaseContract",
  props:["transportType"],
  data() {
    return {
      loading: true,
      ids: [],
      total: 0,
      purchaseList: [],
      typeOptions: [],
      checkedList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        contractName: undefined,
        contractCode: undefined,
        transportType:undefined
      },
      // 表单参数
      form: {},
    };
  },
  created() {
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });
    this.queryParams.transportType = this.transportType;
    this.getList();
  },

  methods: {
    typeFormat(row, column) {
      return this.selectDictLabel(this.typeOptions, row.productType);
    },

    /** 查询客户列表 */
    getList() {
      this.loading = true;
      listPurchase(this.queryParams).then((response) => {
        this.purchaseList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
    },
    chooseCustome() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        //只选择了一条数据，需要将供货方名字以及供货方id传给父页面
        var contractName = this.checkedList[0].contractName;
        var purchaseContractId = this.checkedList[0].purchaseContractId; //人员id
        this.$emit("purchaseContractId", purchaseContractId);
        this.$emit("contractName", contractName);
        this.$emit("closeWindow");
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>