<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="站点名称" prop="siteName">
        <el-input
          v-model="queryParams.siteName"
          placeholder="请输入站点名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="productName">
        <el-input
          v-model="queryParams.productName"
          placeholder="请输入产品名称"
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>计量交接协议列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              :disabled="single"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="agreement"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="agreementList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="合同编号"
        align="center"
        prop="contractCode"
        width="150px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="计量交接协议编号"
        align="center"
        prop="handoverAgreementCode"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="交方机构"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品类型"
        align="center"
        prop="productType"
        width="100px"
        :formatter="productTypeFormatter"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="产品名称"
        align="center"
        prop="productName"
        width="100px"
        :show-overflow-tooltip="true"
      />
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>
<script>
import { getAgreementList } from "@/api/sales/count";

export default {
  name: "chooseAgreement",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      agreementList: [],

      typeOptions: [],
      checkedList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        transportType: undefined,
      },
      // 表单参数
      form: {},
    };
  },
  created() {
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
      this.getList();
    });
  },
  methods: {
    productTypeFormatter(row, column) {
      return this.selectDictLabel(this.typeOptions, row.productType);
    },

    /** 查询客户列表 */
    getList() {
      this.loading = true;
      getAgreementList(this.queryParams).then((response) => {
        this.agreementList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
      this.single = selection.length != 1;
    },

    agreement() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        var agreement = this.checkedList[0]; //人员id
        this.$emit("getAgreement", agreement);
        this.$emit("closeWindow");
        this.loading = false;
      }
    },
  },
};
</script>