<template>
  <div class="app-container dialog-query">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
    >
      <el-form-item label="客户名称" prop="enterpriseName">
        <el-input
          v-model="queryParams.enterpriseName"
          placeholder="请输入客户名称"
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="客户性质" prop="enterpriseProperties">
        <el-select
          v-model="queryParams.enterpriseProperties"
          placeholder="请选择客户性质"
          size="small"
          clearable
        >
          <el-option
            v-for="dict in customeTypeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>客户列表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"

              @click="chooseCustome"
              >选择</el-button
            >
            <!-- disabled="single" -->
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="customeList"
      ref="multipleTable"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column
        label="客户编号"
        align="center"
        prop="customeCode"
        width="180px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户名称"
        align="center"
        prop="enterpriseName"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="客户性质"
        align="center"
        prop="enterpriseProperties"
        :formatter="typeFormat"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="负责人"
        align="center"
        prop="fzrRealName"
        width="100px"
        :show-overflow-tooltip="true"
      />

      <el-table-column
        label="负责人电话"
        align="center"
        prop="fzrTel"
        width="120px"
        :show-overflow-tooltip="true"
      />

    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { listCustome } from "@/api/sales/custome";

export default {
  name: "customes",
  props: ["chooseCustom"],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 客户表格数据
      customeList: [],

      customeTypeOptions: [],
      sexOptions: [],
      customeBigOptions: [],
      statusOptions: [],

      checkedList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        enterpriseName: undefined,
        enterpriseProperties: undefined,
        status: 4,
      },
      // 表单参数
      form: {},
    };
  },
  created() {

    this.getList();

    this.getDicts("sales_custome_type").then((response) => {
      this.customeTypeOptions = response.data;
    });

    this.getDicts("sys_user_sex").then((response) => {
      this.sexOptions = response.data;
    });

    this.getDicts("sales_custome_status").then((response) => {
      this.statusOptions = response.data;
    });
  },
  methods: {
    /** 查询客户列表 */
    getList() {
      this.loading = true;
      listCustome(this.queryParams).then((response) => {
        this.customeList = response.rows;
        this.total = response.total;
        this.getSelectCustom();
        this.loading = false;
      });
    },

    getSelectCustom(){
      const _this = this;
      this.chooseCustom.forEach((row) => {
        this.customeList.forEach(e => {
          if (e.customeId == row) {
            _this.$refs.multipleTable.toggleRowSelection(e);
            // _this.checkedList.push(e);
          }
        })
      });
      // this.$forceUpdate();
    },



    // $comment字典翻译
    typeFormat(row, column) {
      return this.selectDictLabel(
        this.customeTypeOptions,
        row.enterpriseProperties
      );
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
      this.single = selection.length != 1;
    },

    chooseCustome() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      }else {
        // console.log(JSON.stringify(this.checkedList))
        //只选择了一条数据，需要将供货方名字以及供货方id传给父页面
        // debugger
        // var enterpriseName = this.checkedList[0].enterpriseName;
        var enterpriseName = this.checkedList;
        var customeId = this.checkedList; //人员id
        // var customeId = this.checkedList[0].customeId; //人员id
        this.$emit("chooseCustomeId", customeId);
        this.$emit("chooseCustomeName", enterpriseName);
        this.$emit("closeWindow");
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>
