<template>
  <div class="app-container dialog-query">
    <!-- <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="90px"
    >
      <el-form-item label="供货方名称" prop="supplierName">
        <el-input
          v-model="queryParams.supplierName"
          placeholder="请输入供货方名称"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item label="供货方编号" prop="supplierCode">
        <el-input
          v-model="queryParams.supplierCode"
          placeholder="请输入供货方编号"
          clearable
          size="small"
          style="width: 180px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>

      <div class="query-bottom-line"></div>
    </el-form> -->

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>申请单列表</div>
      </div>
      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              :disabled="single"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="chooseSupplier"
              >选择</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table
      border
      v-loading="loading"
      :data="supplierList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="50" align="center" />
      <el-table-column
        label="站点"
        align="center"
        prop="sysSite.siteName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品"
        align="center"
        prop="proName"
        :show-overflow-tooltip="true"
      />
      <!-- <el-table-column label="负责人" align="center" prop="fzrRealName" /> -->
      <el-table-column
        label="数量"
        align="center"
        prop="allowance"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="金额(元)"
        align="center"
        prop="basicPrice"
        :show-overflow-tooltip="true"
      />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { listSupplier } from "@/api/jj/policy/policy.js";
// import { listSupplier } from "@/api/purchase/supplier";
export default {
  name: "supplier",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 总条数
      total: 0,
      supplierList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        // supplierName: undefined,
        // supplierCode: undefined,
      },
      // 表单参数
      form: {},
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询参数列表 */
    getList() {
      this.loading = true;
      listSupplier(this.queryParams).then((response) => {
        this.supplierList = response.data;
        // this.total = response.total;
        this.loading = false;
      });
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.checkedList = selection.map((item) => item);
      this.single = selection.length != 1;
    },
    chooseSupplier() {
      if (this.checkedList.length < 1) {
        this.$message.error("您还没有选择数据");
      } else if (this.checkedList.length > 1) {
        this.$message.error("只能选择一条数据");
      } else {
        this.$emit("chooseSupplier", this.checkedList[0]);
        this.$emit("closeSupplierWindow");
        this.$message.success("选择成功");
        this.loading = false;
      }
    },
  },
};
</script>
