<template>
  <div class="app-container">
    <el-form
      :inline="true"
      class="query-form"
      ref="queryForm"
      :model="queryParams"
      label-width="68px"
    >
      <el-form-item label="机构名称">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入机构名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态">
        <el-select
          v-model="queryParams.status"
          placeholder="机构状态"
          clearable
          size="small"
        >
          <el-option
            v-for="dict in statusOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="Number(dict.dictValue)"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          class="filter-item"
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-org-list" :style="{ height: height }">
      <!-- 组织机构树 -->
      <div class="system-org-list-tree">
        <div class="system-org-list-tree-header">机构框架</div>
        <div class="system-org-tree">
          <el-tree
            :data="deptOptions"
            :props="defaultProps"
            :expand-on-click-node="false"
            ref="tree"
            default-expand-all
            @node-click="handleNodeClick"
          />
        </div>
      </div>

      <!-- 组织机构列表 -->
      <div class="system-org-list-table">
        <div class="system-table-header org-table-header">
          <div class="system-table-title">
            <div></div>
            <div>机构列表</div>
          </div>

          <div class="system-table-btn">
            <el-button
              class="filter-item"
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['system:dept:add']"
              >新增</el-button
            >
          </div>
        </div>

        <div class="system-org-tree">
          <el-table border v-loading="loading" :data="deptList">
            <el-table-column type="selection" width="50" align="center" />
            <el-table-column
              label="机构名称"
              align="center"
              prop="orgName"
              :show-overflow-tooltip="true"
            />
            <el-table-column
              label="机构编码"
              align="center"
              prop="orgCode"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="机构类型"
              align="center"
              prop="orgType"
              :formatter="typeFormat"
              :show-overflow-tooltip="true"
            />

            <el-table-column
              label="状态"
              align="center"
              prop="status"
              :show-overflow-tooltip="true"
              :formatter="statusFormat"
            />

            <el-table-column
              label="操作"
              align="center"
              width="180"
              class-name="small-padding fixed-width"
            >
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="text"
                  icon="el-icon-edit"
                  @click="handleUpdate(scope.row)"
                  v-hasPermi="['system:config:edit']"
                  >修改</el-button
                >

                <el-button
                  size="mini"
                  type="text"
                  icon="el-icon-video-play"
                  @click="handleStop(scope.row)"
                  v-hasPermi="['system:config:remove']"
                  >停用</el-button
                >

                <el-button
                  size="mini"
                  type="text"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.row)"
                  v-hasPermi="['system:config:remove']"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>

          <pagination
            v-show="total > 0"
            :total="total"
            :page.sync="queryParams.pageNum"
            :limit.sync="queryParams.pageSize"
            @pagination="getList"
          />
        </div>
      </div>
    </div>

    <!-- 添加或修改机构对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="70%" append-to-body :close-on-click-modal="false"  :close-on-press-escape="false">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row :gutter="24">
          <el-col :span="24" v-if="form.pId !== 0">
            <el-form-item label="所属机构" prop="pId">
              <treeselect
                v-model="form.pId"
                :options="deptOptions"
                placeholder="选择所属机构"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="机构名称" prop="orgName">
              <el-input
                v-model="form.orgName"
                maxlength="50"
                placeholder="请输入机构名称"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="机构编码" prop="orgCode">
              <el-input
                v-model="form.orgCode"
                maxlength="10"
                placeholder="请输入机构编码"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="机构类型">
              <el-select
                class="width-100"
                v-model="form.orgType"
                placeholder="请选择"
                @change="changeOrgType"
              >
                <el-option
                  v-for="item in typeOptions"
                  :key="item.dictValue"
                  :label="item.dictLabel"
                  :value="Number(item.dictValue)"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="机构前缀">
               <el-input
                v-model="form.orgPrefix"
                maxlength="30"
                placeholder="请输入机构前缀"
              />
            </el-form-item>
          </el-col>

          <!-- <el-col :span="12">
            <el-form-item label="机构状态">
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="dict in statusOptions"
                  :key="dict.dictValue"
                  :label="Number(dict.dictValue)"
                  >{{ dict.dictLabel }}</el-radio
                >
              </el-radio-group>
            </el-form-item>
          </el-col> -->
        </el-row>

        <el-row :gutter="24" v-show="bankFlag">
          <el-col :span="24">
            <el-form-item label="机构全称">
              <el-input
                v-model="form.orgFullName"
                maxlength="30"
                placeholder="请输入机构全称"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24" v-show="bankFlag">
          <el-col :span="12">
            <el-form-item label="开户行">
              <el-input
                v-model="form.openingBank"
                maxlength="100"
                placeholder="请输入开户行"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="收款帐号">
              <el-input
                v-model="form.shroffAccountNumber"
                maxlength="30"
                placeholder="请输入收款帐号"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="经度">
              <el-input
                v-model="form.lnt"
                maxlength="20"
                placeholder="请输入经度"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="纬度">
              <el-input
                v-model="form.lat"
                maxlength="20"
                placeholder="请输入纬度"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listDept,
  getDept,
  delDept,
  stopDept,
  addDept,
  updateDept,
  listDeptExcludeChild,
  treeselect,
} from "@/api/system/dept";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  name: "Dept",
  components: { Treeselect },
  data() {
    return {
      height: document.body.clientHeight - 185 + "px",
      defaultProps: {
        children: "children",
        label: "label",
      },
      // 总条数
      total: 0,
      typeOptions: [],

      bankFlag: true,

      // 遮罩层
      loading: true,
      // 表格树数据
      deptList: [],
      // 机构树选项
      deptOptions: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 状态数据字典
      statusOptions: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        orgName: undefined,
        status: undefined,
      },

      // 表单参数
      form: {},
      // 表单校验
      rules: {
        pId: [{ required: true, message: "所属机构不能为空", trigger: "blur" }],
        orgName: [
          { required: true, message: "机构名称不能为空", trigger: "blur" },
        ],
        orgCode: [
          { required: true, message: "机构编码不能为空", trigger: "blur" },
        ],
        orgPrefix: [
          { required: true, message: "机构前缀不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getTreeselect();

    this.getDicts("sys_org_status").then((response) => {
      this.statusOptions = response.data;
    });

    this.getDicts("sys_org_type").then((response) => {
      this.typeOptions = response.data;
    });
  },
  methods: {
    /** 查询机构下拉树结构 */
    getTreeselect() {
      treeselect().then((response) => {
        this.deptOptions = response.data;
      });
    },

    /** 查询部门列表 */
    getList() {
      this.loading = true;
      listDept(this.queryParams).then((response) => {
        this.deptList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        orgId: undefined,
        pId: undefined,
        orgName: undefined,
        orderNum: undefined,
        status: 1,
        orgType: 0,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.getList();
    },
    /** 新增按钮操作 */
    handleAdd(row) {
      this.reset();
      if (row != undefined) {
        this.form.pId = row.orgId;
      }
      this.open = true;
      this.title = "添加机构";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      getDept(row.orgId).then((response) => {
        this.form = response.data;
        this.open = true;
        this.title = "修改机构";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.orgId != undefined) {
            updateDept(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addDept(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      this.$confirm('是否确认删除名称为"' + row.orgName + '"的机构?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delDept(row.orgId);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    handleStop(row) {
      this.$confirm('是否确认停用名称为"' + row.orgName + '"的机构?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return stopDept(row.orgId);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("停用成功");
        })
        .catch(function () {});
    },

    resetQuery() {
      this.queryParams = {
        orgName: undefined,
        status: undefined,
      };
      this.resetForm("queryForm");
      this.handleQuery();
    },

    handleNodeClick(data) {
      this.queryParams.pId = data.id;
      this.getList();
    },

    typeFormat(row, column) {
      return this.selectDictLabel(this.typeOptions, row.orgType);
    },
    statusFormat(row, column) {
      return this.selectDictLabel(this.statusOptions, row.status);
    },

    changeOrgType(val) {
      if (val == 3) {
        this.bankFlag = false;
      } else {
        this.bankFlag = true;
      }
    },
  },
};
</script>