<template>
  <el-dialog
    width="90%"
    title="发布竞价招标公告"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container edit-container">
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <i class="required">*</i>展示时间： </span>
          <el-date-picker
            v-model="value1"
            type="datetime"
            placeholder="*年*月*日*时*分"
            format="yyyy-MM-dd HH:mm"
            value-format="yyyy-MM-dd HH:mm"
            class="el_min"
            :picker-options="pickerOptions1"
          
          ></el-date-picker>
          <i class="required" v-show="!showtime">x</i>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <i class="required">*</i>竞价开始： </span>
          <!-- <el-input placeholder="*年*月*日*时*分*秒" class="el-input"></el-input> -->
          <el-date-picker
            v-model="value2"
            type="datetime"
            placeholder="*年*月*日*时*分"
            format="yyyy-MM-dd HH:mm"
            value-format="yyyy-MM-dd HH:mm"
            class="el_min"
            :picker-options="pickerOptions1"
           
          ></el-date-picker>
          <i class="required" v-show="!showtime">x</i>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <i class="required">*</i>竞价递增： </span>
          <el-input
            v-model="jj_add"
            placeholder="客户竞拍价格增量"

            class="el_min"
          ></el-input
          >元
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <i class="required">*</i>竞价保护期：</span>
          <el-input
            v-model="bh_time"
            placeholder="竞标开始后底价保护期"
            class="el_min"
          ></el-input
          >分钟
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <i class="required">*</i>竞价结束间隔： </span>
          <el-input
            v-model="interval"
            placeholder="时间内无人出价，竞标结束"
            class="el_min"
          ></el-input
          >秒
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label"> <i class="required">*</i>最小竞拍量： </span>
          <el-input
            v-model="min_p"
            placeholder="客户最小购买量"
            class="el_min"
          ></el-input
          >吨
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">超过： </span>
          <el-input
            v-model="minu"
            placeholder="请输入"
            class="el_mint"
          ></el-input>分钟
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">竞价递增为：</span>
          <el-input
            v-model="monkey"
            placeholder="请输入"
            class="el_mint"
          ></el-input
          >元
        </el-col>
      </el-row>
      <!-- 弹出层 -->
      <el-row class="add-form-item">
        <!-- 弹出层 -->
        <el-button type="primary" @click="open">添加</el-button>
      </el-row>
      <div class="z_but">
        <el-dialog
          title="添加"
          append-to-body
          :destroy-on-close="true"
          :visible.sync="centerDialogVisible"
          width="60%"
        >
          <div class="table">
            <el-table
              border
              stripe
              ref="multipleTabled"
              v-loading="loading"
              :data="
                table.slice(
                  (currentPage - 1) * pageSize,
                  currentPage * pageSize
                )
              "
              tooltip-effect="dark"
              style="width: 100%"
              @selection-change="handChange"
              :header-cell-style="{ 'text-align': 'center' }"
              :cell-style="{ 'text-align': 'center' }"
            >
              <el-table-column label="站点" width="140">
                <template slot-scope="scope">{{
                  scope.row.sysSite.siteName
                }}</template>
              </el-table-column>
              <el-table-column
                :formatter="getTypes"
                label="产品类型"
              ></el-table-column>
              <el-table-column
                prop="proName"
                label="产品名称"
              ></el-table-column>
              <el-table-column
                prop="basicPrice"
                label="起拍价格(元/吨)"
              ></el-table-column>
              <el-table-column
                prop="sitePresaleVolume"
                label="标段放量(吨)"
              ></el-table-column>
              <el-table-column
                prop="allowance"
                label="标段余量(吨)"
              ></el-table-column>
              <el-table-column label="预售期" width="150"  :formatter="ally">
                <!-- <template slot-scope="scope"
                  >{{ scope.row.preSaleStartTime }} --
                  {{ scope.row.preSaleEndTime }}</template
                > -->
              </el-table-column>
              <el-table-column label="拍卖量(吨)" width="180">
                <template slot-scope="scope">
                  <el-input-number
                    v-show="!falegs"
                    :controls="false"
                    v-model="scope.row.dbnum"
                    controls-position="right"
                    size="small"
                  />
                  <span v-show="falegs" style="text-align: center;">{{scope.row.dbnum}}</span>
                </template>
              </el-table-column>
            </el-table>
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[2, 5, 8, 10]"
              :page-size="pageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="table.length"
              style=" float: right;"
            ></el-pagination>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="qx">取 消</el-button>
            <el-button type="primary" @click="qd">确 定</el-button>
          </span>
        </el-dialog>
      </div>
      <!-- 页面 -->
      <div class="table">
        <el-table
          border
          :data="table_2"
          tooltip-effect="dark"
          @selection-change="handChange"
          :header-cell-style="{ 'text-align': 'center' }"
          :cell-style="{ 'text-align': 'center' }"
        >
          <!-- <el-table-column type="selection" width=""></el-table-column> -->
          <el-table-column label="站点">
            <template slot-scope="scope">{{
              scope.row.sysSite.siteName
            }}</template>
          </el-table-column>
          <el-table-column
            :formatter="getTypes"
            label="产品类型"
          ></el-table-column>
          <el-table-column prop="proName" label="产品名称"></el-table-column>

          <el-table-column
            prop="basicPrice"
            label="起拍价格(元/吨)"
          ></el-table-column>
          <el-table-column
            prop="sitePresaleVolume"
            label="标段放量(吨)"
          ></el-table-column>
          <el-table-column label="操作" width="100">
            <template slot-scope="scope">
              <el-button type="danger" plain size="mini" @click="del(scope.row)"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 选择客户 -->
      <div class="choose">
        <el-collapse v-model="activeNames" @change="handleChange">
          <el-collapse-item title="选择客户:" name="1">
            <div class="autotable">
              <el-table
                border
                stripe
                :data="tableData"
                tooltip-effect="dark"
                @selection-change="handleSelectionChange"
              >
                <el-table-column type="selection" width="40"></el-table-column>
                <el-table-column label="客户公司名称">
                  <template slot-scope="scope">{{
                    scope.row.enterpriseName
                  }}</template>
                </el-table-column>
                <el-table-column
                  prop="fzrRealName"
                  label="负责人"
                ></el-table-column>
                <el-table-column
                  prop="fzrTel"
                  label="联系方式"
                ></el-table-column>
              </el-table>
            </div>
          </el-collapse-item>
        </el-collapse>
      </div>
      <!-- 竞买 -->
      <div class="compare">
        <div class="add-form-item">
          <span class="label">竞买公告：</span>
          <el-input
            type="textarea"
            placeholder
            rows="4"
            v-model="jm_gg"
          ></el-input>
        </div>
        <div class="add-form-item">
          <span class="label">竞买须知：</span>
          <el-input
            v-model="jm_xz"
            type="textarea"
            placeholder
            rows="4"
          ></el-input>
        </div>
        <div class="add-form-item">
          <span class="label">产品说明：</span>
          <el-input
            v-model="cp_sm"
            type="textarea"
            placeholder
            rows="4"
          ></el-input>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button
          @click="submit"
          style="background-color: #1890ff; color: #fff"
          >确定</el-button
        >
        <el-button @click="cancelDialog">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  listPriceApply,
  getPriceApply,
  addPriceApply,
  updatePriceApply,
  getOtherInfo,
  findCustome,
  getCustomeList,
  addpublish,
  // gua_data,
  getadd,
  addBD,
  get_add,
  delSite
} from "@/api/jj/priceApply";
export default {
  name: 't_publish',
  data() {
    return {
      showtime:true,
      pickerOptions1: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      faleg:false,
      dialogVisible: false,
      loading: false,
      tableData: [],
      // 选择客户
      activeNames: ['1'],
      // 时间(可携带数据)
      value1: '',
      value2: '',
      jj_add: '',
      min_p: '',
      monkey: '',
      minu: '',
      interval: '',
      bh_time: '',
      jm_gg: '受相关单位委托，我公司定于2021年12月30日下午14:00在庆港交易网对委托人持有的如下标的进行公开拍卖。',
      jm_xz: '本次拍卖活动将依据有关的法律、法规组织和开展，并遵循“公开、公平、公正”和价高者得的原则，维护委托人和竞买人的利益。参加本次拍卖活动的当事人，请仔细阅读拍卖会《竞买须知》，并对自己的竞买行为负责。凡登记参加的竞买人，均视为认可本公司的《竞买须知》，必须按照本公司《竞买须知》进行竞投和付款，否则将负相应法律责任。',
      cp_sm: '"烃"就是碳、氢两种元素以不同的比例混合而成的一系列物质。其中较轻的部分，就叫做轻烃。天然气的主要成份是C1甲烷，含少量的C2乙烷，液化石油气的主要成份是C3丙烷、C4丁烷，它们在常温常压下呈气态，叫气态轻烃。C5-C16的烃在常温常压下是液态，我们就叫它液态轻烃。液态轻烃中最轻的部分是C5、C6，饱和的C5 、C6是鼓泡制气的最好原料，再重一点的部分就是汽油、煤油和柴油等。',
      s_check: false,
      s_pri: '',
      // 显示隐藏
      // show: false,
      centerDialogVisible: false,
      // 合并数据
      array: [],
      array1: [],
      name: '111',
      // 站点信息
      table: [],
      currentPage: 1,
      pageSize: 5,
      pdf: [],
      customers: [],
      table_2: [],
      nums:1,
      // 站点名称
      get_type: [],
      list: [],
      proType: [],
      falegs:false,
      // 添加按钮新需求
      priceApplyId:'',

      // 弹出层
      // 全不选
      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTabled.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTabled.clearSelection();
        }
      },
      // 全选
      toggleAllSelection() {
        this.$refs.multipleTabled.toggleAllSelection()
      },
      // 反选，重新遍历一遍数据
      toggleInverseAllSelection() {
        this.tableData.forEach((item) => {
          this.$refs.multipleTabled.toggleRowSelection(item);
        });
      },
    }
  },

  methods: {

    emitEvent(params) {
      // console.log("-------------333333333333333333333--------",params)
      getCustomeList(params).then((res) => {
        this.tableData = res.data;
      });
    },

    openModel(data) {
      // console.log(data);
      this.table_2=[]
      this.nums=1
      // console.log('dou', data.priceApplyId);
      this.priceApplyId = data.priceApplyId;
      this.dialogVisible = true;
      getadd(this.priceApplyId).then(res => {
        // console.log(res);
        this.table = res.data;
        this.list = res.data;
        if(data.biddingApplyType==2){
          this.falegs=true
          console.log(this.table);
          for(let temp of this.table){
              temp.dbnum=temp.allowance
          }
      }
      })

    },
    // Tips1(){
    //   if (this.value2 != "") {
    //     var oDate1 = new Date(this.value1);
    //     var oDate2 = new Date(this.value2);
    //     if (oDate1.getTime() <= oDate2.getTime()) {
    //       this.showtime=true
    //     } else {
    //       this.showtime=false
    //     }
    //     if(!this.showtime){
    //       this.$message.error('竞价开始时间不能早于展示时间');
    //     }
    //   }
    // },
    // Tips2(){
    //   if (this.value1 != "") {
    //     var oDate1 = new Date(this.value1);
    //     var oDate2 = new Date(this.value2);
    //     if (oDate1.getTime() <= oDate2.getTime()) {
    //       this.showtime=true
    //     } else {
    //       this.showtime=false
    //     }
    //     if(!this.showtime){
    //       this.$message.error('竞价时间晚于展示时间');
    //     }
    //   }
    // },
    ally(e){
        // console.log(e.preSaleStartTime+'------'+e.preSaleEndTime);
        var newDate1=/\d{4}-\d{1,2}-\d{1,2}/g.exec(e.preSaleStartTime)
        var newDate2=/\d{4}-\d{1,2}-\d{1,2}/g.exec(e.preSaleEndTime)
        return newDate1+' -- '+newDate2
    },
    cancelDialog() {
      this.dialogVisible = false;
    },
    // 删除站点
    del(data) {
      // console.log(data);
      // console.log(this.table_2);

      for(let i=0;i<this.table_2.length;i++){
        if(data.priceApplyDetailId==this.table_2[i].priceApplyDetailId){
            for(let j=0;j<this.list.length;j++){
              if(this.list[j].sysSite.siteName==data.sysSite.siteName){
                this.list[j].allowance=this.list[j].allowance+data.sitePresaleVolume
              }
            }
            this.table_2.splice(i,1)
            this.msgSuccess("删除成功");
        }
      }
    },
    // 产品类型
    getTypes(e) {
      for (var i = 0; i < this.get_type.length; i++) {
        if (this.get_type[i].dictValue == e.proType) { //dictValue，dictLabel保持和上面定义一致
          return this.get_type[i].dictLabel;
        }
      }
    },
    // 异步请求同步写法
    async refresh() { // 方法名
      this.loading = true;
      this.loading = false
    },
    open() {
      this.centerDialogVisible = true;
    },
    qx() {
      this.centerDialogVisible = false;
    },
    qd() {
    //   console.log(this.list);
      if(this.table_2.length>0){
        for(var i=0;i<this.list.length;i++){
        if(this.list[i].dbnum>0){
          var add=0
            for(var j=0;j<this.table_2.length;j++){
              if(this.list[i].sysSite.siteName==this.table_2[j].sysSite.siteName){
                add=this.table_2[j].sitePresaleVolume+add
              }
            }
            add=add+this.list[i].dbnum
            if(add>this.list[i].sitePresaleVolume){
                this.$message.error('站点'+this.list[i].sysSite.siteName+'配置量不足');
                return
            }

        }
    }
    }
    // for(var i=0;i<this.list.length;i++){
    //     if(this.list[i].dbnum>0){
    //       if(this.list[i].allowance>=this.list[i].dbnum){

    //         this.list[i].allowance=this.list[i].allowance-this.list[i].dbnum

    //         this.list[i].dbnum=null
    //         // this.msgSuccess("添加成功");
    //       }else{
    //         this.$message.error('站点'+this.list[i].sysSite.siteName+'配置量不足');
    //         return
    //       }

    //     }
    // }
    //  this.centerDialogVisible = false;
    let data = {
        // add 弹出框
        add: this.list,
        // list 页面
        list: this.table_2
      }
      this.centerDialogVisible = false;
      addBD(data).then(res => {
        // console.log(res);
        if (res.code == 200) {
          this.$modal.alertSuccess("添加成功");
          // this.msgSuccess("添加成功");
          this.table_2 = res.data.List;
           for(var i=0;i<this.list.length;i++){
        if(this.list[i].dbnum>0){
          if(this.list[i].allowance>=this.list[i].dbnum){

            this.list[i].allowance=this.list[i].allowance-this.list[i].dbnum

            this.list[i].dbnum=null
            // this.msgSuccess("添加成功");
          }else{
            this.$message.error('站点'+this.list[i].sysSite.siteName+'配置量不足');
            return
          }

        }
    }
        }
        // console.log(this.table_2)
      })


    },
    // 站点名称
    getType(e) {
      for (var i = 0; i < this.proType.length; i++) {
        if (this.proType[i].dictValue == e.applyType) { //dictValue，dictLabel保持和上面定义一致
          return this.proType[i].dictLabel;
        }
      }
    },
    handleChange(val) {
      console.log(val);
    },
    // 客户
    handleSelectionChange(val) {
      console.log(val);
      this.customers = val;
    },
    // 页面站点
    handChange(val) {
      this.pdf = val;
    },
    hand(val) {

    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    // 提交数据
    submit() {
       var oDate1 = new Date(this.value1);
        var oDate2 = new Date(this.value2);
        if (oDate1.getTime() <= oDate2.getTime()) {
          this.showtime=true
        } else {
          this.showtime=false
        }
      if(!this.showtime){
        this.$message.error('展示时间不能小于竞价开始');
        return
      }
      if(!this.faleg){
         this.$message.error('竞买公告必须进行修改后才可以发布');
        return
      }
      if(new Date(this.value2)-new Date()<1000*60*1){
        this.$message.error('竞价开始时间不能小于此刻1分钟');
            return
      }
      // console.log(this.table);
      let {
        value1,
        value2,
        jj_add,
        min_p,
        monkey,
        minu,
        interval,
        bh_time,
        jm_gg,
        jm_xz,
        cp_sm,
        pdf,
        customers,
        table_2,
      } = this;

      // console.log(value1);
      // console.log(value2);
      let data = {
        "appreciationRate": "",
        "bidCount": 0,
        "biddingEndTime": "",
        "biddingInstructions": jm_xz,
        "biddingNotice": jm_gg,
        "biddingStartTime": value2,
        "biddingStatus": 0,
        "bidingNum": 0,
        "browerNum": 0,
        "businessNegotiationResults": "",
        "callbidCode": "",
        "callbidTitle": "",
        "contactPerson": "",
        "contactPhone": "",
        "createUserId": "",
        "delFlag": 1,
        "displayStartTime": value1,
        "incrementPrice": 0,
        "interval": interval,
        "orgId": "",
        "overdueIncreaseAmount": monkey,
        "params": {},
        "priceApplyId": "",
        "priceIncrease": jj_add,
        "produceManual": cp_sm,
        "productId": "",
        "relateCallbidId": "",
        "remark": "",
        "roundAmount": 0,
        "searchValue": "",
        "section": "",
        "siteId": "",
        "status": 0,
        "timeoutPriceIncrease": minu,
        "upsetPrice": 0,
        "upsetPriceProtection": bh_time,
        "minBiding": min_p,
        "childrenAD": table_2,
        "childrenCus": customers
      }
      if(this.nums==1){
          this.nums--
        addpublish(data).then(response => {
        console.log(response);
        if (response.code == 200) {
          this.msgSuccess("发布成功");
          // 刷新指定页签
          // const obj = {
          //   path: "/jj/t_publish",
          //   name: 'PriceApply2'
          // };
          this.$tab.refreshPage();
        }
      })
      }

    }
  },
  created() {
    get_add().then(res => {
      this.table_2 = res.data
    })

    // getOtherInfo().then(res => {
    //   console.log(res.data.Customers);
    //   this.tableData = res.data.Customers;
    // }),
    // findCustome().then(res => {
    //   console.log(res.data);
    //   this.tableData = res.data;
    // }),
      // 站点名称
      this.getDicts("sys_site_type").then((response) => {
        this.proType = response.data;
      });
    // 产品类型
    this.getDicts("sys_product_type").then((response) => {
      this.get_type = response.data;
    });

  },
  watch: {
    dbnum:function(){
      console.log(2);
    },
    jm_gg:function(){
        this.faleg=true
    },
     value2:function(){
      this.jm_gg='受相关单位委托，我公司定于'+this.value2+' 在庆港交易网对委托人持有的如下标的进行公开拍卖。'
    }
  }
}
</script>
