<template>
  <div class="app-container manage-container">
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">Banner 管理列表</h3>
        <el-row :gutter="10">
          <el-col :span="4">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="multiple"
              @click="handleDelete"
              v-hasPermi="['jj:management:remove']"
            >删除</el-button>
          </el-col>
          <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="managementList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="45" align="center" />
          <el-table-column label="图片" align="center" prop="address" class="item-image-container">
            <template slot-scope="scope">
              <el-image fit="contain" :src="scope.row.address"></el-image>
            </template>
          </el-table-column>
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
            width="240"
          >
            <template slot-scope="scope">
              <el-button
                v-if="scope.$index !== 0"
                size="mini"
                type="text"
                icon="el-icon-upload2"
                @click="moveUp(scope.$index, scope.row)"
                v-hasPermi="['jj:management:edit']"
              >上移</el-button>
              <el-button
                v-if="scope.$index !== managementList.length - 1"
                size="mini"
                type="text"
                icon="el-icon-download"
                @click="moveDown(scope.$index, scope.row)"
                v-hasPermi="['jj:management:edit']"
              >下移</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
                v-hasPermi="['jj:management:remove']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <pagination
          v-show="total < 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>

    <!--  图片上传    -->
    <el-upload
      class="img-uplaod-cls"
      ref="uploadImgRef"
      :action="uploadImg.url"
      :headers="upload.headers"
      :multiple="false"
      drag
      name="file"
      accept="image/*"
      :limit="uploadImg.limit"
      :on-success="uploadImgSuccess"
      list-type="picture"
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">
        将文件拖到此处，或
        <em>点击上传</em>
      </div>
      <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过2M</div>
    </el-upload>
  </div>
</template>

<script>
import {
  listManagement,
  getManagement,
  delManagement,
  addManagement,
  updateManagement,
  updateMove
} from '@/api/jj/management'

import { getToken } from '@/utils/auth'

const VUE_APP_BASE_API = process.env.VUE_APP_BASE_API

export default {
  name: 'BannerManagement',
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // banner管理表格数据
      managementList: [],
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 100,
        bannerCode: null,
        address: null,
        createUserId: null
      },
      upload: {
        open: false,
        headers: { Authorization: 'Bearer ' + getToken() },
        url: process.env.VUE_APP_BASE_API + '/system/picture/importData'
      },
      uploadImg: {
        limit: 1,
        url: `${VUE_APP_BASE_API}/jj/management`,
        files: [] //上传的附件容器
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        createUserId: [
          { required: true, message: '创建人ID不能为空', trigger: 'blur' }
        ],
        createTime: [
          { required: true, message: '创建时间不能为空', trigger: 'blur' }
        ],
        delFlag: [
          { required: true, message: '删除标志不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    moveUp(index, row) {
      let temp = this.managementList[index - 1]
      // this.$set(this.managementList, index - 1, this.managementList[index])
      // this.$set(this.managementList, index, temp)
      let m1 = { 'bannerManagementId': row.bannerManagementId, 'bannerCode': temp.bannerCode } //bannerCode
      let m2 = { 'bannerManagementId': temp.bannerManagementId, 'bannerCode': row.bannerCode }
      this.updateMove([m1, m2])
    },
    moveDown(index, row) {
      let temp = this.managementList[index + 1]
      // this.$set(this.managementList, index + 1, this.managementList[index])
      // this.$set(this.managementList, index, temp)
      let m1 = { 'bannerManagementId': row.bannerManagementId, 'bannerCode': temp.bannerCode } //bannerCode
      let m2 = { 'bannerManagementId': temp.bannerManagementId, 'bannerCode': row.bannerCode }
      this.updateMove([m1, m2])
    },

    updateMove(entities) {
      this.loading = true
      updateMove(entities).then(resp => {
        this.getList()
      })
    },

    uploadImgSuccess() {
      this.getList()
      this.$refs.uploadImgRef.clearFiles()
    },

    getList() {
      this.loading = true
      listManagement(this.queryParams).then(response => {
        this.managementList = response.rows
        this.managementList.forEach(v => v.address = process.env.VUE_APP_BASE_API + v.address)
        this.total = response.total
        this.loading = false
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        bannerManagementId: null,
        bannerCode: null,
        address: null,
        createUserId: null,
        createTime: null,
        updateTime: null,
        delFlag: null
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm('queryForm')
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.bannerManagementId)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加banner管理'
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const bannerManagementId = row.bannerManagementId || this.ids
      getManagement(bannerManagementId).then(response => {
        this.form = response.data
        this.open = true
        this.title = '修改banner管理'
      })
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.form.bannerManagementId != null) {
            updateManagement(this.form).then(response => {
              this.$modal.msgSuccess('修改成功')
              this.open = false
              this.getList()
            })
          } else {
            addManagement(this.form).then(response => {
              this.$modal.msgSuccess('新增成功')
              this.open = false
              this.getList()
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const bannerManagementIds = row.bannerManagementId || this.ids
      this.$confirm('是否确认删除banner管理编号为"' + bannerManagementIds + '"的数据项？').then(function () {
        return delManagement(bannerManagementIds)
      }).then(() => {
        this.getList()
        this.msgSuccess('删除成功')
      }).catch(() => {
      })
    }
  }
}
</script>
<style lang="scss" >
.el-upload__tip {
  font-size: 14px;
  color: #606266;
  margin-top: 10px;
  text-align: center;
}
</style>
