<template>
  <div class="app-container">
    <!-- 公司一 -->
    <el-form
      :model="query1"
      ref="query1Form"
      :inline="true"
      label-width="80px"
      class="el-form-tool"
    >
      <el-form-item label="公司名称1">
        <el-select
          @change="orgChanged(1)"
          v-model="query1.orgId"
          placeholder="请选择"
          clearable
          size="small"
        >
          <el-option
            v-for="item in orgs"
            :key="item.orgId"
            :label="item.orgName"
            :value="item.orgId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品类型1">
        <el-select
          @change="productTypeChanged(1)"
          v-model="query1.productTypeId"
          placeholder="请选择"
          clearable
          size="small"
        >
          <el-option
            v-for="item in productTypes"
            :key="item.productTypeId"
            :label="item.productTypeName"
            :value="item.productTypeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称1">
        <el-select
          @change="productChanged(1)"
          v-model="query1.productId"
          placeholder="请选择"
          clearable
          size="small"
        >
          <el-option
            v-for="item in products"
            :key="item.productId"
            :label="item.productName"
            :value="item.productId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="站点1" style="position: relative;">
        <el-select v-model="query1.siteId" placeholder="请选择" clearable size="small">
          <el-option
            v-for="item in sites"
            :key="item.siteId"
            :label="item.siteName"
            :value="item.siteId"
          />
        </el-select>
        <div
          v-if="!condition2Show"
          class="add-condition-icon"
          @click="condition2Show = !condition2Show"
        >
          <span class="el-icon-circle-plus"></span>
        </div>
      </el-form-item>
    </el-form>
    <!-- 公司二 -->
    <el-form
      :model="query2"
      ref="query1Form"
      :inline="true"
      v-show="condition2Show"
      label-width="80px"
      class="el-form-tool"
    >
      <el-form-item label="公司名称2">
        <el-select
          @change="orgChanged(2)"
          v-model="query2.orgId"
          placeholder="请选择"
          clearable
          size="small"
        >
          <el-option
            v-for="item in orgs2"
            :key="item.orgId"
            :label="item.orgName"
            :value="item.orgId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品类型2">
        <el-select
          @change="productTypeChanged(2)"
          v-model="query2.productTypeId"
          placeholder="请选择"
          clearable
          size="small"
        >
          <el-option
            v-for="item in productTypes2"
            :key="item.productTypeId"
            :label="item.productTypeName"
            :value="item.productTypeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称2">
        <el-select
          @change="productChanged(2)"
          v-model="query2.productId"
          placeholder="请选择"
          clearable
          size="small"
        >
          <el-option
            v-for="item in products2"
            :key="item.productId"
            :label="item.productName"
            :value="item.productId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="站点2" style="position: relative">
        <el-select v-model="query2.siteId" placeholder="请选择" clearable size="small">
          <el-option
            v-for="item in sites2"
            :key="item.siteId"
            :label="item.siteName"
            :value="item.siteId"
          />
        </el-select>
        <div class="add-condition-icon" @click="condition2Show = !condition2Show">
          <span class="el-icon-remove"></span>
        </div>
      </el-form-item>
    </el-form>
    <el-col class="top-btn-container">
      <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
      <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
    </el-col>
    <el-row>
      <el-col :span="24">
        <div class="chartwapper">
          <div ref="chart" id="chart"></div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {
  companys,
  findProductTypesByOrgId,
  findProductsByproductTypeId,
  findSitesByProductId,
  findOilPrices,
  findPriceCurve
} from '@/api/jj/account-select'

import echarts from 'echarts'

const CURVE_ANIMI_TIME = 1000

export default {
  name: 'productTrend',
  data() {
    return {
      condition2Show: false,
      query1: {
        orgId: undefined,
        productId: undefined,
        productTypeId: undefined,
        siteId: undefined
      },
      query2: {
        orgId: undefined,
        productId: undefined,
        productTypeId: undefined,
        siteId: undefined
      },
      orgs: [],
      orgs2: [],
      productTypes: [],
      productTypes2: [],
      products: [],
      products2: [],
      sites: [],
      sites2: []
    }
  },
  mounted() {
    this.findCompanys()
    this.initChart()
  },
  methods: {
    // 公司一变化
    orgChanged(index) {
      let currOrgId
      if (index === 1) {
        this.query1.productTypeId = undefined
        this.productTypes = []
        this.query1.productId = undefined
        this.products = []
        this.query1.siteId = undefined
        this.sites = []
        currOrgId = this.query1.orgId
      } else if (index === 2) {
        this.query2.productTypeId = undefined
        this.productTypes2 = []
        this.query2.productId = undefined
        this.products2 = []
        this.query2.siteId = undefined
        this.sites2 = []
        currOrgId = this.query2.orgId
      }

      if (currOrgId) { // 获取公司的产品类型
        this.findProductTypesByOrgId(currOrgId, index)
      }
    },

    // 产品类型一变化
    productTypeChanged(index) {
      let orgId
      let productTypeId
      if (index === 1) {
        this.query1.productId = undefined
        this.products = []
        this.query1.siteId = undefined
        this.sites = []
        productTypeId = this.query1.productTypeId
        orgId = this.query1.orgId
      } else if (index === 2) {
        this.query2.productId = undefined
        this.products2 = []
        this.query2.siteId = undefined
        this.sites2 = []
        productTypeId = this.query2.productTypeId
        orgId = this.query2.orgId
      }
      if (productTypeId) {  // 获取产品类型的产品
        this.findProductsByproductTypeId(orgId, productTypeId, index)
      }
    },

    //产品变化
    productChanged(index) {
      let orgId
      let productId
      if (index === 1) {
        this.query1.siteId = undefined
        this.sites = []
        orgId = this.query1.orgId
        productId = this.query1.productId
      } else if (index === 2) {
        this.query2.siteId = undefined
        this.sites2 = []
        orgId = this.query2.orgId
        productId = this.query2.productId
      }
      if (productId) {
        this.findSitesByProductId(orgId, productId, index)
      }
    },

    findCompanys() {
      companys().then(resp => {
        this.orgs = resp.data
        this.orgs2 = resp.data
      })
    },

    // 获取产品类型ID
    findProductTypesByOrgId(orgId, index) {
      findProductTypesByOrgId(orgId).then(resp => {
        if (index === 1) {
          this.productTypes = resp.data
        } else if (index === 2) {
          this.productTypes2 = resp.data
        }
      })
    },

    findProductsByproductTypeId(orgId, productTypeId, index) {
      findProductsByproductTypeId(orgId, productTypeId).then(resp => {
        if (index === 1) {
          this.products = resp.data
        } else if (index === 2) {
          this.products2 = resp.data
        }
      })
    },

    findSitesByProductId(orgId, productId, index) {
      findSitesByProductId(orgId, productId).then(resp => {
        if (index === 1) {
          this.sites = resp.data
        } else if (index === 2) {
          this.sites2 = resp.data
        }
      })
    },

    initChart() {
      if (this.echarts) {
        this.echarts.dispose()
      }
      this.echarts = echarts.init(this.$refs.chart)
      findOilPrices().then(resp => {
        let x = resp.data.x
        let y = resp.data.y
        this.setOptions(x, y)
      })
    },

    // 点击搜索
    handleQuery() {
      // { // 条件一的
      //   let productIds = []
      //   let siteId = this.query1.siteId
      //   if (this.query1.orgId && this.query1.productTypeId) {
      //     if (!this.query1.productId) {
      //       this.products.forEach(p => {
      //         productIds.push(p.productId)
      //       })
      //     } else {
      //       productIds.push(this.query1.productId)
      //     }
      //     findPriceCurve(productIds.join(','), siteId).then(resp => { // 添加条件一所选的曲线
      //       let curves = resp.data
      //     })
      //   } else {
      //     this.$alert('必须选择公司名称、产品类型！', '提示')
      //   }
      // }

      this.loadCurves(this.query1, this.products)

      if (this.condition2Show) { // 条件1 和 条件2
        this.loadCurves(this.query2, this.products2)
        // let productIds2 = []
        // let siteId2 = this.query2.siteId
        // if (this.query2.orgId && this.query2.productTypeId) {
        //   if (!this.query2.productId) {
        //     this.products2.forEach(p => {
        //       productIds2.push(p.productId)
        //     })
        //   } else {
        //     productIds2.push(this.query2.productId)
        //   }
        //   findPriceCurve(productIds2.join(','), siteId2).then(resp => { // 添加条件一所选的曲线
        //     let curves = resp.data
        //   })
        // } else {
        //   this.$alert('必须选择公司名称、产品类型！', '提示')
        // }
      }
    },

    loadCurves(queryParam, products) {
      let productIds = []
      let siteId = queryParam.siteId
      if (queryParam.orgId && queryParam.productTypeId) {
        if (!queryParam.productId) {
          products.forEach(p => {
            productIds.push(p.productId)
          })
        } else {
          productIds.push(queryParam.productId)
        }
        findPriceCurve(productIds.join(','), siteId).then(resp => {
          let curves = resp.data
          let series = []
          for (const curve in curves) {
            series.push({
              id: curve,
              yAxisIndex: 1,
              name: curve,
              itemStyle: {
                lineStyle: {
                  width: 2
                }
              },
              smooth: true,
              type: 'line',
              data: curves[curve],
              animationDuration: CURVE_ANIMI_TIME
            })
          }
          this.echarts.setOption({ series: series })
        })
      } else {
        this.$alert('必须选择公司名称、产品类型！', '提示')
      }
    },

    resetQuery() {
      this.resetAll()
      this.initChart()
    },

    setOptions(x, y) {
      this.echarts.setOption({
        title: {
          show: true,
          text: "产品价格与趋势关系",
          left: "center",
          top: "5",
          textStyle: {
            fontSize: 16,
            color: "#999",
          },
        },
        color: ["#FF0080", "#00FFFF", "#F9F900", "#CA8EC2", "#6FB7B7", "#5B8FF9", "#FFA18E", "#5AD8A6", "#00FF00"],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: "#999",
            },
            lineStyle: {
              type: "dashed",
            },
          },
        },
        grid: {
          left: "15",
          right: "40",
          bottom: "10",
          top: "40",
          containLabel: true
        },
        xAxis: {
          type: "category",
          data: x,
          splitLine: {
            show: false,
          },
          axisTick: {
            show: true,
            interval: 0,
            alignWithLabel: true,
          },
          axisLabel: {
            color: "#999",
            lineStyle: {
              color: "rgba(0,0,0,0.5)",
            },
            interval: 1,
          }
        },

        yAxis: [{
          name: '原油价格(元)',
          type: "value",
          axisTick: {
            show: true
          },
          axisLabel: {
            color: "#999",
            textStyle: {
              fontSize: 12,
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#F3F4F4",
            },
          },
          axisLine: {
            show: false,
          },
        }, {
          name: '产品价格(元)',
          type: "value",
          axisTick: {
            show: true
          },
          axisLabel: {
            color: "#999",
            textStyle: {
              fontSize: 12,
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#F3F4F4",
            },
          },
          axisLine: {
            show: false,
          },
        }],
        legend: {
          x: "80%",
          top: 0,
          textStyle: {
            color: "#999",
          },
          itemWidth: 10,
          itemHeight: 10,
        },
        series: [{
          name: '国际原油',
          type: 'line',
          smooth: true,
          data: y,
          yAxisIndex: 0,
          itemStyle: {
            lineStyle: {
              width: 2
            }
          },
          animationDuration: CURVE_ANIMI_TIME
        }]
      })
    },

    resetAll() {
      this.condition2Show = false
      this.query1 = {
        orgId: undefined,
        productId: undefined,
        productTypeId: undefined,
        siteId: undefined
      }
      this.query2 = {
        orgId: undefined,
        productId: undefined,
        productTypeId: undefined,
        siteId: undefined
      }
      // this.orgs = []
      // this.orgs2 = []
      this.productTypes = []
      this.productTypes2 = []
      this.products = []
      this.products2 = []
      this.sites = []
      this.sites2 = []
    }
  }
}

</script>

<style lang="scss" scoped>
.chartwapper {
  #chart {
    margin: 50px auto;
    height: 600px;
    width: 100%;
  }
}

.add-condition-icon {
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 22px;
  color: #1891ff;
  cursor: pointer;
}
</style>
