<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
      class="el-form-tool"
    >
      <el-form-item label="标题" prop="title">
        <el-input
          v-model="queryParams.title"
          placeholder="请输入标题"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">政策法规列表</h3>
        <el-row :gutter="10" class="mb8">
          <el-col :span="4">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['regulation:regulation:add']"
            >新增
            </el-button>
          </el-col>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="regulationList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column label="政策法规" align="center">
            <template slot-scope="scope">{{ scope.row.title }}</template>
          </el-table-column>
          <el-table-column label="发布单位" align="center">
            <template slot-scope="scope">{{ scope.row.title }}</template>
          </el-table-column>
          <el-table-column label="发布文号" align="center">
            <template slot-scope="scope">{{ scope.row.title }}</template>
          </el-table-column>
          <el-table-column label="生效日期" align="center" width="140">
            <template slot-scope="scope">{{ parseTime(scope.row.effectiveTime, '{y}-{m}-{d}') }}</template>
          </el-table-column>
          <el-table-column label="失效日期" align="center" width="140">
            <template slot-scope="scope">{{ parseTime(scope.row.effectiveTime, '{y}-{m}-{d}') }}</template>
          </el-table-column>
          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
            width="135"
          >
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
                v-hasPermi="['regulation:regulation:edit']"
              >修改
              </el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
                v-hasPermi="['regulation:regulation:remove']"
              >删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <pagination
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>

    <!-- 添加或修改政策法规对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="960px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="95px">
        <el-form-item label="发布单位" prop="publisher">
          <el-input v-model="form.publisher" placeholder="请输入发布人"/>
        </el-form-item>
        <el-form-item label="发布文号" prop="regulationCode">
          <el-input v-model="form.regulationCode" placeholder="请输入发布文号"/>
        </el-form-item>

        <el-row :gutter="20">
          <el-col :span="8">
            <el-form-item label="生效日期" prop="effectiveTime">
              <el-date-picker
                clearable
                size="small"
                v-model="form.effectiveTime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择生效日期"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="失效日期" prop="expirationTime">
              <el-date-picker
                clearable
                size="small"
                v-model="form.expirationTime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择失效日期"
              ></el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="8">
            <el-form-item label="是否置顶" prop="topFlag">
              <el-radio-group v-model="form.topFlag">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="2">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="置顶有效期" v-if="form.topFlag == 1" prop="topValidity">
              <el-date-picker
                v-model="form.topValidity"
                format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                type="datetime"
                placeholder="选择日期时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item label="标题" prop="title">
          <el-input v-model="form.title" placeholder="请输入标题"/>
        </el-form-item>
        <el-form-item label="子标题" prop="subtitle">
          <el-input v-model="form.subtitle" placeholder="请输入子标题"/>
        </el-form-item>
        <el-form-item label="上传附件">
          <el-upload
            ref="upload"
            :limit="1"
            name="file"
            accept="application/pdf"
            :headers="upload.headers"
            :action="upload.url"
            :disabled="upload.isUploading"
            :on-progress="handleFileUploadProgress"
            :on-success="handleFileSuccess"
            :auto-upload="true"
            drag
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              将文件拖到此处，或
              <em>点击上传</em>
            </div>
            <div class="el-upload__tip" style="color: red" slot="tip">提示：仅允许导入“pdf”格式文件！</div>
          </el-upload>
          <el-link
            v-if="upload.pdfPath"
            style="font-size: 12px"
            @click="importPdf"
          >已上传附件： {{ upload.pdfPath }}
          </el-link>
        </el-form-item>
        <el-form-item label="正文" prop="text">
          <Editor tor v-model="form.text"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import {
    listRegulation,
    getRegulation,
    delRegulation,
    addRegulation,
    updateRegulation
  } from '@/api/jj/regulation/regulation'
  import Editor from '@/components/Editor'
  import { getToken } from '@/utils/auth'
  import { downLoadPdf } from '@/utils/pdfdownload'

  const VUE_APP_BASE_API = process.env.VUE_APP_BASE_API

  export default {
    name: 'Regulation',
    components: {
      Editor
    },
    data() {
      return {
        // 遮罩层
        loading: true,
        // 选中数组
        ids: [],
        // 非单个禁用
        single: true,
        // 非多个禁用
        multiple: true,
        // 显示搜索条件
        showSearch: true,
        // 总条数
        total: 0,
        // 政策法规表格数据
        regulationList: [],
        // 弹出层标题
        title: '',
        // 是否显示弹出层
        open: false,
        // 导入参数
        upload: {
          // 是否显示弹出层（导入）
          open: false,
          // 弹出层标题（导入）
          title: '',
          // 是否禁用上传
          isUploading: false,
          // 是否更新已经存在的用户数据
          updateSupport: 0,
          // 设置上传的请求头部
          headers: { Authorization: 'Bearer ' + getToken() },
          // 上传的地址
          url: `${VUE_APP_BASE_API}/regulation/regulation/file`,
          pdfPath: ''
        },
        // 查询参数
        queryParams: {
          pageNum: 1,
          pageSize: 10,
          regulationCode: null,
          title: null,
          subtitle: null,
          publisher: null,
          effectiveTime: null,
          expirationTime: null,
          text: null,
          createUserId: null
        },
        // 表单参数
        form: {
          topFlag: 2,
        },
        // 表单校验
        rules: {
          topValidity: [
            { required: true, message: '置顶时间不能为空', trigger: 'blur' }
          ],
          title: [
            { required: true, message: '标题不能为空', trigger: 'blur' }
          ],
          publisher: [
            { required: true, message: '发布人不能为空', trigger: 'blur' }
          ],
          effectiveTime: [
            { required: true, message: '生效时间不能为空', trigger: 'blur' }
          ],
          text: [
            { required: true, message: '正文不能为空', trigger: 'blur' }
          ],
          createUserId: [
            { required: true, message: '创建人ID不能为空', trigger: 'blur' }
          ],
          createTime: [
            { required: true, message: '创建时间不能为空', trigger: 'blur' }
          ],
          delFlag: [
            { required: true, message: '删除标志不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    created() {
      this.getList()
    },
    methods: {
      /** 查询政策法规列表 */
      getList() {
        this.loading = true
        listRegulation(this.queryParams).then(response => {
          this.regulationList = response.rows
          this.total = response.total
          this.loading = false
        })
      },
      // 取消按钮
      cancel() {
        this.open = false
        this.reset()
      },
      // 表单重置
      reset() {
        this.form = {
          regulationId: null,
          regulationCode: null,
          title: null,
          subtitle: null,
          publisher: null,
          effectiveTime: null,
          expirationTime: null,
          text: null,
          createUserId: null,
          createTime: null,
          updateTime: null,
          delFlag: null,
          pdfPath: null,
          topFlag: 2
        }
        this.upload.pdfPath = null
        this.resetForm('form')
      },
      /** 搜索按钮操作 */
      handleQuery() {
        this.queryParams.pageNum = 1
        this.getList()
      },
      /** 重置按钮操作 */
      resetQuery() {
        this.resetForm('queryForm')
        this.handleQuery()
      },
      // 多选框选中数据
      handleSelectionChange(selection) {
        this.ids = selection.map(item => item.regulationId)
        this.single = selection.length !== 1
        this.multiple = !selection.length
      },
      /** 新增按钮操作 */
      handleAdd() {
        this.reset()
        this.open = true
        this.title = '添加政策法规'
      },
      /** 修改按钮操作 */
      handleUpdate(row) {
        this.reset()
        const regulationId = row.regulationId || this.ids
        getRegulation(regulationId).then(response => {
          this.form = response.data
          if (response.data.pdfPath) {
            console.log(response.data.pdfPath.split('\/')[3].substring(37))
            this.upload.pdfPath = response.data.pdfPath.split('\/')[3].substring(37)
            this.form.pdfPath = response.data.pdfPath
          }
          this.open = true
          this.title = '修改政策法规'
        })
      },
      /** 提交按钮 */
      submitForm() {
        this.$refs['form'].validate(valid => {
          if (valid) {
            this.form.pdfPath = this.upload.pdfPath
            if (this.form.regulationId != null) {
              if (this.form.topFlag == 2) {
                this.form.topValidity = ""
              }
              updateRegulation(this.form).then(response => {
                this.$modal.msgSuccess('修改成功')
                this.open = false
                this.getList()
              })
            } else {
              addRegulation(this.form).then(response => {
                this.$modal.msgSuccess('新增成功')
                this.open = false
                this.getList()
              })
            }
            this.$refs.upload.clearFiles()
          }
        })
      },
      /** 删除按钮操作 */
      handleDelete(row) {
        const regulationIds = row.regulationId || this.ids
        this.$modal.confirm('是否确认删除政策法规编号为"' + regulationIds + '"的数据项？').then(function() {
          return delRegulation(regulationIds)
        }).then(() => {
          this.getList()
          this.$modal.msgSuccess('删除成功')
        }).catch(() => {
        })
      },
      /** 导出按钮操作 */
      handleExport() {
        this.download('regulation/regulation/export', {
          ...this.queryParams
        }, `regulation_${new Date().getTime()}.xlsx`)
      },

      // 文件上传中处理
      handleFileUploadProgress(event, file, fileList) {
        this.upload.isUploading = true
      },
      // 文件上传成功处理
      handleFileSuccess(response, file, fileList) {
        this.upload.pdfPath = response.msg
        this.$refs.upload.clearFiles()
      },
      /** 下载模板操作 */
      importPdf() {
        downLoadPdf(this.form.pdfPath)
      }
    }
  }
</script>
