<template>
  <div class="app-container whole-charts">
    <el-form ref="queryForm" :model="queryParams" :inline="true">
      <el-form-item label="采购方" prop="supplierName">
        <el-input
          v-model="queryParams.supplierName"
          placeholder="请输入采购方名称"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          clearable
        />
      </el-form-item>

      <el-form-item label="购货方" prop="orgName">
        <el-input
          v-model="queryParams.orgName"
          placeholder="请输入购货方名称"
          size="small"
          style="width: 200px"
          @keyup.enter.native="handleQuery"
          clearable
        />
      </el-form-item>

      <el-form-item label="时间" prop="queryTime">
        <el-date-picker
          v-model="queryParams.queryTime"
          type="month"
          :clearable="false"
          value-format="yyyy-MM"
          placeholder="请选择时间"
        >
        </el-date-picker>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
      </el-form-item>
    </el-form>
    <el-row class="whole-category">
      <div class="chart-img" id="price01"></div>
    </el-row>
  </div>
</template>
<script>
import echarts from "echarts";

import { selectPriceByItemV2 } from "@/api/sales/priceTrend";
export default {
  name: "analysis-flow-press",
  data() {
    return {
      priceList: [],
      proId: "",
      chartData: [],
      queryParams: {
        queryTime: undefined,
        supplierName: undefined,
        orgName: undefined,
      },
      selectPrice: "",
    };
  },
  mounted() {
    let date = new Date();
    let year = date.getFullYear();
    let m = date.getMonth() + 1;
    let month = m < 10 ? "0" + m : m;
    this.queryParams.queryTime = year + "-" + month;
    this.$forceUpdate();
    this.getPrice();
  },
  methods: {
    changeBlank() {
      this.$forceUpdate();
    },
    //  查询
    handleQuery() {
      this.getPrice();
    },

    getPrice() {
      selectPriceByItemV2(this.queryParams).then((response) => {
        this.initLineChart(response.xdata, response.priceVoList);
      });
    },

    // 初始化折线图
    initLineChart(xdata, priceVoList) {
      let seriesDate = [];
      let productList = [];
      priceVoList.forEach((element, index) => {
        let object = {
          name: element.name,
          type: "line",
          smooth: true,
          data: element.price,
        };
        seriesDate.push(object);
        productList.push(element.name);
      });
      let myChart = echarts.init(document.getElementById("price01"));
      let option = {
        backgroundColor: "#fff",
        title: {
          show: true,
          text: "价格趋势分析图",
          left: "center",
          // top: "0",
          textStyle: {
            fontSize: 14,
          },
        },
        color: [
          "#FF0080",
          "#00FFFF",
          "#F9F900",
          "#CA8EC2",
          "#6FB7B7",
          "#5B8FF9",
          "#FFA18E",
          "#5AD8A6",
          "#00FF00",
        ],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
            lineStyle: {
              type: "dashed",
            },
          },
        },
        grid: {
          left: "25",
          right: "25",
          bottom: "14",
          top: "85",
          containLabel: true,
        },
        legend: {
          data: productList,
          right: "20px",
          top: 40,
          textStyle: {
            color: "#333",
          },
          itemWidth: 10,
          itemHeight: 10,
        },
        xAxis: {
          type: "category",
          data: xdata,
          splitLine: {
            show: false,
          },
          axisTick: {
            show: true,
            alignWithLabel: true,
          },
          axisLine: {
            lineStyle: {
              color: "rgba(0,0,0,0.5)",
            },
          },
        },
        yAxis: {
          name: "单价(元)",
          type: "value",
          axisLabel: {
            color: "#999",
            textStyle: {
              fontSize: 12,
            },
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#F3F4F4",
            },
          },
          axisLine: {
            show: false,
          },
        },
        series: seriesDate,
      };

      myChart.setOption(option);
      this.$nextTick(() => {
        myChart.resize();
      });

      window.addEventListener("resize", function () {
        myChart.resize();
      });
    },
  },
};
</script>



