<template>
  <div class="app-container">
    <el-form
      class="query-form"
      :model="queryParams"
      ref="queryForm"
      :inline="true"
    >
      <el-form-item label="供货方名称" prop="supplierName">
        <el-input
          v-model="queryParams.supplierName"
          placeholder="请输入供货方名称"
          size="small"
          style="width: 150px"
          @keyup.enter.native="handleQuery"
          clearable
          @change="changeBlank"
        />
      </el-form-item>

       <el-form-item label="执行开始时间" prop="executeStartDate">
        <el-date-picker
          style="width: 240px"
          v-model="dateRange"
          value-format="yyyy-MM-dd HH:mm:ss"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          @change="changeBlank"
        />
      </el-form-item>

      <el-form-item label="产品名称" prop="name">
        <el-input
          v-model="queryParams.name"
          placeholder="请输入产品名称"
          size="small"
          style="width: 150px"
          @keyup.enter.native="handleQuery"
          clearable
          @change="changeBlank"
        />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
      <div class="query-bottom-line"></div>
    </el-form>

    <div class="system-table-header">
      <div class="system-table-title">
        <div></div>
        <div>价格台账信息表</div>
      </div>

      <div class="system-table-btn">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['sales:price:add']"
              style="right"
              >新增</el-button
            >
          </el-col>
        </el-row>
      </div>
    </div>

    <el-table border v-loading="loading" :data="priceAccountList">
      <el-table-column
        label="供货方"
        align="center"
        prop="supplierName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="购货方"
        align="center"
        prop="orgName"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="产品类型"
        align="center"
        prop="type"
        :show-overflow-tooltip="true"
        :formatter="typeFormat"
      />
      <el-table-column
        label="产品名称"
        align="center"
        prop="name"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        label="单价(元)"
        align="center"
        prop="priceTem"
        width="150px"
      />

      <el-table-column
        label="执行开始时间"
        align="center"
        prop="executeStartDate"
        width="120px"
      />
      <el-table-column
        label="执行结束时间"
        align="center"
        prop="executeEndDate"
        width="120px"
      />

      <el-table-column
        label="操作"
        align="center"
        width="180px"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['sales:price:edit']"
            >修改</el-button
          >
          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            type="text"
            icon="el-icon-check"
            @click="handleSubmit(scope.row)"
            v-hasPermi="['sales:price:submit']"
            >提交</el-button
          >

          <el-button
            v-show="scope.row.status == 2"
            size="mini"
            icon="el-icon-delete"
            type="text"
            @click="handleDelete(scope.row)"
            v-hasPermi="['sales:price:remove']"
            >删除</el-button
          >

          <el-button
            v-show="scope.row.status != 2"
            size="mini"
            type="text"
            icon="el-icon-view"
            @click="handleInfo(scope.row)"
            v-hasPermi="['sales:price:view']"
            >详情</el-button
          >

          <el-button
            v-show="scope.row.status != 2"
            size="mini"
            type="text"
            icon="el-icon-zoom-in"
            @click="countHandover(scope.row)"
            v-hasPermi="['sales:price:again']"
            >重新计算</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="75%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="供货方" prop="supplierName">
              <el-input
                placeholder="请选择供货方"
                disabled
                v-model="form.supplierName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseSupplier"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="购货方"
              prop="orgName"
              class="required_red_star"
            >
              <el-input
                placeholder="请选择购货方"
                disabled
                v-model="form.orgName"
              >
                <el-button slot="append" class="login-icon" @click="toChooseOrg"
                  >选择</el-button
                >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="productType">
              <el-select
                v-model="form.productType"
                placeholder="请选择产品类型"
                size="small"
                class="width-100"
                filterable
                @change="changProduct"
              >
                <el-option
                  v-for="dict in typeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="产品名称" prop="productId">
              <el-select
                v-model="form.productId"
                placeholder="请选择产品"
                clearable
                class="width-100"
                size="small"
                @change="changPrice"
                @input="changeBlank"
              >
                <el-option
                  v-for="item in productOptions"
                  :key="item.productId"
                  :label="item.name"
                  :value="item.productId"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="单价(元)" prop="price">
              <el-input
                class="width-100"
                v-model="form.price"
                type="number"
                maxlength="20"
                @input="changeBlank"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="开始时间" prop="executeStartDate">
              <el-date-picker
                v-model="form.executeStartDate"
                type="date"
                value-format="yyyy-MM-dd"
                class="width-100"
                placeholder="开始时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="1">
            <el-date-picker
              v-model="form.executeEndDate"
              type="date"
              style="width: 140px"
              placeholder="结束时间"
            >
            </el-date-picker>
          </el-col> -->
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm(2)">保 存</el-button>
        <el-button type="danger" @click="submitForm(1)">提 交</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 选择供货商 -->
    <el-dialog
      :visible.sync="supplierOpen"
      width="70%"
      append-to-body
      title="供货方列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-supplier
        @closeSupplierWindow="closeSupplierWindow"
        @chooseSupplier="chooseSupplier"
        v-if="supplierOpen"
        ref="chooseSupplier"
      ></choose-supplier>
    </el-dialog>

    <!-- 选择采购方 -->
    <el-dialog
      :visible.sync="orgOpen"
      width="70%"
      append-to-body
      title="机构列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-org
        @closeOrgWindow="closeOrgWindow"
        @chooseOrg="chooseOrg"
        v-if="orgOpen"
        ref="chooseOrg"
      ></choose-org>
    </el-dialog>

    <!-- 详情对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="openInfo"
      width="75%"
      append-to-body
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" label-width="121px">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="供货方" prop="supplierName">
              <el-input
                placeholder="请选择供货方"
                disabled
                v-model="form.supplierName"
              >
              </el-input>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="购货方"
              prop="orgName"
              class="required_red_star"
            >
              <el-input
                placeholder="请选择购货方"
                disabled
                v-model="form.orgName"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" prop="productType">
              <el-select
                v-model="form.productType"
                placeholder="请选择产品类型"
                size="small"
                class="width-100"
                filterable
                @change="changProduct"
                disabled
              >
                <el-option
                  v-for="dict in typeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="dict.dictValue"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="产品名称" prop="name">
              <el-input
                v-model="form.name"
                placeholder="请选择产品"
                clearable
                class="width-100"
                size="small"
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="单价(元)" prop="price">
              <el-input
                class="width-100"
                v-model="form.price"
                type="number"
                maxlength="20"
                @input="changeBlank"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="7.2">
            <el-form-item label="开始时间" prop="executeStartDate">
              <el-date-picker
                v-model="form.executeStartDate"
                type="date"
                style="width: 140px"
                placeholder="开始时间"
                disabled
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="1">
            <el-date-picker
              v-model="form.executeEndDate"
              type="date"
              style="width: 140px"
              placeholder="结束时间"
              disabled
            >
            </el-date-picker>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelInfo">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listPrice,
  getPrice,
  delPrice,
  addPrice,
  updatePrice,
  getProductPrice,
  submitPrice,
  countHandover,
} from "@/api/sales/priceAccount";

import chooseSupplier from "../../utils/chooseSupplier";
import chooseOrg from "../../utils/chooseOrg";
import { getProductByType } from "@/api/purchase/contract";
import moment from "moment";

export default {
  name: "PriceAccount",
  components: { chooseSupplier, chooseOrg },
  data() {
    return {
      supplierOpen: false,
      orgOpen: false,
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 总条数
      total: 0,
      dateRange: [],
      // 台账价格表格数据
      priceAccountList: [],
      //产品类型数据字典
      typeOptions: [],
      //产品名称
      productOptions: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示弹出层
      openInfo: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        executeEndDate: undefined,
        name: undefined,
        supplierName: undefined,
      },
      // 表单参数
      form: {
        price: "",
      },
      // 表单校验
      rules: {
        productId: [
          { required: true, message: "产品名称不能为空", trigger: "blur" },
        ],
        supplierName: [
          { required: true, message: "供货方不能为空", trigger: "blur" },
        ],
        orgName: [
          { required: true, message: "购货方不能为空", trigger: "blur" },
        ],
        price: [{ required: true, message: "单价不能为空", trigger: "blur" }],
        executeStartDate: [
          { required: true, message: "开始时间不能为空", trigger: "blur" },
        ],
        executeEndDate: [
          { required: true, message: "结束时间不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.typeOptions = response.data;
    });
  },
  methods: {
    /** 查询过磅单信息表列表 */
    getList() {
      this.loading = true;
      listPrice(this.addDateRange(this.queryParams, this.dateRange)).then((response) => {
        this.priceAccountList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    getWeightTime(time) {
      return moment(new Date(time)).format("yyyy-MM-DD");
    },

    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },

    reset() {
      this.form = {
        type: this.typeOptions[0].dictValue,
      };

      getProductByType(this.typeOptions[0].dictValue).then((response) => {
        this.productOptions = response;
      });

      this.resetForm("form");
    },

    changProduct(val) {
      getProductByType(val).then((response) => {
        this.productOptions = response;
        this.form.productId = "";
      });
    },

    changPrice() {
      getProductPrice(this.form).then((response) => {
        if (response.msg != null && response.msg != undefined) {
          this.form.price = response.msg;
        } else {
          this.form.price = "0.00000000";
        }
        this.$forceUpdate();
      });
    },

    changeBlank() {
      this.$forceUpdate();
    },

    typeFormat(row, column) {
      return this.selectDictLabel(this.typeOptions, row.type);
    },

    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "价格台账新增";
      this.form.price = "0.00000000";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const purchasePriceId = row.purchasePriceId;
      getPrice(purchasePriceId).then((response) => {
        this.form = response.data;
        this.form.price = response.data.price.toFixed(8);
        this.open = true;
        this.title = "修改价格台账";
      });
    },

    /**详情 */
    handleInfo(row) {
      this.reset();
      const purchasePriceId = row.purchasePriceId;
      getPrice(purchasePriceId).then((response) => {
        this.form = response.data;
        this.form.price = response.data.price.toFixed(8);
        this.openInfo = true;
        this.title = "价格台账详情";
      });
    },

    // 取消按钮
    cancelInfo() {
      this.openInfo = false;
      this.reset();
    },

    /** 提交按钮 */
    submitForm: function (val) {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.form.status = val;
          if (this.form.price == 0) {
            this.msgError("请设置合理的单价");
            return false;
          }

          if (this.form.purchasePriceId != undefined) {
            updatePrice(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addPrice(this.form).then((response) => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },

    handleSubmit(row) {
      this.$confirm("是否确认提交该价格台账信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return submitPrice(row);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("提交成功");
        })
        .catch(function () {});
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const purchasePriceIds = row.purchasePriceId || this.ids;
      this.$confirm("是否确认删除该价格台账信息?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return delPrice(purchasePriceIds);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        })
        .catch(function () {});
    },

    countHandover(row) {
      
      this.$confirm("是否确认重新计算该价格台账对应的交接凭证?", "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(function () {
          return countHandover(row);
        })
        .then(() => {
          this.getList();
          this.msgSuccess("计算成功");
        })
        .catch(function () {});
    },

    //选择客户
    toChooseSupplier() {
      this.supplierOpen = true;
    },
    closeSupplierWindow() {
      this.supplierOpen = false;
    },

    chooseSupplier(supplier) {
      this.form.supplierName = supplier.supplierName;
      this.form.supplierId = supplier.supplierId;
    },

    //选择购货方
    toChooseOrg() {
      this.orgOpen = true;
    },
    closeOrgWindow() {
      this.orgOpen = false;
    },

    chooseOrg(org) {
      this.form.orgName = org.orgName;
      this.form.orgId = org.orgId;
    },
  },
};
</script>
