<template>
  <div class="" style="width: 780px;margin-top: 20px;">
    <!-- 添加或修改公告对话框 -->
      <el-form ref="form" :model="form" :rules="rules" label-width="100px" style="width: 600px;">
        <el-row>
          <el-form-item label="公告标题" prop="announcementTitle">
            <el-input v-model="form.announcementTitle" placeholder="请输入公告标题" />
          </el-form-item>
          <el-form-item label="开始时间" prop="releaseTime">
            <el-date-picker clearable size="small" v-model="form.releaseTime" type="date" value-format="yyyy-MM-dd"
              placeholder="选择过期时间">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="expirationTime">
            <el-date-picker clearable size="small" v-model="form.expirationTime" type="date" value-format="yyyy-MM-dd"
              placeholder="选择过期时间">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="消息封面" prop="coverMessage">
            <el-input v-model="form.coverMessage" placeholder="请输入消息封面" />
          </el-form-item>

          <el-form-item label="公告类型" prop="noticeTypeId">
            <el-select v-model="form.noticeTypeId" placeholder="请选择">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue"></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="状态">
            <el-radio-group v-model="form.status">
              <el-radio v-for="dict in statusOptions" :key="dict.dictValue" :label="dict.dictValue">{{dict.dictLabel}}
              </el-radio>
            </el-radio-group>
          </el-form-item>

          <el-col :span="24">
            <el-form-item label="内容">
              <Editor v-model="form.text" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer" style="margin-top: 80px;margin-left: 40%;margin-bottom: 20px;">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
  </div>

</template>

<script>
  import {
    listNotice,
    getNotice,
    delNotice,
    addNotice,
    updateNotice,
    exportNotice
  } from "@/api/jj/notice/notice";
  import Editor from '@/components/Editor';

  export default {
    name: "Notice",
    components: {
      Editor
    },
    data() {
      return {
        // 遮罩层
        loading: true,
        // 选中数组
        ids: [],
        // 非单个禁用
        single: true,
        // 非多个禁用
        multiple: true,
        // 总条数
        total: 0,
        // 公告表格数据
        noticeList: [],
        // 弹出层标题
        title: "",
        // 是否显示弹出层
        open: false,
        // 类型数据字典
        statusOptions: [],
        // 状态数据字典
        typeOptions: [],
        // 查询参数
        queryParams: {
          pageNum: 1,
          pageSize: 10,
          announcementTitle: undefined,
          createBy: undefined,
          status: undefined
        },
        // 表单参数
        form: {},
        // 表单校验
        rules: {
          announcementTitle: [{
            required: true,
            message: "公告标题不能为空",
            trigger: "blur"
          }],
          noticeTypeId: [{
            required: true,
            message: "公告类型不能为空",
            trigger: "blur"
          }],
          coverMessage: [{
            required: true,
            message: "消息封面不能为空",
            trigger: "blur"
          }]
        }
      };
    },
    created() {
      this.getList();
      this.getDicts("notice_status").then(response => {
        this.statusOptions = response.data;
      });
      this.getDicts("notice_type").then(response => {
        this.typeOptions = response.data;
      });
    },
    methods: {
      /** 查询公告列表 */
      getList() {
        this.loading = true;
        listNotice(this.queryParams).then(response => {
          // console.log(response);
          this.noticeList = response.rows;
          this.total = response.total;
          this.loading = false;
        });
      },
      // 公告状态字典翻译
      statusFormat(row, column) {
        return this.selectDictLabel(this.statusOptions, row.status);
      },
      // 公告状态字典翻译
      typeFormat(row, column) {
        return this.selectDictLabel(this.typeOptions, row.noticeTypeId);
      },
      // 取消按钮
      cancel() {
        this.open = false;
        this.reset();
      },
      // 表单重置
      reset() {
        this.form = {
          noticeAnnouncementId: undefined,
          announcementTitle: undefined,
          noticeTypeId: undefined,
          noticeContent: undefined,
          status: "0"
        };
        this.resetForm("form");
      },
      /** 搜索按钮操作 */
      handleQuery() {
        this.queryParams.pageNum = 1;
        this.getList();
      },
      /** 重置按钮操作 */
      resetQuery() {
        this.resetForm("queryForm");
        this.handleQuery();
      },
      // 多选框选中数据
      handleSelectionChange(selection) {
        this.ids = selection.map(item => item.noticeAnnouncementId)
        this.single = selection.length != 1
        this.multiple = !selection.length
      },
      /** 新增按钮操作 */
      handleAdd() {
        this.reset();
        this.open = true;
        this.title = "添加公告";
      },
      /** 修改按钮操作 */
      handleUpdate(row) {
        this.reset();
        const noticeAnnouncementId = row.noticeAnnouncementId || this.ids
        getNotice(noticeAnnouncementId).then(response => {
          this.form = response.data;
          this.open = true;
          this.title = "修改公告";
        });
      },
      /** 提交按钮 */
      submitForm: function() {
        this.$refs["form"].validate(valid => {
          if (valid) {
            if (this.form.noticeAnnouncementId != undefined) {
              updateNotice(this.form).then(response => {
                if (response.code === 200) {
                  this.msgSuccess("修改成功");
                  this.open = false;
                  this.getList();
                }
              });
            } else {
              addNotice(this.form).then(response => {
                if (response.code === 200) {
                  this.msgSuccess("新增成功");
                  this.open = false;
                  this.getList();
                  this.$router.go(-1);
                }
              });
            }
          }
        });
      },
      /** 删除按钮操作 */
      handleDelete(row) {
        const noticeAnnouncementIds = row.noticeAnnouncementId || this.ids
        this.$confirm('是否确认删除公告编号为"' + noticeAnnouncementIds + '"的数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delNotice(noticeAnnouncementIds);
        }).then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        }).catch(function() {});
      }
    }
  };
</script>
