<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      label-width="68px"
      class="el-form-tool"
    >
      <el-form-item label="公告标题" prop="announcementTitle">
        <el-input
          v-model="queryParams.announcementTitle"
          placeholder="请输入公告标题"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="公告分类" prop="noticeTypeId">
        <el-select v-model="queryParams.noticeTypeId" placeholder="公告分类" clearable size="small">
          <el-option
            v-for="dict in typeOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">通知公告列表</h3>
        <el-row :gutter="10" class="mb8">
          <el-col :span="12">
            <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAdd" v-hasPermi="['notice:notice:add']">新增</el-button>
          </el-col>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="noticeList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column label="序号" align="center" prop="noticeAnnouncementId" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column
            label="公告标题"
            align="center"
            prop="announcementTitle"
            :show-overflow-tooltip="true"
          />
          <el-table-column
            label="公告类型"
            align="center"
            :formatter="noticeType"
            width="120"
          />
          <el-table-column label="开始时间" align="center" prop="releaseTime" width="140"/>
          <el-table-column label="截止时间" align="center" prop="expirationTime" width="140">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.expirationTime, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="135">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
                v-hasPermi="['notice:notice:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
                v-hasPermi="['notice:notice:delete']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          background
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>

    <!-- 添加或修改公告对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="780px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>
          <el-form-item label="公告标题" prop="announcementTitle">
            <el-input v-model="form.announcementTitle" placeholder="请输入公告标题" />
          </el-form-item>
          <el-form-item label="开始时间" prop="releaseTime">
            <el-date-picker
              clearable
              size="small"
              v-model="form.releaseTime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="选择开始时间"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="expirationTime">
            <el-date-picker
              clearable
              size="small"
              v-model="form.expirationTime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="选择结束时间"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="消息封面" prop="coverMessage">
            <el-input v-model="form.coverMessage" placeholder="请输入消息封面" />
          </el-form-item>
          <el-form-item label="公告类型" prop="biddingNoticeType">
            <el-select v-model="form.biddingNoticeType"  placeholder="请选择">
              <el-option
                v-for="dict in typeOptions"
                :key="dict.dictValue"
                :label="dict.dictLabel"
                :value="dict.dictValue"
              ></el-option>
            </el-select>
          </el-form-item>

            <el-form-item class="required_red_star" label="客户名称" v-if="form.biddingNoticeType == '3'">
              <el-input
                placeholder="请选择客户"
                disabled
                v-model="form.enterpriseName"
              >
                <el-button
                  slot="append"
                  class="login-icon"
                  @click="toChooseCustom"
                >选择</el-button
                >
              </el-input>
            </el-form-item>

          <el-form-item label="状态">
            <el-radio-group v-model="form.status">
              <el-radio
                v-for="dict in statusOptions"
                :key="dict.dictValue"
                :label="dict.dictValue"
              >{{ dict.dictLabel }}</el-radio>
            </el-radio-group>
          </el-form-item>

                 
          <el-col :span="12">
            <el-form-item label="是否置顶" prop="topFlag">
              <el-radio-group v-model="form.topFlag">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="2">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="置顶有效期" v-if="form.topFlag == 1" prop="topValidity" label-width="100px">
              <el-date-picker
                clearable
                v-model="form.topValidity"
                 format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                type="datetime"
                placeholder="选择日期时间">
              </el-date-picker>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="内容">
              <Editor v-model="form.text" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer" style="padding-top:20px">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <el-dialog
      :visible.sync="chooseCustomeOpen"
      width="70%"
      append-to-body
      title="客户列表"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-customes
        :chooseCustom="chooseCustom"
        @closeWindow="closeWindow"
        @chooseCustomeId="chooseCustomeId"
        @chooseCustomeName="chooseCustomeName"
        v-if="chooseCustomeOpen"
        ref="chooseSupplier"
      ></choose-customes>
    </el-dialog>
  </div>
</template>

<script>
import {
  listNotice,
  getNotice,
  delNotice,
  addNotice,
  updateNotice,
  exportNotice
} from "@/api/jj/notice/notice";
import Editor from '@/components/Editor';
import chooseCustomes from "../../utils/chooseCustomes";

export default {
  name: "Notice",
  components: {
    Editor,
    chooseCustomes
  },

  data() {
    return {
      chooseCustomeOpen: false,
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 公告表格数据
      noticeList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 类型数据字典
      statusOptions: [],
      // 状态数据字典
      typeOptions: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        announcementTitle: undefined,
        createBy: undefined,
        status: undefined
      },
      // 表单参数
      form: {
        enterpriseName: '',
        customeId: [],
      },
      // 表单校验
      rules: {
        announcementTitle: [{
          required: true,
          message: "公告标题不能为空",
          trigger: "blur"
        }],
        biddingNoticeType: [{
          required: true,
          message: "公告类型不能为空",
          trigger: "blur"
        }],
        coverMessage: [{
          required: true,
          message: "消息封面不能为空",
          trigger: "blur"
        }],
        topFlag: [{
          required: true,
          message: "是否置顶不能为空",
          trigger: "blur"
        }],
      },
      chooseCustom: [],
    };
  },
  created() {
    this.getList();
    this.getDicts("notice_status").then(response => {
      this.statusOptions = response.data;
    });
    this.getDicts("notice_type").then(response => {
      var temp = response.data;

      temp.forEach(function(item, index) {
        if (item.dictLabel == '中标公告') {
          temp.splice(index,1)
        }
      })
      this.typeOptions = temp;
    });
  },
  methods: {
    chooseCustomeName(enterpriseName) {
      this.form.enterpriseName = '';
      let temp = enterpriseName;
      temp.forEach(e => {
        this.form.enterpriseName += e.enterpriseName + '，';
      })
      // this.form.enterpriseName = enterpriseName;
    },
    chooseCustomeId(customeId) {
      this.form.customeId = [];
      let temp = customeId;
      temp.forEach(e => {
        this.form.customeId.push(e.customeId)
      })
      // this.form.customeId = customeId;
      this.getProduct(customeId);
    },
    closeWindow() {
      this.chooseCustomeOpen = false;
    },
    toChooseCustom() {
      this.chooseCustomeOpen = true;
    },
    /** 查询公告列表 */
    getList() {
      this.loading = true;
      listNotice(this.queryParams).then(response => {
        console.log(response);
        this.noticeList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 公告状态字典翻译
    statusFormat(row, column) {
      return this.selectDictLabel(this.statusOptions, row.status);
    },
    // 公告状态字典翻译
    typeFormat(row, column) {
      return this.selectDictLabel(this.typeOptions, row.noticeTypeId);
    },
    // 公告类型
    noticeType(e){
      for (var i = 0; i < this.typeOptions.length; i++) {
        if (this.typeOptions[i].dictValue == e.biddingNoticeType) { //dictValue，dictLabel保持和上面定义一致
          return this.typeOptions[i].dictLabel;
        }
      }
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        noticeAnnouncementId: undefined,
        announcementTitle: undefined,
        noticeTypeId: undefined,
        noticeContent: undefined,
        status: "0",
        enterpriseName: '',
        customeId: []
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.noticeAnnouncementId)
      this.single = selection.length != 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加公告";
      // this.$router.push({
      //   path: '/add'
      // })
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const noticeAnnouncementId = row.noticeAnnouncementId || this.ids
      getNotice(noticeAnnouncementId).then(response => {
        this.form = response.data;
        this.form.enterpriseName = '';
        this.chooseCustom = response.data.customeId;
        response.data.customeName.forEach(e => {
          this.form.enterpriseName += e + '，';
        })
        this.open = true;
        this.title = "修改公告";
      });
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.noticeAnnouncementId != undefined) {
            updateNotice(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addNotice(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const noticeAnnouncementIds = row.noticeAnnouncementId || this.ids
      this.$confirm('是否确认删除公告编号为"' + noticeAnnouncementIds + '"的数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        return delNotice(noticeAnnouncementIds);
      }).then(() => {
        this.getList();
        this.msgSuccess("删除成功");
      }).catch(function () { });
    }
  }
};
</script>
