<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
      class="el-form-tool"
    >
      <el-form-item label="产品名称">
        <el-select v-model="queryParams.productId" placeholder="产品名称" clearable size="small">
          <el-option
            v-for="dict in productOption"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">政策定价上报申请</h3>
        <el-row :gutter="10">
          <el-col :span="12">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="stratApply"
              v-hasPermi="['jj:priceApply:add']"
            >发起</el-button>
          </el-col>
          <!-- <el-col :span="12">
            <el-button
              plain
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['policy:policy:add']"
            >新增</el-button>
          </el-col>-->
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="priceApplyList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="expand" width="40px" fixed>
            <template slot-scope="props">
              <el-table :data="props.row.children"
                border
                stripe
                style="width: 85%;" >
                <el-table-column label="序号" type="index" align="center" width=""/>
                <el-table-column label="站点" prop="sysSite.siteName" align="center" />
                <el-table-column label="预售量(方)" prop="sitePresaleVolume" align="center" />
                <el-table-column label="一级审批价格(元)" prop="suggestPrice" align="center" />
                <el-table-column label="审批价格(元)" align="center" prop="basicPrice">
                  <span>{{props.row.children[0].basicPrice == null ? '/' : props.row.children[0].basicPrice}}</span>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column
          width="200"
            label="申请单编号"
            align="center"
            :show-overflow-tooltip="true"
            prop="applicationFormCode"
             fixed
          >
            <template slot-scope="scope">
              {{ scope.row.applicationFormCode }}
            </template>
          </el-table-column>
          <el-table-column label="子分公司名称" align="center" prop="childrenOrg.orgFullName" width="120" />
          <el-table-column label="产品类型" align="center" :formatter="getproType" width="140" />
          <el-table-column label="产品名称" align="center" prop="childrenPro.name" width="140" />
          <el-table-column label="建议总金额(万元)" align="center" width="150">
            <template
              slot-scope="scope"
            >{{ scope.row.suggestPrice ? scope.row.suggestPrice *10/ 100000 : '/' }}</template>
          </el-table-column>
          <el-table-column label="预售量(方)" align="center" prop="salesQuantity" width="120" />
          <el-table-column label="调价次数" align="center" prop="priceAdjustmentCount" width="" />
          <el-table-column label="申请类型" align="center" :formatter="getChangeType" width="140" />
           <el-table-column label="审批后总金额(万元)" align="center" width="150px">
            <template
              slot-scope="scope"
            >{{ scope.row.approvePrice ? scope.row.approvePrice *10/ 100000 : '/' }}</template>
          </el-table-column>
          <el-table-column label="状态" align="center" :formatter="getType" width="120px" />
         

          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
            width="120"
             fixed="right"
          >
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-view"
                @click="handleDelete(scope.row)"
                v-hasPermi="['jj:priceApply:query']"
              >详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <pagination
          background
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>

    <!-- 添加或修改价格申请对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="800px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="站点信息" class="required_red_star" prop="supplierName">
              <el-input placeholder="请选择站点信息" disabled v-model="form.supplierName">
                <el-button slot="append" class="login-icon" @click="toChooseSupplier">选择</el-button>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div class="el-table-container">
        <div class="el-table-header">
          <h3 class="title">客户列表</h3>
        </div>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          :data="tableData"
          tooltip-effect="dark"
          style="width: 100%;"
          @selection-change="handleSelection"
        >
          <el-table-column type="selection" width="40"></el-table-column>
          <el-table-column label="公司名称" align="center" :show-overflow-tooltip="true">
            <template slot-scope="scope">{{ scope.row.enterpriseName }}</template>
          </el-table-column>
          <el-table-column prop="legalRealName" label="客户名称" align="center"></el-table-column>
          <el-table-column label="数量(方)" align="center">
            <template slot-scope="scope">
              <el-input-number
                v-model="scope.row.cusAmount"
                :controls="false"
                style="width: 100px;"
              />
            </template>
          </el-table-column>
          <el-table-column label="金额(万元)" align="center">
            <template slot-scope="scope">
              <el-input-number
                v-model="scope.row.cusPrice"
                :controls="false"
                style="width: 100px;"
              />
            </template>
          </el-table-column>
          <el-table-column label="时间" align="center" width="160">
            <template slot-scope="scope">
              <el-date-picker
                v-model="scope.row.cusDate"
                type="date"
                placeholder="*年*月*日"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :picker-options="pickerOptions1"
                style="width: 130px;"
              ></el-date-picker>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 客户信息 -->
    <el-dialog
      title="客户列表"
      width="70%"
      :visible.sync="supplierOpen"
      append-to-body
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <choose-supplier
        @closeSupplierWindow="closeSupplierWindow"
        @chooseSupplier="chooseSupplier"
        v-if="supplierOpen"
        ref="chooseSupplier"
      ></choose-supplier>
    </el-dialog>
    <!-- 政策定价发起 -->
    <Zc ref="policy" />
    <Tpublish ref="tpublish" />
  </div>
</template>

<script>
import {
  listPriceApply_3,
  getPriceApply,
  delPriceApply,
  addPriceApply,
  updatePriceApply,
  getOtherInfo,
  findnotice
} from "@/api/jj/priceApply";
import Zc from '../zc/index.vue'
import Tpublish from '../zcinfor/index.vue'
import {
  listPolicy,
  getPolicy,
  delPolicy,
  addPolicy,
  updatePolicy,
  addTJ,
  getCus
} from "@/api/jj/policy/policy";
import chooseSupplier from "../../utils/choosecom";
export default {
  name: "PriceApply",
  components: {
    chooseSupplier,
    Zc,
    Tpublish
  },
  data() {
    return {
      // 时间校验
      pickerOptions1: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      id: '',
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 价格申请表格数据
      priceApplyList: [],
      // 站点表格数据
      SizeList: [],
      // 产品名称数据字典
      productOptions: [],
      productOption: [],
      // 竞价申请类型
      apply_type: [],
      // 申请状态
      get_type: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productId: null,
        applicationFormCode: null,
        transactionType: null,
        orgId: null,
        salesQuantity: null,
        applyType: null,
        priceAdjustmentCount: null,
        suggestPrice: null,
        approvePrice: null,
        startDate: null,
        endDate: null,
        remarks: null,
        relateBiddingApplyId: null,
        status: null,
        createUserId: null,
      },

      // 表单参数
      form: {},
      // 表单校验
      rules: {
        productId: [{
          required: true,
          message: "产品ID不能为空",
          trigger: "blur"
        }],
        applicationFormCode: [{
          required: true,
          message: "申请单编号不能为空",
          trigger: "blur"
        }],
      },
      onshow: true,
      // 站点信息
      supplierOpen: false,
      siteData: {},
      // 客户信息
      tableData: []
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });
    this.getDicts("sys_product_jjList").then((response) => {
      this.productOption = response.data;
    });
    this.getDicts("jg_price_apply_type").then((response) => {
      this.apply_type = response.data;
    });
    // 申请状态
    this.getDicts("jg_price_status").then((response) => {
      this.get_type = response.data;
    });
    getCus().then(res => {
      // console.log(res)
      this.tableData = res.data;
    });
  },
  methods: {
    // 客户信息
    handleSelection(val) {
      // console.log(val);
      this.siteData.jipolicyCus = val;
    },
    // 站点信息
    toChooseSupplier() {
      this.supplierOpen = true;
    },
    closeSupplierWindow() {
      this.supplierOpen = false;
    },

    chooseSupplier(supplier) {
      this.form.supplierName = supplier.sysSite.siteName;
      this.siteData = supplier;
    },
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加政策定价";
    },
    getproType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e.childrenPro.type) { //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    // 使用插槽 申请类型
    getChangeType(e) {
      for (var i = 0; i < this.apply_type.length; i++) {
        if (this.apply_type[i].dictValue == e.biddingApplyType) { //dictValue，dictLabel保持和上面定义一致
          return this.apply_type[i].dictLabel;
        }
      }
    },
    // 申请状态
    getType(e) {
      for (var i = 0; i < this.get_type.length; i++) {
        if (this.get_type[i].dictValue == e.status) { //dictValue，dictLabel保持和上面定义一致
          return this.get_type[i].dictLabel;
        }
      }
    },
    sq(e) {
      console.log(e);
    },

    // 跳转详情
    dd(d_row) {
      this.$router.push({
        path: "/publish"
      });
      // console.log(111)
    },
    /** 查询价格申请列表 */
    getList() {
      this.loading = true;
      listPriceApply_3(this.queryParams).then(response => {
        this.priceApplyList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        priceApplyId: null,
        productId: null,
        applicationFormCode: null,
        transactionType: null,
        orgId: null,
        salesQuantity: null,
        applyType: null,
        priceAdjustmentCount: null,
        suggestPrice: null,
        approvePrice: null,
        startDate: null,
        endDate: null,
        remarks: null,
        relateBiddingApplyId: null,
        status: 0,
        createTime: null,
        createUserId: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.priceApplyId)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    stratApply() {
      this.reset();
      // this.$router.push({
      //   path: "/zc"
      // });
      this.$refs.policy.openModel()
    },
    handleUpdate(row) {
      // this.$router.push({
      //   path: "/t_publish"
      // });
      // this.$refs.tpublish.show(row);
      console.log(111)
    },
    /** 提交按钮 */
    submitForm() {
      // 新增政策
      addTJ(this.siteData).then(response => {
        console.log(response);
        if (response.code == 200) {
          this.msgSuccess("新增成功");
          this.open = false;
        }
      })
    },
    /** 详情按钮操作 */
    handleDelete(row) {
      // this.$router.push({
      //   path: '/publish',
      //   query: {
      //     data: row
      //   }
      // })
      this.$refs.tpublish.show(row);
    },
    field108Action() {

    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('jj/priceApply/export', {
        ...this.queryParams
      }, `priceApply_${new Date().getTime()}.xlsx`)
    }
  },

  //单元格点击后，显示input，并让input 获取焦点
  handleCellClick: function (row, column, cell, event) {
    emptransfer.addClass(cell, 'current-cell');
    if (emptransfer.getChildElement(cell, 3) !== 0) {
      var _inputParentNode = emptransfer.getChildElement(cell, 3);
      if (_inputParentNode.hasChildNodes() && _inputParentNode.childNodes.length > 2) {
        var _inputNode = _inputParentNode.childNodes[2];
        if (_inputNode.tagName === 'INPUT') {
          _inputNode.focus();
        }
      }
    }
  },
  //input框失去焦点事件
  handleInputBlur: function (event) { //当 input 失去焦点 时,input 切换为 span，并且让下方 表格消失（注意，与点击表格事件的执行顺序）
    var _event = event;
    setTimeout(function () {
      var _inputNode = _event.target;
      if (emptransfer.getParentElement(_inputNode, 4) !== 0) {
        var _cellNode = emptransfer.getParentElement(_inputNode, 4);
        emptransfer.removeClass(_cellNode, 'current-cell');
        emptransfer.removeClass(_cellNode, 'current-cell2');
      }
    }, 200);
  }
};
</script>
