<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="70"
      class="el-form-tool"
    >
      <el-form-item label="产品类别" prop="productyep">
        <el-select
          v-model="queryParams.productyep"
          placeholder="产品类别"
          clearable
          size="small"
          @change="add"
        >
          <el-option
            v-for="dict in productOptions"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productId">
        <el-select
          v-model="queryParams.productId"
          placeholder="产品名称"
          clearable
          size="small"
        >
          <el-option
            v-for="dict in productOptionys"
            :key="dict.productId"
            :label="dict.name"
            :value="dict.productId"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-form-item label="申请单编号" prop="applicationFormCode">
        <el-input
          v-model="queryParams.applicationFormCode"
          placeholder="请输入申请单编号"
          clearable
          size="small"
        />
      </el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">竞价上报申请</h3>
        <el-row :gutter="10">
          <el-col :span="2">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="stratApply"
              v-hasPermi="['jj:priceApply:add']"
              >发起</el-button
            >
          </el-col>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table
          border
          stripe
          v-loading="loading"
          :data="priceApplyList"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="expand" width="40px" fixed>
            <template slot-scope="props">
              <el-table
                border
                stripe
                :data="props.row.children"
                style="width: 80%"
              >
                <el-table-column label="序号" type="index" align="center" />
                <el-table-column
                  label="站点"
                  prop="sysSite.siteName"
                  align="center"
                  width="335px"
                />
                <el-table-column
                  label="配置量(吨)"
                  prop="disposeAmount"
                  align="center"
                />
                <el-table-column
                  label="招标量(吨)"
                  prop="sitePresaleVolume"
                  align="center"
                />
                <el-table-column
                  label="一级审批价格(元)"
                  prop="suggestPrice"
                  align="center"
                />
                <el-table-column label="二级审批价格(元)" align="center">
                  <!-- <span>{{ props.row.basicPrice ? props.row.basicPrice : '/' }}</span> -->
                  <template slot-scope="scope">{{
                    scope.row.basicPrice ? scope.row.basicPrice : "/"
                  }}</template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column
            label="申请单编号"
            align="center"
            prop="applicationFormCode"
            width="240px"
            show-overflow-tooltip
            sortable
            fixed
          >
            <template slot-scope="scope">
              <div @click="dd(scope.row)">
                {{ scope.row.applicationFormCode }}
              </div>
            </template>
          </el-table-column>
          <el-table-column
            label="子分公司名称"
            align="center"
            prop="childrenOrg.orgFullName"
            width="120px"
            fixed
          />
          <el-table-column
            label="产品类型"
            align="center"
            :formatter="getproType"
            width="120px"
          />
          <el-table-column
            label="产品名称"
            align="center"
            prop="childrenPro.name"
            width="120px"
          />
          <el-table-column label="建议总金额(万元)" align="center" width="140">
            <template slot-scope="scope">{{
              scope.row.suggestPrice*10 / 100000
            }}</template>
          </el-table-column>
          <el-table-column
            label="预售量(吨)"
            align="center"
            prop="salesQuantity"
            width="120px"
          />
          <el-table-column
            label="调价次数"
            align="center"
            prop="priceAdjustmentCount"
          />
          <el-table-column
            label="申请类型"
            align="center"
            :formatter="getChangeType"
            width="120px"
          />
          <el-table-column
            label="状态"
            align="center"
            :formatter="getType"
            width="120px"
          />
          <el-table-column
            label="审批后总金额(万元)"
            align="center"
            width="160px"
          >
            <template slot-scope="scope">{{
                scope.row.approvePrice ? scope.row.approvePrice * 10 / 100000 : "/"
            }}</template>
          </el-table-column>

          <el-table-column
            label="操作"
            align="center"
            class-name="small-padding fixed-width"
            width="135"
             fixed="right"
          >
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
                v-if="scope.row.status == 2 && allowance(scope.row)"
                v-hasPermi="['jj:priceApply:release']"
                >发布</el-button
              >
              <el-button
                size="mini"
                type="text"
                icon="el-icon-view"
                @click="handleDelete(scope.row)"
                v-hasPermi="['jj:priceApply:query']"
                >详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>

        <pagination
          background
          v-show="total > 0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>
    <Publish ref="publish" />
    <Tpublish ref="tpublish" />
    <Componentdetals ref="componentdetals" />
  </div>
</template>

<script>
import {
  listPriceApply,
  getPriceApply,
  delPriceApply,
  addPriceApply,
  updatePriceApply,
  getOtherInfo,
  findnotice,
  getProductInfo,
} from "@/api/jj/priceApply";
import Publish from "../publish/index.vue";
import Tpublish from "../t_publish/index.vue";
import Componentdetals from "../Componentdetails/index";
export default {
  name: "PriceApply",
  components: {
    Publish,
    Tpublish,
    Componentdetals,
  },
  data() {
    return {
      id: "",
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 价格申请表格数据
      priceApplyList: [],
      // 站点表格数据
      SizeList: [],
      // 产品名称数据字典
      productOptions: [],
      productOption: [],
      productOptionys:[],
      productOptiony:[],
      // 竞价申请类型
      apply_type: [],
      // 申请状态
      get_type: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productyep: null,
        productId: null,
        productType: null,
        applicationFormCode: null,
        transactionType: null,
        orgId: null,
        salesQuantity: null,
        biddingApplyType: null,
        priceAdjustmentCount: null,
        suggestPrice: null,
        approvePrice: null,
        startDate: null,
        endDate: null,
        remarks: null,
        relateBiddingApplyId: null,
        status: null,
        createUserId: null,
        applyCode:null,
      },

      // 表单参数
      form: {},
      // 表单校验
      rules: {
        productId: [
          {
            required: true,
            message: "产品ID不能为空",
            trigger: "blur",
          },
        ],
        applicationFormCode: [
          {
            required: true,
            message: "申请单编号不能为空",
            trigger: "blur",
          },
        ],
      },
      onshow: true,
    };
  },
  created() {
    this.getList();
    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });
    getProductInfo().then(response => {
      this.productOption = response.data.product;
       this.productOptionys=this.productOption
    })
    // this.getDicts("sys_product_jjList").then((response) => {
    //   this.productOptiony = response.data;
    //   this.productOption=this.productOptiony
    // });
    this.getDicts("jg_price_apply_type").then((response) => {
      this.apply_type = response.data;
    });
    // 申请状态
    this.getDicts("jg_price_status").then((response) => {
      this.get_type = response.data;
    });
  },
  methods: {
    //标段余量为“零”，“发布”按钮隐藏
    allowance(row){
      for(let temp of row.children){
          if(temp.allowance!=0){
              return true
          }
      }
      return false
    },
    add() {
      // console.log(this.queryParams.productyep);
      this.productOptionys=[]
      if (this.queryParams.productyep != "") {
         for(let temp of this.productOption){
                if(temp.type==this.queryParams.productyep){
                  this.productOptionys.push(temp)
                }
          }
      } else {
        this.productOptionys=this.productOption
        this.queryParams.productId = null;
      }
    },
    getproType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e.childrenPro.type) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    // 使用插槽 申请类型
    getChangeType(e) {
      for (var i = 0; i < this.apply_type.length; i++) {
        if (this.apply_type[i].dictValue == e.biddingApplyType) {
          //dictValue，dictLabel保持和上面定义一致
          return this.apply_type[i].dictLabel;
        }
      }
    },
    // 申请状态
    getType(e) {
      for (var i = 0; i < this.get_type.length; i++) {
        if (this.get_type[i].dictValue == e.status) {
          //dictValue，dictLabel保持和上面定义一致
          return this.get_type[i].dictLabel;
        }
      }
    },
    sq(e) {
    },

    // 跳转详情
    dd(d_row) {
      // if (d_row.status == "2") {
      //   this.$store.state.dataobj = d_row;
      //   //   this.$router.push({
      //   //   path: "/sales/price/callbind/callbid",
      //   // });
      //   this.$router.push({ path: "/sales/price/callbind/callbid", query: {applyCode: "1"} });
  
      // }
    },
    /** 查询价格申请列表 */
    getList(add) {
      this.loading = true;
      if (add == "add") {
        this.queryParams = {
          pageNum: 1,
          pageSize: 10,
          productyep: null,
          productId: null,
          productType: null,
          applicationFormCode: null,
          transactionType: null,
          orgId: null,
          salesQuantity: null,
          biddingApplyType: null,
          priceAdjustmentCount: null,
          suggestPrice: null,
          approvePrice: null,
          startDate: null,
          endDate: null,
          remarks: null,
          relateBiddingApplyId: null,
          status: null,
          createUserId: null,
        };
      }
      listPriceApply(this.queryParams).then((response) => {
        this.priceApplyList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        priceApplyId: null,
        productId: null,
        productType: null,
        applicationFormCode: null,
        transactionType: null,
        orgId: null,
        salesQuantity: null,
        biddingApplyType: null,
        priceAdjustmentCount: null,
        suggestPrice: null,
        approvePrice: null,
        startDate: null,
        endDate: null,
        remarks: null,
        relateBiddingApplyId: null,
        status: 0,
        createTime: null,
        createUserId: null,
        updateTime: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      let add = "add";
      this.getList(add);
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.priceApplyId);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    stratApply() {
      this.reset();
      this.$refs.publish.show();
    },
    handleUpdate(row) {
      let params = {orgId:row.childrenOrg.pId,productId:row.productId}
      // console.log("------------------------",params);
      this.$refs.tpublish.emitEvent(params);
      this.$refs.tpublish.openModel(row);
    },
    /** 提交按钮 */
    submitForm() {
      if (this.form.sjqj != undefined && this.form.sjqj.length > 0) {
        this.form.preSaleStartTime = this.form.sjqj[0];
        this.form.preSaleEndTime = this.form.sjqj[1];
      }
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.priceApplyId != null) {
            updatePriceApply(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPriceApply(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      this.$refs.componentdetals.show(row);
    },
    field108Action() {},
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "jj/priceApply/export",
        {
          ...this.queryParams,
        },
        `priceApply_${new Date().getTime()}.xlsx`
      );
    },
  },

  //单元格点击后，显示input，并让input 获取焦点
  handleCellClick: function (row, column, cell, event) {
    emptransfer.addClass(cell, "current-cell");
    if (emptransfer.getChildElement(cell, 3) !== 0) {
      var _inputParentNode = emptransfer.getChildElement(cell, 3);
      if (
        _inputParentNode.hasChildNodes() &&
        _inputParentNode.childNodes.length > 2
      ) {
        var _inputNode = _inputParentNode.childNodes[2];
        if (_inputNode.tagName === "INPUT") {
          _inputNode.focus();
        }
      }
    }
  },
  //input框失去焦点事件
  handleInputBlur: function (event) {
    //当 input 失去焦点 时,input 切换为 span，并且让下方 表格消失（注意，与点击表格事件的执行顺序）
    var _event = event;
    setTimeout(function () {
      var _inputNode = _event.target;
      if (emptransfer.getParentElement(_inputNode, 4) !== 0) {
        var _cellNode = emptransfer.getParentElement(_inputNode, 4);
        emptransfer.removeClass(_cellNode, "current-cell");
        emptransfer.removeClass(_cellNode, "current-cell2");
      }
    }, 200);
  },
};
</script>

<style type="text/css">
.demo-table-expand .el-form-item {
  margin-right: 50px;
}
</style>
