<template>
  <div class="" style="margin-top: 20px; margin-left: 4%" v-show="falg2">
    <p style="font-size: 18px; font-weight: bold">
      标题：<span v-html="flowTodo.title"></span>
    </p>
    <el-form>
      
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item" >
          <span class="label">机构名称：</span>
          <el-input :placeholder="this.org == null ? '' : org.orgFullName" disabled style="width:72%"></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品类型：</span>
          <el-input :placeholder="this.pro == null ? '' : getproType(pro.type)" disabled style="width:72%"></el-input>
        </el-col>
      </el-row>
    </div>
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item" >
          <span class="label">预售期：</span>
          <el-input :placeholder="data.preSaleStartTime + '--' + data.preSaleEndTime" disabled style="width:72%"></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品名称：</span>
          <el-input :placeholder="this.pro == null ? '' : pro.name" disabled style="width:72%"></el-input>
        </el-col>
      </el-row>
    </div>
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item" >
          <span class="label">标段名称：</span>
          <el-input :placeholder="bdType()" disabled style="width:72%"></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">审批类别：</span>
          <el-input :placeholder="getType(data.transactionType)" disabled style="width:72%"></el-input>
        </el-col>
      </el-row>
    </div>
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="24" class="add-form-item" >
          <span class="label">说明：</span>
          <el-input :placeholder="data.remarks" disabled style="width:86%" type="textarea" :rows="4"></el-input>
        </el-col>
        <!-- <el-col :span="12" class="add-form-item" style="color: red">
          <span class="label">倒计时：</span>
          {{formatSeconds(this.time)}}
        </el-col> -->
      </el-row>
    </div>
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="24" class="add-form-item" >
        <span class="label">文件预览:</span>
        <div v-if="falg1">
          <span  class="tow_text" v-for="(item,index) of this.data.params.files" :key="index+'op'" @click="Text(item)" >
          {{item.proofName}}
        </span>
      </div>
        </el-col>
      </el-row>
    </div>
    </el-form>
    <div class="tow" v-if="falg">
        <div class="dem_imag" v-for="(item,index) in this.srcList" :key="index+'ad'">
        <el-image
          style="width: 100px; height: 100px;border-radius: 10%;"
          :src="item.urL[0]" 
          :preview-src-list="item.urL"
        >
        </el-image>
      </div>
    </div>
    <div class="c"></div>
    <div
      class=""
      v-if="dataType == '基础价格申请' || dataType == '调价申请'"
      style="width: 95%; margin-top: 20px"
    >
      <el-table :data="datas">
        <el-table-column
          label="序号"
          type="index"
          align="center"
        ></el-table-column>
        <el-table-column label="站点" prop="sysSite.siteName"></el-table-column>
        <el-table-column
          label="招标量(吨)"
          prop="sitePresaleVolume"
          align="center"
        ></el-table-column>
        <el-table-column
          label="一级审批价格(元/吨)"
          prop="suggestPrice"
          align="center"
        ></el-table-column>
        <el-table-column label="二级审批价格(元/吨)" align="center">
          <template slot-scope="scope">
            <p
              style="font-size: 18px; font-weight: bold"
              v-model="scope.row.basicPrice"
            >
              {{ scope.row.basicPrice }}
            </p>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              @click="xg_pri(scope.row)"
              size="mini"
              >修改价格</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 政策定价 -->
    <div
      class=""
      v-if="dataType == '政策定价价格申请'"
      style="width: 75%; margin-top: 20px"
    >
      <el-table :data="datas">
        <el-table-column
          label="序号"
          type="index"
          align="center"
        ></el-table-column>
        <el-table-column label="站点" prop="sysSite.siteName"></el-table-column>
        <el-table-column
          label="预售量(方)"
          prop="sitePresaleVolume"
          align="center"
        ></el-table-column>
        <el-table-column
          label="一级审批价格(元/吨)"
          prop="suggestPrice"
          align="center"
        ></el-table-column>
      </el-table>
    </div>
    <!-- 价格确认 -->
    <div class="" v-if="dataType == '竞价价格确认'">
      <el-table :data="callbid_type">
        <el-table-column
          label="序号"
          type="index"
          align="center"
        ></el-table-column>
        <!-- <el-table-column label="站点" prop="" align="center">{{childrenSite.siteName}}</el-table-column> -->
        <el-table-column
          label="公司"
          prop="company"
          align="center"
        ></el-table-column>
        <el-table-column
          label="数量"
          prop="amount"
          align="center"
        ></el-table-column>
        <!-- <el-table-column label="购买产品" prop="" align="center">{{childrenPro.name}}</el-table-column> -->
        <el-table-column
          label="购买价格(元/吨)"
          align="center"
          prop="priceIncrease"
        ></el-table-column>
      </el-table>
    </div>
    <!-- 挂牌价格确认 -->
    <div class="" v-if="dataType == '挂牌价格确认'">
      <el-table :data="Listed">
        <el-table-column
          label="序号"
          type="index"
          align="center"
        ></el-table-column>
        <el-table-column label="站点" prop="" align="center">{{
          LS.siteName
        }}</el-table-column>
        <el-table-column
          label="公司"
          prop="customer.enterpriseName"
          align="center"
        ></el-table-column>
        <el-table-column
          label="数量"
          prop="amount"
          align="center"
        ></el-table-column>
        <el-table-column label="购买产品" prop="" align="center">{{
          LP.name
        }}</el-table-column>
        <el-table-column
          label="购买价格(元/吨)"
          align="center"
          prop="price"
        ></el-table-column>
      </el-table>
    </div>

    <!-- 修改价格弹框 -->
    <div class="z_but">
      <el-dialog
        :visible.sync="centerDialogVisible"
        width="30%"
        title="修改价格"
        :destroy-on-close="true"
        class="item-dialog-model roles-dialog"
      >
        <span>{{ this.xgSiste }}的修改价格：</span>
        <el-input style="height: 30px; width: 80px" v-model="pri" />
        <span slot="footer" class="dialog-footer">
          <el-button @click="pri_qx">取 消</el-button>
          <el-button type="primary" @click="pri_qd">确 定</el-button>
        </span>
      </el-dialog>
    </div>

    <div
      class=""
      v-if="dataType == '基础价格申请' || dataType == '调价申请'"
      style="width: 90%; margin-top: 20px"
      ref="sx"
    >
      <el-row :gutter="24">
        <el-col :span="14"
          ><p style="font-weight: bold; font-size: 18px">调价记录：</p>
          <el-table :data="mesList" border :row-class-name="tableRowClassName">
            <el-table-column label="序号" type="index" align="center" />
            <el-table-column label="调价记录" align="center">
              <template slot-scope="scope">
                {{ scope.row.str }}
              </template>
            </el-table-column>
          </el-table></el-col
        >
        <el-col :span="10" >
          <div class="dialogue">
            <div v-for="(item,index) of ChatLists" :key="index+'z'">
                  {{item.spr}}:{{item.str}}
            </div>
          </div>
          <div style="display: flex; width: 100%; margin-top: 5px">
            <el-input
              type="textarea"
              :rows="1"
              placeholder="请输入内容"
              v-model="inputpt"
              clearable
            >
            </el-input>
            &nbsp;
            <el-button type="success" size="mini" @click="sending"
              >发送</el-button
            >
          </div>
        </el-col>
      </el-row>
    </div>

    <div class="" style="margin-left: 35%; margin-top: 50px">
      <el-button style="background-color: #1890ff; color: #fff" @click="submit"
        >确认</el-button
      >
      <!-- <el-button @click="back">返回</el-button> -->
    </div>
  </div>
</template>

<script>
import {
  list,
  submitApply,
  submitWork,
  ToDoOne,
  submitWorkJJ,
  submitWorkGP,
  jjBack,
  ChatList,
  ToDoRefresh,
  getPic
} from "@/api/jj/ProcessEngine/ProcessEngine";
import { Bus } from "@/main";
import { getToken } from "@/utils/auth";
export default {
  data() {
    return {
      falg:false,
      falg1:false,
      falg2:false,
      srcList: [],
      inputpt: "",
      trackId: "",
      workId: "",
      org: "",
      pro: "",
      pri: "",
      yj: "",
      flowTodo: "",
      jg_type: [],
      datas: [],
      data: [],
      productOptions: [],
      dataType: "",
      show: true,
      callbid_type: [],
      childrenSite: {},
      childrenPro: {},
      Listed: [],
      LS: {},
      LP: {},
      cm: {},
      centerDialogVisible: false,
      pri: "",
      xgData: {},
      mesList: [],
      time: 0,
      m: 0,
      s: 0,
      intervalId: null,
      xgSiste: "",
      callbidCode: {},
      listedCode: {},
      path: "",
      dialogImageUrl: "",
      dialogVisible: false,
      hideUpload: false,
      baseUrl: process.env.VUE_APP_BASE_API,
      uploadImgUrl: process.env.VUE_APP_BASE_API + "/common/upload", // 上传的图片服务器地址
      headers: {
        Authorization: "Bearer " + getToken(),
      },
      fileList: [],
      ChatLists:[]
    };
  },

  created() {
    this.getDicts("sys_product_type").then((response) => {
      this.productOptions = response.data;
    });
    // 价格审批
    this.getDicts("jg_price_transaction_type").then((response) => {
      this.jg_type = response.data;
    });
    this.sj();
    
  },

  // 销毁计时器
  beforeDestroy() {
    if (this.intervalId != null) {
      //如果定时器还在运行 或者直接关闭，不用判断
      clearInterval(this.intervalId); //关闭
      this.intervalId = null;
    }
  },

  methods: {
    //修改价格变色
    tableRowClassName({row, rowIndex}) {
        if (row.type== 1) {
          return 'warning-row';
        }
        return '';
      },
    //点击附件预览
    Text(item){
       for(let temp of this.srcList){
          if(temp.id==item.binaryId){
            return
          }
       }
        this.falg = false;
        getPic(item.binaryId).then((res) => {
          this.falg=false;
             const imageUrl = "data:image/jpeg;base64," + res.data.content;
          this.srcList.push({
              id:res.data.binaryId,
              urL:[imageUrl],
          });
          this.falg=true
        })
    },
    //发送消息
    sending() {
      if (this.inputpt != "") {
        let add = {
          str: this.inputpt,
          trackId: this.$route.query.id.trackId,
          workId: this.$route.query.id.workId,
        };
        this.inputpt=''
        ChatList(add).then((res) => {
           
        });
      }
    },
    // 标段名称
    bdType() {
      if (this.dataType == "基础价格申请" || this.dataType == "调价申请") {
        return this.data.applicationFormCode;
      }
      if (this.dataType == "竞价价格确认") {
        return this.callbidCode.callbidCode;
      }
      if (this.dataType == "挂牌价格确认") {
        return this.listedCode.listedCode;
      }
    },
    // 时间换算
    formatSeconds(value) {
      let result = parseInt(value);
      let h =
        Math.floor(result / 3600) < 10
          ? "0" + Math.floor(result / 3600)
          : Math.floor(result / 3600);
      let m =
        Math.floor((result / 60) % 60) < 10
          ? "0" + Math.floor((result / 60) % 60)
          : Math.floor((result / 60) % 60);
      let s =
        Math.floor(result % 60) < 10
          ? "0" + Math.floor(result % 60)
          : Math.floor(result % 60);
      let res = "";
      if (h !== "00") res += `${h} 时 `;
      if (m !== "00") res += `${m} 分 `;
      res += `${s} 秒`;
      return res;
    },
    // 定时刷新数据函数
    dataRefreh() {
      // 计时器提交数据
      this.intervalId = setInterval(() => {
        // this.sj();
        ToDoRefresh(this.$route.query.id).then((res) => {
          if(res.code==200){
            this.mesList = res.data.mesList;
            let add=res.data.ChatList
            add.reverse()
            this.ChatLists=add
            this.time = res.data.time;
          }else{
            clearInterval(this.intervalId)
          }
        });
        // if (this.time == 1) {
        //   // this.time = 0;
        //   clearInterval(this.intervalId); //清除计时器
        //   this.intervalId = null; //设置为null
        //   this.submit();
        // }
      }, 2000);
    },
    // 所有数据
    sj() {
      // this.data = this.$route.query.id;
      if (this.$route.query.id === "[object Object]") {
        this.$router.go(-1);
      } else {
        ToDoOne(this.$route.query.id).then((res) => {
          this.dataRefreh();

          this.org = res.data.apply.childrenOrg;
          this.pro = res.data.apply.childrenPro;
          this.data = res.data.apply;
          this.path = res.data.apply.path;
          this.flowTodo = res.data.flowTodo;
          this.datas = res.data.apply.children;
          this.dataType = res.data.type;
          this.ChatLists=res.data.ChatList
          if (res.data.Callbid) {
            this.callbidCode = res.data.Callbid;
            this.callbid_type = res.data.Callbid.children;
            this.childrenSite = res.data.Callbid.childrenSite;
            this.childrenPro = res.data.Callbid.childrenPro;
          } else if (res.data.Listed) {
            this.listedCode = res.data.Listed;
            this.Listed = res.data.Listed.children;
            this.LS = res.data.Listed.childrenSite;
            this.LP = res.data.Listed.childrenPro;
            this.cm = res.data.Listed.customer;
          }
          this.mesList = res.data.mesList;
          this.time = res.data.time;
          this.falg1=true
          this.falg2=true
          console.log(res);
        });
      }
    },

    // 弹出层
    pri_qd() {
      let { flowTodo, xgData } = this;
      let data = {
        flowTodo,
        applyDetail: xgData,
      };
      jjBack(data).then((res) => {
        if (res.code == 200) {
          this.msgSuccess("修改价格成功");
          this.$tab.refreshPage();
        }
      });
      this.xgData.basicPrice = this.pri;
      this.centerDialogVisible = false;
    },
    pri_qx() {
      this.centerDialogVisible = false;
    },
    // 修改价格
    xg_pri(data) {
      this.centerDialogVisible = true;
      this.pri = "";
      this.xgData = data;
      this.xgSiste = data.sysSite.siteName;

    },
    // 产品类型
    getproType(e) {
      for (var i = 0; i < this.productOptions.length; i++) {
        if (this.productOptions[i].dictValue == e) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptions[i].dictLabel;
        }
      }
    },
    // 审批类别
    getType(e) {
      for (var i = 0; i < this.jg_type.length; i++) {
        if (this.jg_type[i].dictValue == e) {
          //dictValue，dictLabel保持和上面定义一致
          return this.jg_type[i].dictLabel;
        }
      }
    },
    back() {
      this.$router.go(-1);
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = null;
    },
    submit() {
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = null;
      let flowTodo = this.flowTodo;
      let children = this.datas;
      let jj_children = this.callbid_type;
      let gp_children = this.Listed;
      let data1 = {
        flowTodo,
        children: children,
      };
      let data2 = {
        flowTodo,
        children: jj_children,
      };
      let data3 = {
        flowTodo,
        children: gp_children,
      };
      if (this.dataType == "调价申请") {
        submitWork(data1).then((res) => {
          if (res.code == 200) {
            this.msgSuccess("提交成功");
            this.$router.go(-1);
            const obj = {
              path: "/jj/ProcessEngine",
              name: "ProcessEngine",
            };
            Bus.$emit("LittleBell");
            this.$tab.refreshPage(obj);
          }
        });
      } else if (this.dataType == "基础价格申请") {
        submitWork(data1).then((res) => {
          if (res.code == 200) {
            this.msgSuccess("提交成功");
            this.$router.go(-1);
            const obj = {
              path: "/jj/ProcessEngine",
              name: "ProcessEngine",
            };
            Bus.$emit("LittleBell");
            this.$tab.refreshPage(obj);
          }
        });
      } else if (this.dataType == "政策定价价格申请") {
        console.log("政策定价价格申请 || 基础价格申请");
        submitWork(data1).then((res) => {
          if (res.code == 200) {
            this.msgSuccess("提交成功");
            this.$router.go(-1);
            const obj = {
              path: "/jj/ProcessEngine",
              name: "ProcessEngine",
            };
            Bus.$emit("LittleBell");
            this.$tab.refreshPage(obj);
          }
        });
      } else if (this.dataType == "竞价价格确认") {
        console.log("竞价价格确认");
        submitWorkJJ(data2).then((res) => {
          if (res.code == 200) {
            this.msgSuccess("提交成功");
            this.$router.go(-1);
            const obj = {
              path: "/jj/ProcessEngine",
              name: "ProcessEngine",
            };
            Bus.$emit("LittleBell");
            this.$tab.refreshPage(obj);
          }
        });
      } else if (this.dataType == "挂牌价格确认") {
        console.log("挂牌价格确认");
        submitWorkGP(data3).then((res) => {
          if (res.code == 200) {
            this.msgSuccess("提交成功");
            this.$router.go(-1);
            const obj = {
              path: "/jj/ProcessEngine",
              name: "ProcessEngine",
            };
            Bus.$emit("LittleBell");
            this.$tab.refreshPage(obj);
          }
        });
      }
    },
  },
};
</script>

<style>
.two {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.two p {
  width: 50%;
}

.margin {
  margin: 20px 0;
}
.dialogue {
  width: 100%;
  border: 1px solid #DFE6EC;
  min-height: 200px;
      font-size: 14px;
    color: #606266;
    padding: 10px 10px;
}
.dialogue div{
  margin-bottom: 5px;
}
.el-upload--picture-card {
  width: 120px;
  height: 120px;
  line-height: 120px;
}
.tow_text{
  cursor:pointer; 
  padding: 5px 10px;
  color: #409EFF;
}
.tow_text:hover{
  text-decoration:underline
}
.dem_imag{
  float: left;
  margin-right: 20px;
}
.c{
  height: 30px;
  clear: both;

}
.el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
</style>
