<template>
  <el-dialog
    width="60%"
    title="挂牌上报申请详情"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container apply-container">
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品类型：</span>
          <el-input placeholder="天然气" v-model="c_type" disabled style="width: 72%;"></el-input>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">产品名称：</span>
          <el-input placeholder="LNG" disabled style="width: 72%;"></el-input>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" class="add-form-item">
          <span class="label">预售期：</span>
          <el-date-picker
            v-model="period"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="op_name"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
            style="width: 72%;"
            disabled
          ></el-date-picker>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label">申请类型：</span>
          <el-input
            v-model="apply_type"
            v-html="apply_type"
            class="form-readonly"
            style="width: 72%;"
            readonly
            disabled
          />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="display: flex">
          <span
            class="label"
            style="margin-left: 38px; width: 80px; margin-top: 10px"
            >文件上传：</span
          >
          <!-- :action="uploadAction" -->
          <el-upload
            ref="upload"
            :action="uploadAction"
            :auto-upload="false"
            :http-request="uploadFile"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-success="handleFileSuccess"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button slot="trigger" size="small" type="primary"
              >点击上传</el-button
            >
          </el-upload>
        </el-col>
        <el-col :span="12" class="add-form-item">
          <span class="label" style="margin-left: 38px; width: 80px"
            >文件预览:</span
          >
          <div v-if="falg1" style="width: 72%">
            <span
              class="tow_text"
              v-for="(item, index) of this.Test"
              :key="index + 'op'"
              @click="Text(item)"
            >
              {{ item.proofName }}
            </span>
          </div>
        </el-col>
      </el-row>
      <div class="c"></div>
      <el-row>
        <el-col
          :span="24"
          class="add-form-item"
          v-if="falg"
          style="margin-left: 3%"
        >
          <div
            class="dem_imag"
            v-for="(item, index) in this.srcList"
            :key="index + 'ad'"
          >
            <el-image
              style="width: 100px; height: 100px; border-radius: 10%"
              :src="item.urL[0]"
              :preview-src-list="item.urL"
            >
            </el-image>
          </div>
        </el-col>
      </el-row>
      <el-row> </el-row>
      <div class="add-form-panel"></div>
      <div class="table">
        <el-table
          border
          stripe
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange"
        >
          <el-table-column label="站点" align="center">
            <template slot-scope="scope">{{
              scope.row.sysSite.siteName
            }}</template>
          </el-table-column>

          <el-table-column prop align="center" label="产品类型">
            <template>天然气</template>
          </el-table-column>
          <el-table-column prop label="产品名称" align="center">
            <div class="col">
              <template>LNG</template>
            </div>
          </el-table-column>
          <el-table-column prop label="配置量(吨)" align="center">
            <template slot-scope="scope">
              {{ scope.row.disposeAmount }}
            </template>
          </el-table-column>
          <el-table-column prop="name" label="招标量(吨)" align="center">
            <template slot-scope="scope">
              {{ scope.row.allowance }}
            </template>
          </el-table-column>
          <el-table-column prop="name" label="一级审批价格(元/吨)" align="center">
            <template slot-scope="scope">
              {{ scope.row.suggestPrice }}
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[2, 5, 8, 10]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="8"
          ></el-pagination>
        </div>
      </div>
      <div class="form-tool-container">
        <el-button @click="sumbit" type="primary" size="small">确定</el-button>
        <el-button @click="cancelDialog" size="small">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { getPic } from "@/api/jj/ProcessEngine/ProcessEngine";
import { getToken } from "@/utils/auth";
import axios from "axios";
export default {
  name: "Listing",
  data() {
    return {
      num: 1,
      num1: 1780,
      input: "",
      dialogVisible: false,
      centerDialogVisible: false,
      // 可读信息
      sTime: "",
      type: "",
      num_p: 0,
      num_z: 0,
      num_j: 0,
      // 换算产量
      dayCapacity: "",
      tableData: [],
      currentPage: 1,
      pageSize: 8,
      multipleSelection: [],
      // 携带数据
      optype: "",
      opname: "",
      period: "",
      apply_type: "初次申请",
      c_type: "天然气",
      c_name: "7",
      instructions: "",
      weight: 400,
      fj: "",
      pri: "",
      preSaleStartTime: "",
      preSaleEndTime: "",
      difference: "",
      params: "",
      test: "",
      params2: "",
      tab: "",
      fileList:[],
      falg1: true,
      falg: true,
      Test:[],
      srcList: [],
      headers: { Authorization: "Bearer " + getToken("token") },
      uploadAction: process.env.VUE_APP_BASE_API + "/jj/upload/XqUpload",
    };
  },
  created() {
  
  },
  methods: {
     //点击附件预览
    Text(item) {
      
      for (let temp of this.srcList) {
        if (temp.id == item.binaryId) {
          return;
        }
      }
      this.falg = false;
      getPic(item.binaryId).then((res) => {
        this.falg = false;
        const imageUrl = "data:image/jpeg;base64," + res.data.content;
        this.srcList.push({
          id: res.data.binaryId,
          urL: [imageUrl],
        });
        this.falg = true;
      });
    },
    show(row) {
      this.srcList=[]
      this.dialogVisible = true;
       this.priceApplyId=row.priceApplyId
      this.tab = row.childrenOrg.orgName;
      this.period = [row.preSaleStartTime, row.preSaleEndTime];
      this.tableData = row.children;
      this.Test = row.params.files;
    },
    // 弹出层
    pri_tj() {
      console.log(this.params);
      this.params2 = this.params;
      this.centerDialogVisible = true;
      this.pri = "";
    },
    pri_qd() {
      this.params = this.params2;
      console.log(this.params);
      if (this.params != "") {
        this.params.forEach((item) => {
          item.jyjg = this.pri;
        });
      } else {
        this.$modal.alert("请选择站点信息");
      }
      this.centerDialogVisible = false;
    },
    pri_qx() {
      this.centerDialogVisible = false;
    },
    back() {
      this.$router.go(-1);
    },
    cancelDialog() {
      this.dialogVisible = false;
    },
    handleChange(value) {
      console.log(value);
    },
    handleSelectionChange(val) {
      console.log(val);
      this.params = val;
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    sub() {
      let file = event.target.files[0];
      this.fj = file.name;
    },
    yy(val) {
      console.log(val);
    },
    op_type() {
      console.log(this.optype);
    },
    op_name() {
      this.preSaleStartTime = this.period[0];
      this.preSaleEndTime = this.period[1];
    },
    //上传文件
     uploadFile: function (file) {
      this.fileData.append("file", file.file);
    },
    handlePreview() {},
    handleRemove(res, file, fileList) {
      this.$message.warning(`移除${res.name}文件，请重新上传图片！`);
    },

    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      );
    },
    //上传成功
    handleFileSuccess(res, file) {
      let _this = this;
      if (res.code == 200) {
        this.$message.success("新增成功");
        setTimeout(function () {
          _this.$refs.upload.clearFiles();
        }, 1000);
      }
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.msgError("上传附件大小不能超过 10MB!");
      }
      return isLt2M;
    },
    // 提交数据
    sumbit() {
      this.fileData = new FormData();
       this.fileData.append("priceApplyId", this.priceApplyId);
        this.$refs.upload.submit();
        var that = this;
        axios({
          method: "post",
          url: that.uploadAction,
          responseType: "blob",
          headers: { Authorization: "Bearer " + getToken() },
          data: that.fileData,
          contentType: false, //这里不要落下
          dataType: "json",
        }).then((res) => {
          if (res.status == 200) {
            that.msgSuccess("提交成功");
            that.$tab.refreshPage();
          }
        });
    },
  },
};
</script>

<style scoped="">
* {
  font-size: 14px;
}

.app-container {
  margin-top: 20px;
  margin-left: 100px;
}
.table {
  margin-top: 10px;
}

.table {
  width: 100%;
}
.tow_text{
  cursor:pointer; 
  padding: 5px 10px;
  color: #409EFF;
}
.tow_text:hover{
  text-decoration:underline
}
.dem_imag{
  float: left;
  margin-right: 20px;
}
.c{
  height: 30px;
  clear: both;

}
</style>
