<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
      class="el-form-tool"
    >
      <el-form-item label="新闻标题" prop="newsHeadlines">
        <el-input
          v-model="queryParams.newsHeadlines"
          placeholder="请输入新闻标题"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="发布时间" prop="releaseTime">
        <el-date-picker
          clearable
          size="small"
          v-model="queryParams.releaseTime"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="选择发布时间"
        ></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">新闻动态列表</h3>
        <el-row :gutter="10" class="mb8">
          <el-col :span="4">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAdd"
              v-hasPermi="['information:information:add']"
            >新增</el-button>
          </el-col>
        </el-row>
      </div>
      <div class="el-table-panel">
        <!--  列表  -->
        <el-row class="el-card-panel" :gutter="15">
          <el-col
            :xs="12"
            :sm="12"
            :md="8"
            :lg="6"
            v-for="o in informationList"
            :key="o.newsInformationId"
          >
            <el-card :body-style="{ padding: '0', margin: '10px' }" style="margin: 10px">
              <el-image class="image" :src="o.url" :preview-src-list="o.srcList"></el-image>
              <div style="padding: 10px;">
                <div @click="showDetail(o.text)">
                  <span class="title">{{ o.newsHeadlines }}</span>
                  <span class="time">{{ parseTime(o.releaseTime, '{y}-{m}-{d}') }}</span>
                </div>
                <div class="bottom clearfix">
                  <el-button
                    type="text"
                    class="button"
                    icon="el-icon-delete"
                    @click="handleDelete(o)"
                    v-hasPermi="['information:information:remove']"
                  >删除</el-button>
                  <span class="spetor">|</span>
                  <el-button
                    type="text"
                    class="button"
                    icon="el-icon-edit"
                    @click="handleUpdate(o)"
                    v-hasPermi="['information:information:edit']"
                  >编辑</el-button>
                </div>
              </div>
            </el-card>
          </el-col>
        </el-row>

        <pagination
          v-show="total > 0"
          :total="total"
          page-size="12"
          :page-sizes="pageSizes"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="getList"
        />
      </div>
    </div>
    <!-- 添加或修改新闻动态对话框 -->
    <el-dialog
      ref="addDialog"
      :title="title"
      :visible.sync="open"
      width="1200px"
      append-to-body
      :destroy-on-close="true"
      @opened="dialogOpend"
      @closed="dialogClosed"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-form-item label="新闻标题" prop="newsHeadlines">
          <el-input v-model="form.newsHeadlines" placeholder="请输入新闻标题" />
        </el-form-item>
        <el-form-item label="新闻子标题" prop="subtitle">
          <el-input v-model="form.subtitle" placeholder="请输入新闻子标题" />
        </el-form-item>

        <el-row :gutter="20">
          <el-col :span="8">
            <el-form-item label="是否置顶" prop="topFlag">
              <el-radio-group v-model="form.topFlag">
                <el-radio :label= "1">是</el-radio>
                <el-radio :label= "2">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="置顶有效期" v-if="form.topFlag == 1" prop="topValidity">
              <el-date-picker
                v-model="form.topValidity"
                format="yyyy-MM-dd HH:mm:ss"
                value-format="yyyy-MM-dd HH:mm:ss"
                type="datetime"
                placeholder="选择日期时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>


        <el-form-item label="来源" prop="source">
          <el-input v-model="form.source" placeholder="请输入来源" />
        </el-form-item>

        <el-form-item label="图片" prop="fileList">
          <!-- 图片-->
          <el-upload
            ref="cover"
            :multiple="img.mult"
            :action="img.url"
            :headers="img.headers"
            name="file"
            :limit="img.limit"
            accept="image/*"
            list-type="picture-card"
            :on-success="handleUpdateSuccess"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
            :on-exceed="handleExceed"
          >
            <i class="el-icon-plus"></i>
          </el-upload>
          <el-dialog :visible.sync="img.dialogVisible" width="900px" append-to-body>
            <img width="100%" :src="img.dialogImageUrl" alt />
          </el-dialog>
        </el-form-item>

        <el-form-item label="正文" prop="text">
          <Editor tor v-model="form.text" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" style="padding-top: 20px">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog title="新闻详情" :visible.sync="newsOpen" width="1200px" append-to-body>
      <!-- fullscreen="true" -->
      <div v-html="newDetails" style="overflow: auto"></div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listInformation,
  getInformation,
  delInformation,
  addInformation,
  updateInformation,
  deleteFileByPath
} from '@/api/jj/information/information'

import { getToken } from '@/utils/auth'
import Editor from '@/components/Editor'

const VUE_APP_BASE_API = process.env.VUE_APP_BASE_API

export default {
  name: 'Information',
  components: {
    Editor
  },
  data() {
    return {
      pageSizes: [12, 24, 36, 48],
      newsOpen: false,
      newDetails: '',
      baseApi: VUE_APP_BASE_API,
      loading: true,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      informationList: [],
      title: '',
      open: false,
      queryParams: {
        pageNum: 1,
        pageSize: 12,
        newsHeadlines: undefined,
        releaseTime: undefined
      },
      form: {},
      rules: {
        /*fileList: [
          { required: true, message:'请选择图片', trigger: 'change' }
        ],*/
        topValidity: [
          { required: true, message: '置顶时间不能为空', trigger: 'blur' }
        ],
        newsHeadlines: [
          { required: true, message: '新闻标题不能为空', trigger: 'blur' }
        ],
        publisher: [
          { required: true, message: '发布人不能为空', trigger: 'blur' }
        ],
        releaseTime: [
          { required: true, message: '发布时间不能为空', trigger: 'blur' }
        ],
        source: [
          { required: true, message: '来源不能为空', trigger: 'blur' }
        ],
        text: [
          { required: true, message: '正文不能为空', trigger: 'blur' }
        ],
        createUserId: [
          { required: true, message: '创建人ID不能为空', trigger: 'blur' }
        ],
        createTime: [
          { required: true, message: '创建时间不能为空', trigger: 'blur' }
        ],
        delFlag: [
          { required: true, message: '删除标志不能为空', trigger: 'blur' }
        ]
      },

      img: {
        headers: { Authorization: 'Bearer ' + getToken() },
        dialogImageUrl: '',
        dialogVisible: false,
        mult: false,
        limit: 1,
        url: `${VUE_APP_BASE_API}/information/information/img`,
        files: [] //上传的附件容器
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    showDetail(text) {
      this.newsOpen = true
      this.newDetails = text
    },

    dialogOpend() {
      this.$refs.cover.clearFiles()
      this.files = []
    },

    dialogClosed() {
      this.$refs.cover.clearFiles()
      this.files = []
    },

    handleUpdateSuccess(response, file, fileList) {
      let path = response.msg
      this.files.push(path)
    },

    handleRemove(file, fileList) {
      let path = file.response.msg
      deleteFileByPath(path).then(response => {
        this.files = []
      })
    },

    handleExceed(iles, fileList) {
      this.msgSuccess('只允许上传一个文件！')
    },

    handlePictureCardPreview(file) {
      let path = file.response.msg
      this.img.dialogImageUrl = `${VUE_APP_BASE_API}/profile${path}`
      this.img.dialogVisible = true
    },

    /** 查询新闻动态列表 */
    getList() {
      this.loading = true
      listInformation(this.queryParams).then(response => {
        this.informationList = response.rows
        this.informationList.forEach(item => {
          item.url = this.baseApi + item.url
          item.srcList = [item.url]
        })
        this.total = response.total
        this.loading = false
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        newsHeadlines: null,
        subtitle: null,
        source: null,
        text: null,
        topFlag: 2
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1
      this.getList()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm('queryForm')
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.newsInformationId)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.open = true
      this.title = '添加新闻动态'
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      const newsInformationId = row.newsInformationId || this.ids
      getInformation(newsInformationId).then(response => {
        this.form = response.data
        this.open = true
        this.title = '修改新闻动态'
      })
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.form.url = this.files[0]
          if (this.form.topFlag == 2) {
            this.form.topValidity = ""
          }
          if (this.form.newsInformationId != null) {
            updateInformation(this.form).then(response => {
              this.msgSuccess('修改成功')
              this.open = false
              this.getList()
            })
          } else {
            addInformation(this.form).then(response => {
              this.msgSuccess('新增成功')
              this.open = false
              this.getList()
            })
          }
        }
      })
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const newsInformationIds = row.newsInformationId || this.ids
      this.$confirm('是否确认删除新闻动态编号为"' + newsInformationIds + '"的数据项？').then(function () {
        return delInformation(newsInformationIds)
      }).then(() => {
        this.getList()
        this.msgSuccess('删除成功')
      }).catch(() => {
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.time {
  display: block;
  height: 16px;
  color: #a2a2a2;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.title {
  display: block;
  line-height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.button {
  padding: 0;
  float: right;
}

.spetor {
  padding: 0;
  float: right;
  line-height: 15px;
  margin: 0 5px;
}

.image {
  width: 100%;
  height: 200px;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
</style>
