<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px"
      class="el-form-tool">
      <el-form-item label="合同编号" prop="sellContractCode">
        <el-input v-model="queryParams.sellContractCode" placeholder="请输入合同交易编号" clearable size="small"
          @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item label="交易来源" prop="trasactionOrigin">
        <el-input v-model="queryParams.trasactionOrigin" placeholder="请输入交易来源" clearable size="small"
          @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item label="产品类型" prop="productyep">
        <el-select v-model="queryParams.productyep" placeholder="产品类型" clearable size="small" @change="add">
          <el-option
            v-for="dict in productOptiony"
            :key="dict.dictValue"
            :label="dict.dictLabel"
            :value="dict.dictValue"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="产品名称" prop="productId">
        <el-select v-model="queryParams.productId" placeholder="产品名称" clearable size="small">
          <el-option v-for="dict in productOptionys" :key="dict.productId" :label="dict.name"
            :value="dict.productId" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="query-bottom-line"></div>
    <div class="el-table-container">
      <div class="el-table-header">
        <h3 class="title">交易明细信息</h3>
        <el-row :gutter="10">
          <el-col :span="12">
            <el-button plain type="primary" icon="el-icon-plus" size="mini" @click="handleAdd"
              v-hasPermi="['conDetail:conDetail:add']">新增</el-button>
          </el-col>
        </el-row>
      </div>
      <div class="el-table-panel">
        <el-table border stripe v-loading="loading" :data="conDetailList" @selection-change="handleSelectionChange">
          <el-table-column label="交易来源" align="center" :formatter="ori_gin"  fixed/>
          <el-table-column label="客户编号" align="center" width="200" prop="childrenCus.customeCode"  fixed/>
          <el-table-column label="客户名称" align="center" width="120" prop="childrenCus.enterpriseName"  fixed/>
          <el-table-column label="合同编号" align="center" width="180" prop="sellContractCode" />
          <el-table-column label="子分公司名称" align="center" width="120"  prop="remark" />
          <el-table-column label="站点名称" align="center" width="130" prop="childrenSite.siteName" />
           <el-table-column
            label="产品类型"
            align="center"
            :formatter="getproType"
            width="120px"
          />
          <el-table-column label="产品名称" align="center" width="120" prop="childrenPro.name" />
          <el-table-column label="计量交接协议编号" align="center" prop="handoverAgreementCode" width="280" />
          <el-table-column label="总成交量(吨 | 方)" align="center" prop="amount" width="150" />
          <el-table-column label="总成交金额(万元)" align="center" width="150">
            <template slot-scope="scope">{{ scope.row.totalMoney*10 / 100000 }}</template>
          </el-table-column>
          <el-table-column label="交接进度(已交接量/总交接量%)" align="center" width="230">
            <template slot-scope="scope">
              <span>{{ paymentTypeName(scope.row) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="120" fixed="right">
            <template slot-scope="scope">
              <el-button size="mini" type="text" icon="el-icon-view" @click="toInfor(scope.row)" v-hasPermi="['conDetail:conDetail:query']">详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="total > 0" :total="total" :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize" @pagination="getList" />
      </div>
    </div>

    <!-- 新增 -->
    <el-dialog :title="title" :visible.sync="open" width="80%" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px" class="el-form-tool">
        <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="申请单编号" class="required_red_star" prop="supplierName" label-width="100px">
              <el-input :placeholder="id()" disabled>
                <el-button slot="append" class="login-icon" @click="toChooseSupplier">选择</el-button>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="站点名称" label-width="100px">
              <el-input placeholder="" disabled v-model="form.supplierName" />
                <!-- {{priceData.supplierName}} -->
                <!-- </input> -->
            </el-form-item>
          </el-col>
          </el-row>
          <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="产品类型" label-width="100px">
              <el-select
                :disabled="true"
                v-model="priceData.proType"
                placeholder="请选择产品类型"
                class="width-100"
                size="small"
              >
                <el-option
                  v-for="dict in productOptiony"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="Number(dict.dictValue)"
                />
              </el-select>
            </el-form-item>
    
          </el-col>
          <el-col :span="12">
            <el-form-item label="产品名称" label-width="100px">
              <el-input :placeholder="priceData.proName" disabled/>
              <!-- v-model="priceData.basicPrice" / -->
            </el-form-item>
          </el-col>
          </el-row>
          <el-row :gutter="24">
          <el-col :span="12">
            <el-form-item label="招标量(方)" label-width="100px">
              <el-input :placeholder="priceData.allowance" disabled />
              
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="成交价格(元)" label-width="100px">
              <el-input :placeholder="priceData.basicPrice" disabled/>
              <!-- v-model="priceData.basicPrice" / -->
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <div class="el-table-container">
        <div class="el-table-header">
          <h3 class="title">客户列表</h3>
        </div>
      </div>
      <div class="el-table-panel">
        <el-table border stripe :data="tableData" tooltip-effect="dark" style="width: 100%;"
          @selection-change="handleSelection">
          <el-table-column type="selection" width="40"></el-table-column>
          <el-table-column label="客户名称" :show-overflow-tooltip="true">
            <template slot-scope="scope">{{ scope.row.enterpriseName }}</template>
          </el-table-column>
          <el-table-column prop="legalRealName" label="法人名称"></el-table-column>
          <el-table-column label="数量(方)" align="center">
            <template slot-scope="scope">
              <el-input-number v-model="scope.row.cusAmount" :controls="false" style="width: 100px;" />
            </template>
          </el-table-column>
          <!-- <el-table-column label="成交价(元)" align="center">
            <template slot-scope="scope">
              <el-input-number
                v-model="scope.row.cusPrice"
                :controls="false"
                style="width: 100px;"
              />
            </template>
          </el-table-column> -->
          <!-- <el-table-column label="成交时间" align="center" width="300">
            <template slot-scope="scope">
              <el-date-picker v-model="scope.row.cusDate" type="date" placeholder="*年*月*日" format="yyyy-MM-dd"
                value-format="yyyy-MM-dd" :picker-options="pickerOptions1" style="width: 230px;"></el-date-picker>
            </template>
          </el-table-column> -->
        </el-table>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 客户信息 -->
    <el-dialog title="申请单列表" width="70%"
    :visible.sync="supplierOpen"
    append-to-body
    :close-on-press-escape="false"
    :close-on-click-modal="false">
      <choose-supplier
      @closeSupplierWindow="closeSupplierWindow"
      @chooseSupplier="chooseSupplier"
      v-if="supplierOpen"
        ref="chooseSupplier"></choose-supplier>
    </el-dialog>

    <!-- 查看详情弹窗  -->
    <Infor ref="infor" />
  </div>
</template>

<script>
  import {
    listConDetail,
    getConDetail,
    delConDetail,
    addConDetail,
    updateConDetail
  } from "@/api/jj/conDetail/conDetail";
  import Infor from './infor.vue';
  import {
    listPolicy,
    getPolicy,
    delPolicy,
    addPolicy,
    updatePolicy,
    addTJ,
    getCus,
    getCustomeList
  } from "@/api/jj/policy/policy";
  import chooseSupplier from "../../utils/choosecom";
import {
  getProductInfo
} from "@/api/jj/priceApply";
  export default {
    name: "ConDetail",
    components: {
      Infor,
      chooseSupplier
    },
    data() {
      return {
        // 时间校验
        pickerOptions1: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },
        // 遮罩层
        loading: true,
        // 选中数组
        ids: [],
        // 非单个禁用
        single: true,
        // 非多个禁用
        multiple: true,
        // 显示搜索条件
        showSearch: true,
        // 总条数
        total: 0,
        // 合同交易明细表格数据
        conDetailList: [],
        // 弹出层标题
        title: "",
        // 是否显示弹出层
        open: false,
        // 查询参数
        queryParams: {
          pageNum: 1,
          pageSize: 10,
          productyep:null,
          handoverAgreementId: null,
          sellContractCode: null,
          trasactionOrigin: null,
          priceType: null,
          price: null,
          amountType: null,
          amount: null,
          totalMoney: null,
          payAmount: null,
          payMoney: null,
          siteId: null,
          productId: null,
          orignCode: null,
          status: null,
          advancePayment: null,
         
          createUserId: null,
          // remark: null,
          // basicPrice: null,
          // sitePresaleVolume: null
        },
        // 表单参数
        form: {},
        // 表单校验
        rules: {
          handoverAgreementId: [{
            required: true,
            message: "计量交接协议ID不能为空",
            trigger: "blur"
          }],
          sellContractCode: [{
            required: true,
            message: "合同交易编号不能为空",
            trigger: "blur"
          }],
          trasactionOrigin: [{
            required: true,
            message: "交易来源不能为空",
            trigger: "blur"
          }],
          priceType: [{
            required: true,
            message: "定价方式不能为空",
            trigger: "change"
          }],
          price: [{
            required: true,
            message: "价格不能为空",
            trigger: "blur"
          }],
          amountType: [{
            required: true,
            message: "定量方式不能为空",
            trigger: "change"
          }],
          amount: [{
            required: true,
            message: "数量不能为空",
            trigger: "blur"
          }],
          totalMoney: [{
            required: true,
            message: "金额不能为空",
            trigger: "blur"
          }],
          payAmount: [{
            required: true,
            message: "已交接数量不能为空",
            trigger: "blur"
          }],
          payMoney: [{
            required: true,
            message: "已交接金额不能为空",
            trigger: "blur"
          }],
          siteId: [{
            required: true,
            message: "站点ID不能为空",
            trigger: "blur"
          }],
          productId: [{
            required: true,
            message: "产品ID不能为空",
            trigger: "blur"
          }],
          orignCode: [{
            required: true,
            message: "原始单据不能为空",
            trigger: "blur"
          }],
          status: [{
            required: true,
            message: "状态不能为空",
            trigger: "blur"
          }],
          advancePayment: [{
            required: true,
            message: "预收款金额不能为空",
            trigger: "blur"
          }],
          createUserId: [{
            required: true,
            message: "创建人ID不能为空",
            trigger: "blur"
          }],
          createTime: [{
            required: true,
            message: "创建时间不能为空",
            trigger: "blur"
          }],
          delFlag: [{
            required: true,
            message: "删除标志不能为空",
            trigger: "blur"
          }]
        },
        site_type: [],
        ori: [],
        productOption: [],
        productOptiony:[],
        productOptionys:[],
        // 站点信息
        supplierOpen: false,
        siteData: {},
        // 客户信息
        tableData: [],
        priceData: {}
      };
    },
    created() {
      this.getList();
      // 产品名称
       getProductInfo().then(response => {
      this.productOption = response.data.product;
       this.productOptionys=this.productOption
    })
      // this.getDicts("sys_product_jjList").then((response) => {
      //   this.productOption = response.data;
      //   this.productOptionys=this.productOption
      // });
      // 站点类别名称
      this.getDicts("sys_site_type").then((response) => {
        this.site_type = response.data;
      });
      // 交易来源
      this.getDicts("contract_detail_trasaction_origin").then((response) => {
        this.ori = response.data;
      });
   
       this.getDicts("sys_product_type").then((response) => {
      this.productOptiony = response.data;
    });
    },
    methods: {
     
      add() {
      this.productOptionys=[]
      if (this.queryParams.productyep != "") {
         for(let temp of this.productOption){
                if(temp.type==this.queryParams.productyep){
                  this.productOptionys.push(temp)
                }
          }
      } else {
        this.productOptionys=this.productOption
        this.queryParams.productId = "";
      }
    },
      getproType(e) {
      for (var i = 0; i < this.productOptiony.length; i++) {
        if (this.productOptiony[i].dictValue == e.childrenPro.type) {
          //dictValue，dictLabel保持和上面定义一致
          return this.productOptiony[i].dictLabel;
        }
      }
    },
      id(){
        if(this.priceData.remark == undefined){
          return '请选择政策定价申请单编号'
        }else {
          return this.priceData.remark
        }
      },
      // 客户信息
      handleSelection(val) {
        this.siteData.jipolicyCus = val;
      },
      // 站点信息
      toChooseSupplier() {
        this.supplierOpen = true;
      },
      closeSupplierWindow() {
        this.supplierOpen = false;
      },

      chooseSupplier(supplier) {
        this.form.supplierName = supplier.sysSite.siteName;
        // this.form.remark = supplier.remark;
        // this.form.basicPrice = supplier.basicPrice;
        // this.form.sitePresaleVolume = supplier.sitePresaleVolume;
        this.siteData = supplier;
        this.priceData = supplier;

        getCustomeList(supplier.productId).then(response => {
            this.tableData = response.data;
        });

      },
      handleAdd() {
        this.reset();
        this.open = true;
        this.title = "添加政策定价信息";
      },
      // 计算属性
      paymentTypeName(data) {
        return (data.payAmount / data.amount) * 100 + '%';
      },
      // 站点字典
      siteType(e) {
        for (var i = 0; i < this.site_type.length; i++) {
          if (this.site_type[i].dictValue == e.siteId) { //dictValue，dictLabel保持和上面定义一致
            return this.site_type[i].dictLabel;
          }
        }
      },
      // 交易来源
      ori_gin(e) {
        for (var i = 0; i < this.ori.length; i++) {
          if (this.ori[i].dictValue == e.trasactionOrigin) { //dictValue，dictLabel保持和上面定义一致
            return this.ori[i].dictLabel;
          }
        }
      },
      // to infor
      toInfor(data) {
        this.$refs.infor.openModel(data.sellContractId);
      },
      /** 查询合同交易明细列表 */
      getList() {
        this.loading = true;
        listConDetail(this.queryParams).then(response => {
          this.conDetailList = response.rows;
          this.total = response.total;
          this.loading = false;
        });
      },
      // 取消按钮
      cancel() {
        this.open = false;
        this.reset();
      },
      // 表单重置
      reset() {
        this.form = {
          sellContractId: null,
          handoverAgreementId: null,
          sellContractCode: null,
          trasactionOrigin: null,
          priceType: null,
          price: null,
          amountType: null,
          amount: null,
          totalMoney: null,
          payAmount: null,
          payMoney: null,
          siteId: null,
          productId: null,
          orignCode: null,
          status: 0,
          advancePayment: null,
          sellTime: null,
          createUserId: null,
          createTime: null,
          updateTime: null,
          delFlag: null
        };
        this.resetForm("form");
      },
      /** 搜索按钮操作 */
      handleQuery() {
        this.queryParams.pageNum = 1;
        this.getList();
      },
      /** 重置按钮操作 */
      resetQuery() {
        this.resetForm("queryForm");
        this.handleQuery();
      },
      // 多选框选中数据
      handleSelectionChange(selection) {
        this.ids = selection.map(item => item.sellContractId)
        this.single = selection.length !== 1
        this.multiple = !selection.length
      },
      // /** 新增按钮操作 */
      // handleAdd() {
      //   this.reset();
      //   this.open = true;
      //   this.title = "添加合同交易明细";
      // },
      /** 修改按钮操作 */
      handleUpdate(row) {
        this.reset();
        const sellContractId = row.sellContractId || this.ids
        getConDetail(sellContractId).then(response => {
          this.form = response.data;
          this.open = true;
          this.title = "修改合同交易明细";
        });
      },
      /** 提交按钮 */
      submitForm() {
        // 新增交易明细
        // // for(var i=0;i<this.siteData.jipolicyCus.length;i++){
        // //     this.siteData.jipolicyCus[i].cusDate=new Date()
        // // }
        addTJ(this.siteData).then(response => {
          if (response.code == 200) {
            this.msgSuccess("新增成功");
            this.open = false;
            this.$tab.refreshPage();
          }
        })
        // this.$refs["form"].validate(valid => {
        //   if (valid) {
        //     if (this.form.sellContractId != null) {
        //       updateConDetail(this.form).then(response => {
        //         this.$modal.msgSuccess("修改成功");
        //         this.open = false;
        //         this.getList();
        //       });
        //     } else {
        //       addConDetail(this.form).then(response => {
        //         this.$modal.msgSuccess("新增成功");
        //         this.open = false;
        //         this.getList();
        //       });
        //     }
        //   }
        // });
      },
      /** 删除按钮操作 */
      handleDelete(row) {
        const sellContractIds = row.sellContractId || this.ids;
        this.$modal.confirm('是否确认删除合同交易明细编号为"' + sellContractIds + '"的数据项？').then(function() {
          return delConDetail(sellContractIds);
        }).then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        }).catch(() => {});
      },
      /** 导出按钮操作 */
      handleExport() {
        this.download('conDetail/conDetail/export', {
          ...this.queryParams
        }, `conDetail_${new Date().getTime()}.xlsx`)
      }
    }
  };
</script>

<style type="text/css">
  .dis {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
