<template>
  <el-dialog
    width="70%"
    title="交易明细详情"
    :visible.sync="dialogVisible"
    :destroy-on-close="true"
    :before-close="gb"
    class="item-dialog-model roles-dialog"
  >
    <div class="detail-container add-container deal-container">
      <div class="table">
        <h3 class="table-title">产品信息</h3>
        <el-table :data="data" border stripe>
          <el-table-column label="站点" align="center" prop="childrenSite.siteName" />
          <el-table-column label="产品类型" align="center" :formatter="pro" />
          <el-table-column label="产品名称" align="center" prop="childrenPro.name" />
          <el-table-column label="价格(元)" align="center" prop="price" />
          <el-table-column label="数量(吨|方)" align="center" prop="amount" />
        </el-table>
      </div>
      <div class="detail-info">
        <!-- <el-row class="title inner">
          <span class="label">交接信息：</span>
        </el-row> -->
        <h3 class="table-title">交接信息</h3>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">价格来源：</span>
            <span class="matter">{{ this.ori_gin(datas.trasactionOrigin) }}</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">已交接数量：</span>
            <span class="matter">{{ datas.payAmount }}</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">已交接金额：</span>
            <span class="matter">{{ datas.payMoney }} 万元</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">待交接数量：</span>
            <span class="matter">{{ datas.amount - datas.payAmount }} 吨|方</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" class="inner">
            <span class="label">待交接金额：</span>
            <span class="matter">{{( datas.price *(datas.amount - datas.payAmount))*10/100000}}  万元</span>
          </el-col>
          <el-col :span="12" class="inner">
            <span class="label">计量交接协议编号：</span>
            <span class="matter">{{ datas.handoverAgreementCode }}</span>
          </el-col>
        </el-row>
      </div>
      <div class="table">
        <h3 class="table-title">成交客户</h3>
        <el-table border :data="data">
          <el-table-column label="客户公司名称" align="center" prop="childrenCus.enterpriseName" />
          <el-table-column label="公司所在地" align="center" prop="childrenCus.address" />
          <el-table-column label="剩余额度(万元)" align="center" prop="balanceMoney" />
          <el-table-column label="负责人" align="center" prop="childrenCus.fzrRealName" />
          <el-table-column label="联系方式" align="center" prop="childrenCus.fzrTel" />
        </el-table>
      </div>
      <div class="detail-tool dialog-footer form-tool-container">
        <el-button @click="closeModel">取消</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  getConDetail
} from "@/api/jj/conDetail/conDetail";
export default {
  name: '',
  data() {
    return {
      data:[],
      datas: {},
      ori: [],
      pro_Type: [],
      site_type: [],
      id: "",
      dialogVisible: false
    }
  },
  methods: {
    gb(){
      // console.log('gbgb')
      this.dialogVisible = false;
      this.data = [];
    },
    // 待交接数量
    number() {
      return (this.data[0].amount - this.datas.payAmount);
    },
    openModel(data) {
      this.dialogVisible = true;
      this.id = data;
      this.getDetail();
    },
    closeModel() {
      console.log('cf')
      this.dialogVisible = false;
      this.data = [];
    },
    back() {
      this.$router.go(-1);
    },
    // 交易来源
    ori_gin(e) {
      for (var i = 0; i < this.ori.length; i++) {
        if (this.ori[i].dictValue == e) {
          //dictValue，dictLabel保持和上面定义一致
          return this.ori[i].dictLabel;
        }
      }
    },
    // 产品类型
    pro(e) {
      // console.log(e)
      for (var i = 0; i < this.pro_Type.length; i++) {
        if (this.pro_Type[i].dictValue == e.childrenPro.type) { //dictValue，dictLabel保持和上面定义一致
          return this.pro_Type[i].dictLabel;
        }
      }
    },
    // 站点字典
    siteType(e) {
      for (var i = 0; i < this.site_type.length; i++) {
        if (this.site_type[i].dictValue == e.siteId) { //dictValue，dictLabel保持和上面定义一致
          return this.site_type[i].dictLabel;
        }
      }
    },
    getDetail() {
      getConDetail(this.id).then(response => {
        this.data.push(response.data);
        this.datas = response.data;
      });
    }
  },
  created() {
    this.pro();
    this.getDicts("contract_detail_trasaction_origin").then((response) => {
      // console.log(response);
      this.ori = response.data;
    });
    // 产品类型
    this.getDicts("sys_product_type").then((response) => {
      this.pro_Type = response.data;
    });
    // 站点类别名称
    this.getDicts("sys_site_type").then((response) => {
      // console.log(response);
      this.site_type = response.data;
    });
  },
  beforeDestroy(){
    console.log(13)
    this.data = [];
    // this.datas = ;
  }
}
</script>
